openapi: 3.2.0
info:
  title: SCM Orders API
  description: test - Submit purchase orders to SCM and request updates via the Orders API\n
  version: v2
servers:
- url: https://api.dsv.com/om/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Orders
paths:
  /Orders/id/{id}:
    get:
      tags:
      - Orders
      summary: 6. Get order by guid/uuid.
      description: Get order by guid/uuid
      operationId: GETapi-public-v2-Orders-id-id
      parameters:
      - name: id
        in: path
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
  /Orders/{orderNumber}/{splitNo}:
    get:
      tags:
      - Orders
      summary: 5. Get order by order number and split number
      description: Get order by order number and split number
      operationId: GETapi-public-v2-Orders-orderNumber-splitNo
      parameters:
      - name: orderNumber
        in: path
        required: true
        schema:
          type: string
      - name: splitNo
        in: path
        description: Format - int64.
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
    delete:
      tags:
      - Orders
      summary: 7. Delete order by order number and split number
      description: Delete order by order number and split number
      operationId: DELETEapi-public-v2-Orders-orderNumber-splitNo
      parameters:
      - name: orderNumber
        in: path
        required: true
        schema:
          type: string
      - name: splitNo
        in: path
        description: Format - int64.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
  /Orders/{orderNumber}:
    get:
      tags:
      - Orders
      summary: 4. Get orders by order number
      description: Get orders by order number
      operationId: GETapi-public-v2-Orders-orderNumber
      parameters:
      - name: orderNumber
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
  /Orders:
    post:
      tags:
      - Orders
      summary: 1. Create Order(s)
      description: Create Order(s)
      operationId: POSTapi-public-v2-Orders
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
      responses:
        '200':
          description: Success
  /Orders/SearchCriteria:
    post:
      tags:
      - Orders
      summary: 3. Search for Orders by criteria
      description: Search for Orders by criteria
      operationId: POSTapi-public-v2-Orders-SearchCriteria
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Search.SearchRequest'
            example:
              grid:
                Page: 0
                PageSize: 0
                Sorts:
                - Member: string
                  SortDirection: Ascending
                Filters:
                - {}
                Groups:
                - MemberType: string
                  DisplayContent: {}
                  AggregateFunctions:
                  - AggregateMethodName: string
                    Caption: string
                    SourceField: string
                    FunctionName: string
                    MemberType: string
                    ResultFormatString: string
                  Member: string
                  SortDirection: Ascending
                Aggregates:
                - Aggregates:
                  - AggregateMethodName: string
                    Caption: string
                    SourceField: string
                    FunctionName: string
                    MemberType: string
                    ResultFormatString: string
                  Member: string
              criteria: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
  /api/public/v2/Orders/ProcessOrderEDI:
    post:
      tags:
      - Orders
      summary: 8. ProcessOrderEDI
      description: ProcessOrderEDI
      operationId: POSTapi-public-v2-Orders-ProcessOrderEDI
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      responses:
        '200':
          description: Success
components:
  schemas:
    eDC.Domain.Enums.OrderState:
      enum:
      - Provisional
      - Open
      - Confirmed
      - OnHand
      - BookingProvisional
      - BookingPreBooked
      - BookingBooked
      - BookingRejected
      - BookingApproved
      - BookingConfirmed
      - BookingParked
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - PendingCollection
      - Collected
      - BookingOnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Fulfilled
      - Suspended
      - Cancelled
      type: string
      format: int32
    eDC.Web.Api.v2.Models.Entities.Booking:
      type: object
      properties:
        bookingNumber:
          type:
          - string
          - 'null'
          description: Booking Number
        externalBookingNumber:
          type:
          - string
          - 'null'
          description: External Booking Number
        externalBookingSender:
          type:
          - string
          - 'null'
          description: External Booking Sender
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.BookingState'
        origin:
          type:
          - string
          - 'null'
          description: Origin of the Booking
        destination:
          type:
          - string
          - 'null'
          description: Destination of the Booking
        incoterm:
          type:
          - string
          - 'null'
          description: Incoterm of the Booking
        additionalTerms:
          type:
          - string
          - 'null'
          description: Additional Terms of the Booking
        additionalTermsUNLOCO:
          type:
          - string
          - 'null'
          description: UN Location Code
        freightTerm:
          type:
          - string
          - 'null'
          description: Freight Terms
        orderNumbers:
          type:
          - string
          - 'null'
          description: Order Numbers
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Measure for Weight
        weight:
          type: number
          description: Weight
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Measure for Volume
        volume:
          type: number
          description: Volume
          format: double
        noOfPieces:
          type: integer
          description: Number of Pieces
          format: int32
        orderCurrency:
          type:
          - string
          - 'null'
          description: Currency for the Order
        totalValue:
          type: number
          description: Total Value of the Order
          format: double
        packingWeight:
          type: number
          description: Packing Weight
          format: double
        packingVolume:
          type: number
          description: Packing Volume
          format: double
        transitWarehouse:
          type:
          - string
          - 'null'
          description: Transit Warehouse
        onHandDate:
          type:
          - string
          - 'null'
          description: On Hand Date
          format: date-time
        preBooked:
          type:
          - string
          - 'null'
          format: date-time
        bookedDate:
          type:
          - string
          - 'null'
          description: Date of Booking
          format: date-time
        rejectedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Rejection
          format: date-time
        approvedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Approval
          format: date-time
        confirmedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Confirmation
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          description: Date of Booking Cancellation
          format: date-time
        countOfTEU:
          type: number
          description: TEU count
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Container
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Container
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Container
          format: int32
        source:
          type:
          - string
          - 'null'
          description: Source
        systemID:
          type:
          - string
          - 'null'
          description: System ID
          format: uuid
        isApprovalRequired:
          type: boolean
          description: Boolean if Approval is required
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: Transit Warehouse Description
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          description: Estimated Delivery Date
          format: date-time
        collectionRequiredDate:
          type:
          - string
          - 'null'
          description: Collection Required Date
          format: date-time
        collectionRequiredDateBy:
          type:
          - string
          - 'null'
          description: Collection Required Date By
          format: date-time
        deliveryRequiredDate:
          type:
          - string
          - 'null'
          description: Delivery Required Date
          format: date-time
        deliveryRequiredDateBy:
          type:
          - string
          - 'null'
          description: Delivery Required Date By
          format: date-time
        isCancelled:
          type: boolean
          description: Boolean if cancelled
        shipmentNumbers:
          type:
          - string
          - 'null'
          description: Shipment Number
        noOfContainers:
          type: integer
          description: Number of Containers
          format: int32
        ownership:
          type:
          - string
          - 'null'
          description: Ownership
        bookingDeliveryInstructions:
          type:
          - string
          - 'null'
          description: Booking Delivery Instruction
        requiredDepartureWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Departure Week Number
          format: int32
        requiredArrivalWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Arrival Week Number
          format: int32
        cargoReadyDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Cargo Ready Date Week Number
          format: int32
        deliveryDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Delivery Date Week Number
          format: int32
        estimatedDeliveryToOriginCFSWeekNumber:
          type:
          - integer
          - 'null'
          description: Estimated Delivery To Origin CFS Week Number
          format: int32
        supplierRef:
          type:
          - string
          - 'null'
          description: Supplier Reference
        requiredExFactory:
          type:
          - string
          - 'null'
          description: Required Ex Works Date
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: Required in Store Date
          format: date-time
        requestedDepartureDate:
          type:
          - string
          - 'null'
          description: Requested Departure Date
          format: date-time
        requestedArrivalDate:
          type:
          - string
          - 'null'
          description: Requested Arrival Date
          format: date-time
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport
        containerMode:
          type:
          - string
          - 'null'
          description: Container Mode
        goodsDescription:
          type:
          - string
          - 'null'
          description: Description of Goods
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        bookingInstructions:
          type:
          - string
          - 'null'
          description: Booking Instructions
        loadingMeters:
          type: number
          description: Loading Meters
          format: double
        commodityCode:
          type:
          - string
          - 'null'
          description: Commodity Code
        plannerCode:
          type:
          - string
          - 'null'
          description: Planner Code
        plannerEmail:
          type:
          - string
          - 'null'
          description: Planner Email
        loadPort:
          type:
          - string
          - 'null'
          description: Port  of loading
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of discharge
        sdocComplete:
          type:
          - string
          - 'null'
          format: date-time
        estimatedDeliveryToOriginCFS:
          type:
          - string
          - 'null'
          description: Estimated Delivery To Origin CFS Date
          format: date-time
        isPickupRequired:
          type: boolean
          description: Boolean for Pickup required
        shippingInstructions:
          type:
          - string
          - 'null'
          description: Shipment Instructions
        customerDivision:
          type:
          - string
          - 'null'
        carrierSpaceReservation:
          type:
          - string
          - 'null'
          format: date-time
        followUpDate:
          type:
          - string
          - 'null'
          format: date-time
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
        isSuspended:
          type: boolean
        suspendedDate:
          type:
          - string
          - 'null'
          format: date-time
        loadPlanNumber:
          type:
          - string
          - 'null'
        shipmentNumber:
          type:
          - string
          - 'null'
        temperatureControl:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TemperatureControl'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Custom Fields
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Pack Lines
        equipmentTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.EquipmentType'
          description: Equipment Types
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
          description: Notes
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Events
        shipments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.OrderItem:
      type: object
      properties:
        lineStatus:
          type:
          - string
          - 'null'
          description: 'Line Status: PLC for Placed, DLV for Delivered.'
        lineNo:
          type: integer
          description: Order Line Number.  Must be an integer, unique to the respective Order.
          format: int64
        partno:
          type:
          - string
          - 'null'
          description: Part No, Product Code or SKU Number.
        description:
          type:
          - string
          - 'null'
          description: Description of the part.
        unitOfQuantity:
          type:
          - string
          - 'null'
          description: 'The unit, such as: EA = Each.'
        quantity:
          type:
          - number
          - 'null'
          description: Quantity Ordered.
          format: double
        qtyInvoiced:
          type:
          - number
          - 'null'
          description: Quantity Invoiced / Booked by the Supplier.
          format: double
        qtyBooked:
          type:
          - number
          - 'null'
          description: Quantity Invoiced / Booked by the Supplier.
          format: double
        qtyReceived:
          type:
          - number
          - 'null'
          description: Quantity Received at the destination warehouse.
          format: double
        qtyShipped:
          type:
          - number
          - 'null'
          description: Quantity checked by the Control Tower to actually be Booked.
          format: double
        quantityRemaining:
          type:
          - number
          - 'null'
          description: Only applicable for Blanket Purchase Orders.
          format: double
        volume:
          type: number
          description: The total volume of the Order.
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: The unit of volume.
        weight:
          type: number
          description: The total weight of the Order.
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of weight
        itemPrice:
          type: number
          description: Price of the individual item
          format: double
        linePrice:
          type: number
          description: Price of the line, which is the the individual item, times the number of pieces
          format: double
        length:
          type: number
          description: Length of the item.
          format: double
        width:
          type: number
          description: Width of the item.
          format: double
        height:
          type: number
          description: Height of the item.
          format: double
        dimUnit:
          type:
          - string
          - 'null'
          description: Unit of Dimension, applicable to the Length, Width and Height
        dangerousGoodsRef:
          type:
          - string
          - 'null'
        containerNumber:
          type:
          - string
          - 'null'
        harmonisedCode:
          type:
          - string
          - 'null'
        ncmCode:
          type:
          - string
          - 'null'
        packLineId:
          type:
          - string
          - 'null'
        invoiceNumber:
          type:
          - string
          - 'null'
        confirmationNumber:
          type:
          - string
          - 'null'
        partAttrib1:
          type:
          - string
          - 'null'
        partAttrib2:
          type:
          - string
          - 'null'
        partAttrib3:
          type:
          - string
          - 'null'
        specialInstructions:
          type:
          - string
          - 'null'
        additionalInformation:
          type:
          - string
          - 'null'
        lineFreightCost:
          type: number
          format: double
        lineLandedCost:
          type: number
          format: double
        itemFreightCost:
          type: number
          format: double
        itemLandedCost:
          type: number
          format: double
        lineWeight:
          type: number
          format: double
        lineVolume:
          type: number
          format: double
        contractNumber:
          type:
          - string
          - 'null'
        isContainerAllocated:
          type: boolean
        batchID:
          type:
          - string
          - 'null'
        serialNo:
          type:
          - string
          - 'null'
        originCountry:
          type:
          - string
          - 'null'
        decimalPlaces:
          type: integer
          format: int32
        quantityPerUnit:
          type: number
          format: double
        netWeight:
          type: number
          format: double
        transportMode:
          type:
          - string
          - 'null'
        earliestShipDate:
          type:
          - string
          - 'null'
          format: date-time
        latestShipDate:
          type:
          - string
          - 'null'
          format: date-time
        freightClass:
          type:
          - string
          - 'null'
        serviceLevel:
          type:
          - string
          - 'null'
        ediSequence:
          type: integer
          format: int32
        inners:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        outers:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        qtyRemaining:
          type: number
          format: double
        qtyShippedRemaining:
          type: number
          format: double
        qtyInvoicedRemaining:
          type: number
          format: double
        qtyNotInvoiced:
          type: number
          format: double
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        isCancelled:
          type: boolean
        estimatedExWorksDate:
          type:
          - string
          - 'null'
          format: date-time
        requiredExWorks:
          type:
          - string
          - 'null'
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          format: date-time
        notAuthorisedToShip:
          type:
          - string
          - 'null'
          format: date-time
        piecesPerUnit:
          type: number
          format: double
        refNumber:
          type:
          - string
          - 'null'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
        dateModified:
          type:
          - string
          - 'null'
          format: date-time
        userModified:
          type:
          - string
          - 'null'
        dateCreated:
          type:
          - string
          - 'null'
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
        writeDownQuantity:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.DangerousGoods:
      type: object
      properties:
        regulation:
          type:
          - string
          - 'null'
        hazardClass:
          type:
          - string
          - 'null'
        additionalHazardClass:
          type:
          - string
          - 'null'
        classificationCode:
          type:
          - string
          - 'null'
        undgNumber:
          type:
          - string
          - 'null'
        variant:
          type:
          - string
          - 'null'
        psn:
          type:
          - string
          - 'null'
        technicalName:
          type:
          - string
          - 'null'
        labels:
          type:
          - string
          - 'null'
        packingGroup:
          type:
          - string
          - 'null'
        upperPlate:
          type:
          - string
          - 'null'
        lowerPlate:
          type:
          - string
          - 'null'
        numberOfPackages:
          type:
          - string
          - 'null'
        packageType:
          type:
          - string
          - 'null'
        packagingInstruction:
          type:
          - string
          - 'null'
        transportMeansCategory:
          type:
          - string
          - 'null'
        grossWeight:
          type: number
          format: double
        netWeight:
          type: number
          format: double
        explosiveWeight:
          type: number
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
        flashPointTemperature:
          type:
          - string
          - 'null'
        flashPointTemperatureUnit:
          type:
          - string
          - 'null'
        flashPointDescription:
          type:
          - string
          - 'null'
        tremCardNumber:
          type:
          - string
          - 'null'
        emsNumber:
          type:
          - string
          - 'null'
        mfagNumber:
          type:
          - string
          - 'null'
        marinePollutant:
          type:
          - string
          - 'null'
        limitedQuantity:
          type: boolean
        tunnelCode:
          type:
          - string
          - 'null'
        remarks:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactEmail:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Search.ListSortDirection:
      enum:
      - Ascending
      - Descending
      type: string
      format: int32
    eDC.Web.Api.v2.Models.Entities.Shipment:
      type: object
      properties:
        isCancelled:
          type: boolean
        isShipping:
          type: boolean
        isForwardRegistered:
          type: boolean
        shipmentStatus:
          type:
          - string
          - 'null'
        shipmentNumber:
          type:
          - string
          - 'null'
        interimReceipt:
          type:
          - string
          - 'null'
        houseBill:
          type:
          - string
          - 'null'
        cfsReference:
          type:
          - string
          - 'null'
        shipmentType:
          type:
          - string
          - 'null'
        goodsDescription:
          type:
          - string
          - 'null'
        releaseType:
          type:
          - string
          - 'null'
        aviationSecurity:
          type:
          - string
          - 'null'
        originCode:
          type:
          - string
          - 'null'
        originCountry:
          type:
          - string
          - 'null'
        originPort:
          type:
          - string
          - 'null'
        etd:
          type:
          - string
          - 'null'
          format: date-time
        destinationCode:
          type:
          - string
          - 'null'
        destinationCountry:
          type:
          - string
          - 'null'
        destinationPort:
          type:
          - string
          - 'null'
        eta:
          type:
          - string
          - 'null'
          format: date-time
        serviceLevel:
          type:
          - string
          - 'null'
        incoterm:
          type:
          - string
          - 'null'
        additionalTerms:
          type:
          - string
          - 'null'
        transportMode:
          type:
          - string
          - 'null'
        containerMode:
          type:
          - string
          - 'null'
        shippedOnBoard:
          type:
          - string
          - 'null'
        shippedOnBoardDate:
          type:
          - string
          - 'null'
          format: date-time
        actualVolume:
          type: number
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
        actualWeight:
          type: number
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
        actualChargeable:
          type: number
          format: double
        chargeableUOM:
          type:
          - string
          - 'null'
        totalPackageCount:
          type: integer
          format: int32
        totalCountPackType:
          type:
          - string
          - 'null'
        totalPacks:
          type: integer
          format: int32
        packType:
          type:
          - string
          - 'null'
        houseBillIssueDate:
          type:
          - string
          - 'null'
          format: date-time
        shippersReference:
          type:
          - string
          - 'null'
        importBrokerReference:
          type:
          - string
          - 'null'
        screeningStatus:
          type:
          - string
          - 'null'
        loadPort:
          type:
          - string
          - 'null'
        dischargePort:
          type:
          - string
          - 'null'
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        actualDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        deliveryTransportAdvisedDate:
          type:
          - string
          - 'null'
          format: date-time
        deliveryRequiredByDate:
          type:
          - string
          - 'null'
          format: date-time
        deliveryRequiredFrom:
          type:
          - string
          - 'null'
          format: date-time
        estimatedPickupDate:
          type:
          - string
          - 'null'
          format: date-time
        pickupRequestedByDate:
          type:
          - string
          - 'null'
          format: date-time
        pickupRequestedFrom:
          type:
          - string
          - 'null'
          format: date-time
        pickupTransportAdvisedDate:
          type:
          - string
          - 'null'
          format: date-time
        actualPickupDate:
          type:
          - string
          - 'null'
          format: date-time
        receiptDate:
          type:
          - string
          - 'null'
          format: date-time
        arrivalPickupDate:
          type:
          - string
          - 'null'
          format: date-time
        arrivalDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        departureDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        goodsValue:
          type: number
          format: double
        goodsValueCurrency:
          type:
          - string
          - 'null'
        insuranceValue:
          type: number
          format: double
        insuranceValueCurrency:
          type:
          - string
          - 'null'
        goodsAvailableDate:
          type:
          - string
          - 'null'
          format: date-time
        goodsStorageDate:
          type:
          - string
          - 'null'
          format: date-time
        loadingMeters:
          type: number
          format: double
        natureOfCargo:
          type:
          - string
          - 'null'
        codCurrency:
          type:
          - string
          - 'null'
        codAmount:
          type: number
          format: double
        numberOfEuroPallets:
          type: integer
          format: int32
        marksAndNumbers:
          type:
          - string
          - 'null'
        secondaryShipmentID:
          type:
          - string
          - 'null'
        qaIssueParty:
          type:
          - string
          - 'null'
        qaIssueReason:
          type:
          - string
          - 'null'
        qaIssuePoint:
          type:
          - string
          - 'null'
        qaIssueType:
          type:
          - string
          - 'null'
        qaIssueDate:
          type:
          - string
          - 'null'
          format: date-time
        qaIssueNotes:
          type:
          - string
          - 'null'
        qaIssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        qA2IssueParty:
          type:
          - string
          - 'null'
        qA2IssueReason:
          type:
          - string
          - 'null'
        qA2IssuePoint:
          type:
          - string
          - 'null'
        qA2IssueType:
          type:
          - string
          - 'null'
        qA2IssueDate:
          type:
          - string
          - 'null'
          format: date-time
        qA2IssueNotes:
          type:
          - string
          - 'null'
        qA2IssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.ShipmentState'
        stateDescription:
          type:
          - string
          - 'null'
        customsCleared:
          type:
          - string
          - 'null'
          format: date-time
        customsCommenced:
          type:
          - string
          - 'null'
          format: date-time
        customsClearanceInstructionReceived:
          type:
          - string
          - 'null'
          format: date-time
        customsPaid:
          type:
          - string
          - 'null'
          format: date-time
        handoverDate:
          type:
          - string
          - 'null'
          format: date-time
        airlineHandoverDate:
          type:
          - string
          - 'null'
          format: date-time
        destinationDocumentsHandoverDate:
          type:
          - string
          - 'null'
          format: date-time
        deliveryOrderReceived:
          type:
          - string
          - 'null'
          format: date-time
        transitWarehouse:
          type:
          - string
          - 'null'
        masterLead:
          type:
          - string
          - 'null'
        asmHouseBill:
          type:
          - string
          - 'null'
        departedOriginCFSDate:
          type:
          - string
          - 'null'
          format: date-time
        availableDestinationCFSDate:
          type:
          - string
          - 'null'
          format: date-time
        departedDestinationCFSDate:
          type:
          - string
          - 'null'
          format: date-time
        customsBrokerAdvisedDate:
          type:
          - string
          - 'null'
          format: date-time
        transportNumber:
          type:
          - string
          - 'null'
        customerReference:
          type:
          - string
          - 'null'
        odsNumber:
          type:
          - string
          - 'null'
        customsEntryStatus:
          type:
          - string
          - 'null'
        customsEntryNumbers:
          type:
          - string
          - 'null'
        exportCustomsCleared:
          type:
          - string
          - 'null'
          format: date-time
        exportDocumentationReceived:
          type:
          - string
          - 'null'
          format: date-time
        shipmentDate:
          type:
          - string
          - 'null'
          format: date-time
        carrierBookingSubmitted:
          type:
          - string
          - 'null'
          format: date-time
        carrierBookingAccepted:
          type:
          - string
          - 'null'
          format: date-time
        carrierBookingRef:
          type:
          - string
          - 'null'
        usCustomsClearedAvailable:
          type:
          - string
          - 'null'
          format: date-time
        freightTerm:
          type:
          - string
          - 'null'
        detailedDescription:
          type:
          - string
          - 'null'
        sourceModule:
          type:
          - string
          - 'null'
        numberOfOriginalBills:
          type: integer
          format: int32
        numberOfCopyBills:
          type: integer
          format: int32
        customsStatus:
          type:
          - string
          - 'null'
        fclAvailableDate:
          type:
          - string
          - 'null'
          format: date-time
        fclStorageDate:
          type:
          - string
          - 'null'
          format: date-time
        pickupDropMode:
          type:
          - string
          - 'null'
        deliveryDropMode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        departmentCode:
          type:
          - string
          - 'null'
        departmentID:
          type:
          - string
          - 'null'
          format: uuid
        source:
          type:
          - string
          - 'null'
        isManuallyAssigned:
          type: boolean
        isInternal:
          type: boolean
        vessel:
          type:
          - string
          - 'null'
        voyageFlight:
          type:
          - string
          - 'null'
        firstPortETD:
          type:
          - string
          - 'null'
          format: date-time
        firstPortATD:
          type:
          - string
          - 'null'
          format: date-time
        lastPortETA:
          type:
          - string
          - 'null'
          format: date-time
        lastPortATA:
          type:
          - string
          - 'null'
          format: date-time
        discharge_Leg1:
          type:
          - string
          - 'null'
        etA_Leg1:
          type:
          - string
          - 'null'
          format: date-time
        atA_Leg1:
          type:
          - string
          - 'null'
          format: date-time
        load_Leg2:
          type:
          - string
          - 'null'
        load_Leg3:
          type:
          - string
          - 'null'
        load_Leg4:
          type:
          - string
          - 'null'
        discharge_Leg2:
          type:
          - string
          - 'null'
        discharge_Leg3:
          type:
          - string
          - 'null'
        discharge_Leg4:
          type:
          - string
          - 'null'
        etD_Leg2:
          type:
          - string
          - 'null'
          format: date-time
        etD_Leg3:
          type:
          - string
          - 'null'
          format: date-time
        etD_Leg4:
          type:
          - string
          - 'null'
          format: date-time
        atD_Leg2:
          type:
          - string
          - 'null'
          format: date-time
        atD_Leg3:
          type:
          - string
          - 'null'
          format: date-time
        atD_Leg4:
          type:
          - string
          - 'null'
          format: date-time
        etA_Leg2:
          type:
          - string
          - 'null'
          format: date-time
        etA_Leg3:
          type:
          - string
          - 'null'
          format: date-time
        etA_Leg4:
          type:
          - string
          - 'null'
          format: date-time
        atA_Leg2:
          type:
          - string
          - 'null'
          format: date-time
        atA_Leg3:
          type:
          - string
          - 'null'
          format: date-time
        atA_Leg4:
          type:
          - string
          - 'null'
          format: date-time
        vessel_Leg1:
          type:
          - string
          - 'null'
        vessel_Leg2:
          type:
          - string
          - 'null'
        vessel_Leg3:
          type:
          - string
          - 'null'
        vessel_Leg4:
          type:
          - string
          - 'null'
        voyageFlight_Leg1:
          type:
          - string
          - 'null'
        voyageFlight_Leg2:
          type:
          - string
          - 'null'
        voyageFlight_Leg3:
          type:
          - string
          - 'null'
        voyageFlight_Leg4:
          type:
          - string
          - 'null'
        firstLoad:
          type:
          - string
          - 'null'
        lastDischarge:
          type:
          - string
          - 'null'
        imoNumber:
          type:
          - string
          - 'null'
        carrierCode:
          type:
          - string
          - 'null'
        carrierSCAC:
          type:
          - string
          - 'null'
        carrierContractNumber:
          type:
          - string
          - 'null'
        workflow:
          type:
          - string
          - 'null'
        workflowId:
          type:
          - string
          - 'null'
          format: uuid
        acceptedDate:
          type:
          - string
          - 'null'
          format: date-time
        declinedDate:
          type:
          - string
          - 'null'
          format: date-time
        customerDivision:
          type:
          - string
          - 'null'
        trackableTill:
          type:
          - string
          - 'null'
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        invoicedDate:
          type:
          - string
          - 'null'
          format: date-time
        temperatureControl:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TemperatureControl'
        externalTrackingLink:
          type:
          - string
          - 'null'
        requestedOriginCFSReceiptDate:
          type:
          - string
          - 'null'
          format: date-time
        requestedOriginCFSDispatchDate:
          type:
          - string
          - 'null'
          format: date-time
        requestedDestinationCFSReceiptDate:
          type:
          - string
          - 'null'
          format: date-time
        requestedDestinationCFSDispatchDate:
          type:
          - string
          - 'null'
          format: date-time
        soReleasedTOSupplier:
          type:
          - string
          - 'null'
          format: date-time
        departedDestinationTerminal:
          type:
          - string
          - 'null'
          format: date-time
        cargoCheckInDate:
          type:
          - string
          - 'null'
          format: date-time
        masterBillAdded:
          type:
          - string
          - 'null'
          format: date-time
        requestedDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        booking:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        containers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobContainer'
        transportLegs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobConsol'
        transitWarehouseDescription:
          type:
          - string
          - 'null'
        departmentDescription:
          type:
          - string
          - 'null'
        serviceLevelDescription:
          type:
          - string
          - 'null'
        countOfTEU:
          type: number
          format: double
        countOf20FT:
          type: integer
          format: int32
        countOf40FT:
          type: integer
          format: int32
        countOf45FT:
          type: integer
          format: int32
        countOf45HC:
          type: integer
          format: int32
        outerPackTotalPackages:
          type: integer
          format: int32
        outerPackTotalWeight:
          type: number
          format: double
        outerPackTotalVolume:
          type: number
          format: double
        orderNumbers:
          type:
          - string
          - 'null'
        containerNumbers:
          type:
          - string
          - 'null'
        ownership:
          type:
          - string
          - 'null'
        chatTransportMode:
          type:
          - string
          - 'null'
        chatContainerMode:
          type:
          - string
          - 'null'
        chatOrigin:
          type:
          - string
          - 'null'
        chatDestination:
          type:
          - string
          - 'null'
        chatLoadPort:
          type:
          - string
          - 'null'
        chatDischargePort:
          type:
          - string
          - 'null'
        chatCustomerDivision:
          type:
          - string
          - 'null'
        geoLocation:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GeoLocationData'
        transportSummary:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TransportSummary'
        dateModified:
          type:
          - string
          - 'null'
          format: date-time
        userModified:
          type:
          - string
          - 'null'
        dateCreated:
          type:
          - string
          - 'null'
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Search.SortDescriptor:
      type: object
      properties:
        member:
          type:
          - string
          - 'null'
        sortDirection:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Search.ListSortDirection'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Search.SearchRequest:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        sorts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Search.SortDescriptor'
        skip:
          type: integer
          format: int32
        take:
          type: integer
          format: int32
        criteria:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.OrderDto:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Order'
        shipment:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment'
        booking:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
        transportLegs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobConsol'
          description: Transport Leg
        containers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobContainer'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.TransportSummary:
      type: object
      properties:
        firstPortETD:
          type:
          - string
          - 'null'
          description: First Port Estimated Time of Departure
          format: date-time
        firstPortATD:
          type:
          - string
          - 'null'
          description: First Port Actual Time of Departure
          format: date-time
        lastPortETA:
          type:
          - string
          - 'null'
          description: Last Port Estimated Time of Departure
          format: date-time
        lastPortATA:
          type:
          - string
          - 'null'
          description: Last Port Actual Time of Departure
          format: date-time
        firstPort:
          type:
          - string
          - 'null'
          description: First Port
        lastPort:
          type:
          - string
          - 'null'
          description: Last Port
        firstPortDescription:
          type:
          - string
          - 'null'
          description: First Port Description
        lastPortDescription:
          type:
          - string
          - 'null'
          description: Last Port Description
        vessel:
          type:
          - string
          - 'null'
          description: Vessel Name
        voyageFlight:
          type:
          - string
          - 'null'
          description: Voyage Number / Flight Number
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Measurement:
      type: object
      properties:
        value:
          type:
          - number
          - 'null'
          description: Value
          format: double
        unit:
          type:
          - string
          - 'null'
          description: Unit
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.AdditionalReference:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Company:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type
        code:
          type:
          - string
          - 'null'
          description: Code
        externalCode:
          type:
          - string
          - 'null'
          description: External Code
        isActive:
          type: boolean
          description: Active
        fullName:
          type:
          - string
          - 'null'
          description: Full Name
        closestPort:
          type:
          - string
          - 'null'
          description: Closest Port
        currency:
          type:
          - string
          - 'null'
          description: Currency
        phoneNumber:
          type:
          - string
          - 'null'
          description: Phone Number
        email:
          type:
          - string
          - 'null'
          description: Email
        vatNumber:
          type:
          - string
          - 'null'
        registeredNumber:
          type:
          - string
          - 'null'
          description: Registered Number
        ediCode:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Address'
        contact:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Contact'
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Note:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          description: Description
        noteText:
          type:
          - string
          - 'null'
          description: Note Text
        noteType:
          type:
          - string
          - 'null'
          description: Note Type
        noteContext:
          type:
          - string
          - 'null'
          description: Note Context
        intendedParty:
          type:
          - string
          - 'null'
          description: Intended Party
        read:
          type: boolean
          description: Read
        source:
          type:
          - string
          - 'null'
          description: Source
        isPublished:
          type: boolean
          description: Boolean if published
        resolvedDate:
          type:
          - string
          - 'null'
          description: Resolved Date
          format: date-time
        assignedUser:
          type:
          - string
          - 'null'
          description: Assigned User
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.TemperatureControl:
      type: object
      properties:
        instructions:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        unitOfTemperature:
          type:
          - string
          - 'null'
        minValue:
          type:
          - number
          - 'null'
          format: double
        maxValue:
          type:
          - number
          - 'null'
          format: double
        setPoint:
          type:
          - number
          - 'null'
          format: double
        humidity:
          type:
          - integer
          - 'null'
          format: int32
        rangeValue:
          type:
          - string
          - 'null'
        humidityValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Domain.Enums.ShipmentState:
      enum:
      - Booked
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - Accepted
      - PendingCollection
      - Collected
      - OnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Declined
      - Suspended
      - Cancelled
      type: string
      format: int32
    eDC.Web.Api.v2.Models.Entities.JobConsol:
      type: object
      properties:
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport eg. Air, Sea, Road
        consolMode:
          type:
          - string
          - 'null'
          description: Mode of Consol
        consolNumber:
          type:
          - string
          - 'null'
        masterBill:
          type:
          - string
          - 'null'
          description: Master Bill of Lading (MBL)
        bookingReference:
          type:
          - string
          - 'null'
          description: Booking Reference
        agentsReference:
          type:
          - string
          - 'null'
          description: Agent Reference
        customsReference:
          type:
          - string
          - 'null'
          description: Customs Reference
        prepaidCollect:
          type:
          - string
          - 'null'
          description: Prepaid or Collection
        loadPort:
          type:
          - string
          - 'null'
          description: Port of Loading,  UNLOCO (e.g. DEHAM)
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of Discharge, UNLOCO (e.g. DEHAM)
        portOfFirstArrival:
          type:
          - string
          - 'null'
          description: Port of first arrival
        eta:
          type:
          - string
          - 'null'
          format: date-time
        etd:
          type:
          - string
          - 'null'
          format: date-time
        ata:
          type:
          - string
          - 'null'
          format: date-time
        atd:
          type:
          - string
          - 'null'
          format: date-time
        vessel:
          type:
          - string
          - 'null'
          description: Vessel name
        voyageFlight:
          type:
          - string
          - 'null'
          description: Voyage (MoT Sea) or Flight No (MoT Air)
        fullLoadPortFreeTime:
          type: integer
          description: Full Load Port Free Time
          format: int32
        fullLoadDestinationDetentionFreeTime:
          type: integer
          format: int32
        fullLoadOriginDetentionFreeTime:
          type: integer
          format: int32
        oceanCarrier:
          type:
          - string
          - 'null'
          description: Ocean Carrier
        airCarrier:
          type:
          - string
          - 'null'
          description: Air Carrier
        weight:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        volume:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        chargeable:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        releaseType:
          type:
          - string
          - 'null'
          description: Type of Release
        teuCount:
          type: number
          format: double
        countOfTEU:
          type: number
          description: Count of TEU
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Container
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Container
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Container
          format: int32
        stageNumber:
          type:
          - string
          - 'null'
          description: Stage Number
        sta:
          type:
          - string
          - 'null'
          format: date-time
        std:
          type:
          - string
          - 'null'
          format: date-time
        consolContainerMode:
          type:
          - string
          - 'null'
        consolServiceLevel:
          type:
          - string
          - 'null'
        qualifier:
          type:
          - string
          - 'null'
          description: Qualifier
        legOrder:
          type: integer
          description: Leg Order
          format: int32
        legType:
          type:
          - string
          - 'null'
          description: Leg Type (e.g. Main)
        carrierCode:
          type:
          - string
          - 'null'
          description: Carrier Code
        carrierSCAC:
          type:
          - string
          - 'null'
          description: Carrier SCAC Code
        carrierDakoskyCode:
          type:
          - string
          - 'null'
          description: Carrier Dakosy Code
        carrierNationality:
          type:
          - string
          - 'null'
          description: Carrier Nationality
        localCarrierCode:
          type:
          - string
          - 'null'
          description: Local Carrier Code
        serviceLevel:
          type:
          - string
          - 'null'
          description: Service Level
        legNotes:
          type:
          - string
          - 'null'
          description: Leg Notes
        imoNumber:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          description: Status
        definedBy:
          type:
          - string
          - 'null'
          description: Defined by
        charterRoute:
          type:
          - string
          - 'null'
          description: Charter Route
        isCharter:
          type: boolean
          description: Boolean if charter
        isLinked:
          type: boolean
          description: Boolean is linked
        isMainCarriage:
          type: boolean
          description: Boolean if leg is main leg
        isPlannedLeg:
          type: boolean
          description: Boolean if leg is planned
        numberOfShipments:
          type: integer
          description: Number of Shipments
          format: int32
        numberOfPackages:
          type: integer
          description: Number of Packages
          format: int32
        numberOfOriginalBills:
          type: integer
          description: Number of Original Bill of Ladings
          format: int32
        numberOfCopyBills:
          type: integer
          description: Number of Copy Bill of Lading
          format: int32
        linkReference:
          type:
          - string
          - 'null'
          description: Link Reference
        ownerCodeInternal:
          type:
          - string
          - 'null'
          description: Internal Owner Code
        ownerCodeExternal:
          type:
          - string
          - 'null'
          description: External Owner Code
        source:
          type:
          - string
          - 'null'
          description: Source
        sendingAgent:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        receivingAgent:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        carrier:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Contact:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        mobile:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.EquipmentType:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type
        noOfUnits:
          type: integer
          description: Number of Units
          format: int32
        containerNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        isCancelled:
          type: boolean
          description: N or Y.  This is used to set an order to state cancelled.  This may or may not be accepted, depending on the progress of the order.
        orderNumber:
          type:
          - string
          - 'null'
          description: The unique order number between the buyer and supplier.
        splitNumber:
          type: integer
          description: If the order needs to be shipped or delivered in multiple parts, each part will be assigned a number.  The original order will have a split number of 0, the first split would have 1, second 2, etc
          format: int64
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.OrderState'
        orderDate:
          type:
          - string
          - 'null'
          description: The date the order is created
          format: date-time
        goodsDescription:
          type:
          - string
          - 'null'
          description: A general description of the goods
        transportMode:
          type:
          - string
          - 'null'
          description: 'The requested transport mode.  Values are: SEA for Oceanfreight", AIR for Airfreight, ROAD for Roadfreight and COU for Courier/Express'
        containerMode:
          type:
          - string
          - 'null'
          description: This is the container mode, in which the Order must be shipped.  For Orders, as the future consolidation state is not known, this will normally be set to 'LCL'
        serviceLevel:
          type:
          - string
          - 'null'
          description: Usually a three char code.  Service Levels are specific to your organisation.  Please see your Account Manager for details.
        serviceLevelDescription:
          type:
          - string
          - 'null'
          description: The full service level description
        estimatedExWorksDate:
          type:
          - string
          - 'null'
          description: The date the supplier has estimated the cargo will depart the factory.
          format: date-time
        actualExWorksDate:
          type:
          - string
          - 'null'
          description: The data the order actually departed the factory.
          format: date-time
        requiredExWorks:
          type:
          - string
          - 'null'
          description: The date the buyer requests the supplier dispatch the order from the factory.
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: The date the buyer requests the order be delivered to destination door.
          format: date-time
        originCountry:
          type:
          - string
          - 'null'
          description: The product country of origin - not necessarily where the product is collected from.
        incoterm:
          type:
          - string
          - 'null'
          description: The International Commercial Terms, agreed between buyer and supplier.
        additionalTerms:
          type:
          - string
          - 'null'
          description: The UNLOCO of the additional terms or named placed.
        additionalTermsUNLOCO:
          type:
          - string
          - 'null'
          description: The date the buyer requests the supplier dispatch the order from the factory.
        actualVolume:
          type: number
          description: The total volume of the order.
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: The unit related to the total volume.
        actualWeight:
          type: number
          description: The total weight of the order.
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: The unit related to the total volume.
        totalPacks:
          type: integer
          description: The total number of packages related to the order.
          format: int32
        totalQuantity:
          type: number
          description: The total number of skus related to the order.
          format: double
        followUpDate:
          type:
          - string
          - 'null'
          description: A date in which the Control Tower should follow up with the Supplier
          format: date-time
        portOfLoading:
          type:
          - string
          - 'null'
          description: The requested port of loading, in UNLOCO.
        portOfDischarge:
          type:
          - string
          - 'null'
          description: The requested port of discharge, in UNLOCO.
        currency:
          type:
          - string
          - 'null'
          description: The currency related to the order value.
        clientType:
          type:
          - string
          - 'null'
          description: N/A
        totalValue:
          type: number
          description: Total value of the order.
          format: double
        totalInners:
          type:
          - number
          - 'null'
          description: Total number of inner packages requested to be within the order.
          format: double
        totalOuters:
          type:
          - number
          - 'null'
          description: Total number of outer packages requested to be within the order.
          format: double
        source:
          type:
          - string
          - 'null'
          description: 'The source of the order entry: WEB = manually entered, API, EDI.  This is automatically set.'
        systemID:
          type:
          - string
          - 'null'
          description: A uuid/guid accociated with the order.  This is only for scenarios where a third party order management platform is managing the order.
          format: uuid
        bookingReference:
          type:
          - string
          - 'null'
          description: N/A
        transitWarehouse:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        onHandDate:
          type:
          - string
          - 'null'
          description: This date is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
          format: date-time
        plannerCode:
          type:
          - string
          - 'null'
          description: The code associated with person who is the order's assigned buyer/procurement code.
        plannerEmail:
          type:
          - string
          - 'null'
          description: The email address associated with person who is the order's assigned buyer/procurement code.
        warehouseReceiptNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        vehicleRegistration:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        trailerNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        seal:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        manifestNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        bookedInNumber:
          type:
          - string
          - 'null'
          description: N/A
        dispatchedDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        estimatedReceiptDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        bookedInDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        cutOffDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        invoiceDate:
          type:
          - string
          - 'null'
          description: The invoice date associated with the Order.
          format: date-time
        invoiceNumber:
          type:
          - string
          - 'null'
          description: The invoice number associated with the Order.
        confirmedDate:
          type:
          - string
          - 'null'
          description: For scenarios that require a confirmation of the order before it can be booked, the date of confirmation will populate this field.
          format: date-time
        confirmationNumber:
          type:
          - string
          - 'null'
          description: For scenarios that require a confirmation of the order before it can be booked, the confirmation authorisation number will populate this field.
        freightCost:
          type: number
          description: For customers using the Landed Cost functionality, this value will show the proportion of the freight cost.
          format: double
        landedCost:
          type: number
          description: For customers using the Landed Cost functionality, this value will show the proportion of the Landed Cost, which is SKU cost, plus Freight Cost
          format: double
        landedCostStatus:
          type:
          - string
          - 'null'
          description: N/A
        contractNumber:
          type:
          - string
          - 'null'
          description: The contract number between buyer and supplier, associated with the Order.
        goodsReceiptNumber:
          type:
          - string
          - 'null'
          description: The final destination warehouse, goods receipt number. This comes from the customer, unless DSV Manages the destination stock control.
        goodsReceiptDate:
          type:
          - string
          - 'null'
          description: The final destination warehouse, goods receipt date. This comes from the customer, unless DSV Manages the destination stock control.
          format: date-time
        authorisedBy:
          type:
          - string
          - 'null'
          description: The person within the customer/other authorised party authorises the Order to be shipped.
        authorisedToShip:
          type:
          - string
          - 'null'
          description: The date in which the customer/other authorised party authorises the Order to be shipped.
          format: date-time
        system:
          type:
          - string
          - 'null'
          description: If the system integration is required to use the source/downstream system's GUID, it can be populated here.
        orderType:
          type:
          - string
          - 'null'
          description: PO, SO, STO, BPO, CO.  This should be defined by your implementation manager within DSV
        orderTypeDescription:
          type:
          - string
          - 'null'
          description: Full description of Order Type, such as Purchase Order for PO.
        parentOrderNumber:
          type:
          - string
          - 'null'
          description: If this order is a 'call off', this value will be the blanket purchase order number.
        revisionNumber:
          type: integer
          description: This is provided by the customer, to indicate the order's revision number, if it has been revised.
          format: int32
        earliestShipDate:
          type:
          - string
          - 'null'
          description: Earliest Date the cargo should depart from Port
          format: date-time
        latestShipDate:
          type:
          - string
          - 'null'
          description: Latest Date the cargo should depart from Port
          format: date-time
        cancellationRequested:
          type:
          - string
          - 'null'
          format: date-time
        customerDivision:
          type:
          - string
          - 'null'
        notAuthorisedToShip:
          type:
          - string
          - 'null'
          format: date-time
        requiredIncotermHandoverDate:
          type:
          - string
          - 'null'
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        orderLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.OrderItem'
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Fields that can be defined by the user
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
          description: Any notes that may have been added by the customer, supplier or DSV.
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Domain Events in consumable format
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: N/A
        lastNoteText:
          type:
          - string
          - 'null'
          description: N/A
        orderLineContainers:
          type:
          - array
          - 'null'
          items:
            type: string
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        calculatedDeliveryDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        ownership:
          type:
          - string
          - 'null'
          description: N/A
        dateModified:
          type:
          - string
          - 'null'
          description: The date the order was modified in system
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: The user or service that last modified the order
        dateCreated:
          type:
          - string
          - 'null'
          description: The date the order was created in system
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: The user or service that created the order
        writeDownDate:
          type:
          - string
          - 'null'
          format: date-time
        cargoCheckInDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Event:
      type: object
      properties:
        eventCode:
          type:
          - string
          - 'null'
          description: The unique event code - usually 3 chars, but can be 2 or more.
        description:
          type:
          - string
          - 'null'
          description: A description of the event code.
        eventDate:
          type:
          - string
          - 'null'
          description: The date in which the event happened
          format: date-time
        reasonCodes:
          type:
          - string
          - 'null'
          description: Legacy, do not use.
        eventPlace:
          type:
          - string
          - 'null'
          description: The place in which the event happened.
        eventSource:
          type:
          - string
          - 'null'
          description: The source system that input the event.
        qaIssueCode:
          type:
          - string
          - 'null'
        qaResponsibleParty:
          type:
          - string
          - 'null'
        stage:
          type:
          - string
          - 'null'
        qaIssueNotes:
          type:
          - string
          - 'null'
        qaIssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        vehicleRegistration:
          type:
          - string
          - 'null'
        driverName:
          type:
          - string
          - 'null'
        secondDriver:
          type:
          - string
          - 'null'
        locationType:
          type:
          - string
          - 'null'
          description: Options - Intermediate / Transit Customs / Destination Customs
        qaIssueCodeDescription:
          type:
          - string
          - 'null'
        externalTrackingLink:
          type:
          - string
          - 'null'
        dateModified:
          type:
          - string
          - 'null'
          description: Date the event was modified - in general events cannot be modified but QA issues can be resolved.
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User who modified the event - in general events cannot be modified but QA issues can be resolved.
        dateCreated:
          type:
          - string
          - 'null'
          description: Date the event was input
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User who input the event
      additionalProperties: false
    eDC.Domain.Enums.BookingState:
      enum:
      - Provisional
      - PreBooked
      - Rejected
      - Booked
      - Approved
      - Confirmed
      - Parked
      - Transmitted
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - PendingCollection
      - Collected
      - OnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Suspended
      - Cancelled
      type: string
      format: int32
    eDC.Domain.Enums.ContainerState:
      enum:
      - Provisional
      - ReleasedCY
      - PickupBooked
      - PickedUp
      - GateIn
      - Loaded
      - Shipped
      - Arrived
      - Unloaded
      - DeliveryBooked
      - GateOut
      - Delivered
      - EmptyReadyForReturn
      - EmptyReturned
      type: string
      format: int32
    eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name
        type:
          type:
          - string
          - 'null'
          description: Type
        value:
          type:
          - string
          - 'null'
          description: Value
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modiefied
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.JobPackLine:
      type: object
      properties:
        packageCount:
          type: integer
          description: Count of Packages
          format: int32
        packType:
          type:
          - string
          - 'null'
          description: Pack Type (e.g. PACK, PALL, COLL, etc.)
        containerPackingOrder:
          type: integer
          description: Order of packing inside container (1-10)
          format: int32
        weight:
          type: number
          description: Weight
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Weight
        length:
          type: number
          description: Length
          format: double
        height:
          type: number
          description: Height
          format: double
        width:
          type: number
          description: Width
          format: double
        unitOfDimension:
          type:
          - string
          - 'null'
          description: Unit of Dimensions
        volume:
          type: number
          description: Volume
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Volume
        refNumber:
          type:
          - string
          - 'null'
          description: Reference Number
        description:
          type:
          - string
          - 'null'
          description: Description of Packline
        detailedDescription:
          type:
          - string
          - 'null'
          description: Detailed Description
        harmonisedCode:
          type:
          - string
          - 'null'
          description: Harmonised Code for Customs
        ncmCode:
          type:
          - string
          - 'null'
        origin:
          type:
          - string
          - 'null'
          description: Orgin
        commodityCode:
          type:
          - string
          - 'null'
          description: Commodity Code
        containerNumber:
          type:
          - string
          - 'null'
          description: Container Number
        outturn:
          type: integer
          description: Outturn
          format: int32
        outturnedLength:
          type: number
          description: Outturned Length
          format: double
        outturnedHeight:
          type: number
          description: Outturned Height
          format: double
        outturnedWidth:
          type: number
          description: Outturned Width
          format: double
        outturnedWeight:
          type: number
          description: Outturned Weight
          format: double
        outturnedVolume:
          type: number
          description: Outturned Volume
          format: double
        outturnComment:
          type:
          - string
          - 'null'
          description: Outturend Comment
        pillaged:
          type: integer
          description: Pillaged
          format: int32
        damaged:
          type: integer
          description: Damaged
          format: int32
        loadingMeters:
          type: number
          description: Loading Meters
          format: double
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        productCode:
          type:
          - string
          - 'null'
          description: Product Code
        dangerousGoodsRef:
          type:
          - string
          - 'null'
          description: Dangerous Goods Reference
        noOfPallets:
          type: integer
          description: Number of Pallets
          format: int32
        packIdentifier:
          type:
          - string
          - 'null'
          description: Pack Identifier
        documentRemarks1:
          type:
          - string
          - 'null'
          description: Document Remarks
        documentRemarks2:
          type:
          - string
          - 'null'
          description: Document Remarks
        documentRemarks3:
          type:
          - string
          - 'null'
          description: Document Remarks
        sequence:
          type: integer
          description: Sequence
          format: int32
        stackable:
          type: boolean
          description: Boolean if stackable
        orderLineNumber:
          type:
          - integer
          - 'null'
          description: Order Line Number
          format: int32
        packageMarks:
          type:
          - string
          - 'null'
          description: Package Marks
        dangerousGoods:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.DangerousGoods'
        innerPackLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Inner Pack Lines
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Custom Fields
        changeMonitorColumns:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Change Columns
        statusDescription:
          type:
          - string
          - 'null'
          description: Status Description
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.JobContainer:
      type: object
      properties:
        containerNumber:
          type:
          - string
          - 'null'
        interimContainerNumber:
          type:
          - string
          - 'null'
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.ContainerState'
        isShipperOwned:
          type: boolean
        containerMode:
          type:
          - string
          - 'null'
        containerStatus:
          type:
          - string
          - 'null'
        sealNumber:
          type:
          - string
          - 'null'
        additionalSealNumber:
          type:
          - string
          - 'null'
        additional2SealNumber:
          type:
          - string
          - 'null'
        containerCount:
          type: integer
          format: int32
        dunnageWeight:
          type: number
          format: double
        grossWeight:
          type: number
          format: double
        unitOfweight:
          type:
          - string
          - 'null'
        tareWeight:
          type: number
          format: double
        containerCommodityCode:
          type:
          - string
          - 'null'
        movementType:
          type:
          - string
          - 'null'
        equipmentType:
          type:
          - string
          - 'null'
        fclAvailableDate:
          type:
          - string
          - 'null'
          format: date-time
        fclStorageDate:
          type:
          - string
          - 'null'
          format: date-time
        emptyRequiredBy:
          type:
          - string
          - 'null'
          format: date-time
        estimatedFCLPickupDate:
          type:
          - string
          - 'null'
          format: date-time
        lclAvailableDate:
          type:
          - string
          - 'null'
          format: date-time
        lclStorageDate:
          type:
          - string
          - 'null'
          format: date-time
        bookedDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        requestedDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        actualFullDeliveryDate:
          type:
          - string
          - 'null'
          format: date-time
        deliveryTransportAdvisedDate:
          type:
          - string
          - 'null'
          format: date-time
        requestedCollectionDate:
          type:
          - string
          - 'null'
          format: date-time
        estimatedCollectionDate:
          type:
          - string
          - 'null'
          format: date-time
        actualFullPickupDate:
          type:
          - string
          - 'null'
          format: date-time
        portTransportBookedDate:
          type:
          - string
          - 'null'
          format: date-time
        fullLoadPortFreeTime:
          type: integer
          format: int32
        fullLoadDestinationDetentionFreeTime:
          type: integer
          format: int32
        fullLoadOriginDetentionFreeTime:
          type: integer
          format: int32
        demurrageStartDate:
          type:
          - string
          - 'null'
          format: date-time
        shipperDetentionStartDate:
          type:
          - string
          - 'null'
          format: date-time
        importerDetentionStartDate:
          type:
          - string
          - 'null'
          format: date-time
        bookingCreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        bookingModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        bookingCreatedUser:
          type:
          - string
          - 'null'
        bookingModifiedUser:
          type:
          - string
          - 'null'
        volume:
          type: number
          format: double
        temperatureControlled:
          type: boolean
        refrigerationType:
          type:
          - string
          - 'null'
        tempSetPoint:
          type: number
          format: double
        tempSetPointUnit:
          type:
          - string
          - 'null'
        goodsDescription:
          type:
          - string
          - 'null'
        isoType:
          type:
          - string
          - 'null'
        emptyPickupNumber:
          type:
          - string
          - 'null'
        exportPortTransportReference:
          type:
          - string
          - 'null'
        exportSlotBookingReference:
          type:
          - string
          - 'null'
        importReleaseNumber:
          type:
          - string
          - 'null'
        importPortTransportReference:
[...]
