openapi: 3.2.0
info:
  title: Dsv Bookings API
  version: v2
  description: 'Operations tagged Bookings across 2 of this provider''s published API definitions: dsv-edc-booking-api-v2-openapi.json, dsv-edc-neom-api-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dsv.com/om/bookings/v2
- url: https://api.dsv.com/om/neom/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Bookings
paths:
  /Bookings/SearchCriteria:
    post:
      tags:
      - Bookings
      summary: 1. Search for Bookings by criteria
      description: 1. Search for Bookings by criteria
      operationId: Search-for-Bookings-by-criteria
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Search.SearchRequest'
            example:
              Page: 0
              PageSize: 0
              Sorts:
              - Member: string
                SortDirection: Ascending
              Filters:
              - {}
              Groups:
              - MemberType: string
                DisplayContent: {}
                AggregateFunctions:
                - AggregateMethodName: string
                  Caption: string
                  SourceField: string
                  FunctionName: string
                  MemberType: string
                  ResultFormatString: string
                Member: string
                SortDirection: Ascending
              Aggregates:
              - Aggregates:
                - AggregateMethodName: string
                  Caption: string
                  SourceField: string
                  FunctionName: string
                  MemberType: string
                  ResultFormatString: string
                Member: string
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /Bookings/{bookingNumber}:
    get:
      tags:
      - Bookings
      summary: 2. Get Bookings by booking number
      description: 2. Get Bookings by booking number
      operationId: Get-Bookings-by-booking-number
      parameters:
      - name: bookingNumber
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
              example:
                Header:
                  MessageId: 0f6b70c8-2c26-4d1d-9b9e-03a68fec52f0
                  TimeStamp: '2022-11-01T12:00:00.0000000+00:00'
                  Source:
                    ApplicationCode: CUSTOMER_SYSTEM
                    EnterpriseCode: CUSTOMER_APPLICATION
                    Environment: QA
                  Target:
                    ApplicationCode: eDC
                    EnterpriseCode: DSV
                    Environment: QA
                  Function: New
                Booking:
                  ExternalBookingNumber: BOKEXT014a
                  ExternalBookingSender: SKUIRRELS
                  Incoterm: EXW
                  AdditionalTerms: PETAH
                  SupplierReference: sup-ref
                  TransportMode: SEA
                  ContainerMode: FCL
                  RequestedDepartureDate: '2022-11-01T12:00:00.0000000+00:00'
                  RequestedArrivalDate: '2022-11-01T12:00:00.0000000+00:00'
                  LoadPort: ILPET
                  DischargePort: ILPET
                  GoodsDescription: Pharmaceuticals
                  MarksAndNumbers: marks here
                  BookingInstructions: Pickup and Delivery Transprt Instructions
                  ShippingInstructions: shipping instructions
                  CustomerDivision: Parts
                  EquipmentTypes:
                  - Type: 40HC
                    NoOfUnits: 1
                    ContainerNumber: CBHU2204309
                  EstimatedDeliveryToOriginCFS: '2022-11-01T12:00:00.0000000+00:00'
                  IsPickupRequired: true
                  CollectionRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                  CollectionRequiredDateBy: '2022-11-01T06:00:00.0000000+00:00'
                  DeliveryRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                  DeliveryRequiredDateBy: '2022-11-01T08:00:00.0000000+00:00'
                  PackLinesMethod: patch
                  PackLines:
                  - PackageCount: 1
                    PackType: CTN
                    ContainerPackingOrder: 0
                    Weight: 0
                    UnitOfWeight: KG
                    Length: 10
                    Height: 10
                    Width: 10
                    UnitOfDimension: CM
                    Volume: 0.001
                    UnitOfVolume: M3
                    RefNumber: null
                    Description: null
                    HarmonisedCode: null
                    CommodityCode: null
                    ContainerNumber: CBHU2204309
                    LoadingMeters: 0
                    MarksAndNumbers: null
                    ProductCode: null
                    DangerousGoodsRef: null
                    NoOfPallets: 0
                    PackIdentifier: null
                    Sequence: 0
                    Stackable: false
                    PackageMarks: null
                    DangerousGoods:
                      Regulation: REG
                      HazardClass: null
                      AdditionalHazardClass: null
                      ClassificationCode: null
                      UNDGNumber: UNDG001
                      Variant: null
                      PSN: null
                      TechnicalName: null
                      Labels: null
                      PackingGroup: null
                      UpperPlate: null
                      LowerPlate: null
                      NumberOfPackages: null
                      PackageType: null
                      PackagingInstruction: null
                      TransportMeansCategory: null
                      GrossWeight: 0
                      NetWeight: 0
                      ExplosiveWeight: 0
                      UnitOfWeight: null
                      FlashPointTemperature: null
                      FlashPointTemperatureUnit: null
                      FlashPointDescription: null
                      TremCardNumber: null
                      EMSNumber: null
                      MFAGNumber: null
                      MarinePollutant: null
                      LimitedQuantity: false
                      TunnelCode: null
                      Remarks: null
                      ContactName: null
                      ContactEmail: null
                    InnerPackLines: []
                    CustomFields: []
                  Parties:
                  - Type: Consignor
                    Code: 5001ACME-IL
                    FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    Address:
                      Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                      Address1: 5 Squirrel Street
                      Address2: null
                      Address3: null
                      UNLOCO: ILPET
                      City: PETAH TIKVA
                      State: null
                      PostCode: '49131'
                      CountryCode: IL
                      Country: ISREAL
                      AddressCode: Default
                      Longitude: null
                      Latitude: null
                  - Type: Consignee
                    Code: ACME
                    FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                    PhoneNumber: null
                    Email: null
                    Address:
                      Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                      Address1: 5 Squirrel Street
                      Address2: null
                      Address3: null
                      UNLOCO: ILPET
                      City: PETAH TIKVA
                      State: null
                      PostCode: '49131'
                      CountryCode: IL
                      Country: ISREAL
                      AddressCode: Default
                      Longitude: null
                      Latitude: null
                  - Type: DeliveryTo
                    Code: 5001ACME-IL
                    FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                    PhoneNumber: null
                    Email: null
                    Address:
                      Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                      Address1: 5 Squirrel Street
                      Address2: null
                      Address3: null
                      UNLOCO: ILPET
                      City: PETAH TIKVA
                      State: null
                      PostCode: '49131'
                      CountryCode: IL
                      Country: ISREAL
                      AddressCode: Default
                      Longitude: null
                      Latitude: null
                  - Type: PickupFrom
                    Code: '6409938278'
                    FullName: DHL FREIGHT BELGIUM N V
                    PhoneNumber: '1454203949'
                    Email: null
                    Address:
                      Name: DHL FREIGHT BELGIUM N V
                      Address1: 2 Brandekensweg
                      Address2: add2
                      Address3: null
                      UNLOCO: null
                      City: Schelle
                      State: null
                      PostCode: '2630'
                      CountryCode: BE
                      Country: null
                      AddressCode: Default
                      Longitude: null
                      Latitude: null
                  Notes:
                  - Description: SpecialInstructions
                    NoteText: note content
                    IntendedParty: Customer, InternalDSV
                  CustomFields:
                  - Name: Documents_Ready_On_Collection
                    Type: String
                    Value: 'YES'
                  - Name: Temperature_Range
                    Type: String
                    Value: General Cargo
                  Orders:
                  - OrderNumber: ORDEXT0001
                    SplitNumber: 0
                    OrderType: SO
                    ParentOrderNumber: null
                    OrderDate: '2022-09-20T06:51:50.0000000+00:00'
                    GoodsDescription: goods
                    TransportMode: SEA
                    ContainerMode: LCL
                    ServiceLevel: STD
                    RequiredExWorks: '2022-09-20T06:51:50.0000000+00:00'
                    RequiredInStore: '2022-09-20T06:51:50.0000000+00:00'
                    OriginCountry: GB
                    Incoterm: CIF
                    AdditionalTerms: COLLECT
                    AdditionalTermsUNLOCO: null
                    ActualVolume: 20
                    UnitOfVolume: CM3
                    ActualWeight: 30
                    UnitOfWeight: KG
                    TotalPacks: 5
                    TotalQuantity: 181765
                    FollowUpDate: '2022-11-01T12:00:00.0000000+00:00'
                    PortOfLoading: GBFXT
                    PortOfDischarge: USNYC
                    Currency: USD
                    TotalValue: 492895.94
                    OnHandDate: '2022-11-01T12:00:00.0000000+00:00'
                    PlannerCode: planner code
                    PlannerEmail: null
                    WarehouseReceiptNumber: WR001
                    VehicleRegistration: VR001
                    TrailerNumber: TR001
                    Seal: SL001
                    ManifestNumber: MF001
                    BookedInNumber: BI001
                    DispatchedDate: null
                    EstimatedReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                    BookedInDate: '2022-11-01T12:00:00.0000000+00:00'
                    CutOffDate: '2022-11-01T12:00:00.0000000+00:00'
                    InvoiceDate: '2022-11-01T12:00:00.0000000+00:00'
                    InvoiceNumber: IN001
                    ConfirmedDate: '2022-11-01T12:00:00.0000000+00:00'
                    ConfirmationNumber: CN001
                    ContractNumber: C001
                    GoodsReceiptNumber: GR001
                    GoodsReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                    AuthorisedBy: auth by
                    AuthorisedToShip: '2022-11-01T12:00:00.0000000+00:00'
                    RevisionNumber: 0
                    EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    OrderLines:
                    - LineNo: 10
                      Partno: 000000000010015389
                      Description: FAMOTIDINE tab.USP 100*20mg
                      UnitOfQuantity: ST
                      Quantity: 87661
                      QtyInvoiced: 87661
                      QtyBooked: null
                      QtyReceived: null
                      QtyShipped: 87661
                      Volume: 0
                      UnitOfVolume: ''
                      Weight: 0
                      UnitOfWeight: ''
                      ItemPrice: 1.22
                      LinePrice: 106946.42
                      Length: 0
                      Width: 0
                      Height: 0
                      DimUnit: ''
                      DangerousGoodsRef: null
                      ContainerNumber: null
                      HarmonisedCode: null
                      PackLineId: null
                      InvoiceNumber: null
                      ConfirmationNumber: null
                      SpecialInstructions: null
                      AdditionalInformation: null
                      LineWeight: 0
                      LineVolume: 0
                      ContractNumber: null
                      OriginCountry: null
                      DecimalPlaces: 0
                      QuantityPerUnit: 0
                      NetWeight: 0
                      TransportMode: ''
                      EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                      LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                      FreightClass: FC
                      ServiceLevel: STD
                      Inners:
                        Value: 10.5
                        Unit: PC
                      Outers:
                        Value: 20.5
                        Unit: PC
                      Parties: []
                      EstimatedExWorksDate: null
                      RequiredExWorks: null
                      RequiredInStore: null
                      CustomFields: []
                    PackLines: []
                    CustomFields:
                    - Name: invoice_number
                      Type: STR
                      Value: 0090863377
                    Notes:
                    - Description: UserNote
                      NoteText: note content
                      IntendedParty: Customer, InternalDSV
                    Parties:
                    - Type: Buyer
                      Code: '0000402271'
                      FullName: ACTAVIS INTERNATIONAL LTD
                      ClosestPort: null
                      Currency: null
                      PhoneNumber: null
                      Email: null
                      VATNumber: null
                      RegisteredNumber: null
                      EDICode: DP-ICC4400
                      ExternalCode: IL201001
                      Address:
                        Name: ACME Pharmaceuticals USA, Inc.
                        Address1: 400 Interpace Parkway
                        Address2: null
                        Address3: null
                        UNLOCO: null
                        City: Parsippany, NJ
                        State: null
                        PostCode: '07054'
                        CountryCode: US
                        Country: null
                        AddressCode: 400 Interpace Parkway
                        Longitude: null
                        Latitude: null
                    - Type: Supplier
                      Code: SM23ACME-HR
                      FullName: SM23ACME-HR
                      ClosestPort: null
                      Currency: null
                      PhoneNumber: null
                      Email: null
                      VATNumber: null
                      RegisteredNumber: null
                      Address: null
                    - Type: PickupFrom
                      Code: SM239902
                      FullName: SM239902
                      ClosestPort: null
                      Currency: null
                      PhoneNumber: null
                      Email: null
                      VATNumber: null
                      RegisteredNumber: null
                      Address: null
                  Documents:
                  - IntendedParties: Customer,InternalDSV
                    FileName: packages
                    Extension: json
                    DocType: POD
                    IsPublished: true
                    UniqueFileName: true
                    Description: UserNote
                    Data: ewogICJuYW1lIjogImVkYyIsCiAgImRlc2NyaXB0aW9uIjogImVEQyBTeXN0ZW0iLAogICJyZXBvc2l0b3J5IjogewogICAgInR5cGUiOiAidGZzIgogIH0sCiAgInNjcmlwdHMiOiB7CiAgICAid2F0Y2gtY29udHJvbHMiOiAid2VicGFjayAtLWNvbmZpZyB3ZWJwYWNrLmNvbnRyb2xzLmNvbmZpZy5qcyAtLXdhdGNoIiwKICAgICJ0ZXN0IjogImphc21pbmUtbm9kZSBzcGVjIiwKICAgICJtYWludGVuYW5jZS1wYWdlIjogImd1bHAgYnVpbGQ6bWFpbnRlbmFuY2UtcGFnZSIsCiAgICAiYm9va2luZy10ZW1wbGF0ZXMiOiAiZ3VscCBidWlsZDpib29raW5nLXRlbXBsYXRlcyIKICB9LAogICJyZWFkbWUiOiAiTm8gcmVhZG1lIiwKICAibGljZW5zZSI6ICJOTFBMIiwKICAiZGV2RGVwZW5kZW5jaWVzIjogewogICAgImJhYmVsLWxvYWRlciI6ICJeNy4xLjQiLAogICAgImd1bHAiOiAiXjMuOS4xIiwKICAgICJndWxwLWlubGluZS1jc3MiOiAiXjMuMC4wIiwKICAgICJndWxwLXByZXByb2Nlc3MiOiAiXjEuMi4wIiwKICAgICJndWxwLXJlbmFtZSI6ICJeMS4yLjIiLAogICAgImh0bWwtbG9hZGVyIjogIl4wLjUuNSIsCiAgICAiaW5saW5lciI6ICJeMS4xMC4xIiwKICAgICJqYXNtaW5lLW5vZGUiOiAiXjEuMTUuMCIsCiAgICAid2VicGFjayI6ICJeNC40LjEiLAogICAgIndlYnBhY2stY2xpIjogIl4yLjAuMTMiLAogICAgIndlYnBhY2stbm90aWZpZXIiOiAiXjEuNi4wIgogIH0sCiAgImRlcGVuZGVuY2llcyI6IHsKICAgICJub2RlIjogIl4xMS4xNS4wIiwKICAgICJudm0iOiAiMC4wLjQiCiAgfQp9Cg==
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /Bookings/ChangeState:
    post:
      tags:
      - Bookings
      summary: 3. Change state by booking number
      description: 3. Change state by booking number
      operationId: Change-state-by-booking-number
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Controllers.ChangeStateRequest'
            example:
              bookingNumber: string
              state: Provisional
              note: string
              intendedParty: string
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /Bookings:
    post:
      tags:
      - Bookings
      summary: 4. Create or Update Booking(s)
      description: Create or Update Booking(s)
      operationId: POSTapi-public-v2-Bookings
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
            example:
              Header:
                MessageId: 0f6b70c8-2c26-4d1d-9b9e-03a68fec52f0
                TimeStamp: '2022-11-01T12:00:00.0000000+00:00'
                Source:
                  ApplicationCode: CUSTOMER_SYSTEM
                  EnterpriseCode: CUSTOMER_APPLICATION
                  Environment: QA
                Target:
                  ApplicationCode: eDC
                  EnterpriseCode: DSV
                  Environment: QA
                Function: New
              Booking:
                ExternalBookingNumber: BOKEXT014a
                ExternalBookingSender: SKUIRRELS
                Incoterm: EXW
                AdditionalTerms: PETAH
                SupplierReference: sup-ref
                TransportMode: SEA
                ContainerMode: FCL
                RequestedDepartureDate: '2022-11-01T12:00:00.0000000+00:00'
                RequestedArrivalDate: '2022-11-01T12:00:00.0000000+00:00'
                LoadPort: ILPET
                DischargePort: ILPET
                GoodsDescription: Pharmaceuticals
                MarksAndNumbers: marks here
                BookingInstructions: Pickup and Delivery Transprt Instructions
                ShippingInstructions: shipping instructions
                CustomerDivision: Parts
                EquipmentTypes:
                - Type: 40HC
                  NoOfUnits: 1
                  ContainerNumber: CBHU2204309
                EstimatedDeliveryToOriginCFS: '2022-11-01T12:00:00.0000000+00:00'
                IsPickupRequired: true
                CollectionRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                CollectionRequiredDateBy: '2022-11-01T06:00:00.0000000+00:00'
                DeliveryRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                DeliveryRequiredDateBy: '2022-11-01T08:00:00.0000000+00:00'
                PackLinesMethod: patch
                PackLines:
                - PackageCount: 1
                  PackType: CTN
                  ContainerPackingOrder: 0
                  Weight: 0
                  UnitOfWeight: KG
                  Length: 10
                  Height: 10
                  Width: 10
                  UnitOfDimension: CM
                  Volume: 0.001
                  UnitOfVolume: M3
                  RefNumber: null
                  Description: null
                  HarmonisedCode: null
                  CommodityCode: null
                  ContainerNumber: CBHU2204309
                  LoadingMeters: 0
                  MarksAndNumbers: null
                  ProductCode: null
                  DangerousGoodsRef: null
                  NoOfPallets: 0
                  PackIdentifier: null
                  Sequence: 0
                  Stackable: false
                  PackageMarks: null
                  DangerousGoods:
                    Regulation: REG
                    HazardClass: null
                    AdditionalHazardClass: null
                    ClassificationCode: null
                    UNDGNumber: UNDG001
                    Variant: null
                    PSN: null
                    TechnicalName: null
                    Labels: null
                    PackingGroup: null
                    UpperPlate: null
                    LowerPlate: null
                    NumberOfPackages: null
                    PackageType: null
                    PackagingInstruction: null
                    TransportMeansCategory: null
                    GrossWeight: 0
                    NetWeight: 0
                    ExplosiveWeight: 0
                    UnitOfWeight: null
                    FlashPointTemperature: null
                    FlashPointTemperatureUnit: null
                    FlashPointDescription: null
                    TremCardNumber: null
                    EMSNumber: null
                    MFAGNumber: null
                    MarinePollutant: null
                    LimitedQuantity: false
                    TunnelCode: null
                    Remarks: null
                    ContactName: null
                    ContactEmail: null
                  InnerPackLines: []
                  CustomFields: []
                Parties:
                - Type: Consignor
                  Code: 5001ACME-IL
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  ClosestPort: null
                  Currency: null
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: Consignee
                  Code: ACME
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: DeliveryTo
                  Code: 5001ACME-IL
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: PickupFrom
                  Code: '6409938278'
                  FullName: DHL FREIGHT BELGIUM N V
                  PhoneNumber: '1454203949'
                  Email: null
                  Address:
                    Name: DHL FREIGHT BELGIUM N V
                    Address1: 2 Brandekensweg
                    Address2: add2
                    Address3: null
                    UNLOCO: null
                    City: Schelle
                    State: null
                    PostCode: '2630'
                    CountryCode: BE
                    Country: null
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                Notes:
                - Description: SpecialInstructions
                  NoteText: note content
                  IntendedParty: Customer, InternalDSV
                CustomFields:
                - Name: Documents_Ready_On_Collection
                  Type: String
                  Value: 'YES'
                - Name: Temperature_Range
                  Type: String
                  Value: General Cargo
                Orders:
                - OrderNumber: ORDEXT0001
                  SplitNumber: 0
                  OrderType: SO
                  ParentOrderNumber: null
                  OrderDate: '2022-09-20T06:51:50.0000000+00:00'
                  GoodsDescription: goods
                  TransportMode: SEA
                  ContainerMode: LCL
                  ServiceLevel: STD
                  RequiredExWorks: '2022-09-20T06:51:50.0000000+00:00'
                  RequiredInStore: '2022-09-20T06:51:50.0000000+00:00'
                  OriginCountry: GB
                  Incoterm: CIF
                  AdditionalTerms: COLLECT
                  AdditionalTermsUNLOCO: null
                  ActualVolume: 20
                  UnitOfVolume: CM3
                  ActualWeight: 30
                  UnitOfWeight: KG
                  TotalPacks: 5
                  TotalQuantity: 181765
                  FollowUpDate: '2022-11-01T12:00:00.0000000+00:00'
                  PortOfLoading: GBFXT
                  PortOfDischarge: USNYC
                  Currency: USD
                  TotalValue: 492895.94
                  OnHandDate: '2022-11-01T12:00:00.0000000+00:00'
                  PlannerCode: planner code
                  PlannerEmail: null
                  WarehouseReceiptNumber: WR001
                  VehicleRegistration: VR001
                  TrailerNumber: TR001
                  Seal: SL001
                  ManifestNumber: MF001
                  BookedInNumber: BI001
                  DispatchedDate: null
                  EstimatedReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                  BookedInDate: '2022-11-01T12:00:00.0000000+00:00'
                  CutOffDate: '2022-11-01T12:00:00.0000000+00:00'
                  InvoiceDate: '2022-11-01T12:00:00.0000000+00:00'
                  InvoiceNumber: IN001
                  ConfirmedDate: '2022-11-01T12:00:00.0000000+00:00'
                  ConfirmationNumber: CN001
                  ContractNumber: C001
                  GoodsReceiptNumber: GR001
                  GoodsReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                  AuthorisedBy: auth by
                  AuthorisedToShip: '2022-11-01T12:00:00.0000000+00:00'
                  RevisionNumber: 0
                  EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                  LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                  OrderLines:
                  - LineNo: 10
                    Partno: 000000000010015389
                    Description: FAMOTIDINE tab.USP 100*20mg
                    UnitOfQuantity: ST
                    Quantity: 87661
                    QtyInvoiced: 87661
                    QtyBooked: null
                    QtyReceived: null
                    QtyShipped: 87661
                    Volume: 0
                    UnitOfVolume: ''
                    Weight: 0
                    UnitOfWeight: ''
                    ItemPrice: 1.22
                    LinePrice: 106946.42
                    Length: 0
                    Width: 0
                    Height: 0
                    DimUnit: ''
                    DangerousGoodsRef: null
                    ContainerNumber: null
                    HarmonisedCode: null
                    PackLineId: null
                    InvoiceNumber: null
                    ConfirmationNumber: null
                    SpecialInstructions: null
                    AdditionalInformation: null
                    LineWeight: 0
                    LineVolume: 0
                    ContractNumber: null
                    OriginCountry: null
                    DecimalPlaces: 0
                    QuantityPerUnit: 0
                    NetWeight: 0
                    TransportMode: ''
                    EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    FreightClass: FC
                    ServiceLevel: STD
                    Inners:
                      Value: 10.5
                      Unit: PC
                    Outers:
                      Value: 20.5
                      Unit: PC
                    Parties: []
                    EstimatedExWorksDate: null
                    RequiredExWorks: null
                    RequiredInStore: null
                    CustomFields: []
                  PackLines: []
                  CustomFields:
                  - Name: invoice_number
                    Type: STR
                    Value: 0090863377
                  Notes:
                  - Description: UserNote
                    NoteText: note content
                    IntendedParty: Customer, InternalDSV
                  Parties:
                  - Type: Buyer
                    Code: '0000402271'
                    FullName: ACTAVIS INTERNATIONAL LTD
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    EDICode: DP-ICC4400
                    ExternalCode: IL201001
                    Address:
                      Name: ACME Pharmaceuticals USA, Inc.
                      Address1: 400 Interpace Parkway
                      Address2: null
                      Address3: null
                      UNLOCO: null
                      City: Parsippany, NJ
                      State: null
                      PostCode: '07054'
                      CountryCode: US
                      Country: null
                      AddressCode: 400 Interpace Parkway
                      Longitude: null
                      Latitude: null
                  - Type: Supplier
                    Code: SM23ACME-HR
                    FullName: SM23ACME-HR
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    Address: null
                  - Type: PickupFrom
                    Code: SM239902
                    FullName: SM239902
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    Address: null
                Documents:
                - IntendedParties: Customer,InternalDSV
                  FileName: packages
                  Extension: json
                  DocType: POD
                  IsPublished: true
                  UniqueFileName: true
                  Description: UserNote
                  Data: ewogICJuYW1lIjogImVkYyIsCiAgImRlc2NyaXB0aW9uIjogImVEQyBTeXN0ZW0iLAogICJyZXBvc2l0b3J5IjogewogICAgInR5cGUiOiAidGZzIgogIH0sCiAgInNjcmlwdHMiOiB7CiAgICAid2F0Y2gtY29udHJvbHMiOiAid2VicGFjayAtLWNvbmZpZyB3ZWJwYWNrLmNvbnRyb2xzLmNvbmZpZy5qcyAtLXdhdGNoIiwKICAgICJ0ZXN0IjogImphc21pbmUtbm9kZSBzcGVjIiwKICAgICJtYWludGVuYW5jZS1wYWdlIjogImd1bHAgYnVpbGQ6bWFpbnRlbmFuY2UtcGFnZSIsCiAgICAiYm9va2luZy10ZW1wbGF0ZXMiOiAiZ3VscCBidWlsZDpib29raW5nLXRlbXBsYXRlcyIKICB9LAogICJyZWFkbWUiOiAiTm8gcmVhZG1lIiwKICAibGljZW5zZSI6ICJOTFBMIiwKICAiZGV2RGVwZW5kZW5jaWVzIjogewogICAgImJhYmVsLWxvYWRlciI6ICJeNy4xLjQiLAogICAgImd1bHAiOiAiXjMuOS4xIiwKICAgICJndWxwLWlubGluZS1jc3MiOiAiXjMuMC4wIiwKICAgICJndWxwLXByZXByb2Nlc3MiOiAiXjEuMi4wIiwKICAgICJndWxwLXJlbmFtZSI6ICJeMS4yLjIiLAogICAgImh0bWwtbG9hZGVyIjogIl4wLjUuNSIsCiAgICAiaW5saW5lciI6ICJeMS4xMC4xIiwKICAgICJqYXNtaW5lLW5vZGUiOiAiXjEuMTUuMCIsCiAgICAid2VicGFjayI6ICJeNC40LjEiLAogICAgIndlYnBhY2stY2xpIjogIl4yLjAuMTMiLAogICAgIndlYnBhY2stbm90aWZpZXIiOiAiXjEuNi4wIgogIH0sCiAgImRlcGVuZGVuY2llcyI6IHsKICAgICJub2RlIjogIl4xMS4xNS4wIiwKICAgICJudm0iOiAiMC4wLjQiCiAgfQp9Cg==
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /Bookings/UpsertAsync:
    post:
      tags:
      - Bookings
      summary: 5. Post a collection of bookings asynchronously
      description: Post a collection of bookings asynchronously
      operationId: POSTapi-public-v2-Bookings-UpsertAsync
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
            example:
              Header:
                MessageId: 0f6b70c8-2c26-4d1d-9b9e-03a68fec52f0
                TimeStamp: '2022-11-01T12:00:00.0000000+00:00'
                Source:
                  ApplicationCode: CUSTOMER_SYSTEM
                  EnterpriseCode: CUSTOMER_APPLICATION
                  Environment: QA
                Target:
                  ApplicationCode: eDC
                  EnterpriseCode: DSV
                  Environment: QA
                Function: New
              Booking:
                ExternalBookingNumber: BOKEXT014a
                ExternalBookingSender: SKUIRRELS
                Incoterm: EXW
                AdditionalTerms: PETAH
                SupplierReference: sup-ref
                TransportMode: SEA
                ContainerMode: FCL
                RequestedDepartureDate: '2022-11-01T12:00:00.0000000+00:00'
                RequestedArrivalDate: '2022-11-01T12:00:00.0000000+00:00'
                LoadPort: ILPET
                DischargePort: ILPET
                GoodsDescription: Pharmaceuticals
                MarksAndNumbers: marks here
                BookingInstructions: Pickup and Delivery Transprt Instructions
                ShippingInstructions: shipping instructions
                CustomerDivision: Parts
                EquipmentTypes:
                - Type: 40HC
                  NoOfUnits: 1
                  ContainerNumber: CBHU2204309
                EstimatedDeliveryToOriginCFS: '2022-11-01T12:00:00.0000000+00:00'
                IsPickupRequired: true
                CollectionRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                CollectionRequiredDateBy: '2022-11-01T06:00:00.0000000+00:00'
                DeliveryRequiredDate: '2022-11-01T12:00:00.0000000+00:00'
                DeliveryRequiredDateBy: '2022-11-01T08:00:00.0000000+00:00'
                PackLinesMethod: patch
                PackLines:
                - PackageCount: 1
                  PackType: CTN
                  ContainerPackingOrder: 0
                  Weight: 0
                  UnitOfWeight: KG
                  Length: 10
                  Height: 10
                  Width: 10
                  UnitOfDimension: CM
                  Volume: 0.001
                  UnitOfVolume: M3
                  RefNumber: null
                  Description: null
                  HarmonisedCode: null
                  CommodityCode: null
                  ContainerNumber: CBHU2204309
                  LoadingMeters: 0
                  MarksAndNumbers: null
                  ProductCode: null
                  DangerousGoodsRef: null
                  NoOfPallets: 0
                  PackIdentifier: null
                  Sequence: 0
                  Stackable: false
                  PackageMarks: null
                  DangerousGoods:
                    Regulation: REG
                    HazardClass: null
                    AdditionalHazardClass: null
                    ClassificationCode: null
                    UNDGNumber: UNDG001
                    Variant: null
                    PSN: null
                    TechnicalName: null
                    Labels: null
                    PackingGroup: null
                    UpperPlate: null
                    LowerPlate: null
                    NumberOfPackages: null
                    PackageType: null
                    PackagingInstruction: null
                    TransportMeansCategory: null
                    GrossWeight: 0
                    NetWeight: 0
                    ExplosiveWeight: 0
                    UnitOfWeight: null
                    FlashPointTemperature: null
                    FlashPointTemperatureUnit: null
                    FlashPointDescription: null
                    TremCardNumber: null
                    EMSNumber: null
                    MFAGNumber: null
                    MarinePollutant: null
                    LimitedQuantity: false
                    TunnelCode: null
                    Remarks: null
                    ContactName: null
                    ContactEmail: null
                  InnerPackLines: []
                  CustomFields: []
                Parties:
                - Type: Consignor
                  Code: 5001ACME-IL
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  ClosestPort: null
                  Currency: null
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: Consignee
                  Code: ACME
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: DeliveryTo
                  Code: 5001ACME-IL
                  FullName: ACME PHARMACEUTICAL INDUST (PHARMA)
                  PhoneNumber: null
                  Email: null
                  Address:
                    Name: ACME PHARMACEUTICAL INDUST (PHARMA)
                    Address1: 5 Squirrel Street
                    Address2: null
                    Address3: null
                    UNLOCO: ILPET
                    City: PETAH TIKVA
                    State: null
                    PostCode: '49131'
                    CountryCode: IL
                    Country: ISREAL
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                - Type: PickupFrom
                  Code: '6409938278'
                  FullName: DHL FREIGHT BELGIUM N V
                  PhoneNumber: '1454203949'
                  Email: null
                  Address:
                    Name: DHL FREIGHT BELGIUM N V
                    Address1: 2 Brandekensweg
                    Address2: add2
                    Address3: null
                    UNLOCO: null
                    City: Schelle
                    State: null
                    PostCode: '2630'
                    CountryCode: BE
                    Country: null
                    AddressCode: Default
                    Longitude: null
                    Latitude: null
                Notes:
                - Description: SpecialInstructions
                  NoteText: note content
                  IntendedParty: Customer, InternalDSV
                CustomFields:
                - Name: Documents_Ready_On_Collection
                  Type: String
                  Value: 'YES'
                - Name: Temperature_Range
                  Type: String
                  Value: General Cargo
                Orders:
                - OrderNumber: ORDEXT0001
                  SplitNumber: 0
                  OrderType: SO
                  ParentOrderNumber: null
                  OrderDate: '2022-09-20T06:51:50.0000000+00:00'
                  GoodsDescription: goods
                  TransportMode: SEA
                  ContainerMode: LCL
                  ServiceLevel: STD
                  RequiredExWorks: '2022-09-20T06:51:50.0000000+00:00'
                  RequiredInStore: '2022-09-20T06:51:50.0000000+00:00'
                  OriginCountry: GB
                  Incoterm: CIF
                  AdditionalTerms: COLLECT
                  AdditionalTermsUNLOCO: null
                  ActualVolume: 20
                  UnitOfVolume: CM3
                  ActualWeight: 30
                  UnitOfWeight: KG
                  TotalPacks: 5
                  TotalQuantity: 181765
                  FollowUpDate: '2022-11-01T12:00:00.0000000+00:00'
                  PortOfLoading: GBFXT
                  PortOfDischarge: USNYC
                  Currency: USD
                  TotalValue: 492895.94
                  OnHandDate: '2022-11-01T12:00:00.0000000+00:00'
                  PlannerCode: planner code
                  PlannerEmail: null
                  WarehouseReceiptNumber: WR001
                  VehicleRegistration: VR001
                  TrailerNumber: TR001
                  Seal: SL001
                  ManifestNumber: MF001
                  BookedInNumber: BI001
                  DispatchedDate: null
                  EstimatedReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                  BookedInDate: '2022-11-01T12:00:00.0000000+00:00'
                  CutOffDate: '2022-11-01T12:00:00.0000000+00:00'
                  InvoiceDate: '2022-11-01T12:00:00.0000000+00:00'
                  InvoiceNumber: IN001
                  ConfirmedDate: '2022-11-01T12:00:00.0000000+00:00'
                  ConfirmationNumber: CN001
                  ContractNumber: C001
                  GoodsReceiptNumber: GR001
                  GoodsReceiptDate: '2022-11-01T12:00:00.0000000+00:00'
                  AuthorisedBy: auth by
                  AuthorisedToShip: '2022-11-01T12:00:00.0000000+00:00'
                  RevisionNumber: 0
                  EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                  LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                  OrderLines:
                  - LineNo: 10
                    Partno: 000000000010015389
                    Description: FAMOTIDINE tab.USP 100*20mg
                    UnitOfQuantity: ST
                    Quantity: 87661
                    QtyInvoiced: 87661
                    QtyBooked: null
                    QtyReceived: null
                    QtyShipped: 87661
                    Volume: 0
                    UnitOfVolume: ''
                    Weight: 0
                    UnitOfWeight: ''
                    ItemPrice: 1.22
                    LinePrice: 106946.42
                    Length: 0
                    Width: 0
                    Height: 0
                    DimUnit: ''
                    DangerousGoodsRef: null
                    ContainerNumber: null
                    HarmonisedCode: null
                    PackLineId: null
                    InvoiceNumber: null
                    ConfirmationNumber: null
                    SpecialInstructions: null
                    AdditionalInformation: null
                    LineWeight: 0
                    LineVolume: 0
                    ContractNumber: null
                    OriginCountry: null
                    DecimalPlaces: 0
                    QuantityPerUnit: 0
                    NetWeight: 0
                    TransportMode: ''
                    EarliestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    LatestShipDate: '2022-11-01T12:00:00.0000000+00:00'
                    FreightClass: FC
                    ServiceLevel: STD
                    Inners:
                      Value: 10.5
                      Unit: PC
                    Outers:
                      Value: 20.5
                      Unit: PC
                    Parties: []
                    EstimatedExWorksDate: null
                    RequiredExWorks: null
                    RequiredInStore: null
                    CustomFields: []
                  PackLines: []
                  CustomFields:
                  - Name: invoice_number
                    Type: STR
                    Value: 0090863377
                  Notes:
                  - Description: UserNote
                    NoteText: note content
                    IntendedParty: Customer, InternalDSV
                  Parties:
                  - Type: Buyer
                    Code: '0000402271'
                    FullName: ACTAVIS INTERNATIONAL LTD
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    EDICode: DP-ICC4400
                    ExternalCode: IL201001
                    Address:
                      Name: ACME Pharmaceuticals USA, Inc.
                      Address1: 400 Interpace Parkway
                      Address2: null
                      Address3: null
                      UNLOCO: null
                      City: Parsippany, NJ
                      State: null
                      PostCode: '07054'
                      CountryCode: US
                      Country: null
                      AddressCode: 400 Interpace Parkway
                      Longitude: null
                      Latitude: null
                  - Type: Supplier
                    Code: SM23ACME-HR
                    FullName: SM23ACME-HR
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    Address: null
                  - Type: PickupFrom
                    Code: SM239902
                    FullName: SM239902
                    ClosestPort: null
                    Currency: null
                    PhoneNumber: null
                    Email: null
                    VATNumber: null
                    RegisteredNumber: null
                    Address: null
                Documents:
                - IntendedParties: Customer,InternalDSV
                  FileName: packages
                  Extension: json
                  DocType: POD
                  IsPublished: true
                  UniqueFileName: true
                  Description: UserNote
                  Data: ewogICJuYW1lIjogImVkYyIsCiAgImRlc2NyaXB0aW9uIjogImVEQyBTeXN0ZW0iLAogICJyZXBvc2l0b3J5IjogewogICAgInR5cGUiOiAidGZzIgogIH0sCiAgInNjcmlwdHMiOiB7CiAgICAid2F0Y2gtY29udHJvbHMiOiAid2VicGFjayAtLWNvbmZpZyB3ZWJwYWNrLmNvbnRyb2xzLmNvbmZpZy5qcyAtLXdhdGNoIiwKICAgICJ0ZXN0IjogImphc21pbmUtbm9kZSBzcGVjIiwKICAgICJtYWludGVuYW5jZS1wYWdlIjogImd1bHAgYnVpbGQ6bWFpbnRlbmFuY2UtcGFnZSIsCiAgICAiYm9va2luZy10ZW1wbGF0ZXMiOiAiZ3VscCBidWlsZDpib29raW5nLXRlbXBsYXRlcyIKICB9LAogICJyZWFkbWUiOiAiTm8gcmVhZG1lIiwKICAibGljZW5zZSI6ICJOTFBMIiwKICAiZGV2RGVwZW5kZW5jaWVzIjogewogICAgImJhYmVsLWxvYWRlciI6ICJeNy4xLjQiLAogICAgImd1bHAiOiAiXjMuOS4xIiwKICAgICJndWxwLWlubGluZS1jc3MiOiAiXjMuMC4wIiwKICAgICJndWxwLXByZXByb2Nlc3MiOiAiXjEuMi4wIiwKICAgICJndWxwLXJlbmFtZSI6ICJeMS4yLjIiLAogICAgImh0bWwtbG9hZGVyIjogIl4wLjUuNSIsCiAgICAiaW5saW5lciI6ICJeMS4xMC4xIiwKICAgICJqYXNtaW5lLW5vZGUiOiAiXjEuMTUuMCIsCiAgICAid2VicGFjayI6ICJeNC40LjEiLAogICAgIndlYnBhY2stY2xpIjogIl4yLjAuMTMiLAogICAgIndlYnBhY2stbm90aWZpZXIiOiAiXjEuNi4wIgogIH0sCiAgImRlcGVuZGVuY2llcyI6IHsKICAgICJub2RlIjogIl4xMS4xNS4wIiwKICAgICJudm0iOiAiMC4wLjQiCiAgfQp9Cg==
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /Bookings/ReduceState:
    post:
      tags:
      - Bookings
      summary: '6. Reduce state by booking number '
      description: 1. Reduce state by booking number
      operationId: POSTapi-public-v2-Bookings-ReduceState
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Controllers.ReduceStateRequest'
            example:
              bookingNumber: string
              state: Provisional
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.dsv.com/om/bookings/v2
  /EDocs:
    post:
      tags:
      - Bookings
      summary: 3. Insert eDOC
      description: Insert eDOC
      operationId: POSTapi-public-v2-EDocs
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.StorageDoc'
            example:
              ParentNumber: '220413011006549'
              ParentTableCode: BOK
              IntendedParties: Customer,DSVUser,Supplier
              IsPublished: true
              Description: My Commercial Invoice
              DocType: CIV
              FileName: Invocie
              Extension: PDF
              UniqueFileName: false
              Data: 'JVBERi0xLjYKJeDh6OkKJUZsZXhDZWwgZ2VuZXJhdGVkIGZpbGUuCjQgMCBvYmoKPDwvTGVuZ3RoIDUgMCBSCi9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJytWut247YR/u+nwK9m01owAAIk4ZOTc2iJttXVbSXZ2U23P2gJlpmlSC1JedcP0IftW3TAi0RKkNIm3ZzIIgV+GMzlmxmAXy86BDsMlZ9C2tihwkYut7DFpItShX5B8cXV5Kefrobdfg+Rn3++uOl1Lz5cfK0e5RQ7jmUjIQS2qCWRSwh2LZvWDxOk/0tXFzfzi6tbhhw0f76wCLYZhZmYjZkrOZovL97NXsLNRqXox/lvF/78wh92GzPTauYKhRINAzJixy1wLMwpkQVOdzz5ZMRgTQyCbA3BqcBCUFaIwuGjgLi5GqBRgo0oVhOFIrdYD8eCS1g8LUDK9fSmaOr3ep9+mKGBdzOeevPxtO/DRX/Yn/s9DU5Qx8U2EaJ4wELXk0+9/s297w+9R2/qDdFjfzDw7vzL48FTb+TN5vfewEOzaf+99/5hAON7/dn8eOz9p54/9W68HvImSFiME3k8qB8vw+D49t1sfo0sx/O8bs+RUn6gv/79Ek280TXa3zt+bPKSxOoa/U1SSTnhkhAG/xsVyg0K3ZulqdGb8dAltrSlGUi07eu2XYRwLAktgbpJnCURmqpns41tk41t8DFJRInEnHKd3f6IWhYjUhqBnHMiOZJjwmxW2lM9q1TFC3XS8dxzQhVYgpVYs99RlGwHk4NFGZQEM2E7yHEZJo5VYo3Go87IvxvP+97NwDfHJmniWQjM1lqmLbDrCFYF5/CmP/J7aA4OPJuMp3N0Az6OxrcQJL3+6M48A23r0WlPICD8ZGWQmyBTS5TEADvsjlExX3c80pOYoVmD0yyKuQOs5nCJXdehiAmJbfBf0JG0QbtnSY1hKvXDAtQngAFrTwtXMYiUJyhJl8BvybNZEOvPkistKa0mIwdoXDpuyWj9Ue9hNp/2vRn68AAE1IUvt94ANIN6Phr6H0FJaObBRfeximYIPMGrVXjTKUa3vqaRAeo++NMREFTXg6/ew3zgHT/xfogRyIG6fRh3/PNwPPUH45nhhyRVUZId/2Az4biG8ep7uEiq+5RBiLusRUCCUQeUyKTFT/AP5Qfh0DSm7YLG3Yo2RkkePr+hTZDmb1fBcpmqLDND1lREMIVsigi24B/8EVI70ar2Y9nyYxviDjivCpQgTUOVXldLAzesHLw3e0TjhQpiNE+DONskaY68q9nRuPvkVS1XwVLFyLbIMcz7DgPPRvdqqV62mYrV8RAVr4P0S61cia2K8x6nV4/eHIjqGgIEHBdZHHzUrImaSg9dtZU3bYcC4/ASfhasFQoyVIeOMgM7JqvVeARWQaRTekKqOgutzWCl0NObGc01oFHbAamEewAXBUDSyTNkj4UKN7kZTxrIeocnpATit0q8x/7Me3/vTbz5yBteIgjUvmcuX8iZFQtXgN146aelezyCd6rIDEXPLbeFNdH+BauNkmAZxiszHDtTEwlHQLiyyrYPo9En1PPuB30PmSs9Ziqw9rI10f571ZlqjF3ctTDHabgK4yBCN2GkK4Sv2zAF9g5y1FNZDr/kYRKbJxHn7GMzzEGpLZ0uw2zxEqQrs4cz+6yRWoC1T/ZUFL6q1OzkzBQyey00AW9TFa5ecjQJ3oKnCMLR7ObMFDacuRg490DE0Xb9VCQ/yIINDWf6zuCMa5kCaadUyLSMVxXnPitdVvnMXL6Ts+71RxDpWef6I4imeNqrtYlooc/v5vdT3//8oxnKOueU8MWVVds0BKrPUBAvUWkqc2azTMkSKmCo1iFrtAAri2vELyF8gKEnweILsPAJaFP8MChiBFSybWgIxUUK3AuhqGHvkmR5AtMUQ3tNNjHv0iTL0C+F35uxTOEjIDVwhx7qUgXZNlVrFZ+Achu1HpO6MYEVUgszwh1IqAJDpwJdroR6wDlRddaxULXSwF+YuFY5P1TgkPFySKBaPVmuVIRWKVBXvELHvZq2UBBt12EcbtdmeeWfr00PAq0lLvqIOLmbmNtDU8Du3aKJM5t3dfMxCaJI5Z/fZWVMtBebA4ub5zGFMQfPdglk6gP1wgUh6L25W+Gm8BWUYkYpbSPZJdDQMgMdBK9dN2qVyQkUwtauo82DMFapGYgbgSiBtgZq2ybQTAWROZa4MIO40D+6xGmhzN825qTGbSPI3p4NkLNswR2zbijBUjiyBTRMliekcc0g0PUJ3e41QR7vhmYMacTYk0wD4wy7CGKEEQDj2NaBKAlEq3lF4sCLW9ttXIKppLBqJ2YfP37s3ZqbesEMQLXDHAGZISwTRO0uLYyT0S+4AWPnLQdyoMlgbkYRJq0AvQKDuW2U7qerrnn7UNgmEEeHtXWsknMEIRwDErckdpn834BcA5CgHDMXtNFCOs80QprWVpUJDNoVVzKn2kjojuf+dHiNbsc35s0zcg4LzC+ZKJv32X1/MvF7aDxCN2Nv2jM3BHbLpXnlRjq7YAtRoCWBmcV4A3p98e6v9W7yAPqWogbpJtsT2dhmpsJDBw0BezDoDixOrYqS0jxcbKMghVLpCTpstFQLuIIO4ekNVXOaJ2kFAznQig2507GsVu2thS7bAzMD2rxVRLiY2BDjVHAMCdaCdoQDAUGQUGpjppnoxOaV3apXmbABiFebkn7X7z+ChfIXhVa6ykJhjILNBlYc58WdalOrEDaJl2FRk8HVpW7hn4NU/wmyhUqL9FSoqbGLU8ySQrWUxEWfsYbGtahZFi9qAVXjqoDJNmoRPoe6DSt0vo0j6G1RAlKl38JMQYUT5GqJG9tAZRYCqat9lMtC8MUCpA30Juu3MH8phM6TYnHqe65XBDPrq02avIZZqOunRZVYlxogfwmzsjE8XMOui7ksUAv4KIT6N3/TU2Tbp45GSoNFfgnyL7U+vqhM/wYe85yka/3cVZLqafQsybf4aJJY74zoJ9JkAeVl/WSxoEryRbJ+KqTNd5tDxSpftKeWvWE9tLDn5dEkYbyItnolUBNGKFPpa7gAQVMVaR3rJ1OVJ5foOU3WpbKK5rOYJVyXggTadG2nOZym9Oxa/ccYtbSlPsFyapNrKWBNcRY+hVEImoXVg2oXL43VHs6jny6G1Cs58pJxvNPeqdYUrbdZjp7A0bYpeD5YDzSx3EZvCC6SNCu9Q32HRcWwKC3WoRx7ZcCPe1Po4DmSqD9Cv/TnI382Q9+0us80zaVXKhSXzdZhpLwE8PGk1LH+y13pS5SUq//2EoKOnlRhdwiT9SYKs5fS3mWgFfW0theo4TUJlydOTsT/qVPYUaOgwEd2tS0x9ft393PUHQ8Gftdw0nViT8m2z5Ev8KPgZXa7bRnnubLYJgKGUpr3Ih3N1+Y5DpJ6XUvWsxAgaKgWdnu4Xn+K/oJmvodm2MN6F76LH3GnL3ebtTaWkpYe4b1iNAMaSwMQD/0aroNNEOuTIq63pTaQwo6f6SYRRo/gLsCgsCY0S6LjQR8e/Kk/96Zjw09blf47D9Lk+CfHJtw+vr3fjD/WjvH0qtINFfqQz7UONu45Z4xZNnPNZ2v22T3WFuZt8H2P6DKLnzitI2fchOrjFArIjbPqH7J9/n+FFroIpX9hc2g4Zw+xWvCTHR0ugXQ1aJhlW3PF75i6zT2sxaA6qvbghg/DG6+PPr/zP0LBBd8/ndg1ckx7sAI82BUub2MSu+Nt0g4ztwAOP7tm6mJRne3OylMyCEAz0EHzWfkPMKYrHEQJxRzavv0BSdf3Ro0zRu9qhrwZ0udYfX9qnuGAI8qzNBtDCS5AUoI5qQo0SOa/qUVeZOLgbV3VDSXhQh0BMXpmV9dxTFWb62LpQIUNC3JsTsEbMLdPVGy1X1oWNISWgyTFlNNy7VBdtf+ZZXD/LEnXG4mVepoijJJcmRnSOXHuXFsRUBivzokLhgxTzZAqQJPXHKNBvsSog/oOo+bzcWP0VhK6DIph29mVhUOV6mSdQwQHuS79dNkKZddC7x3tqsLnQJv5Jcir0rGoahLUjYJtBjURJfoKOq2KCmFBbF91lKMQ+HdRXdSVY6NS1FNEYVAVM1UNUhWsIExRs66TXEsF010eTxOF6zAviw9dGWmnLI5qsrLKCNbBvsQqU1nBKVDKvZ14x8DEUZbk2IWeALIMtmV1DOYB1gr0VpSwi1JmM6TptZvaLEB6RL9yVJgFjGvBFfDTdrnCoFdM2AmCck3dlLC0K1uAKrBr0zLVbnCOWy9U7H3+d157KgaC29io/NSndtBO64HQUBF5EJ7Tu4sC75ve0KXFKyfAk65+K2kNtwQEtpD7e5CP9b6MI4o3BjQPtsbVt5rDbAgQAimsOW53Tw80njaDXEw6uoW1mwi7QG8j1EsBcgEp4Vcqj+es7xXCVQNBM8AXTmvg7l5roANeZJH2wPqeHriTtjFyJ21r5A6SS8yZRVsD63vNgcyBL+AizYG7e62BjBdBVsooudjfag7TzTbRr1g08Hb3yrUILFx4mjIHS/jWGlnf0yP/AaT/T9D9EviQQsUBfFgnBf0IUKStX4eqbhVPVMMrWeApIiy7KXJ9q5ak0LVeryUKHezu8WL7oRx4dRuuoLncRVqdwb9eSIYtAnJrFwEfhxJAoIZr6f1OyAGL9cVVf70iqJdACJURV+zWIFqMti3HhTxHQEQu9WjwbgJ1cfWn077Uz8GYGqCzQ+i0IOrkdHU3I2iV1RlGFG8iUVrwFsxqQZYjbrU5kEJbrwn9Cs1VVjaOHcq5ft0MdcBG5TAosmPUTdZrSBgh9F8PQOlJHNUnrP8BDpL4YwplbmRzdHJlYW0KZW5kb2JqCjUgMCBvYmoKMzU0NAplbmRvYmoKMTQ3IDAgb2JqCjw8L1R5cGUvT2JqU3RtL0xlbmd0aCA5NjAvTiA4Ni9GaXJzdCA3MTIvRmlsdGVyL0ZsYXRlRGVjb2RlPj4Kc3RyZWFtCniclZjLilxHDIb38xR6g25d6gbGq8SbbIztXcgqDCaQQDD2Im9vlSQCpY1qoAdVafg/1OerPn1mOsMTuoAs6A3WhN4BZUAfgKtDn0DSoC+gJTCewMIwEHgRDAIRhMEafsIQaKKlQds7je6dgvZu6q+1LH09YepLdxNh7h3B2juGtXcC+NzbpnXvdRrcex0H934C0t4vrbrXF7LuF2rde9Lp95617r3y9lhLeXsufUu4B1vK25PpG8Y92lLeng2f+rOnw6cSp3UUuayjzGUdAXpap+nCOh0IrTN0YR29cGQdvXR7UsQn0B4VEXVhHdKLax3WhXWU3Kyj5GYdJXfrKLlbR8nDOkq2mUnJNjMp2WYm2r72Qsk2MwmwzUxNF9bpwDYzDV1YZwLbzLR0YZdWhdvMrMptZiY9AtZhXfjlB7aZWck2MyvZZmYl28ysZJuZlWwz64ZtZj1BbDOLkm1mPWFsM4seS5tZT6DYzNJBbGaZurDOAiFNvHv3+PLfv6+Pz9+//fjz+69/v/7z+KgXXw/3p8dneHz55fEbPB8fv8I+75/ev3+5CeBbA1QH8AjwWwNSB/gItLcGeh2QIzDeGph1oB2BVQf6Ke5C9TgTF67XmahlUzpOtW06XWCtOydq33TawFo4nTqwNp4TtXJKBmvndBqk2nlO1M71lngkLpynxIXzlLhwfp5EunCeEhfOU+LCeUrUzjndPWvnKcG185yonedE7ZzTTb12nhO185yonedE7Twnauf6OHAkLpynxIXzMyEXzlPiwnlKXDg/77ty4TwlLpynxIXzlLhwnhIXzlPiwnlKXDhPDzEXzs9vtXbhPCUunKfEhfOUuHCeEhfOU+LCeUpcOE+J2rmc95JWO5fzM9hr5zlRO5f0rFs7l/NJptfOc6J2LuezT6+dy/kk02vncj5l9Nq5nN/n/cJ5StTO23lKRu08J2rn7Twlo3aeE7Xzdp6rUTvPidp5S3921c7b6XzUzttpcNTOc6J23s/nq1k776fzWTvvp8FZO8+J2vn/H8EPf3398e11hw7tv3dbvXTx0rx0L8PL9GIX8WU8vaAX8uKU4ZThlOGU4ZThlOGU6ZTplOmU6ZTplOmU6ZTplOmU6ZTllOWU5ZTllOWU5ZTllOWU5ZTllP3/NK8YlaJyVInaovaoI+qMGjwMHgYPg4fBw+Bh8DB4GDwMHgaPgkfBo+BR8Ch4FDwKHgWPgkfB4+Bx8Dh4HDwOHgePg8fB4+Bx8CR4EjwJngRPgifBk+D57f7lj5efMUBVDQplbmRzdHJlYW0KZW5kb2JqCjE1MCAwIG9iago8PC9UeXBlL09ialN0bS9MZW5ndGggNzMzL04gNTcvRmlyc3QgNDI2L0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nN1Wu25UMRDt/RXzB+uxZ2yPFKWjokFJJIoVBUErISUoKISCv+d4Z0K52FJEQZO53njOOfO81ygTZ6pKzGRCXIilEVfiwXikUvGoVAZuNKrFiDvVPv9Pgkc2Ei1UMok1KkwqmUoh7XCq1ABehFrDFaWecaVR10Gl08j4cdBQsBgZOGsm60YVzFkUbFAFgimBDbRTn9lZrWSmCqGCPxUypOM8IBUUFSJVmKCEtTfohHbEJ8BrijPwOoQJ8LoqAoA1nIE38KMAbwwEBjwDqQBv6lLEkiFGGbYNmnHzjLXCgmcGUhADIEtB/KAqFTzaYUEyw64DZ0NOkI42cwPcBjydWZpJaka41pA7BJwhHfFwznR1dbj79f10uH15/vnl5d3j6dvhA25mujnc0uHu5vo6/e3K4f2x1XlMTdzoNJ8WXZv79FWfRdjhsLYhpeezD0q+7EO9zOPi3bpxVxbvLsLpBnV7O+rFxHdP/NhJvC1HdBxe2LFT2LFe2OPw9h+y0WxD3cfbfyy3/3T13h7nDCTz4GwjuKMV93Hd5mNrO2Nrrtu8cuaKzBXNvbKOxJnDq4StYSXsji7OLbx62BE2tHEOG6wcrFx3WDi0sYYNVg5WDlYO1hKsZblK/98VDNV8rS1PFZdohLIxV6BYXXWrKqK0ZWNEoWKsL1x8fWxcrnkjhTW6vJa3fb1yjdrUnZ3HNcalti2vGKq6837guprUfzoAslM9ierJcvXOFBufGSyr3xlnPVE+uVy+/sfr8/3jab4sYgXHTox5iqIGpJsgiJGLuscudZTYpL5Ik++TFJvCF0XyDZBicH1ukw9k8lFLPkQpxsOnI0VPe0un6FVv1RQ96C2YvLeSFzNFmbxKydOfPLEpUuYZS+Io4ijiKOoo6ijqKOoo6ijqKOoo6ijqKOoozVGao7TLHdNeK/Tx6fnhx9fT6WV+VkQlLk8Zu85X5/unp4f5NRZd9BuwNWukCmVuZHN0cmVhbQplbmRvYmoKMSAwIG9iago8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvU3RydWN0VHJlZVJvb3QgMTUxIDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4KL01ldGFkYXRhIDE1MiAwIFI+PgplbmRvYmoKMTUyIDAgb2JqCjw8L0xlbmd0aCAxNTMgMCBSCi9UeXBlIC9NZXRhZGF0YS9TdWJ0eXBlIC9YTUw+PgpzdHJlYW0KPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz48eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIj48cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPjxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyI+PHBkZjpQcm9kdWNlcj5GbGV4Q2VsIFN0dWRpbyBmb3IgdGhlIC5ORVQgRnJhbWV3b3JrIHYuNy4xNC4wLjA8L3BkZjpQcm9kdWNlcj48L3JkZjpEZXNjcmlwdGlvbj48cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPjxkYzpmb3JtYXQ+YXBwbGljYXRpb24vcGRmPC9kYzpmb3JtYXQ+PC9yZGY6RGVzY3JpcHRpb24+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj48eG1wOk1vZGlmeURhdGU+MjAyMi0wNC0wOFQxMTozODowNiswMjowMDwveG1wOk1vZGlmeURhdGU+PHhtcDpDcmVhdGVEYXRlPjIwMjItMDQtMDhUMTE6Mzg6MDYrMDI6MDA8L3htcDpDcmVhdGVEYXRlPjx4bXA6TWV0YWRhdGFEYXRlPjIwMjItMDQtMDhUMTE6Mzg6MDYrMDI6MDA8L3htcDpNZXRhZGF0YURhdGU+PC9yZGY6RGVzY3JpcHRpb24+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iPjx4bXBNTTpEb2N1bWVudElEPnV1aWQ6N2Y4OWIzNTctOTAwNi00MTZkLTgxZWUtYzNhYWIxNmYxYTU0PC94bXBNTTpEb2N1bWVudElEPjx4bXBNTTpJbnN0YW5jZUlEPnV1aWQ6N2Y4OWIzNTctOTAwNi00MTZkLTgxZWUtYzNhYWIxNmYxYTU0PC94bXBNTTpJbnN0YW5jZUlEPjx4bXBNTTpIaXN0b3J5PjxyZGY6U2VxPjxyZGY6bGkgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgcmRmOnBhcnNlVHlwZT0iUmVzb3VyY2UiPjxzdEV2dDphY3Rpb24+Y3JlYXRlZDwvc3RFdnQ6YWN0aW9uPjxzdEV2dDppbnN0YW5jZUlEPnV1aWQ6OWU2ZTJlYjYtYWYzZi00NzQxLTgxMjktODA0ODgzMmNmNDAyPC9zdEV2dDppbnN0YW5jZUlEPjxzdEV2dDp3aGVuPjIwMjItMDQtMDhUMTE6Mzg6MDYrMDI6MDA8L3N0RXZ0OndoZW4+PHN0RXZ0OnBhcmFtZXRlcnM+b3JpZ2luYWwgUERGIGZpbGU8L3N0RXZ0OnBhcmFtZXRlcnM+PHN0RXZ0OnNvZnR3YXJlQWdlbnQ+RmxleENlbCBTdHVkaW8gZm9yIHRoZSAuTkVUIEZyYW1ld29yayB2LjcuMTQuMC4wPC9zdEV2dDpzb2Z0d2FyZUFnZW50PjwvcmRmOmxpPjwvcmRmOlNlcT48L3htcE1NOkhpc3Rvcnk+PC9yZGY6RGVzY3JpcHRpb24+PC9yZGY6UkRGPjwveDp4bXBtZXRhPiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8P3hwYWNrZXQgZW5kPSJ3Ij8+CmVuZHN0cmVhbQplbmRvYmoKMTUzIDAgb2JqCjM0OTIKZW5kb2JqCjIgMCBvYmoKPDwvVHlwZS9QYWdlcy9LaWRzIFsKMyAwIFIKXQovQ291bnQgMS9SZXNvdXJjZXMKPDwvRm9udAo8PC9GMCAxNTQgMCBSCi9GMSAxNTUgMCBSCi9GMiAxNTkgMCBSCi9GMyAxNjAgMCBSCi9GNCAxNjEgMCBSCj4+Ci9YT2JqZWN0Cjw8L0ltZzAgMTY1IDAgUgo+PgovRXh0R1N0YXRlCjw8L0dTMCAxNjcgMCBSCj4+Cj4+Cj4+CmVuZG9iagozIDAgb2JqCjw8L1R5cGUvUGFnZS9QYXJlbnQgMiAwIFIvQ29udGVudHMgNCAwIFIvTWVkaWFCb3ggWzAgMCA1OTUuMjc1NiA4NDEuODg5OF0vUmVzb3VyY2VzCjw8L0ZvbnQKPDwvRjAgMTU0IDAgUgovRjEgMTU1IDAgUgovRjIgMTU5IDAgUgovRjMgMTYwIDAgUgovRjQgMTYxIDAgUgo+PgovWE9iamVjdAo8PC9JbWcwIDE2NSAwIFIKPj4KL0V4dEdTdGF0ZQo8PC9HUzAgMTY3IDAgUgo+Pgo+PgovU3RydWN0UGFyZW50cyAwPj4KZW5kb2JqCjE2OCAwIG9iago8PC9UeXBlL09ialN0bS9MZW5ndGggMTc5L04gMi9GaXJzdCAxMy9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJztk7EOgjAQhnee4naHA2pxISQFRQcmJToYhwqNNCEtaYuJby8QjYvGF2D4k7tv+C7/cAFdgg8BpbCiEMdYPjqBuVYOD/3VjctIAky5FSMG3In2LpysOG5UpWupboAnqZiy8g2SxPumAixNLyb80bF0e2RsUfSVrHmmldWt+G3GXBrrsoYbICEW/DWHhEyX1sJWRnZOm6FSNBTbD4LaNRbOXuSTOXPm/MnFG973CdsCz7gKZW5kc3RyZWFtCmVuZG9iagoxNTYgMCBvYmoKPDwvVHlwZS9Gb250RGVzY3JpcHRvci9Gb250TmFtZSAvQUJHVkFBK0x1Y2lkYUNvbnNvbGUvRm9udEJCb3ggWzAgLTIxMCA2MzAgNzg5XS9Bc2NlbnQgNzgzL0Rlc2NlbnQgLTIxMS9DYXBIZWlnaHQgMC9JdGFsaWNBbmdsZSAwL1N0ZW1WIDgwL0ZsYWdzIDMzL0ZvbnRGaWxlMiAxNjkgMCBSL0NJRFNldCAxNTcgMCBSPj4KZW5kb2JqCjE2OSAwIG9iago8PC9MZW5ndGggMTcwIDAgUgovTGVuZ3RoMSAxMTU0OC9NZXRhZGF0YSAxNzEgMCBSL0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nN16eXwU1bbuHmro6uqhqjrdnc5AdxIakIAJGQiBkBSSgIYpIqAB2wmDBESCkEiCDwIIB4IyaIPDOSqK4sCkoMjgVYQEFXFC4HEPEUFQzkE5iOcoCqnirl2dCd+5v/d+78/b6d1VXV1Ve++1v/Wtb60KwgghO6pHFIUmTru7ivtdVBDCe1ibWDMrNPjwiAaEuJfgrH9Nqrpv2vU3H6AI0Ufge/J999dO+rq69neEhHcR6nb75Iq77/1s/oYr8NtGaH0nwwH5DvIj7J+B1nXytFmzA7/EZ8G9M+H78vunT7wb8UVwf/4vcCxp2t2zq/D3+BLsO+D3UNWDFVW+I6X3QX+sfxOxsfII/W/3BMed7oJfkGxD7PWaWpfMth/c8LcCOK2Ml4Uy+OqA87F1AnwKZSYc475C6OqHvNx6vOPVfh4agmajLqgE+iFIQT60Bo59hVPAPtY53CHYLEA7YPcYCuEj6CV0AnraiQpRAG1Cd6BzcOwMiiIXGgF7UfQ6ehq70KtoOvytRtvRPDhrCfoYTYIrdqKJqAmOVaLH0Di0Fr2ILiEZH8E5cM5uFEHroM2B695AC3A53CuKhkF/21A8OgRXP4bnto46NjYH4vBbbIjwx77//epVZkXrE8MxMGOnGQ9CAhqAClARSkdedAPKhDsmoTBKQG6UCHPpjVJRL5QMNuj8kgAradbdrkdxSENO1B35kQ1m60MyUlFXsJoII4lHHjg7A6zY7ZrrU6DloiDqiQaiPNQDhayjWagv2Pw6pKN+qA/KRv1RPhoMx3PQ//RXMft4M+julRZqaCgpuy0lJbGkuLx3r2GjbyspTkxJKe8Nv+tDEuz3BscPTwsW2dKCblda0OlIC8r2jKBdcAZ5LhykJCMo2QqCGGUERSEjOPGe8e7IhJPuO2afdM+eMMY9QlvrHqjtwCF9gLtA+8k9oP9J9y2aJ3izEggWK2vdD3oPue9R7nLfqZx03wbbcbAdA60QWn/lLXcebLOy2fVud7aywO2F7x5oqrID63qiW1OecyuaFnQnVSVVJdcnc0FhuvC8QLPwTnwV2Ybdctsb+A28vHzRY2y3Prl85kyc/n++0L85ls4sdPUUtLPQjvOUT+UKuXH8R/x5IV0oNqvN28GHDoFv7ASv33K19cV/hE4IxfiGq/+PL7QUvdC6dwBd4pkHbgQffBXt4sIogNeBl2ehSySI1uAq8MmJZD05Yx5DS3APPAiOvgyYXY82kUr0FvjTJnS7uRM9jIaD784FL/8TMMIGNI88IxSjS7gHt5bMR6Xkr5TCnQfhHuD1S9CrRDDLYAafAhusBg7qePWEtgtceGOskXhoa6H9FRz6C3B3FzTgXx7YQOgCDRhLhEtE4EzbZGh7wW1vhAbX2nVo/0BIBg6W3wPKgN8dxxBy3oWQKwTtdYTc/aD9CyFlFkIqEKw6HiENvFh7HCFPArRvEYqD+8TtQch7PbStCPlKocE1/nEIxS9GKADfA9B/AvB6wlGEEkdDW45Q0u0QNu6FBvGgC/QVvB9aC5BUPVCDHVoNtHMIpcJcUrcjlAaxoSv0HQY/CVdBjBGgJbFYY1mGMJqjh3jGbDDlFDVFDcMHRuSQ8QAZbWzm0RWkc3BzApyNuEU8BQbT0DC992MKFghSNSLYNRgrl+C6jrvOVemqdQmcilzYZVcygBPL4M4+j8JQO6Sm/Gh85HxzxIigIqPIULX8Ppk4kq2mhFRFdOG07tmhvqrSLR0vwAtJ/bJbrx5eOhEnXDjW8hRPjafM029MvzN6Etuw4ywbD0QQbhuMxwX8+YI+rcGLFUmxK7LiCEkhe0gOOTKlTHumnOnQJd2uy7pD4STe7hfiJK89RxqmTlBrpFn2xdIj9gOSU4IrZYcgObFbcziHOjHyaViQYXVlidpd9oCgZniwB7ldENPirfkUs/kYjQpMSDmqav58VNRozaomI76AbfNFXjEKcGRGn0w2yyy/zxsniDgNpwVwdlbf3ByY6g5838lbdy1+Fu+/YE7dOvn5XY++W8vT8Ih9i7eNMHYQn3GObHj0oemjWQQCnHGVMGMZDdSTeM02xIYwB6OUYAEEKiNeUp6H0+IdHcOLGAVKc2Nzm71hZEafTBiLN6W1HaMTjXtIP+MjcpCnUXNO1CyMsr4Ay9wn0JcN3aYX3MM9yC3gKOZEShBPAENdaQ4tpqPpBP4eOpWvonP5erqclzkb4qlAFEEXABc2BRFJOdoM5okwc0CDlS8qYLaK9MlMUXG2hLOxSkQzcBpX46d2m5g4ya/GG6TMsBv/hHHgI3QvMYR0QFGS7kIl2EEHEzQYk2LMKSfOK6eUUzA3gBFNoSRYinuUwvmVxpMwg5eunuIifCpE4Qb91iz5BvkeXwPH8cHutvyEYu2mhHH20dokPCVhamJtwpzExfalCQ2Jbrtkc/AJif4uXXi/g3OnUC1FjNPcuP04KnYUKn7s5wu7qP60DlwfZriuaYxvnWd+fqvJ/fntR2DKEeztlhbyxvmChPPGcWmp4VwuhoQMfD3OzembnUV//s/XzF/u/dPc2dhvnr6w3vwdC5se33zfC480Pf3DkU3cdxvGvHVTeUav6+45t/XI0H01M+8uHTcg86Zn6je9x9btBKzbOFg3HoV0BxYoQIOjCooXOjBx3oIDgwEDwokmAl50ZVWU+RSoRq6JZ1xgRw/pQyT+OmkwGWqfgMeRClJNFhFJ4jk7ZxNE0c4plFBL60o2jRfsgGyCBQ4uJbCDCSdyFFEHkpWjMfcYmNHMzIOKChgE8vMzCowC5iEiex9uZA2DjbIBEmmwnJ4U6sCXm/DlL2uN7XO248M/8PSygQeZ7+MjpIIx1k4Y7W0WA/hAEUX0/AFiUfIwcVTyWGGMrUKYZLOJbm1lcG2QBIPY5QVPiddcqDZxqbY0kXKqJqmJyO0Hfw5d68/nD3cwVEbE6GAp8F5OjWNURbNDlvuqbX68Ez+H9/55Ga6oLN78wXslePkzX9++dd8TFz+/kafm0QdfTrvJ/PWpcflhcuzEtOEt4bKpDz8O9i4EjEYBozJwWLGe7nUneMPunt4K9xRvtbvOa/NqFKYgYUFFGtYc6jy0An0BM4+PMdDQGKMejpy3hgvG8ygoOwupCkpLRZ44LTtLy80haamkEPc2TWhfmab51aFt69e/9db69dvIArD1NPMJ81PzoPkEnoZzWswLWG25glXzAkNTACy808LDLXqRQDQKro94hQ/xZXw9v5Jfy7/Bf8Gf5O0Kr8OhqtaDe+CgxEuiEoL4DaEW4gmxAQyaIzMM5XBkBpCA0cgIICWXsRAEbg+3Ftr0aPTKKtbvJug3bDFdgR60cQAvCQOSRVmSFAJCXAFFvwcswbeRXcwSjc3xBtAdGKPR6iA7t62LFO8mXG6+Qmebr+DyKD0ejbaELZ67A3qaCT250SR90FhaTYmT2qmMZUhxeCxA+OaJnfpIgIblXHk2fdRhczpkO6G8aHOL2TZ31krIO96AsXDIp1wT5yzvj7Cg0MiA1Mp64HVg9Gw1TU1jkUC94zxOINh76QVifrPePEl42nKO+i4b3IiWvbT7lQMwxnNXj3OJ/D8gNxiv53eR7bJmtwfSqJbGx2kBeUiXcV0+7vL3LlwXwW63C2hIaLxQrk4R5gh1aoMqhlQhSVV9KKycaLSQHRtLfgfCY4E4L9fXhuVc2Mlju2mpYi5QEoQtHnAPdHXu4/sXv7TvrbvyF9ZmjZp7/5Ovrntl/zfmL7if+cMPj4ubh7y8eM2Ly1P6jJxz30M3b8rf9vxvD081v/70Z9AZR4BeDK7Q0hm9dZA/I7GNH8kBg4yEFcCcz1af0Ml6QA3W+BLA90CUWO0I7mEewz2oj21bzrFPxllnWnWJDBnTDXqY5/q6SlzlSqVSqyxTRAfYCiMNfB9ipOqGcA7+Hmf1NLjN3w2GR8sSnQI1l8KidEhlBjmDX/jmzr3mh+b5lXPwyiffaORpjzE/HfjeDJA5OL5mEqwRgIkrtEaRq/up1WkMPqICQZGyXh0d82NRucBoY8IMo5WMVQaLFDXaRIL79xunQPV8TvpcNkihsZdhlenUfdCHgKbqJfUUh2kVracQb32kG+lLxqNxwkRSh6rpTKEB/Yk6OIXnIRhDEm/ltxyEAwEuBgcSOB7zNiy2UXN8GzU3FsGmlZRxBEVYmI5FaYJM1xf4GbzuVZMCRjnactmAu44ABqsEBgug0XruAhEnegJ+MkQaJxGX5nTGa1SLFyUwPy+MFYisgK5SsCKoZd67vPXetV7OmwDiAGJn48FOnMuYjPXOomUq8sYBp+WpaeDMQlqIkVtKFle+f+OH5lWceip71EW8/eO3zKPmMjwL93qd+9vbE8zmb0+bXzvwLVFjo44fhBQjA8+21IT5PjEgX5BQvG7nAHo8RuJIHmWcP/EpzthjfAr95vbNy4NV8Cr4yCSVmwMwe3+ia11v3GObOR61r7QIK3273qeYjqH30ll0mcRTj80mSR5CKJVsBFQSLD5sZSGbZoK1kSRnI39nDDDl2GjpxPaQKHKW5VEbTzBAAEdEd5ER5IXtxhZgnZYJ9IXLBt3YMgbGAhkAtxUQwaL1TbW2pTaSzvXnhnETQLvx1vLbFFEQqSBRzsYDAEQYFBE0ISxkC7cIE4UqoV6wcYKNinZedIDSBZzK1hhLYmNsVI42tvLY4UZ4s/12fFjukm3JuDSsvt5EAh8al0nlj8ZrAN1lpNpYZ4wny40HYaRPA07yYaQaytD9Q/hxPJGQwIOykhUbURSIbn/IEgyGhkYW0rLVOIuaoKc4UUhJJerTTfNXPrV4Y36tee7iWQDjLwffeedLKhj+i5XfQH6gwUq7gDMFyGF9qL+eZNPcQ51U8/JOr8NeKowXiFNTBbeG7D5/x2QbodNGmGdLkaHUNDOhHI5xopKSKlpyOcSwmJaKXa9NqnvWHBnOJtuNn7CAM80fv6i2vXbDfzyBh3Fk70az3vzt9AHzXzDvV0GoXOLPg39U6cU1tIZbTBdzoP1UP0cFnOMv9o/x3+uf5X/EL7QdVAVIn/wa4iTNJfsDODBFqBMaBKqqgowTGI0bkUbLW8FdLNjgNo0ZQe17LPr1LcLX0rjgBgikeF+t+7l8x2M1K/bveOOTSw8uGfO3DBLZ9ONP5e/semjF5M0jv367+rN5o441bQJ2nW7pyY8AYU5Upvca75zqnONc5uScnOAAYcIKWRxnl+UKeaa8QOZkahPsHs4BSZ+rw7KfFexpKWhW9jD1z/wb2B2+xAQAA7k3TcUgA44ZT5LKnU1NxiN4H162nj7ZcmvUrCZBK1lH02FFJ4IlGc8P0HvmCsUC4R12xetIUMKOnspix1LF5tBAnmiCLKkuTVVoJkjUOItgjDaFxFICtU0ldYfMk2WfpPKseR57zp7FHvP8WRZZzGNhvB7fiyfil80J5rPmX8zxUVJDZhmPGg1sNKthNGNhNF6UgkbpGQLFQpJms8W5qBbH+2DhVE+Kp3/wBveQwGj3uEBdsCEoqWpQQAFF9qV2IP18Y/OezszHzGKFYgAo6LbcHMR2gfJSPamAkNYY/f2ue3YeXPjF5otY+OSiaTaZV6o3P/Domtrax591v3YTHoS7voedH5zG3cz5ZtRcZd7Iz931xIv7N6/a8AlgcjusaSo3DlTUUD08iz5CiVund/HY5izgJQmBVJNKEVUUBX0eU5tqx1JGgLaYc1i5bpGScCzhoxhZeftmhwLAVRbc1O1NS87h3KZRkeiLXOHBM+YqI0DenDf1iNEfbDfv6lkuF3I6F4pHg/TrAjgpvlim8Rg5HCDKYQC+gZS6FCzHl8SNjSNxKhIUyCcDbCEjzQUF1lqy3r+wQJRrGUoBsesHiqDQv+BVIGLQqpWHdxxpObilrqmp4ZEFK7575YmD3+Euv2IXHhEllb8foddHz3xuzv+CrScoTuqDMQFPo266V+wn5IPctQFZ9pN4hTDitysnIgeNw5ZaYDmnpS1VmpvtJf0ApmUnLtHXo1f28jmXLrE7Lrl6nnsOrBxEPdA4PQ9wGNfDHYrr586M0+Pq3A3up912W2lqKtGcmiYFtC7dNUIr+VqeJPkUCYW6qm5+6HVKjUVMexqNZkDJ+cMtMZzUfB0PUw/DzLvl5nQdgDt7uUWXeX74japWsglJ5eBtW1d/gHv9WjepZsM7h3Z8vqFnf0+6NjH78dEDzKmTx81fuOb1Ba99Fpl5z12vDXvpYzP/nqH2mhD2Ye34qLtg6h8DYkqABWTUV09AEEo8gv02bgpXx0FKzdlsvFyM+FaBY8HkMGBEiXl8yx7INVMKsQczKS4iigPalD041yiiD2eaaTlrW/AtJLRzfVlLszka+poEkWIhOKkX9dO7JNKACGRtEz0agYy/RBmrUJkthqLyPl9Hf0xBxLyIKYdwu07wd1IQ3ML9W8zPzAZLJuxt1Q9nGnb3GIqn43QmEfpb0uGMeeJGlpuZ73OHYBwa6oJu0/t5fQlJYV/PpDw0kVT4piTNItW+uiQZiT4qJmlO0adB/htSVASE7VHn2VfYv7BTe3ywc6LGKkWHrVEqzUyCwwr6/GLX7rBUbZwUR3CntI3e+upXk82rjVmJP5lHYyncOiPYlr5pNX02VuyhbD44x8rjDp4AgRPqnMRhK0uOAlNJKEf3j+UxR3lI1SG8AEuKLJsiPnuHIZsLFKOZIRwY2nIvlkPxuWGIfzvxMgZzvCzKzSuv23n5lSjcfSLcfbpVFRyjJ2pYZKUoonGCT5QwEZjwqMcYt/bAGC8S39jMohe84dDbooaJJigGiJ5ysEwBvOHwToSvtvQrZ71bqMEp3ok0bDjoVy3NtFfn/K3p6im6rlVXJFjeg7BqlzS7wGkqBtGlKDZs84DUOm8lhpb7WBl9Xq4/JiuYF0NmD4vQdMPSssdmmMVk/vWDHjw8U33F1/vxnWRL1Oi2770b57UxJ7CEyphzJreQI4rO3SVgh6tAkOys2mUvRZzawZxaZ+Ys+PfMqf631Cmkm55ryRNwWQnsWQm8wmoGut57tDhaJrmO/lqJo1SLkNGcoGmCBHGQSipyY7fXCoNldC3laHxMa7fHQnxtMMyKiQUWZkjlBQCR9o8LDEQXlq9duxxaAHxEAn2VYX5p/mZeMr+MntjfdOJE0/4TbFyPwbhKYVwqsPpIPX2NijXNOdRJbD7NJrmB28LOvs4S51hnXVy9JGgeJ3KoHqfKxwc6RUNQYJ1z01i9stWfY6HQm6KlZOUBKhQYKVf66Qbzb+ZXOOWbU0eMJB+e/fx7RiJx/FLzRHoxDmGHgYeYP5uni8wVw/HOJNztdYaZcbCKc7gwWDALmB6SNUJ4xBchTpRkjSOoM5EdLDAOFnTIljbWj5VQSRezH/5oNf6ofbPa7McqU2tBHYwEn4uzntRt0Wu7iewhI2SjcjBO9PYM2cI9JwTvs98XquhZk1AXXpzQEFZ6huzU2QN5gzSZDPGXhsb5y5NH96zwVybfH6p21vgXORf7HZ1PIj2SnSDyEzSFD2u8nOqxjXb28JDRHqeS7FcUD/b40q/V1Mov7N1emsSx+qTf0o2te6xI2c2qRLK0vwu2ypTdcpVwu/rIwO048eO3D5z9YPvHprHtUfOnQ59exXPffXbejKe/Jx/Mqaio/ZB2i+557cArT3377P27F+y6eHo7tt/2zOb655dUrFt6ru7F26dPKX90NmDnRUvb/cNSU2P1HHu7mgIlxYOikhM8PT19g8PdpYHb3eMDNcHFQQkyh+mBeQESCAqq2iqpYknLHoB44x80lZVKEhWmpVkanljhgXaCPKe9Wbn74MLPN/9sXv7k4lVcgMW6tx9Ytrq2btVf+O2vjTD3mMffM/+597T5V1yP74eYsePy/F3RFz7cvGojU1UQ9LklFhP20b08jB60cazsQFhlHrVyYHvVoblT1aGjIn+JrjJyyETjWVaNHxI1voE7y615v4x26UuqOcxTSQpgL02QwrQn31MKy/k4l/bn+0u5cgkdxpdKJfJYOp4fL42Vp+AKOo2vEKdIFXI1ncvXSQ/KDXgRXc43SAvkMLbLdolIIsfBEG3URhVCJMyJdnADmwQdCzwlAoZcmZNkyssSZ0OCzUmQA/LC1tSw9dFHYyNrHfnheVtBgajAB8vkYYoSjr3TYOXwJTPn73gCnr7HvB7/eM5cZE4jj5EaM4yPG+uNW4nd+JVl66xmBNk6RUFd1vFI8KyRyMe1FopihkRWjSiltT4UqwlhnMOyFkvhDtZTH6SLWhWu5BjIA4EBT2dAUEDUzarXbfJ2cPvzkghbmqLzzW0cnWKpW1CXabkMK6KKc5rWGOUzor26ztgQYfo2YB580l451xgYq122KslkXQEN6UDEEpAK4FyAmx+0BGQbkZAyM0Iq+Sejvx+Ba3cDhwZh3CE0XR9EHM5kzZGcXCqNlyoC1YEGaVHAHohP8tkkQZZ9QhIXdHk0l0S1IF0i4LZf1KRCAfkK5fiUTiX/xhixtiaJf3w0Eeko/2W0Or8lnMAtgphRAMTG3d+9MvvZ3V9d+ubg0wf2vXD//Cd+X/KQeXR3r60T7y69s6Ck7ED0xYy1A0becHP2rZmLpjzzDswmAquwgCsE3B7Q13i5BDthyPXSRD4geeUwTeevk3LpAD5fYqi9SRpLJ/DlEkPsVEBsJSC2DlfT/8VXi22ofYxfJDLcfif+X5FLGHJtf0CuYgvZMuFkJwmhTGShONLI2v8fjiM4aj5wCdSXZ5+5Av/5V/Nj83MSJgFzOl5l/M34K37evBvssA5WdRSsqhdl64kgZiUQs9SndFNylEcUTs6Mydn4/0bO/kHMxmg4jxu1ZbN5xvwUQrJr45YPlmz95D/fX7EtrQB8ABIn3Cvn5ZKT+5q+GYxa16HGykQq9ZuqHNgzwG5PHMA8we1HxNXf7cYZ7iL3PPcKN+dGNl9/tx9n+Of5iR/RIGgOzIylozJUhepRrNwN+QmYbYblLW2fzHbgNiAg2zPCLH92LCVpEzexLbhQZNO8mU/0FCc/Oun2TQld75i2KaF7z5npzJfOnFm9vuU76inXLxiDyYWqYUsnGSWwVnPM27m+3K0ogLqCvshdg3FASEooUWgy+IBqSxtoI1SLdw/nSkK3cWNDFb6ZPsGj8IKSEFIRkhWZyGEY80HQgY1tKXdRrCTgyfNlh9S8jjwyN9tShCmpWG03+WHvm0/hAunhH3YdNz95/pmd/UbMMS8/g48vWj5/5dwZW8zV64fh3o2ncOJPmMdDVz/c8uevjoxeSMN4w5qTBzZ8wCoYZjUXhnVwwxzy9a6JgWLnaCfVNFly2/wDeQqJqUKdgRLvWC8B2QYUldAp5W0bLQYjdow0O68j4eXCTW0ZrxAMt6a8XOHlPHJre977sPlTa9KL0RuAyyTwTwXdqHd/lOJYFYA4C3iqQPhSKAAj6B7l3uKmbrvyuYjFayoBANIZsSJ2h5yFwUE6Dmo2VrTLU7mkpiU/mAebRt7BKgFX9kIGXkXOGqPqpx4l+2EMC2AMI3k3aNlCPeQG8svgijjOLWoOW5Fd8IKjuBDvUBRJ5FsferXJsoLYk56iIthtz4UZp0JCziJpnM9vOcrIaMPFzeZF7N6PT5lBf7fiBXNqccKmi8QRPXcuahyODEnonQQxo9w8xg0E3nai7np8ohjnTBe7OjnnCDRcHCE4nOIwu0JdyonzrU8m2GS7Mr8Mezm24bmB5m7zbvw8LjGvmN/jBMybx7oSJ67Fs4mz65Jc825zG/zdlctqyOYxOtvqK0PvkodwnJjo7CqmW905oLvhPSju3GOkvXrliXWWG+s6iofg5+DGuwFyCeZZ87KQ3tX4p/knc4nxT+gSBjMSD8drc9vq1m8KxcBCI/XrWUUlZFV/+TiiqbQIaMmJiKx4yjxzxQaR8yDVC8lhBouPvk7/T1Bw0PL2RguPMctbgaxT0EjGzPz4Xfaw5vDPa1c8vvzJWiIav9NV0ZlnPkr/S/bMlUuiLdPZmIaBzZdYT/cDugMNJw56M+LxzYRTjhrwhk76ZLLaMrekZfLL9Ckh/bdN4i0QWV8iU7nr+Y9gzw7e5EVJaKLeV3YpHl8iooJsJ6rfYXP47UGC2VHroGRzBMGl4DhRA754f7ziJ6ovuROmmn9sC4iBjIxIfGvZO8MqsfpZzhj287k5ol+kfUXaPc/XPZzHC948ms1ckLyPswaaO+zfrl1fdMfLa78NZ5g7BuI+3YrC+8NpiYlc5bJ3i125d/02C6dpmvn1rN/yxhS/uyyrbx0eYW4D06NtwA4sr2NVsVI93UOHOYnP0iuqJlPkuslWGlduGx/H2dTpcTgOOUG+KGx5AtfkmGx1GLu10YUnRsQarGZaavcAjlW0gYu3Na04vNMii6WLLKYwq/mPIds8/StkTFujxmXyTPS7z3C9lceCPj8E+Uwy6gahYLF+4yzvAu/i7lTu7vEmcskZUqgL5tAfvmXI1BUfT13JiAtrlO+luWSUnBWvBLLUwusyFDlVFfooR883s7yELfexGCUXtD6g7MhO2pMTmOdWxSErBQXlDHdW3QSAl9eRr/g8fXO7ZxPR5w8TGuNt2i7x6d7Sdce/NC+8tLv87VUNm80PZx6PkP3eN++YbI76ceGn2xfMnfne0H55I8vnYunAc1+V7Xto5VvPz/tm60nz12V/H24ub6x64BMcxPaKHWsO0dHj1w8eO2FQBFbgEAlyiGwDO2nvYA2VUR5x7Mma9Z8pntwU7yF6PQlGrXpFIavGAOcKaJp+Y+zpEXuIxw/ghpAJXC2q5ZahRcJqYrv24R3hsI09vKuy9q3nd+yRexVP2x7jRZiBMiLN//YxXueneIUHcCWetcXM4gpbnqGTruy9ejWWuwM3pFr/KyegkoeZip7LU3oLHKUoRVd0lEySYCyEsDEwEX7Y6iw/psCxJxsuuHjGfB/i2CDzfevfy/4LZoVjqAplbmRzdHJlYW0KZW5kb2JqCjE3MCAwIG9iago4MjA0CmVuZG9iagoxNzEgMCBvYmoKPDwvTGVuZ3RoIDE3MiAwIFIKL1R5cGUgL01ldGFkYXRhL1N1YnR5cGUgL1hNTD4+CnN0cmVhbQo8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/Pjx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iPjxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+PHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIj48ZGM6dGl0bGU+PHJkZjpBbHQ+PHJkZjpsaSB4bWw6bGFuZz0ieC1kZWZhdWx0Ij4vQUJHVkFBK0x1Y2lkYUNvbnNvbGU8L3JkZjpsaT48L3JkZjpBbHQ+PC9kYzp0aXRsZT48ZGM6cmlnaHRzPjxyZGY6QWx0PjxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+Q29weXJpZ2h0IMKpIDE5OTMgQmlnZWxvdyAmYW1wOyBIb2xtZXMgSW5jLiBBbGwgcmlnaHRzIHJlc2VydmVkLjwvcmRmOmxpPjwvcmRmOkFsdD48L2RjOnJpZ2h0cz48L3JkZjpEZXNjcmlwdGlvbj48cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBSaWdodHM9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9yaWdodHMvIj48eG1wUmlnaHRzOk1hcmtlZD5UcnVlPC94bXBSaWdodHM6TWFya2VkPjwvcmRmOkRlc2NyaXB0aW9uPjwvcmRmOlJERj48L3g6eG1wbWV0YT48P3hwYWNrZXQgZW5kPSJ3Ij8+CmVuZHN0cmVhbQplbmRvYmoKMTcyIDAgb2JqCjY3MwplbmRvYmoKMTU3IDAgb2JqCjw8L0xlbmd0aCAxNTggMCBSCi9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJybUP3/D////3e4f/6/wMDQwEA5AAC98wlDCmVuZHN0cmVhbQplbmRvYmoKMTU4IDAgb2JqCjI3CmVuZG9iagoxNTkgMCBvYmoKPDwvVHlwZS9Gb250L1N1YnR5cGUvVHlwZTEvQmFzZUZvbnQgL0hlbHZldGljYS1Cb2xkL0VuY29kaW5nIC9XaW5BbnNpRW5jb2Rpbmc+PgplbmRvYmoKMTYwIDAgb2JqCjw8L1R5cGUvRm9udC9TdWJ0eXBlL1R5cGUxL0Jhc2VGb250IC9IZWx2ZXRpY2EtQm9sZC9FbmNvZGluZyAvV2luQW5zaUVuY29kaW5nPj4KZW5kb2JqCjE2MSAwIG9iago8PC9UeXBlL0ZvbnQvU3VidHlwZSAvVHJ1ZVR5cGUvQmFzZUZvbnQgL0FCR1ZBSStMdWNpZGFDb25zb2xlL0VuY29kaW5nIC9XaW5BbnNpRW5jb2RpbmcvRmlyc3RDaGFyIDMyL0xhc3RDaGFyIDExNy9Gb250RGVzY3JpcHRvciAxNjIgMCBSL1dpZHRocyBbCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKNjAzCjYwMwo2MDMKXQo+PgplbmRvYmoKMTYyIDAgb2JqCjw8L1R5cGUvRm9udERlc2NyaXB0b3IvRm9udE5hbWUgL0FCR1ZBSStMdWNpZGFDb25zb2xlL0ZvbnRCQm94IFswIC0yMTAgNjMwIDc4OV0vQXNjZW50IDc4My9EZXNjZW50IC0yMTEvQ2FwSGVpZ2h0IDAvSXRhbGljQW5nbGUgMC9TdGVtViA4MC9GbGFncyAzMy9Gb250RmlsZTIgMTY5IDAgUi9DSURTZXQgMTYzIDAgUj4+CmVuZG9iagoxNjMgMCBvYmoKPDwvTGVuZ3RoIDE2NCAwIFIKL0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nJvAwsDAxMjEwDmjtIGBKgAAo5ECMAplbmRzdHJlYW0KZW5kb2JqCjE2NCAwIG9iagoyMwplbmRvYmoKMTY1IDAgb2JqCjw8L1R5cGUvWE9iamVjdC9TdWJ0eXBlL0ltYWdlL1dpZHRoIDM2OC9IZWlnaHQgMTI0L0JpdHNQZXJDb21wb25lbnQgOC9TTWFzayAxNjYgMCBSL0xlbmd0aCAzMjc5L0NvbG9yU3BhY2UgL0RldmljZVJHQi9EZWNvZGVQYXJtcyA8PC9QcmVkaWN0b3IgMTUgL0NvbG9ycyAzIC9CaXRzUGVyQ29tcG9uZW50IDggL0NvbHVtbnMgMzY4ID4+L0ZpbHRlciAvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJztnU1oVdcWx3fisHWm2FvoQxFDHDS0g+KgNTRJ321Hio+CkBJn1uKlQ4kDXyS2gxaHckNfMmsxIBQfOrLxI+LHQDpQ4sCQEBQLxqAz7VDtIodebu/NPfecffZae+19/r+RTZN79t17n//676+1e968eWMAAMAFvb4LAACIBwgKAMAZEBQAgDMgKAAAZ0BQAADOgKAAAJwBQQEAOAOCAgBwBgQFAOCMHrudsn88/7P+29Lpiw9ery46L5Mveiv9g/1b6B97+rZWByq7Kpvf2/KW70L9g2v3n66svVhZe3ln6dmNxecxVb5zPh36xPzdlMPvv+O7OH6g9/TQmdscXYWqd3TvjsOf7Wr5uY2gULceqU05Kph2qOL8dkrqE5fuPZm9+fD6/C0vBYiDpB1rn/dpCxKsHD97lzXqX60fbXkvcgvKzJXlr0/94rRUwZCo8hcfvCvTKUm4v/t1ATrilk6hNT4oFP3rPz+yPmL8yIEfvvqw+Sf5BEWgiEHA3SkhJdzQ8Panwx/FLStkT3783/9ZHzE9MdZSh/kEZejkHHp5M6TQbl10MuhFJctAsnL5xHCUMywysf/x+fGWzp9vlQcdvQWKANRspLPUfsU/jYaT9GmoZDFery6O1KYokvsuiHsu3XvC/QiKpu2hNJ9D6RmccFqkqKBx0M/ffmztVgQMKugEWZVH9f0xzdduOjjLvQjYbk8M9qE4hJwF+QuLcEfuhjwO1MQj9O5R2127/9R3QdxAVpdbTSh8bqi/cCjuyTUyJzXZXruAHSVKaF8HDRFf9sTAoXCQa2R+6MxtqIkeqOFC9yke7YmBoPBBQ5iuk7UkOpiC1ca/v7/mZIrdF9/M/M79iJ+//bjT/4KgMEJiQcOZTr2TIgnmTRRC4Z1so+9SWEL2yqM9MRAUbjrN9pHKlHbDsX4oEgS6lvzdrwvcj0ixJwaCIkP7yDzcGFgSyDwGN/ChPsY9gk63JwaCIkazpgg0PChOcKIvYE/+++VA+i9AUOQgTUmCnkDDg+KQ6AdkUqioAvak65o6BEWU7bULM1eWYU9CISCTIlDUrvbEQFCEeb26iLnYgAjFpCixJwaCAkA6QZgUJfbEQFAASEe/SdFjTwwEBYCu1H9b8l2ENASKl9GemLyCMn7kQP7CABA2mvekUMG491v3VvqzH5jMJyjVgUqSTByAUqHWpAgU7KfDH2X/ZctrNMIi2VE2t7B6Z+lZOZdsKcgc27c79JzvFI2XV1/4asdOB/Y9IpDnkXrOq3Oj2X+/FILSAukLdcrILhVKoT01eQTI3wylsBq9pKFOp4yC0mDmynL0993k7RBhkciKzKHtvLFaAO6EZxZfudSrPPSmzU9Wr9aPxjoxRN8rYjUhaAxCroFakLo+97PIClEE4n5KdgQKk2v2JKHUDqWZKC8wUzjsZ0Imk6Yqk8Kd59Huy5baoTRDkZxeP4FAJwZ9l5KoiVm3Ko/q+7mfosekCOR5tLAnBoLSDHVKkuRohj/H9u32XQRRqPlo7MP9FIEEi1kQKIbdYBmC0sr8ZDUaTSkbw++/w912GkyKgD2x3sIKQdkAaEq4pCcodMLszYfcj/BegNrnfXZ/CEHZGGhKoNDAh7vhrs/f8njVhkC6vw3vGM0IBKUjFOuCnqO9s/TMdxH8IGBSPObcE3i0tT0xEJQUSKQvnxj2XQp7biw+910EP0RsUpTbEwNBSUdgko8PDdOHvojVpCi3JwaC0hWBrsnHNzO/qz13z4qMSRGuW4FESgXtiYGgdEWga/JBJiXl6sK4EYgEwtkhBR5X0J4YCEoWgjYpiaaEfgG4BZGZFJk8j8W3VkNQuhO0STHrmjJSmxo6OTdzZZn6ZXkMS0wmReBBTqor3+FApiNY9LrSl9F88CTKo4Ma6K30D/Zv2dO3tTpQyZ5nMDsko9yBXeAEpkAiJXoH5yerxT8nn6CwNo/CBDYNBFoUmPVuPbp3h8OUCwG9iikIJFJyJYv5hjysYk9VpvbKe6rroDe5hQJ1MHKCPYMT1BOcDM0imEkRSEPtZPYkQdccClWc2unDsh3e9Qv1BHIW5IiLv6sCMymsmaIF0lA7rCJdgmIUXyS+c9vbvotQOij4k6wU9K0CJoXvno2w7IlRKChqM7zu3LbZdxFKCr1Rmw7OFrGu2e+psobJR6i6xCsL6gRFLRxrECAjycq39UkCgSMUTCZFwJ647dgQFBAMX5/6xVpTQjQpAkexnFcLBCUHQW9viwPSFLspFQGTcvriA7cfyJ3n0bk9MRAUEBw0CrAL3dwmxe3xboE8jxwVAkEB4UE+xWKOVsCkOPQUIdoTA0EBgTJSm7KYBA3FpARqTwwEBYSLxXm5UEwKdxrq3ko/06olBAWEyvX5WxZ2QMCkFNztLZDn0e4SryxAUHJQ2iytarGwAwImpeBub+7N4mRP+G68hqDkgHtYC/JiN2fBbVKKpLAO2p4YCEp2ypOXKCwiMylB2xMDQcnO8uoL30UAGxCTSRHI88hqTwwEJTtzC6syD7paP4otubmwWBPRaVK48zxy2xMDQcmOzEV8yXaj+ckqZCU7dimOBExKrlJFYE8MBCU7wnkVEll5fH58/MgBJIvryqV7T/L+iYBJyeU4BNJQc9sTA0HJiFgeuT19W5v/870tb/3w1Yevzo2SYSFlgWfphN1OMD0mReYSL9bPT4CgZEJsAqUTFE5JWcizvLlxisRlemKM+gckpoHdFiE9JkUgkVLxS7yykC/rfc/gBF9RGtA7I/CUXMh8cbM+Ixt6JicKtvR6cGcGaseu2whckNI1obxAan6xKyXgULojeeV46Gpi/h6m0Vsk7J7shqWHP9vFPUXV1X1EY08MBCUL3AfJG8Q0+UqyQgM0SU1ZWbPcKMS99pGeHVIgDXXxK9CzA0HpgsBB8gbx3dQheS30ytpLuz/0a1JisicGgpIORQ/JG0jju6mDAqPM4kJBPJoU54kjW5C0JwaCko7YVdgJX3zwruTjZBALj0V2HvoyKQL+V9KeGAhKCtTYkpvZqENrvi7emlC+lIBJaf+hQJ5H4fqHoGzMtftPJQc7JsYJlAZBbJYRMCkty4UC9kRyDisBgrIBpCYjtSnhhwpbU9AOt0lp8SPx2RMDQWnHi5p4aXsxQsl0x21SmjMtRGlPDASlBWpmeTUhRvfukH+oDH88/zOgTHcCJoX6GAWtKO2JgaA0oH4/dHJOeN6kgcAxUF9YnAP2iIBJoT5GQStKe2IgKAkUNLbXLggnKGgQxE4Na7hvhGjQclDbGoGkIdx4HEFrFBTJszNkPhNj4tGWRzwde/zsXV8ybY3Acg83AjfDd0KjoFjvoc4ODXCor286OEvm02+PF97IKAkFBskzx9WBiquPCtqkMN0xmhGN6QsoPjyq7+d4zciPzC2snr74QM80Ydez7SFCen3ozG1hpXZbkxRs9HSSXPjNgKFRUMpDkSwVFP9nbz4MbkDBh9s0OgJ5UjggezI/WfVYAI1DnpJARqxgzhuoSQPnm3EDnUnxOHuSAEHxxuUTw0X+XCxLSxC4WuJpJrjDEH5nTxIgKH6gwU7Btg90hM8Ex0pZcKtv3u2JgaB4ofhgBzTDdFA7lGQuCRrsiYGgeOFRfb/vIkQF39gkIJOi5PQGBEWa6Ymx+NaJ/cL32odiUgTuGM0IBEUUUhMlDR8N3NvMgzApenbiQVDkoFgHNXEO9yk4/SZFjz0xEBQxKJBiItY5MgcXlJsUPfbEQFBkoH7vd/9ilFBklnnVNZsUVfbEQFAEmJ4Ygzfh4PKJYbHpbbUmRZU9MRAUbjALy0TxnYG50GlStNkTA0Hhgxr7av2otvaOAy8TUgpNisLDARAUFiiavTo3qmHnYnyQUnvJb6jQpCjUOAiKYxJjgkkTJvhy5WRB1QusMzUXBMUlMCas0EjHo5oYZSZFlbo1gKC4gfr64/PjMCZ8JEvv3mOyktdYpz0xEJTiUNOSlMj39RDT/9ihahSpwaSIbcCxAIJiCTXq9MRY4kq8xAptGxCYUDiKpBb3e1uz5AacvCCnbD5IR47t210dqGjo4kMn52LNApnUM8VhnW+OlyzcCX5zUHcFgpIJikh7+rYq0ZEGHrs1H1TVo3t3BLF/5/jZu5L3hJDIkjdR1QPbySco4d4tkJdEQcz6bS/Km1C4W3OQ1PbObW8HoSPNyGg6SQmNcIOonHyCEkHfbaZ5JExRcee2zfQP5fLRieTKIbWt0z7pkDg+E2yFN0Oycunek5W1l87rf/zIAf0hrZl8ggIAAClglQcA4AwICsgMvCzoBgQFZKbHdwGAeiAoAABnQFAASAUDvTwUEBRUNCgDGOjloYCgoKIBAP8EQx4AgDMgKAAAZ0BQAADO+Au3lo+RCmVuZHN0cmVhbQplbmRvYmoKMTY2IDAgb2JqCjw8L1R5cGUvWE9iamVjdC9TdWJ0eXBlL0ltYWdlL1dpZHRoIDM2OC9IZWlnaHQgMTI0L0JpdHNQZXJDb21wb25lbnQgOC9MZW5ndGggMzA3L0NvbG9yU3BhY2UvRGV2aWNlR3JheS9EZWNvZGVQYXJtcyA8PC9QcmVkaWN0b3IgMTUgL0NvbG9ycyAxIC9CaXRzUGVyQ29tcG9uZW50IDggL0NvbHVtbnMgMzY4ID4+L0ZpbHRlciAvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJzt2cENwCAMADHC/jvDFscDe4LqFCEa5ixK+/UH/EbwmOAxwWOCxwSPCR4TPCZ4bPxptgSPCR4TPCZ4zC0lZsJjJjxmwmMmPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8JjgMcFjgsesZ2OCxwSPOcNjJjxmwmOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHrO8igkec6TEBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmOAxwWOCxwSPCR4TPCZ4zKt9zITHBI8JHhM8JnhM8JjgMcFjgscEjwkeEzwmeEzwmPVsTPCYIyUmeEzwmOAxwWOCxwSPCR4TPCZ4TPCY4DHBY4LHBI8JHhM8JnhM8Jg3zZjgMcFjgscEj7mlxASPCR4TPCZ4TPCY4DHBY4LHBI9d7RwWzQplbmRzdHJlYW0KZW5kb2JqCjE2NyAwIG9iago8PC9UeXBlL0V4dEdTdGF0ZS9jYSAwLjIzNTM+PgplbmRvYmoKMTczIDAgb2JqCjw8L1Byb2R1Y2VyKEZsZXhDZWwgU3R1ZGlvIGZvciB0aGUgLk5FVCBGcmFtZXdvcmsgdi43LjE0LjAuMCkKL0NyZWF0aW9uRGF0ZSAoRDoyMDIyMDQwODExMzgwNiswMicwMCcpPj4KZW5kb2JqCjE3NCAwIG9iago8PC9UeXBlL09ialN0bS9MZW5ndGggMTc5L04gMy9GaXJzdCAyMS9GaWx0ZXIvRmxhdGVEZWNvZGU+PgpzdHJlYW0KeJxVjs0KglAQhfc+xX2D8UaWgQT90EaUUKFFtLjJoFI2Ml5B375RIWw1nI+PM0d7WrlKbz3l+3I2SmtXBQGEaiM8gath/NiMESfpH8XY2xAHtYKE3hiZZmoYnWxoEFLLXT6JCZHd7x3pjbu6vcvD9W70nMdMT6VhC5eq6BidObUlooUUc+vAuTIFm/onSH5TsTQikzMtQSbTjtTDgSXciF9PohecKe9qGT+jhS8zvrRxUzwKZW5kc3RyZWFtCmVuZG9iagoxNzcgMCBvYmoKPDwvVHlwZS9YUmVmL1NpemUgMTc4L1Jvb3QgMSAwIFIvSW5mbyAxNzMgMCBSL0lEIFs8NTdCMzg5N0YwNjkwNkQ0MTgxRUVDM0FBQjE2RjFBNTQ+IDw1N0IzODk3RjA2OTA2RDQxODFFRUMzQUFCMTZGMUE1ND5dL1cgWzEgMiAxXS9MZW5ndGggMzY4L0ZpbHRlci9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nBXSSWpUURTH4XPL3mip0cS+iSZWYt/Hvo0mMTFlE0ci0aEDwQU4cgt/cAeCIGQBrsCZA5fgIsSJ+NXgg/sOvAe/e15VVRv5Xm18mn/VarJad7Y69fkq01xh8NzosIa1rGM9G9jIJjYzxBa20mUb29nBMDvZxQij7GYPe9nHfg5wkEMc5ghjHOUY40xwnB6TTHGCk5ziNGc4yznOc4GLXOJyp6IruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIruqIrgy47i93FDnON69zgJre4zR3uco/7PGCGhzxiljnmecwCizxhiT5PecZzXrTuq8F9LvOyDX90Xq02OuW/GnP+OtBab6jawjt+8rva4gxfqi3Rf4953/z1t2orP6pN/K3W+1Vtbp4V7yyb/6n25sPg+3a32mlvP9V/rWaCCAplbmRzdHJlYW0KZW5kb2JqCnN0YXJ0eHJlZgoyNDk2MgolJUVPRgo=

                '
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                ID: string
                Data: null
                ParentTableCode: BOK
                ParentNumber: string
                SecondaryParentNumber: null
                Extension: PDF
                DocType: POD
                Description: string
                FileName: FileName
                IsPublished: true
                IntendedParties: Customer,InternalDSV,Supplier
                Size: 25550
                ActualUpload: null
                DateModified: '2024-02-14T01:18:12.0000000+00:00'
                UserModified: user@edc.com
                DateCreated: '2024-02-14T01:18:12.0000000+00:00'
                UserCreated: user@edc.com
                UniqueFileName: false
    servers:
    - url: https://api.dsv.com/om/neom/v2
  /event:
    post:
      tags:
      - Bookings
      summary: 2. Request Booking Cancellation
      description: Request Booking Cancellation
      operationId: POSTapi-public-v2-event
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.EventRequest'
            example:
              Module: Booking
              EntityNumber: '240130021019951'
              EventCode: BCR
              EventDate: '2024-01-20T06:51:50.0000000+00:00'
              Description: Booking Cancellation Request
              Note: We are not able to ship this as originally booked
              EventSource: API
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                EventCreated: true
                ID: 7c6c3c04-6106-4ec1-255f-08dc2c5c0d8f
    servers:
    - url: https://api.dsv.com/om/neom/v2
components:
  schemas:
    eDC.Web.Api.v2.Models.Entities.Booking:
      type: object
      properties:
        bookingNumber:
          type:
          - string
          - 'null'
          description: Booking Number
        externalBookingNumber:
          type:
          - string
          - 'null'
          description: External Booking Number
        externalBookingSender:
          type:
          - string
          - 'null'
          description: External Booking Sender
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.BookingState'
        origin:
          type:
          - string
          - 'null'
          description: Origin of the Booking
        destination:
          type:
          - string
          - 'null'
          description: Destination of the Booking
        incoterm:
          type:
          - string
          - 'null'
          description: Incoterm of the Booking
        additionalTerms:
          type:
          - string
          - 'null'
          description: Additional Terms of the Booking
        additionalTermsUNLOCO:
          type:
          - string
          - 'null'
          description: UN Location Code
        freightTerm:
          type:
          - string
          - 'null'
          description: Freight Terms
        orderNumbers:
          type:
          - string
          - 'null'
          description: Order Numbers
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Measure for Weight
        weight:
          type: number
          description: Weight
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Measure for Volume
        volume:
          type: number
          description: Volume
          format: double
        noOfPieces:
          type: integer
          description: Number of Pieces
          format: int32
        orderCurrency:
          type:
          - string
          - 'null'
          description: Currency for the Order
        totalValue:
          type: number
          description: Total Value of the Order
          format: double
        packingWeight:
          type: number
          description: Packing Weight
          format: double
        packingVolume:
          type: number
          description: Packing Volume
          format: double
        transitWarehouse:
          type:
          - string
          - 'null'
          description: Transit Warehouse
        onHandDate:
          type:
          - string
          - 'null'
          description: On Hand Date
          format: date-time
        preBooked:
          type:
          - string
          - 'null'
          format: date-time
        bookedDate:
          type:
          - string
          - 'null'
          description: Date of Booking
          format: date-time
        rejectedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Rejection
          format: date-time
        approvedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Approval
          format: date-time
        confirmedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Confirmation
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          description: Date of Booking Cancellation
          format: date-time
        countOfTEU:
          type: number
          description: TEU count
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Container
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Container
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Container
          format: int32
        source:
          type:
          - string
          - 'null'
          description: Source
        systemID:
          type:
          - string
          - 'null'
          description: System ID
          format: uuid
        isApprovalRequired:
          type: boolean
          description: Boolean if Approval is required
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: Transit Warehouse Description
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          description: Estimated Delivery Date
          format: date-time
        collectionRequiredDate:
          type:
          - string
          - 'null'
          description: Collection Required Date
          format: date-time
        collectionRequiredDateBy:
          type:
          - string
          - 'null'
          description: Collection Required Date By
          format: date-time
        deliveryRequiredDate:
          type:
          - string
          - 'null'
          description: Delivery Required Date
          format: date-time
        deliveryRequiredDateBy:
          type:
          - string
          - 'null'
          description: Delivery Required Date By
          format: date-time
        isCancelled:
          type: boolean
          description: Boolean if cancelled
        shipmentNumbers:
          type:
          - string
          - 'null'
          description: Shipment Number
        noOfContainers:
          type: integer
          description: Number of Containers
          format: int32
        ownership:
          type:
          - string
          - 'null'
          description: Ownership
        bookingDeliveryInstructions:
          type:
          - string
          - 'null'
          description: Booking Delivery Instruction
        requiredDepartureWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Departure Week Number
          format: int32
        requiredArrivalWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Arrival Week Number
          format: int32
        cargoReadyDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Cargo Ready Date Week Number
          format: int32
        deliveryDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Delivery Date Week Number
          format: int32
        estimatedDeliveryToOriginCFSWeekNumber:
          type:
          - integer
          - 'null'
          description: Estimated Delivery To Origin CFS Week Number
          format: int32
        supplierRef:
          type:
          - string
          - 'null'
          description: Supplier Reference
        requiredExFactory:
          type:
          - string
          - 'null'
          description: Required Ex Works Date
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: Required in Store Date
          format: date-time
        requestedDepartureDate:
          type:
          - string
          - 'null'
          description: Requested Departure Date
          format: date-time
        requestedArrivalDate:
          type:
          - string
          - 'null'
          description: Requested Arrival Date
          format: date-time
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport
        containerMode:
          type:
          - string
          - 'null'
          description: Container Mode
        goodsDescription:
          type:
          - string
          - 'null'
          description: Description of Goods
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        bookingInstructions:
          type:
          - string
          - 'null'
          description: Booking Instructions
        loadingMeters:
          type: number
          description: Loading Meters
          format: double
        commodityCode:
          type:
          - string
          - 'null'
          description: Commodity Code
        plannerCode:
          type:
          - string
          - 'null'
          description: Planner Code
        plannerEmail:
          type:
          - string
          - 'null'
          description: Planner Email
        loadPort:
          type:
          - string
          - 'null'
          description: Port  of loading
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of discharge
        sdocComplete:
          type:
          - string
          - 'null'
          format: date-time
        estimatedDeliveryToOriginCFS:
          type:
          - string
          - 'null'
          description: Estimated Delivery To Origin CFS Date
          format: date-time
        isPickupRequired:
          type: boolean
          description: Boolean for Pickup required
        shippingInstructions:
          type:
          - string
          - 'null'
          description: Shipment Instructions
        customerDivision:
[...]
