openapi: 3.2.0
info:
  title: Customs (DEMO) Declarations API
  description: Transmit cleared declarations, retrieve drafts, and submit updates via Customs API
  version: v2
servers:
- url: https://api.dsv.com/csai-demo/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Declarations
paths:
  /declarations:
    post:
      tags:
      - Declarations
      summary: Transmit cleared customs declaration data
      description: 'Enables customers to transmit cleared customs declaration data to the DSV Global Customs Reporting platform for reporting purposes.


        Use case:

        This API is designed for customers cooperating with DSV and supports the structured submission of customs declarations that have already been filed with local customs systems and officially cleared by the authorities.


        The transmitted data is integrated into DSV’s Global Customs Reporting platform, where it is used to support centralized reporting, compliance monitoring and data-driven insights.

        '
      operationId: 03-post-declarations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsDeclarationRequest'
            example:
              id: string
              declaration:
                header:
                  entryNumber: string
                  lrn: string
                  ucr: string
                  jobDate: string
                  jobTime: string
                  jobType: StandardImport
                  jobTypeDescription: string
                  shipmentType: string
                  declarationType: string
                  declarationCategory: string
                  declarationCountry: string
                  declarationDivision: Air
                  portOfEntry: string
                  cityOfEntry: string
                  countryOfImport: string
                  countryOfExport: string
                  portOfLoading: string
                  portOfDischarge: string
                  borderTransportId: string
                  inlandTransportId: string
                  borderModeOfTransport: string
                  inlandModeOfTransport: string
                  borderModeOfTransportDescription: string
                  inlandModeOfTransportDescription: string
                  borderTransportNationality: string
                  inlandTransportNationality: string
                  importDate: string
                  exportDate: string
                  houseBillOfLading: string
                  houseAirwayBill: string
                  masterBillOfLading: string
                  masterAirwayBill: string
                  shipmentId: string
                  parties:
                    broker:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    ior:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    eor:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    consignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    declarant:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    representative:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    buyer:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    seller:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    authorizedConsignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    forwarder:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    carrier:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    shipper:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    delivery:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    intermediateConsignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                  brokerReferenceNumber: string
                  brokerOfficeNumber: string
                  brokerLicense: string
                  customerId: string
                  incotermsCode: string
                  incotermsLocation: string
                  incotermsUnlocode: string
                  incotermsCountry: string
                  holderOfAuthorization:
                  - type: string
                    reference: string
                  fiscalReferenceId: string
                  fiscalReferenceRole: string
                  defermentAccountTaxes: string
                  defermentAccountDuties: string
                  warehouseId: string
                  totalGrossWeight: 0
                  totalGrossWeightUom: string
                  totalNetWeight: 0
                  totalNetWeightUom: string
                  totalNumberOfPackages: 0
                  containers:
                  - containerNumber: string
                    sealNumber: string
                  totalValueDeclared: 0
                  customsDeclarationCurrency: string
                  taxes:
                  - type: string
                    base: 0
                    rate: 0
                    payableAmount: 0
                    total: 0
                    paymentMethod: string
                  totalAdditionsAndDeductions:
                  - code: string
                    value: 0
                    currency: string
                    exchangeRate: 0
                    convertedValue: 0
                  totalValueFreightCharges: 0
                  totalFreightChargesCurrency: string
                  totalFreightExchangeRate: 0
                  totalConvertedValueFreightCharges: 0
                  totalValueInsuranceCharges: 0
                  totalInsuranceChargesCurrency: string
                  totalInsuranceExchangeRate: 0
                  totalConvertedValueInsuranceCharges: 0
                  transmittedDate: string
                  transmittedTime: string
                  acceptanceDate: string
                  acceptanceTime: string
                  customsReleaseDate: string
                  customsReleaseTime: string
                  taxesDutiesPaidDate: string
                  taxesDutiesPaidTime: string
                  relationshipStatus: true
                  buyerRestrictions: true
                  conditionsOnSaleOrPrice: true
                  proceedsOfSaleOrUse: true
                  transactionNature: string
                  previousDocuments:
                  - category: string
                    type: string
                    reference: string
                  additionalInformation:
                  - type: string
                    reference: string
                  additionalDocuments:
                  - type: string
                    reference: string
                    amount: 0
                    issueDate: string
                    validityDate: string
                  remarks: string
                  totalGuarantee:
                  - value: 0
                    currency: string
                    type: string
                    number: string
                  customsAuthorizationNumber: string
                  loadingLocation: string
                  expirationDate: string
                  dischargeDate: string
                  goodsLocation: string
                  exitCustomsOfficeCode: string
                  exitCustomsOfficeName: string
                  exportCustomsOfficeCode: string
                  exportCustomsOfficeName: string
                  importCustomsOfficeCode: string
                  importCustomsOfficeName: string
                  declarationStatus: DRAFT
                  stateOfData: RECEIVED
                  stateOfShipment: NOT_ARRIVED
                  supervisingOfficeCode: string
                  supervisingOfficeName: string
                  borderTransportIdType: string
                  inlandTransportIdType: string
                lines:
                - lineNumber: 0
                  commercialInvoiceNumber: string
                  htsCode: string
                  htsDescription: string
                  additionalCodes:
                  - code: string
                  htsQuantity: 0
                  countryOfOrigin: string
                  grossWeight: 0
                  grossWeightUom: string
                  netWeight: 0
                  netWeightUom: string
                  htsLineValue: 0
                  htsLineCurrency: string
                  packageType: string
                  numberOfPackages: 0
                  packageMarks: string
                  supplementaryUnits: 0
                  supplementaryUnitsOfMeasure: string
                  additionalDocuments:
                  - type: string
                    amount: 0
                    reference: string
                    issueDate: string
                    validityDate: string
                  additionalInformation:
                  - code: string
                    information: string
                  quota: string
                  taxes:
                  - type: string
                    base: 0
                    rate: 0
                    payableAmount: 0
                    paymentMethod: string
                  dutyLineBaseValue: 0
                  dutyLinePayableAmount: 0
                  dutyLineRate: 0
                  taxLineBaseValue: 0
                  taxLinePayableAmount: 0
                  taxLineRate: 0
                  postponedVatLineValue: 0
                  postponedVatLineCurrency: string
                  consumptionTaxLinePayableAmount: 0
                  consumptionTaxLineRate: 0
                  antidumpingLinePayableAmount: 0
                  antidumpingLineRate: 0
                  antidumpingLineCaseNumber: string
                  countervailingLinePayableAmount: 0
                  countervailingLineRate: 0
                  countervailingLineCaseNumber: string
                  exciseLinePayableAmount: 0
                  exciseLineRate: 0
                  exchangeRate: 0
                  exchangeRateFromCurrency: string
                  exchangeRateToCurrency: string
                  additionsAndDeductions:
                  - code: string
                    value: 0
                    currency: string
                    exchangeRate: 0
                    convertedValue: 0
                  internationalFreightChargesValue: 0
                  internationalFreightChargesCurrency: string
                  internationalFreightChargesConvertedValue: 0
                  internationalFreightChargesExchangeRate: 0
                  localFreightChargesValue: 0
                  localFreightChargesCurrency: string
                  localFreightChargesConvertedValue: 0
                  localFreightChargesExchangeRate: 0
                  insuranceChargesValue: 0
                  insuranceChargesCurrency: string
                  insuranceChargesConvertedValue: 0
                  insuranceChargesExchangeRate: 0
                  customsProcedureCode: string
                  additionalCustomsProcedureCode: string
                  preference: string
                  preferentialOriginCountry: string
                  statisticalValue: 0
                  guarantee:
                  - value: 0
                    currency: string
                    reference: string
                    type: string
                    exchangeRate: 0
                    convertedValue: 0
                    convertedValueCurrency: string
                  previousDocuments:
                  - reference: string
                    category: string
                    type: string
                  purchaseOrderNumber: string
                  inspectionFlag: string
                  inspectionType: string
                  transactionNature: string
                  valuationMethod: string
                  incotermsLineCode: string
                  incotermsLineLocation: string
                  incotermsLineUnlocode: string
                  incotermsLineCountry: string
                  lineRemarks: string
                  relationshipStatusLine: true
                  buyerRestrictionsLine: true
                  conditionsOnSaleOrPriceLine: true
                  proceedsOfSaleOrUseLine: true
                commercialInvoice:
                - invoiceNumber: string
                  invoiceDate: string
                  invoiceValue: 0
                  invoiceCurrency: string
                commercialInvoiceLine:
                - partNumber: string
                  partNumberDescription: string
                  commercialInvoiceNumber: string
                  commercialInvoiceLineNumber: 0
                  commercialInvoiceLineItemQuantity: 0
                  commercialInvoiceNumberOfPackages: 0
                  commercialInvoicePackageType: string
                  commercialInvoiceGrossWeight: 0
                  commercialInvoiceGrossWeightUom: string
                  commercialInvoiceNetWeight: 0
                  commercialInvoiceNetWeightUom: string
                  commercialInvoiceLinePrice: 0
                  unitPriceOfCommercialInvoiceLineItem: 0
                additionalNotes: string
      responses:
        '201':
          description: Declaration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsDeclarationEnvelope'
              example:
                id: string
                declaration:
                  header:
                    entryNumber: string
                    lrn: string
                    ucr: string
                    jobDate: string
                    jobTime: string
                    jobType: StandardImport
                    jobTypeDescription: string
                    shipmentType: string
                    declarationType: string
                    declarationCategory: string
                    declarationCountry: string
                    declarationDivision: Air
                    portOfEntry: string
                    cityOfEntry: string
                    countryOfImport: string
                    countryOfExport: string
                    portOfLoading: string
                    portOfDischarge: string
                    borderTransportId: string
                    inlandTransportId: string
                    borderModeOfTransport: string
                    inlandModeOfTransport: string
                    borderModeOfTransportDescription: string
                    inlandModeOfTransportDescription: string
                    borderTransportNationality: string
                    inlandTransportNationality: string
                    importDate: string
                    exportDate: string
                    houseBillOfLading: string
                    houseAirwayBill: string
                    masterBillOfLading: string
                    masterAirwayBill: string
                    shipmentId: string
                    parties:
                      broker:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      ior:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      eor:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      consignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      declarant:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      representative:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      buyer:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      seller:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      authorizedConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      forwarder:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      carrier:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      shipper:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      delivery:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      intermediateConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                    brokerReferenceNumber: string
                    brokerOfficeNumber: string
                    brokerLicense: string
                    customerId: string
                    incotermsCode: string
                    incotermsLocation: string
                    incotermsUnlocode: string
                    incotermsCountry: string
                    holderOfAuthorization:
                    - type: string
                      reference: string
                    fiscalReferenceId: string
                    fiscalReferenceRole: string
                    defermentAccountTaxes: string
                    defermentAccountDuties: string
                    warehouseId: string
                    totalGrossWeight: 0
                    totalGrossWeightUom: string
                    totalNetWeight: 0
                    totalNetWeightUom: string
                    totalNumberOfPackages: 0
                    containers:
                    - containerNumber: string
                      sealNumber: string
                    totalValueDeclared: 0
                    customsDeclarationCurrency: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      total: 0
                      paymentMethod: string
                    totalAdditionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    totalValueFreightCharges: 0
                    totalFreightChargesCurrency: string
                    totalFreightExchangeRate: 0
                    totalConvertedValueFreightCharges: 0
                    totalValueInsuranceCharges: 0
                    totalInsuranceChargesCurrency: string
                    totalInsuranceExchangeRate: 0
                    totalConvertedValueInsuranceCharges: 0
                    transmittedDate: string
                    transmittedTime: string
                    acceptanceDate: string
                    acceptanceTime: string
                    customsReleaseDate: string
                    customsReleaseTime: string
                    taxesDutiesPaidDate: string
                    taxesDutiesPaidTime: string
                    relationshipStatus: true
                    buyerRestrictions: true
                    conditionsOnSaleOrPrice: true
                    proceedsOfSaleOrUse: true
                    transactionNature: string
                    previousDocuments:
                    - category: string
                      type: string
                      reference: string
                    additionalInformation:
                    - type: string
                      reference: string
                    additionalDocuments:
                    - type: string
                      reference: string
                      amount: 0
                      issueDate: string
                      validityDate: string
                    remarks: string
                    totalGuarantee:
                    - value: 0
                      currency: string
                      type: string
                      number: string
                    customsAuthorizationNumber: string
                    loadingLocation: string
                    expirationDate: string
                    dischargeDate: string
                    goodsLocation: string
                    exitCustomsOfficeCode: string
                    exitCustomsOfficeName: string
                    exportCustomsOfficeCode: string
                    exportCustomsOfficeName: string
                    importCustomsOfficeCode: string
                    importCustomsOfficeName: string
                    declarationStatus: DRAFT
                    stateOfData: RECEIVED
                    stateOfShipment: NOT_ARRIVED
                    supervisingOfficeCode: string
                    supervisingOfficeName: string
                    borderTransportIdType: string
                    inlandTransportIdType: string
                  lines:
                  - lineNumber: 0
                    commercialInvoiceNumber: string
                    htsCode: string
                    htsDescription: string
                    additionalCodes:
                    - code: string
                    htsQuantity: 0
                    countryOfOrigin: string
                    grossWeight: 0
                    grossWeightUom: string
                    netWeight: 0
                    netWeightUom: string
                    htsLineValue: 0
                    htsLineCurrency: string
                    packageType: string
                    numberOfPackages: 0
                    packageMarks: string
                    supplementaryUnits: 0
                    supplementaryUnitsOfMeasure: string
                    additionalDocuments:
                    - type: string
                      amount: 0
                      reference: string
                      issueDate: string
                      validityDate: string
                    additionalInformation:
                    - code: string
                      information: string
                    quota: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      paymentMethod: string
                    dutyLineBaseValue: 0
                    dutyLinePayableAmount: 0
                    dutyLineRate: 0
                    taxLineBaseValue: 0
                    taxLinePayableAmount: 0
                    taxLineRate: 0
                    postponedVatLineValue: 0
                    postponedVatLineCurrency: string
                    consumptionTaxLinePayableAmount: 0
                    consumptionTaxLineRate: 0
                    antidumpingLinePayableAmount: 0
                    antidumpingLineRate: 0
                    antidumpingLineCaseNumber: string
                    countervailingLinePayableAmount: 0
                    countervailingLineRate: 0
                    countervailingLineCaseNumber: string
                    exciseLinePayableAmount: 0
                    exciseLineRate: 0
                    exchangeRate: 0
                    exchangeRateFromCurrency: string
                    exchangeRateToCurrency: string
                    additionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    internationalFreightChargesValue: 0
                    internationalFreightChargesCurrency: string
                    internationalFreightChargesConvertedValue: 0
                    internationalFreightChargesExchangeRate: 0
                    localFreightChargesValue: 0
                    localFreightChargesCurrency: string
                    localFreightChargesConvertedValue: 0
                    localFreightChargesExchangeRate: 0
                    insuranceChargesValue: 0
                    insuranceChargesCurrency: string
                    insuranceChargesConvertedValue: 0
                    insuranceChargesExchangeRate: 0
                    customsProcedureCode: string
                    additionalCustomsProcedureCode: string
                    preference: string
                    preferentialOriginCountry: string
                    statisticalValue: 0
                    guarantee:
                    - value: 0
                      currency: string
                      reference: string
                      type: string
                      exchangeRate: 0
                      convertedValue: 0
                      convertedValueCurrency: string
                    previousDocuments:
                    - reference: string
                      category: string
                      type: string
                    purchaseOrderNumber: string
                    inspectionFlag: string
                    inspectionType: string
                    transactionNature: string
                    valuationMethod: string
                    incotermsLineCode: string
                    incotermsLineLocation: string
                    incotermsLineUnlocode: string
                    incotermsLineCountry: string
                    lineRemarks: string
                    relationshipStatusLine: true
                    buyerRestrictionsLine: true
                    conditionsOnSaleOrPriceLine: true
                    proceedsOfSaleOrUseLine: true
                  commercialInvoice:
                  - invoiceNumber: string
                    invoiceDate: string
                    invoiceValue: 0
                    invoiceCurrency: string
                  commercialInvoiceLine:
                  - partNumber: string
                    partNumberDescription: string
                    commercialInvoiceNumber: string
                    commercialInvoiceLineNumber: 0
                    commercialInvoiceLineItemQuantity: 0
                    commercialInvoiceNumberOfPackages: 0
                    commercialInvoicePackageType: string
                    commercialInvoiceGrossWeight: 0
                    commercialInvoiceGrossWeightUom: string
                    commercialInvoiceNetWeight: 0
                    commercialInvoiceNetWeightUom: string
                    commercialInvoiceLinePrice: 0
                    unitPriceOfCommercialInvoiceLineItem: 0
                  additionalNotes: string
        '400':
          description: Invalid request body or missing required fields
        '500':
          description: Internal server error
  /declarations/{id}:
    get:
      tags:
      - Declarations
      summary: Get draft customs declaration by ID
      description: 'Allows customers to retrieve draft customs declarations prepared by DSV.


        Use case:

        This API enables customers to access draft declarations created by DSV in Customs AI platform for pre-clearance audit and validation purposes.


        Customers can retrieve only those draft declarations that are linked to their unique customer identifier (ID64…) and associated with a specific Shipment ID within the relevant transport management system.

        '
      operationId: 01-get-declarations-id
      parameters:
      - name: id
        in: path
        description: Declaration identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Declaration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsDeclarationEnvelope'
              example:
                id: string
                declaration:
                  header:
                    entryNumber: string
                    lrn: string
                    ucr: string
                    jobDate: string
                    jobTime: string
                    jobType: StandardImport
                    jobTypeDescription: string
                    shipmentType: string
                    declarationType: string
                    declarationCategory: string
                    declarationCountry: string
                    declarationDivision: Air
                    portOfEntry: string
                    cityOfEntry: string
                    countryOfImport: string
                    countryOfExport: string
                    portOfLoading: string
                    portOfDischarge: string
                    borderTransportId: string
                    inlandTransportId: string
                    borderModeOfTransport: string
                    inlandModeOfTransport: string
                    borderModeOfTransportDescription: string
                    inlandModeOfTransportDescription: string
                    borderTransportNationality: string
                    inlandTransportNationality: string
                    importDate: string
                    exportDate: string
                    houseBillOfLading: string
                    houseAirwayBill: string
                    masterBillOfLading: string
                    masterAirwayBill: string
                    shipmentId: string
                    parties:
                      broker:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      ior:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      eor:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      consignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      declarant:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      representative:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      buyer:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      seller:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      authorizedConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      forwarder:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      carrier:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      shipper:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      delivery:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      intermediateConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                    brokerReferenceNumber: string
                    brokerOfficeNumber: string
                    brokerLicense: string
                    customerId: string
                    incotermsCode: string
                    incotermsLocation: string
                    incotermsUnlocode: string
                    incotermsCountry: string
                    holderOfAuthorization:
                    - type: string
                      reference: string
                    fiscalReferenceId: string
                    fiscalReferenceRole: string
                    defermentAccountTaxes: string
                    defermentAccountDuties: string
                    warehouseId: string
                    totalGrossWeight: 0
                    totalGrossWeightUom: string
                    totalNetWeight: 0
                    totalNetWeightUom: string
                    totalNumberOfPackages: 0
                    containers:
                    - containerNumber: string
                      sealNumber: string
                    totalValueDeclared: 0
                    customsDeclarationCurrency: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      total: 0
                      paymentMethod: string
                    totalAdditionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    totalValueFreightCharges: 0
                    totalFreightChargesCurrency: string
                    totalFreightExchangeRate: 0
                    totalConvertedValueFreightCharges: 0
                    totalValueInsuranceCharges: 0
                    totalInsuranceChargesCurrency: string
                    totalInsuranceExchangeRate: 0
                    totalConvertedValueInsuranceCharges: 0
                    transmittedDate: string
                    transmittedTime: string
                    acceptanceDate: string
                    acceptanceTime: string
                    customsReleaseDate: string
                    customsReleaseTime: string
                    taxesDutiesPaidDate: string
                    taxesDutiesPaidTime: string
                    relationshipStatus: true
                    buyerRestrictions: true
                    conditionsOnSaleOrPrice: true
                    proceedsOfSaleOrUse: true
                    transactionNature: string
                    previousDocuments:
                    - category: string
                      type: string
                      reference: string
                    additionalInformation:
                    - type: string
                      reference: string
                    additionalDocuments:
                    - type: string
                      reference: string
                      amount: 0
                      issueDate: string
                      validityDate: string
                    remarks: string
                    totalGuarantee:
                    - value: 0
                      currency: string
                      type: string
                      number: string
                    customsAuthorizationNumber: string
                    loadingLocation: string
                    expirationDate: string
                    dischargeDate: string
                    goodsLocation: string
                    exitCustomsOfficeCode: string
                    exitCustomsOfficeName: string
                    exportCustomsOfficeCode: string
                    exportCustomsOfficeName: string
                    importCustomsOfficeCode: string
                    importCustomsOfficeName: string
                    declarationStatus: DRAFT
                    stateOfData: RECEIVED
                    stateOfShipment: NOT_ARRIVED
                    supervisingOfficeCode: string
                    supervisingOfficeName: string
                    borderTransportIdType: string
                    inlandTransportIdType: string
                  lines:
                  - lineNumber: 0
                    commercialInvoiceNumber: string
                    htsCode: string
                    htsDescription: string
                    additionalCodes:
                    - code: string
                    htsQuantity: 0
                    countryOfOrigin: string
                    grossWeight: 0
                    grossWeightUom: string
                    netWeight: 0
                    netWeightUom: string
                    htsLineValue: 0
                    htsLineCurrency: string
                    packageType: string
                    numberOfPackages: 0
                    packageMarks: string
                    supplementaryUnits: 0
                    supplementaryUnitsOfMeasure: string
                    additionalDocuments:
                    - type: string
                      amount: 0
                      reference: string
                      issueDate: string
                      validityDate: string
                    additionalInformation:
                    - code: string
                      information: string
                    quota: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      paymentMethod: string
                    dutyLineBaseValue: 0
                    dutyLinePayableAmount: 0
                    dutyLineRate: 0
                    taxLineBaseValue: 0
                    taxLinePayableAmount: 0
                    taxLineRate: 0
                    postponedVatLineValue: 0
                    postponedVatLineCurrency: string
                    consumptionTaxLinePayableAmount: 0
                    consumptionTaxLineRate: 0
                    antidumpingLinePayableAmount: 0
                    antidumpingLineRate: 0
                    antidumpingLineCaseNumber: string
                    countervailingLinePayableAmount: 0
                    countervailingLineRate: 0
                    countervailingLineCaseNumber: string
                    exciseLinePayableAmount: 0
                    exciseLineRate: 0
                    exchangeRate: 0
                    exchangeRateFromCurrency: string
                    exchangeRateToCurrency: string
                    additionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    internationalFreightChargesValue: 0
                    internationalFreightChargesCurrency: string
                    internationalFreightChargesConvertedValue: 0
                    internationalFreightChargesExchangeRate: 0
                    localFreightChargesValue: 0
                    localFreightChargesCurrency: string
                    localFreightChargesConvertedValue: 0
                    localFreightChargesExchangeRate: 0
                    insuranceChargesValue: 0
                    insuranceChargesCurrency: string
                    insuranceChargesConvertedValue: 0
                    insuranceChargesExchangeRate: 0
                    customsProcedureCode: string
                    additionalCustomsProcedureCode: string
                    preference: string
                    preferentialOriginCountry: string
                    statisticalValue: 0
                    guarantee:
                    - value: 0
                      currency: string
                      reference: string
                      type: string
                      exchangeRate: 0
                      convertedValue: 0
                      convertedValueCurrency: string
                    previousDocuments:
                    - reference: string
                      category: string
                      type: string
                    purchaseOrderNumber: string
                    inspectionFlag: string
                    inspectionType: string
                    transactionNature: string
                    valuationMethod: string
                    incotermsLineCode: string
                    incotermsLineLocation: string
                    incotermsLineUnlocode: string
                    incotermsLineCountry: string
                    lineRemarks: string
                    relationshipStatusLine: true
                    buyerRestrictionsLine: true
                    conditionsOnSaleOrPriceLine: true
                    proceedsOfSaleOrUseLine: true
                  commercialInvoice:
                  - invoiceNumber: string
                    invoiceDate: string
                    invoiceValue: 0
                    invoiceCurrency: string
                  commercialInvoiceLine:
                  - partNumber: string
                    partNumberDescription: string
                    commercialInvoiceNumber: string
                    commercialInvoiceLineNumber: 0
                    commercialInvoiceLineItemQuantity: 0
                    commercialInvoiceNumberOfPackages: 0
                    commercialInvoicePackageType: string
                    commercialInvoiceGrossWeight: 0
                    commercialInvoiceGrossWeightUom: string
                    commercialInvoiceNetWeight: 0
                    commercialInvoiceNetWeightUom: string
                    commercialInvoiceLinePrice: 0
                    unitPriceOfCommercialInvoiceLineItem: 0
                  additionalNotes: string
        '400':
          description: Missing or invalid query parameters
        '404':
          description: Declaration not found
        '500':
          description: Internal server error
    put:
      tags:
      - Declarations
      summary: Audit existing draft customs declaration
      description: 'Allows customers to return audited draft customs declarations to DSV, including any updates or confirmations for further processing in Customs AI.


        Use case:

        This API supports the pre-clearance process by enabling customers to submit reviewed draft declarations back to DSV. Customers may either confirm the accuracy of the data or apply required changes within the draft.


        If no changes are needed and the declaration is marked as accepted ("stateOfData": "PRE_CLEARANCE_ACCEPTED"), it is automatically submitted to the customs system.


        If updates are required ("stateOfData": "PRE_CLEARANCE_REJECTED"), DSV revises the draft accordingly and makes it available for the customer to perform a subsequent audit cycle until an accepted status is achieved.

        '
      operationId: 02-put-declarations-id
      parameters:
      - name: id
        in: path
        description: Declaration identifier
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsDeclarationEnvelope'
            example:
              id: string
              declaration:
                header:
                  entryNumber: string
                  lrn: string
                  ucr: string
                  jobDate: string
                  jobTime: string
                  jobType: StandardImport
                  jobTypeDescription: string
                  shipmentType: string
                  declarationType: string
                  declarationCategory: string
                  declarationCountry: string
                  declarationDivision: Air
                  portOfEntry: string
                  cityOfEntry: string
                  countryOfImport: string
                  countryOfExport: string
                  portOfLoading: string
                  portOfDischarge: string
                  borderTransportId: string
                  inlandTransportId: string
                  borderModeOfTransport: string
                  inlandModeOfTransport: string
                  borderModeOfTransportDescription: string
                  inlandModeOfTransportDescription: string
                  borderTransportNationality: string
                  inlandTransportNationality: string
                  importDate: string
                  exportDate: string
                  houseBillOfLading: string
                  houseAirwayBill: string
                  masterBillOfLading: string
                  masterAirwayBill: string
                  shipmentId: string
                  parties:
                    broker:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    ior:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    eor:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    consignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    declarant:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    representative:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    buyer:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    seller:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    authorizedConsignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    forwarder:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    carrier:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    shipper:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    delivery:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                    intermediateConsignee:
                      registrationCode: string
                      vatGst: string
                      name: string
                      address:
                        name1: string
                        name2: string
                        name3: string
                        name4: string
                        city: string
                        postalCode: string
                        state: string
                        country: string
                      representativeStatus: string
                  brokerReferenceNumber: string
                  brokerOfficeNumber: string
                  brokerLicense: string
                  customerId: string
                  incotermsCode: string
                  incotermsLocation: string
                  incotermsUnlocode: string
                  incotermsCountry: string
                  holderOfAuthorization:
                  - type: string
                    reference: string
                  fiscalReferenceId: string
                  fiscalReferenceRole: string
                  defermentAccountTaxes: string
                  defermentAccountDuties: string
                  warehouseId: string
                  totalGrossWeight: 0
                  totalGrossWeightUom: string
                  totalNetWeight: 0
                  totalNetWeightUom: string
                  totalNumberOfPackages: 0
                  containers:
                  - containerNumber: string
                    sealNumber: string
                  totalValueDeclared: 0
                  customsDeclarationCurrency: string
                  taxes:
                  - type: string
                    base: 0
                    rate: 0
                    payableAmount: 0
                    total: 0
                    paymentMethod: string
                  totalAdditionsAndDeductions:
                  - code: string
                    value: 0
                    currency: string
                    exchangeRate: 0
                    convertedValue: 0
                  totalValueFreightCharges: 0
                  totalFreightChargesCurrency: string
                  totalFreightExchangeRate: 0
                  totalConvertedValueFreightCharges: 0
                  totalValueInsuranceCharges: 0
                  totalInsuranceChargesCurrency: string
                  totalInsuranceExchangeRate: 0
                  totalConvertedValueInsuranceCharges: 0
                  transmittedDate: string
                  transmittedTime: string
                  acceptanceDate: string
                  acceptanceTime: string
                  customsReleaseDate: string
                  customsReleaseTime: string
                  taxesDutiesPaidDate: string
                  taxesDutiesPaidTime: string
                  relationshipStatus: true
                  buyerRestrictions: true
                  conditionsOnSaleOrPrice: true
                  proceedsOfSaleOrUse: true
                  transactionNature: string
                  previousDocuments:
                  - category: string
                    type: string
                    reference: string
                  additionalInformation:
                  - type: string
                    reference: string
                  additionalDocuments:
                  - type: string
                    reference: string
                    amount: 0
                    issueDate: string
                    validityDate: string
                  remarks: string
                  totalGuarantee:
                  - value: 0
                    currency: string
                    type: string
                    number: string
                  customsAuthorizationNumber: string
                  loadingLocation: string
                  expirationDate: string
                  dischargeDate: string
                  goodsLocation: string
                  exitCustomsOfficeCode: string
                  exitCustomsOfficeName: string
                  exportCustomsOfficeCode: string
                  exportCustomsOfficeName: string
                  importCustomsOfficeCode: string
                  importCustomsOfficeName: string
                  declarationStatus: DRAFT
                  stateOfData: RECEIVED
                  stateOfShipment: NOT_ARRIVED
                  supervisingOfficeCode: string
                  supervisingOfficeName: string
                  borderTransportIdType: string
                  inlandTransportIdType: string
                lines:
                - lineNumber: 0
                  commercialInvoiceNumber: string
                  htsCode: string
                  htsDescription: string
                  additionalCodes:
                  - code: string
                  htsQuantity: 0
                  countryOfOrigin: string
                  grossWeight: 0
                  grossWeightUom: string
                  netWeight: 0
                  netWeightUom: string
                  htsLineValue: 0
                  htsLineCurrency: string
                  packageType: string
                  numberOfPackages: 0
                  packageMarks: string
                  supplementaryUnits: 0
                  supplementaryUnitsOfMeasure: string
                  additionalDocuments:
                  - type: string
                    amount: 0
                    reference: string
                    issueDate: string
                    validityDate: string
                  additionalInformation:
                  - code: string
                    information: string
                  quota: string
                  taxes:
                  - type: string
                    base: 0
                    rate: 0
                    payableAmount: 0
                    paymentMethod: string
                  dutyLineBaseValue: 0
                  dutyLinePayableAmount: 0
                  dutyLineRate: 0
                  taxLineBaseValue: 0
                  taxLinePayableAmount: 0
                  taxLineRate: 0
                  postponedVatLineValue: 0
                  postponedVatLineCurrency: string
                  consumptionTaxLinePayableAmount: 0
                  consumptionTaxLineRate: 0
                  antidumpingLinePayableAmount: 0
                  antidumpingLineRate: 0
                  antidumpingLineCaseNumber: string
                  countervailingLinePayableAmount: 0
                  countervailingLineRate: 0
                  countervailingLineCaseNumber: string
                  exciseLinePayableAmount: 0
                  exciseLineRate: 0
                  exchangeRate: 0
                  exchangeRateFromCurrency: string
                  exchangeRateToCurrency: string
                  additionsAndDeductions:
                  - code: string
                    value: 0
                    currency: string
                    exchangeRate: 0
                    convertedValue: 0
                  internationalFreightChargesValue: 0
                  internationalFreightChargesCurrency: string
                  internationalFreightChargesConvertedValue: 0
                  internationalFreightChargesExchangeRate: 0
                  localFreightChargesValue: 0
                  localFreightChargesCurrency: string
                  localFreightChargesConvertedValue: 0
                  localFreightChargesExchangeRate: 0
                  insuranceChargesValue: 0
                  insuranceChargesCurrency: string
                  insuranceChargesConvertedValue: 0
                  insuranceChargesExchangeRate: 0
                  customsProcedureCode: string
                  additionalCustomsProcedureCode: string
                  preference: string
                  preferentialOriginCountry: string
                  statisticalValue: 0
                  guarantee:
                  - value: 0
                    currency: string
                    reference: string
                    type: string
                    exchangeRate: 0
                    convertedValue: 0
                    convertedValueCurrency: string
                  previousDocuments:
                  - reference: string
                    category: string
                    type: string
                  purchaseOrderNumber: string
                  inspectionFlag: string
                  inspectionType: string
                  transactionNature: string
                  valuationMethod: string
                  incotermsLineCode: string
                  incotermsLineLocation: string
                  incotermsLineUnlocode: string
                  incotermsLineCountry: string
                  lineRemarks: string
                  relationshipStatusLine: true
                  buyerRestrictionsLine: true
                  conditionsOnSaleOrPriceLine: true
                  proceedsOfSaleOrUseLine: true
                commercialInvoice:
                - invoiceNumber: string
                  invoiceDate: string
                  invoiceValue: 0
                  invoiceCurrency: string
                commercialInvoiceLine:
                - partNumber: string
                  partNumberDescription: string
                  commercialInvoiceNumber: string
                  commercialInvoiceLineNumber: 0
                  commercialInvoiceLineItemQuantity: 0
                  commercialInvoiceNumberOfPackages: 0
                  commercialInvoicePackageType: string
                  commercialInvoiceGrossWeight: 0
                  commercialInvoiceGrossWeightUom: string
                  commercialInvoiceNetWeight: 0
                  commercialInvoiceNetWeightUom: string
                  commercialInvoiceLinePrice: 0
                  unitPriceOfCommercialInvoiceLineItem: 0
                additionalNotes: string
      responses:
        '200':
          description: Declaration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomsDeclarationEnvelope'
              example:
                id: string
                declaration:
                  header:
                    entryNumber: string
                    lrn: string
                    ucr: string
                    jobDate: string
                    jobTime: string
                    jobType: StandardImport
                    jobTypeDescription: string
                    shipmentType: string
                    declarationType: string
                    declarationCategory: string
                    declarationCountry: string
                    declarationDivision: Air
                    portOfEntry: string
                    cityOfEntry: string
                    countryOfImport: string
                    countryOfExport: string
                    portOfLoading: string
                    portOfDischarge: string
                    borderTransportId: string
                    inlandTransportId: string
                    borderModeOfTransport: string
                    inlandModeOfTransport: string
                    borderModeOfTransportDescription: string
                    inlandModeOfTransportDescription: string
                    borderTransportNationality: string
                    inlandTransportNationality: string
                    importDate: string
                    exportDate: string
                    houseBillOfLading: string
                    houseAirwayBill: string
                    masterBillOfLading: string
                    masterAirwayBill: string
                    shipmentId: string
                    parties:
                      broker:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      ior:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      eor:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      consignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      declarant:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      representative:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      buyer:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      seller:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      authorizedConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      forwarder:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      carrier:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      shipper:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      delivery:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                      intermediateConsignee:
                        registrationCode: string
                        vatGst: string
                        name: string
                        address:
                          name1: string
                          name2: string
                          name3: string
                          name4: string
                          city: string
                          postalCode: string
                          state: string
                          country: string
                        representativeStatus: string
                    brokerReferenceNumber: string
                    brokerOfficeNumber: string
                    brokerLicense: string
                    customerId: string
                    incotermsCode: string
                    incotermsLocation: string
                    incotermsUnlocode: string
                    incotermsCountry: string
                    holderOfAuthorization:
                    - type: string
                      reference: string
                    fiscalReferenceId: string
                    fiscalReferenceRole: string
                    defermentAccountTaxes: string
                    defermentAccountDuties: string
                    warehouseId: string
                    totalGrossWeight: 0
                    totalGrossWeightUom: string
                    totalNetWeight: 0
                    totalNetWeightUom: string
                    totalNumberOfPackages: 0
                    containers:
                    - containerNumber: string
                      sealNumber: string
                    totalValueDeclared: 0
                    customsDeclarationCurrency: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      total: 0
                      paymentMethod: string
                    totalAdditionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    totalValueFreightCharges: 0
                    totalFreightChargesCurrency: string
                    totalFreightExchangeRate: 0
                    totalConvertedValueFreightCharges: 0
                    totalValueInsuranceCharges: 0
                    totalInsuranceChargesCurrency: string
                    totalInsuranceExchangeRate: 0
                    totalConvertedValueInsuranceCharges: 0
                    transmittedDate: string
                    transmittedTime: string
                    acceptanceDate: string
                    acceptanceTime: string
                    customsReleaseDate: string
                    customsReleaseTime: string
                    taxesDutiesPaidDate: string
                    taxesDutiesPaidTime: string
                    relationshipStatus: true
                    buyerRestrictions: true
                    conditionsOnSaleOrPrice: true
                    proceedsOfSaleOrUse: true
                    transactionNature: string
                    previousDocuments:
                    - category: string
                      type: string
                      reference: string
                    additionalInformation:
                    - type: string
                      reference: string
                    additionalDocuments:
                    - type: string
                      reference: string
                      amount: 0
                      issueDate: string
                      validityDate: string
                    remarks: string
                    totalGuarantee:
                    - value: 0
                      currency: string
                      type: string
                      number: string
                    customsAuthorizationNumber: string
                    loadingLocation: string
                    expirationDate: string
                    dischargeDate: string
                    goodsLocation: string
                    exitCustomsOfficeCode: string
                    exitCustomsOfficeName: string
                    exportCustomsOfficeCode: string
                    exportCustomsOfficeName: string
                    importCustomsOfficeCode: string
                    importCustomsOfficeName: string
                    declarationStatus: DRAFT
                    stateOfData: RECEIVED
                    stateOfShipment: NOT_ARRIVED
                    supervisingOfficeCode: string
                    supervisingOfficeName: string
                    borderTransportIdType: string
                    inlandTransportIdType: string
                  lines:
                  - lineNumber: 0
                    commercialInvoiceNumber: string
                    htsCode: string
                    htsDescription: string
                    additionalCodes:
                    - code: string
                    htsQuantity: 0
                    countryOfOrigin: string
                    grossWeight: 0
                    grossWeightUom: string
                    netWeight: 0
                    netWeightUom: string
                    htsLineValue: 0
                    htsLineCurrency: string
                    packageType: string
                    numberOfPackages: 0
                    packageMarks: string
                    supplementaryUnits: 0
                    supplementaryUnitsOfMeasure: string
                    additionalDocuments:
                    - type: string
                      amount: 0
                      reference: string
                      issueDate: string
                      validityDate: string
                    additionalInformation:
                    - code: string
                      information: string
                    quota: string
                    taxes:
                    - type: string
                      base: 0
                      rate: 0
                      payableAmount: 0
                      paymentMethod: string
                    dutyLineBaseValue: 0
                    dutyLinePayableAmount: 0
                    dutyLineRate: 0
                    taxLineBaseValue: 0
                    taxLinePayableAmount: 0
                    taxLineRate: 0
                    postponedVatLineValue: 0
                    postponedVatLineCurrency: string
                    consumptionTaxLinePayableAmount: 0
                    consumptionTaxLineRate: 0
                    antidumpingLinePayableAmount: 0
                    antidumpingLineRate: 0
                    antidumpingLineCaseNumber: string
                    countervailingLinePayableAmount: 0
                    countervailingLineRate: 0
                    countervailingLineCaseNumber: string
                    exciseLinePayableAmount: 0
                    exciseLineRate: 0
                    exchangeRate: 0
                    exchangeRateFromCurrency: string
                    exchangeRateToCurrency: string
                    additionsAndDeductions:
                    - code: string
                      value: 0
                      currency: string
                      exchangeRate: 0
                      convertedValue: 0
                    internationalFreightChargesValue: 0
                    internationalFreightChargesCurrency: string
                    internationalFreightChargesConvertedValue: 0
                    internationalFreightChargesExchangeRate: 0
                    localFreightChargesValue: 0
                    localFreightChargesCurrency: string
                    localFreightChargesConvertedValue: 0
                    localFreightChargesExchangeRate: 0
                    insuranceChargesValue: 0
                    insuranceChargesCurrency: string
                    insuranceChargesConvertedValue: 0
                    insuranceChargesExchangeRate: 0
                    customsProcedureCode: string
                    additionalCustomsProcedureCode: string
                    preference: string
                    preferentialOriginCountry: string
                    statisticalValue: 0
                    guarantee:
                    - value: 0
                      currency: string
                      reference: string
                      type: string
                      exchangeRate: 0
                      convertedValue: 0
                      convertedValueCurrency: string
                    previousDocuments:
                    - reference: string
                      category: string
                      type: string
                    purchaseOrderNumber: string
                    inspectionFlag: string
                    inspectionType: string
                    transactionNature: string
                    valuationMethod: string
                    incotermsLineCode: string
                    incotermsLineLocation: string
                    incotermsLineUnlocode: string
                    incotermsLineCountry: string
                    lineRemarks: string
                    relationshipStatusLine: true
                    buyerRestrictionsLine: true
                    conditionsOnSaleOrPriceLine: true
                    proceedsOfSaleOrUseLine: true
                  commercialInvoice:
                  - invoiceNumber: string
                    invoiceDate: string
                    invoiceValue: 0
                    invoiceCurrency: string
                  commercialInvoiceLine:
                  - partNumber: string
                    partNumberDescription: string
                    commercialInvoiceNumber: string
                    commercialInvoiceLineNumber: 0
                    commercialInvoiceLineItemQuantity: 0
                    commercialInvoiceNumberOfPackages: 0
                    commercialInvoicePackageType: string
                    commercialInvoiceGrossWeight: 0
                    commercialInvoiceGrossWeightUom: string
                    commercialInvoiceNetWeight: 0
                    commercialInvoiceNetWeightUom: string
                    commercialInvoiceLinePrice: 0
                    unitPriceOfCommercialInvoiceLineItem: 0
                  additionalNotes: string
        '400':
          description: Invalid request
        '404':
          description: Declaration not found
        '500':
          description: Internal server error
components:
  schemas:
    TotalGuarantee:
      type:
      - object
      - 'null'
      properties:
        value:
          type:
          - number
          - 'null'
          description: Total guarantee amount from the declaration.
          format: double
        currency:
          type:
          - string
          - 'null'
[...]
