{
  "openapi": "3.0.1",
  "info": {
    "title": "Shipments - SCM",
    "description": "SCM Shipments API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.dsv.com/om/shipments/v2"
    }
  ],
  "paths": {
    "/Shipments/SearchCriteria": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "1. Search for Shipments by criteria",
        "description": "Search for Shipments by criteria",
        "operationId": "POSTapi-public-v2-Shipments-SearchCriteria",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "DSV Authorization header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Search.SearchRequest"
              },
              "example": {
                "grid": {
                  "Page": 0,
                  "PageSize": 0,
                  "Sorts": [
                    {
                      "Member": "string",
                      "SortDirection": "Ascending"
                    }
                  ],
                  "Filters": [
                    {}
                  ],
                  "Groups": [
                    {
                      "MemberType": "string",
                      "DisplayContent": {},
                      "AggregateFunctions": [
                        {
                          "AggregateMethodName": "string",
                          "Caption": "string",
                          "SourceField": "string",
                          "FunctionName": "string",
                          "MemberType": "string",
                          "ResultFormatString": "string"
                        }
                      ],
                      "Member": "string",
                      "SortDirection": "Ascending"
                    }
                  ],
                  "Aggregates": [
                    {
                      "Aggregates": [
                        {
                          "AggregateMethodName": "string",
                          "Caption": "string",
                          "SourceField": "string",
                          "FunctionName": "string",
                          "MemberType": "string",
                          "ResultFormatString": "string"
                        }
                      ],
                      "Member": "string"
                    }
                  ]
                },
                "criteria": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "eDC.Domain.Enums.BookingConsolState": {
        "enum": [
          "Provisional",
          "Confirmed"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.BookingState": {
        "enum": [
          "Provisional",
          "PreBooked",
          "Rejected",
          "Booked",
          "Approved",
          "Confirmed",
          "Parked",
          "Transmitted",
          "PendingConsolidation",
          "Planning",
          "Planned",
          "Consolidated",
          "PendingCollection",
          "Collected",
          "OnHand",
          "DepartedOriginCFS",
          "Shipped",
          "Arrived",
          "CustomsCommenced",
          "CustomsCleared",
          "AvailableDestinationCFS",
          "PendingDelivery",
          "DepartedDestinationCFS",
          "Handover",
          "Delivered",
          "Suspended",
          "Cancelled"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.CargoReceiptState": {
        "enum": [
          "Pending",
          "Received",
          "Putaway",
          "Loaded"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.ContainerState": {
        "enum": [
          "Provisional",
          "ReleasedCY",
          "PickupBooked",
          "PickedUp",
          "GateIn",
          "Loaded",
          "Shipped",
          "Arrived",
          "Unloaded",
          "DeliveryBooked",
          "GateOut",
          "Delivered",
          "EmptyReadyForReturn",
          "EmptyReturned"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.EventCodeModule": {
        "enum": [
          "Shipment",
          "Booking",
          "Order",
          "OrderLine",
          "LoadPlan",
          "Container",
          "Message"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.KpiStatus": {
        "enum": [
          "None",
          "InProgress",
          "CompletedOnSchedule",
          "Due",
          "OverDue"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.LoadPlanState": {
        "enum": [
          "Provisional",
          "Submitted",
          "Rejected",
          "Approved",
          "Confirmed",
          "Accepted",
          "Loaded",
          "Declined",
          "Cancelled"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.LoadPlanType": {
        "enum": [
          "PLAN",
          "CONSOL"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.ModuleType": {
        "enum": [
          "Order",
          "Shipment",
          "Booking",
          "ShipmentContainer",
          "ShipmentPackLine",
          "ConsolContainer",
          "OrderLine",
          "BookingPackLine",
          "EDI",
          "OrderLineManager",
          "Announcement",
          "Document",
          "Note",
          "BookingContainer",
          "OrderPackLine",
          "LoadPlan",
          "EventMilestone",
          "Company",
          "ExceptionPanelConfiguration",
          "Unspecified"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.OrderEventCode": {
        "enum": [
          "ADD",
          "ATS",
          "DTS",
          "CNF",
          "UCF",
          "ONH",
          "EEX",
          "OUD",
          "FUP",
          "CAI",
          "QA",
          "GR",
          "CAN",
          "UCA",
          "UPD",
          "ATB",
          "DFB",
          "CCI"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.OrderState": {
        "enum": [
          "Provisional",
          "Open",
          "Confirmed",
          "OnHand",
          "BookingProvisional",
          "BookingPreBooked",
          "BookingBooked",
          "BookingRejected",
          "BookingApproved",
          "BookingConfirmed",
          "BookingParked",
          "PendingConsolidation",
          "Planning",
          "Planned",
          "Consolidated",
          "PendingCollection",
          "Collected",
          "BookingOnHand",
          "DepartedOriginCFS",
          "Shipped",
          "Arrived",
          "CustomsCommenced",
          "CustomsCleared",
          "AvailableDestinationCFS",
          "PendingDelivery",
          "DepartedDestinationCFS",
          "Handover",
          "Delivered",
          "Fulfilled",
          "Suspended",
          "Cancelled"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.PackingStatus": {
        "enum": [
          "PND",
          "DLV",
          "CAN"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.PackingType": {
        "enum": [
          "Individual",
          "Aggregated",
          "ExportLoad"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.ShipmentState": {
        "enum": [
          "Booked",
          "PendingConsolidation",
          "Planning",
          "Planned",
          "Consolidated",
          "Accepted",
          "PendingCollection",
          "Collected",
          "OnHand",
          "DepartedOriginCFS",
          "Shipped",
          "Arrived",
          "CustomsCommenced",
          "CustomsCleared",
          "AvailableDestinationCFS",
          "PendingDelivery",
          "DepartedDestinationCFS",
          "Handover",
          "Delivered",
          "Declined",
          "Suspended",
          "Cancelled"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.SplitMode": {
        "enum": [
          "None",
          "Manual",
          "Auto"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.SubscriptionType": {
        "enum": [
          "All",
          "Include",
          "Exclude"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Domain.Enums.TableCode3": {
        "enum": [
          "NON",
          "ORD",
          "ORI",
          "OIC",
          "BOK",
          "BCS",
          "SHP",
          "CON",
          "PTT",
          "KDT",
          "INV",
          "PCK",
          "ORG",
          "SCN",
          "JCN",
          "CIH",
          "CIL",
          "EDM",
          "ETL",
          "ANN",
          "DOC",
          "NOT",
          "BKC",
          "PMD",
          "ADN",
          "PDG",
          "CGR",
          "LPL",
          "OLM",
          "PCT",
          "BKT",
          "JOI",
          "EPC"
        ],
        "type": "string",
        "format": "int32"
      },
      "eDC.Web.Api.v2.Controllers.ChangeStateRequest": {
        "type": "object",
        "properties": {
          "bookingNumber": {
            "type": "string",
            "description": "Booking Number",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.BookingState"
          },
          "note": {
            "type": "string",
            "description": "Notes",
            "nullable": true
          },
          "intendedParty": {
            "type": "string",
            "description": "Intended Party",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Controllers.LoadPlanChangeStateRequest": {
        "type": "object",
        "properties": {
          "loadPlanNumber": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.LoadPlanState"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "intendedParty": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.CustomField": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.AdditionalReference": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "address1": {
            "type": "string",
            "description": "Address line 1",
            "nullable": true
          },
          "address2": {
            "type": "string",
            "description": "Address line 2",
            "nullable": true
          },
          "address3": {
            "type": "string",
            "description": "Address line 3",
            "nullable": true
          },
          "unloco": {
            "type": "string",
            "nullable": true
          },
          "nearestPort": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "City",
            "nullable": true
          },
          "state": {
            "type": "string",
            "description": "State",
            "nullable": true
          },
          "postCode": {
            "type": "string",
            "description": "Postal code",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "description": "2-Letter Country Code",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "Country",
            "nullable": true
          },
          "addressCode": {
            "type": "string",
            "description": "Address Code",
            "nullable": true
          },
          "lockUNLOCO": {
            "type": "boolean"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude",
            "format": "double",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "description": "Latitude",
            "format": "double",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modified",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Creation Date",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User creating the address",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Booking": {
        "type": "object",
        "properties": {
          "bookingNumber": {
            "type": "string",
            "description": "Booking Number",
            "nullable": true
          },
          "externalBookingNumber": {
            "type": "string",
            "description": "External Booking Number",
            "nullable": true
          },
          "externalBookingSender": {
            "type": "string",
            "description": "External Booking Sender",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.BookingState"
          },
          "origin": {
            "type": "string",
            "description": "Origin of the Booking",
            "nullable": true
          },
          "destination": {
            "type": "string",
            "description": "Destination of the Booking",
            "nullable": true
          },
          "incoterm": {
            "type": "string",
            "description": "Incoterm of the Booking",
            "nullable": true
          },
          "additionalTerms": {
            "type": "string",
            "description": "Additional Terms of the Booking",
            "nullable": true
          },
          "additionalTermsUNLOCO": {
            "type": "string",
            "description": "UN Location Code",
            "nullable": true
          },
          "freightTerm": {
            "type": "string",
            "description": "Freight Terms",
            "nullable": true
          },
          "orderNumbers": {
            "type": "string",
            "description": "Order Numbers",
            "nullable": true
          },
          "unitOfWeight": {
            "type": "string",
            "description": "Unit of Measure for Weight",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "description": "Weight",
            "format": "double"
          },
          "unitOfVolume": {
            "type": "string",
            "description": "Unit of Measure for Volume",
            "nullable": true
          },
          "volume": {
            "type": "number",
            "description": "Volume",
            "format": "double"
          },
          "noOfPieces": {
            "type": "integer",
            "description": "Number of Pieces",
            "format": "int32"
          },
          "orderCurrency": {
            "type": "string",
            "description": "Currency for the Order",
            "nullable": true
          },
          "totalValue": {
            "type": "number",
            "description": "Total Value of the Order",
            "format": "double"
          },
          "packingWeight": {
            "type": "number",
            "description": "Packing Weight",
            "format": "double"
          },
          "packingVolume": {
            "type": "number",
            "description": "Packing Volume",
            "format": "double"
          },
          "transitWarehouse": {
            "type": "string",
            "description": "Transit Warehouse",
            "nullable": true
          },
          "onHandDate": {
            "type": "string",
            "description": "On Hand Date",
            "format": "date-time",
            "nullable": true
          },
          "preBooked": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookedDate": {
            "type": "string",
            "description": "Date of Booking",
            "format": "date-time",
            "nullable": true
          },
          "rejectedDate": {
            "type": "string",
            "description": "Date of Booking Rejection",
            "format": "date-time",
            "nullable": true
          },
          "approvedDate": {
            "type": "string",
            "description": "Date of Booking Approval",
            "format": "date-time",
            "nullable": true
          },
          "confirmedDate": {
            "type": "string",
            "description": "Date of Booking Confirmation",
            "format": "date-time",
            "nullable": true
          },
          "cancelledDate": {
            "type": "string",
            "description": "Date of Booking Cancellation",
            "format": "date-time",
            "nullable": true
          },
          "countOfTEU": {
            "type": "number",
            "description": "TEU count",
            "format": "double"
          },
          "countOf20FT": {
            "type": "integer",
            "description": "Count of 20ft Container",
            "format": "int32"
          },
          "countOf40FT": {
            "type": "integer",
            "description": "Count of 40ft Container",
            "format": "int32"
          },
          "countOf45FT": {
            "type": "integer",
            "description": "Count of 45ft Container",
            "format": "int32"
          },
          "source": {
            "type": "string",
            "description": "Source",
            "nullable": true
          },
          "systemID": {
            "type": "string",
            "description": "System ID",
            "format": "uuid",
            "nullable": true
          },
          "isApprovalRequired": {
            "type": "boolean",
            "description": "Boolean if Approval is required"
          },
          "transitWarehouseDescription": {
            "type": "string",
            "description": "Transit Warehouse Description",
            "nullable": true
          },
          "estimatedDeliveryDate": {
            "type": "string",
            "description": "Estimated Delivery Date",
            "format": "date-time",
            "nullable": true
          },
          "collectionRequiredDate": {
            "type": "string",
            "description": "Collection Required Date",
            "format": "date-time",
            "nullable": true
          },
          "collectionRequiredDateBy": {
            "type": "string",
            "description": "Collection Required Date By",
            "format": "date-time",
            "nullable": true
          },
          "deliveryRequiredDate": {
            "type": "string",
            "description": "Delivery Required Date",
            "format": "date-time",
            "nullable": true
          },
          "deliveryRequiredDateBy": {
            "type": "string",
            "description": "Delivery Required Date By",
            "format": "date-time",
            "nullable": true
          },
          "isCancelled": {
            "type": "boolean",
            "description": "Boolean if cancelled"
          },
          "shipmentNumbers": {
            "type": "string",
            "description": "Shipment Number",
            "nullable": true
          },
          "noOfContainers": {
            "type": "integer",
            "description": "Number of Containers",
            "format": "int32"
          },
          "ownership": {
            "type": "string",
            "description": "Ownership",
            "nullable": true
          },
          "bookingDeliveryInstructions": {
            "type": "string",
            "description": "Booking Delivery Instruction",
            "nullable": true
          },
          "requiredDepartureWeekNumber": {
            "type": "integer",
            "description": "Required Departure Week Number",
            "format": "int32",
            "nullable": true
          },
          "requiredArrivalWeekNumber": {
            "type": "integer",
            "description": "Required Arrival Week Number",
            "format": "int32",
            "nullable": true
          },
          "cargoReadyDateWeekNumber": {
            "type": "integer",
            "description": "Cargo Ready Date Week Number",
            "format": "int32",
            "nullable": true
          },
          "deliveryDateWeekNumber": {
            "type": "integer",
            "description": "Delivery Date Week Number",
            "format": "int32",
            "nullable": true
          },
          "estimatedDeliveryToOriginCFSWeekNumber": {
            "type": "integer",
            "description": "Estimated Delivery To Origin CFS Week Number",
            "format": "int32",
            "nullable": true
          },
          "supplierRef": {
            "type": "string",
            "description": "Supplier Reference",
            "nullable": true
          },
          "requiredExFactory": {
            "type": "string",
            "description": "Required Ex Works Date",
            "format": "date-time",
            "nullable": true
          },
          "requiredInStore": {
            "type": "string",
            "description": "Required in Store Date",
            "format": "date-time",
            "nullable": true
          },
          "requestedDepartureDate": {
            "type": "string",
            "description": "Requested Departure Date",
            "format": "date-time",
            "nullable": true
          },
          "requestedArrivalDate": {
            "type": "string",
            "description": "Requested Arrival Date",
            "format": "date-time",
            "nullable": true
          },
          "transportMode": {
            "type": "string",
            "description": "Mode of Transport",
            "nullable": true
          },
          "containerMode": {
            "type": "string",
            "description": "Container Mode",
            "nullable": true
          },
          "goodsDescription": {
            "type": "string",
            "description": "Description of Goods",
            "nullable": true
          },
          "marksAndNumbers": {
            "type": "string",
            "description": "Marks and Numbers",
            "nullable": true
          },
          "bookingInstructions": {
            "type": "string",
            "description": "Booking Instructions",
            "nullable": true
          },
          "loadingMeters": {
            "type": "number",
            "description": "Loading Meters",
            "format": "double"
          },
          "commodityCode": {
            "type": "string",
            "description": "Commodity Code",
            "nullable": true
          },
          "plannerCode": {
            "type": "string",
            "description": "Planner Code",
            "nullable": true
          },
          "plannerEmail": {
            "type": "string",
            "description": "Planner Email",
            "nullable": true
          },
          "loadPort": {
            "type": "string",
            "description": "Port  of loading",
            "nullable": true
          },
          "dischargePort": {
            "type": "string",
            "description": "Port of discharge",
            "nullable": true
          },
          "sdocComplete": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimatedDeliveryToOriginCFS": {
            "type": "string",
            "description": "Estimated Delivery To Origin CFS Date",
            "format": "date-time",
            "nullable": true
          },
          "isPickupRequired": {
            "type": "boolean",
            "description": "Boolean for Pickup required"
          },
          "shippingInstructions": {
            "type": "string",
            "description": "Shipment Instructions",
            "nullable": true
          },
          "customerDivision": {
            "type": "string",
            "nullable": true
          },
          "carrierSpaceReservation": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "followUpDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modified",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date Created",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User Created",
            "nullable": true
          },
          "isSuspended": {
            "type": "boolean"
          },
          "suspendedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "loadPlanNumber": {
            "type": "string",
            "nullable": true
          },
          "shipmentNumber": {
            "type": "string",
            "nullable": true
          },
          "temperatureControl": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.TemperatureControl"
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue"
            },
            "description": "Custom Fields",
            "nullable": true
          },
          "additionalReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference"
            },
            "nullable": true
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
            },
            "description": "Parties",
            "nullable": true
          },
          "packLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine"
            },
            "description": "Pack Lines",
            "nullable": true
          },
          "equipmentTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.EquipmentType"
            },
            "description": "Equipment Types",
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note"
            },
            "description": "Notes",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event"
            },
            "description": "Events",
            "nullable": true
          },
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Company": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type",
            "nullable": true
          },
          "code": {
            "type": "string",
            "description": "Code",
            "nullable": true
          },
          "externalCode": {
            "type": "string",
            "description": "External Code",
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "description": "Active"
          },
          "fullName": {
            "type": "string",
            "description": "Full Name",
            "nullable": true
          },
          "closestPort": {
            "type": "string",
            "description": "Closest Port",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "description": "Currency",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone Number",
            "nullable": true
          },
          "email": {
            "type": "string",
            "description": "Email",
            "nullable": true
          },
          "vatNumber": {
            "type": "string",
            "nullable": true
          },
          "registeredNumber": {
            "type": "string",
            "description": "Registered Number",
            "nullable": true
          },
          "ediCode": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Address"
          },
          "contact": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Contact"
          },
          "additionalReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference"
            },
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modified",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date Created",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User Created",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Contact": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "fax": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.DangerousGoods": {
        "type": "object",
        "properties": {
          "regulation": {
            "type": "string",
            "nullable": true
          },
          "hazardClass": {
            "type": "string",
            "nullable": true
          },
          "additionalHazardClass": {
            "type": "string",
            "nullable": true
          },
          "classificationCode": {
            "type": "string",
            "nullable": true
          },
          "undgNumber": {
            "type": "string",
            "nullable": true
          },
          "variant": {
            "type": "string",
            "nullable": true
          },
          "psn": {
            "type": "string",
            "nullable": true
          },
          "technicalName": {
            "type": "string",
            "nullable": true
          },
          "labels": {
            "type": "string",
            "nullable": true
          },
          "packingGroup": {
            "type": "string",
            "nullable": true
          },
          "upperPlate": {
            "type": "string",
            "nullable": true
          },
          "lowerPlate": {
            "type": "string",
            "nullable": true
          },
          "numberOfPackages": {
            "type": "string",
            "nullable": true
          },
          "packageType": {
            "type": "string",
            "nullable": true
          },
          "packagingInstruction": {
            "type": "string",
            "nullable": true
          },
          "transportMeansCategory": {
            "type": "string",
            "nullable": true
          },
          "grossWeight": {
            "type": "number",
            "format": "double"
          },
          "netWeight": {
            "type": "number",
            "format": "double"
          },
          "explosiveWeight": {
            "type": "number",
            "format": "double"
          },
          "unitOfWeight": {
            "type": "string",
            "nullable": true
          },
          "flashPointTemperature": {
            "type": "string",
            "nullable": true
          },
          "flashPointTemperatureUnit": {
            "type": "string",
            "nullable": true
          },
          "flashPointDescription": {
            "type": "string",
            "nullable": true
          },
          "tremCardNumber": {
            "type": "string",
            "nullable": true
          },
          "emsNumber": {
            "type": "string",
            "nullable": true
          },
          "mfagNumber": {
            "type": "string",
            "nullable": true
          },
          "marinePollutant": {
            "type": "string",
            "nullable": true
          },
          "limitedQuantity": {
            "type": "boolean"
          },
          "tunnelCode": {
            "type": "string",
            "nullable": true
          },
          "remarks": {
            "type": "string",
            "nullable": true
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "contactEmail": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.EquipmentType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type",
            "nullable": true
          },
          "noOfUnits": {
            "type": "integer",
            "description": "Number of Units",
            "format": "int32"
          },
          "containerNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Event": {
        "type": "object",
        "properties": {
          "eventCode": {
            "type": "string",
            "description": "The unique event code - usually 3 chars, but can be 2 or more.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "A description of the event code.",
            "nullable": true
          },
          "eventDate": {
            "type": "string",
            "description": "The date in which the event happened",
            "format": "date-time",
            "nullable": true
          },
          "reasonCodes": {
            "type": "string",
            "description": "Legacy, do not use.",
            "nullable": true
          },
          "eventPlace": {
            "type": "string",
            "description": "The place in which the event happened.",
            "nullable": true
          },
          "eventSource": {
            "type": "string",
            "description": "The source system that input the event.",
            "nullable": true
          },
          "qaIssueCode": {
            "type": "string",
            "nullable": true
          },
          "qaResponsibleParty": {
            "type": "string",
            "nullable": true
          },
          "stage": {
            "type": "string",
            "nullable": true
          },
          "qaIssueNotes": {
            "type": "string",
            "nullable": true
          },
          "qaIssueResolvedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vehicleRegistration": {
            "type": "string",
            "nullable": true
          },
          "driverName": {
            "type": "string",
            "nullable": true
          },
          "secondDriver": {
            "type": "string",
            "nullable": true
          },
          "locationType": {
            "type": "string",
            "description": "Options - Intermediate / Transit Customs / Destination Customs",
            "nullable": true
          },
          "qaIssueCodeDescription": {
            "type": "string",
            "nullable": true
          },
          "externalTrackingLink": {
            "type": "string",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date the event was modified - in general events cannot be modified but QA issues can be resolved.",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User who modified the event - in general events cannot be modified but QA issues can be resolved.",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date the event was input",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User who input the event",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "Type",
            "nullable": true
          },
          "value": {
            "type": "string",
            "description": "Value",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modiefied",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date Created",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User Created",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.GeoLocationData": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "description": "Longitude",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.JobConsol": {
        "type": "object",
        "properties": {
          "transportMode": {
            "type": "string",
            "description": "Mode of Transport eg. Air, Sea, Road",
            "nullable": true
          },
          "consolMode": {
            "type": "string",
            "description": "Mode of Consol",
            "nullable": true
          },
          "consolNumber": {
            "type": "string",
            "nullable": true
          },
          "masterBill": {
            "type": "string",
            "description": "Master Bill of Lading (MBL)",
            "nullable": true
          },
          "bookingReference": {
            "type": "string",
            "description": "Booking Reference",
            "nullable": true
          },
          "agentsReference": {
            "type": "string",
            "description": "Agent Reference",
            "nullable": true
          },
          "customsReference": {
            "type": "string",
            "description": "Customs Reference",
            "nullable": true
          },
          "prepaidCollect": {
            "type": "string",
            "description": "Prepaid or Collection",
            "nullable": true
          },
          "loadPort": {
            "type": "string",
            "description": "Port of Loading,  UNLOCO (e.g. DEHAM)",
            "nullable": true
          },
          "dischargePort": {
            "type": "string",
            "description": "Port of Discharge, UNLOCO (e.g. DEHAM)",
            "nullable": true
          },
          "portOfFirstArrival": {
            "type": "string",
            "description": "Port of first arrival",
            "nullable": true
          },
          "eta": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "etd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ata": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "atd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vessel": {
            "type": "string",
            "description": "Vessel name",
            "nullable": true
          },
          "voyageFlight": {
            "type": "string",
            "description": "Voyage (MoT Sea) or Flight No (MoT Air)",
            "nullable": true
          },
          "fullLoadPortFreeTime": {
            "type": "integer",
            "description": "Full Load Port Free Time",
            "format": "int32"
          },
          "fullLoadDestinationDetentionFreeTime": {
            "type": "integer",
            "format": "int32"
          },
          "fullLoadOriginDetentionFreeTime": {
            "type": "integer",
            "format": "int32"
          },
          "oceanCarrier": {
            "type": "string",
            "description": "Ocean Carrier",
            "nullable": true
          },
          "airCarrier": {
            "type": "string",
            "description": "Air Carrier",
            "nullable": true
          },
          "weight": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement"
          },
          "volume": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement"
          },
          "chargeable": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement"
          },
          "releaseType": {
            "type": "string",
            "description": "Type of Release",
            "nullable": true
          },
          "teuCount": {
            "type": "number",
            "format": "double"
          },
          "countOfTEU": {
            "type": "number",
            "description": "Count of TEU",
            "format": "double"
          },
          "countOf20FT": {
            "type": "integer",
            "description": "Count of 20ft Container",
            "format": "int32"
          },
          "countOf40FT": {
            "type": "integer",
            "description": "Count of 40ft Container",
            "format": "int32"
          },
          "countOf45FT": {
            "type": "integer",
            "description": "Count of 45ft Container",
            "format": "int32"
          },
          "stageNumber": {
            "type": "string",
            "description": "Stage Number",
            "nullable": true
          },
          "sta": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "std": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "consolContainerMode": {
            "type": "string",
            "nullable": true
          },
          "consolServiceLevel": {
            "type": "string",
            "nullable": true
          },
          "qualifier": {
            "type": "string",
            "description": "Qualifier",
            "nullable": true
          },
          "legOrder": {
            "type": "integer",
            "description": "Leg Order",
            "format": "int32"
          },
          "legType": {
            "type": "string",
            "description": "Leg Type (e.g. Main)",
            "nullable": true
          },
          "carrierCode": {
            "type": "string",
            "description": "Carrier Code",
            "nullable": true
          },
          "carrierSCAC": {
            "type": "string",
            "description": "Carrier SCAC Code",
            "nullable": true
          },
          "carrierDakoskyCode": {
            "type": "string",
            "description": "Carrier Dakosy Code",
            "nullable": true
          },
          "carrierNationality": {
            "type": "string",
            "description": "Carrier Nationality",
            "nullable": true
          },
          "localCarrierCode": {
            "type": "string",
            "description": "Local Carrier Code",
            "nullable": true
          },
          "serviceLevel": {
            "type": "string",
            "description": "Service Level",
            "nullable": true
          },
          "legNotes": {
            "type": "string",
            "description": "Leg Notes",
            "nullable": true
          },
          "imoNumber": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Status",
            "nullable": true
          },
          "definedBy": {
            "type": "string",
            "description": "Defined by",
            "nullable": true
          },
          "charterRoute": {
            "type": "string",
            "description": "Charter Route",
            "nullable": true
          },
          "isCharter": {
            "type": "boolean",
            "description": "Boolean if charter"
          },
          "isLinked": {
            "type": "boolean",
            "description": "Boolean is linked"
          },
          "isMainCarriage": {
            "type": "boolean",
            "description": "Boolean if leg is main leg"
          },
          "isPlannedLeg": {
            "type": "boolean",
            "description": "Boolean if leg is planned"
          },
          "numberOfShipments": {
            "type": "integer",
            "description": "Number of Shipments",
            "format": "int32"
          },
          "numberOfPackages": {
            "type": "integer",
            "description": "Number of Packages",
            "format": "int32"
          },
          "numberOfOriginalBills": {
            "type": "integer",
            "description": "Number of Original Bill of Ladings",
            "format": "int32"
          },
          "numberOfCopyBills": {
            "type": "integer",
            "description": "Number of Copy Bill of Lading",
            "format": "int32"
          },
          "linkReference": {
            "type": "string",
            "description": "Link Reference",
            "nullable": true
          },
          "ownerCodeInternal": {
            "type": "string",
            "description": "Internal Owner Code",
            "nullable": true
          },
          "ownerCodeExternal": {
            "type": "string",
            "description": "External Owner Code",
            "nullable": true
          },
          "source": {
            "type": "string",
            "description": "Source",
            "nullable": true
          },
          "sendingAgent": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
          },
          "receivingAgent": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
          },
          "carrier": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
            },
            "description": "Parties",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modified",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date Created",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User Created",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.JobContainer": {
        "type": "object",
        "properties": {
          "containerNumber": {
            "type": "string",
            "nullable": true
          },
          "interimContainerNumber": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.ContainerState"
          },
          "isShipperOwned": {
            "type": "boolean"
          },
          "containerMode": {
            "type": "string",
            "nullable": true
          },
          "containerStatus": {
            "type": "string",
            "nullable": true
          },
          "sealNumber": {
            "type": "string",
            "nullable": true
          },
          "additionalSealNumber": {
            "type": "string",
            "nullable": true
          },
          "additional2SealNumber": {
            "type": "string",
            "nullable": true
          },
          "containerCount": {
            "type": "integer",
            "format": "int32"
          },
          "dunnageWeight": {
            "type": "number",
            "format": "double"
          },
          "grossWeight": {
            "type": "number",
            "format": "double"
          },
          "unitOfweight": {
            "type": "string",
            "nullable": true
          },
          "tareWeight": {
            "type": "number",
            "format": "double"
          },
          "containerCommodityCode": {
            "type": "string",
            "nullable": true
          },
          "movementType": {
            "type": "string",
            "nullable": true
          },
          "equipmentType": {
            "type": "string",
            "nullable": true
          },
          "fclAvailableDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fclStorageDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emptyRequiredBy": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimatedFCLPickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lclAvailableDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lclStorageDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookedDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestedDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimatedDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualFullDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deliveryTransportAdvisedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestedCollectionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimatedCollectionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actualFullPickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "portTransportBookedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fullLoadPortFreeTime": {
            "type": "integer",
            "format": "int32"
          },
          "fullLoadDestinationDetentionFreeTime": {
            "type": "integer",
            "format": "int32"
          },
          "fullLoadOriginDetentionFreeTime": {
            "type": "integer",
            "format": "int32"
          },
          "demurrageStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "shipperDetentionStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "importerDetentionStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookingCreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookingModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookingCreatedUser": {
            "type": "string",
            "nullable": true
          },
          "bookingModifiedUser": {
            "type": "string",
            "nullable": true
          },
          "volume": {
            "type": "number",
            "format": "double"
          },
          "temperatureControlled": {
            "type": "boolean"
          },
          "refrigerationType": {
            "type": "string",
            "nullable": true
          },
          "tempSetPoint": {
            "type": "number",
            "format": "double"
          },
          "tempSetPointUnit": {
            "type": "string",
            "nullable": true
          },
          "goodsDescription": {
            "type": "string",
            "nullable": true
          },
          "isoType": {
            "type": "string",
            "nullable": true
          },
          "emptyPickupNumber": {
            "type": "string",
            "nullable": true
          },
          "exportPortTransportReference": {
            "type": "string",
            "nullable": true
          },
          "exportSlotBookingReference": {
            "type": "string",
            "nullable": true
          },
          "importReleaseNumber": {
            "type": "string",
            "nullable": true
          },
          "importPortTransportReference": {
            "type": "string",
            "nullable": true
          },
          "importSlotBookingReference": {
            "type": "string",
            "nullable": true
          },
          "emptyReturnReference": {
            "type": "string",
            "nullable": true
          },
          "emptyReleasedFromCY": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emptyReadyForReturn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emptyReturnedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emptyReturnRequiredBy": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fclWharfGateIn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fclWharfGateOut": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fclLoadedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "fclUnloadedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tempSetPointDisplay": {
            "type": "string",
            "nullable": true
          },
          "orderNumbers": {
            "type": "string",
            "nullable": true
          },
          "demurrageBegins": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "teu": {
            "type": "number",
            "format": "double"
          },
          "estimatedPickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "arrivalPickupDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "arrivalDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "departureDeliveryDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "nullable": true
          },
          "requestedEmptyReturnDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
            },
            "nullable": true
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue"
            },
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.JobPackLine": {
        "type": "object",
        "properties": {
          "packageCount": {
            "type": "integer",
            "description": "Count of Packages",
            "format": "int32"
          },
          "packType": {
            "type": "string",
            "description": "Pack Type (e.g. PACK, PALL, COLL, etc.)",
            "nullable": true
          },
          "containerPackingOrder": {
            "type": "integer",
            "description": "Order of packing inside container (1-10)",
            "format": "int32"
          },
          "weight": {
            "type": "number",
            "description": "Weight",
            "format": "double"
          },
          "unitOfWeight": {
            "type": "string",
            "description": "Unit of Weight",
            "nullable": true
          },
          "length": {
            "type": "number",
            "description": "Length",
            "format": "double"
          },
          "height": {
            "type": "number",
            "description": "Height",
            "format": "double"
          },
          "width": {
            "type": "number",
            "description": "Width",
            "format": "double"
          },
          "unitOfDimension": {
            "type": "string",
            "description": "Unit of Dimensions",
            "nullable": true
          },
          "volume": {
            "type": "number",
            "description": "Volume",
            "format": "double"
          },
          "unitOfVolume": {
            "type": "string",
            "description": "Unit of Volume",
            "nullable": true
          },
          "refNumber": {
            "type": "string",
            "description": "Reference Number",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of Packline",
            "nullable": true
          },
          "detailedDescription": {
            "type": "string",
            "description": "Detailed Description",
            "nullable": true
          },
          "harmonisedCode": {
            "type": "string",
            "description": "Harmonised Code for Customs",
            "nullable": true
          },
          "ncmCode": {
            "type": "string",
            "nullable": true
          },
          "origin": {
            "type": "string",
            "description": "Orgin",
            "nullable": true
          },
          "commodityCode": {
            "type": "string",
            "description": "Commodity Code",
            "nullable": true
          },
          "containerNumber": {
            "type": "string",
            "description": "Container Number",
            "nullable": true
          },
          "outturn": {
            "type": "integer",
            "description": "Outturn",
            "format": "int32"
          },
          "outturnedLength": {
            "type": "number",
            "description": "Outturned Length",
            "format": "double"
          },
          "outturnedHeight": {
            "type": "number",
            "description": "Outturned Height",
            "format": "double"
          },
          "outturnedWidth": {
            "type": "number",
            "description": "Outturned Width",
            "format": "double"
          },
          "outturnedWeight": {
            "type": "number",
            "description": "Outturned Weight",
            "format": "double"
          },
          "outturnedVolume": {
            "type": "number",
            "description": "Outturned Volume",
            "format": "double"
          },
          "outturnComment": {
            "type": "string",
            "description": "Outturend Comment",
            "nullable": true
          },
          "pillaged": {
            "type": "integer",
            "description": "Pillaged",
            "format": "int32"
          },
          "damaged": {
            "type": "integer",
            "description": "Damaged",
            "format": "int32"
          },
          "loadingMeters": {
            "type": "number",
            "description": "Loading Meters",
            "format": "double"
          },
          "marksAndNumbers": {
            "type": "string",
            "description": "Marks and Numbers",
            "nullable": true
          },
          "productCode": {
            "type": "string",
            "description": "Product Code",
            "nullable": true
          },
          "dangerousGoodsRef": {
            "type": "string",
            "description": "Dangerous Goods Reference",
            "nullable": true
          },
          "noOfPallets": {
            "type": "integer",
            "description": "Number of Pallets",
            "format": "int32"
          },
          "packIdentifier": {
            "type": "string",
            "description": "Pack Identifier",
            "nullable": true
          },
          "documentRemarks1": {
            "type": "string",
            "description": "Document Remarks",
            "nullable": true
          },
          "documentRemarks2": {
            "type": "string",
            "description": "Document Remarks",
            "nullable": true
          },
          "documentRemarks3": {
            "type": "string",
            "description": "Document Remarks",
            "nullable": true
          },
          "sequence": {
            "type": "integer",
            "description": "Sequence",
            "format": "int32"
          },
          "stackable": {
            "type": "boolean",
            "description": "Boolean if stackable"
          },
          "orderLineNumber": {
            "type": "integer",
            "description": "Order Line Number",
            "format": "int32",
            "nullable": true
          },
          "packageMarks": {
            "type": "string",
            "description": "Package Marks",
            "nullable": true
          },
          "dangerousGoods": {
            "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.DangerousGoods"
          },
          "innerPackLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine"
            },
            "description": "Inner Pack Lines",
            "nullable": true
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue"
            },
            "description": "Custom Fields",
            "nullable": true
          },
          "changeMonitorColumns": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Change Columns",
            "nullable": true
          },
          "statusDescription": {
            "type": "string",
            "description": "Status Description",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.LoadPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "loadPlanNumber": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.LoadPlanState"
          },
          "transportMode": {
            "type": "string",
            "nullable": true
          },
          "packingMode": {
            "type": "string",
            "nullable": true
          },
          "freightTerm": {
            "type": "string",
            "nullable": true
          },
          "serviceLevel": {
            "type": "string",
            "nullable": true
          },
          "serviceLevelDescription": {
            "type": "string",
            "nullable": true
          },
          "loadingInstructions": {
            "type": "string",
            "nullable": true
          },
          "shippingInstructions": {
            "type": "string",
            "nullable": true
          },
          "loadingMeters": {
            "type": "number",
            "format": "double"
          },
          "movementType": {
            "type": "string",
            "nullable": true
          },
          "dischargePort": {
            "type": "string",
            "nullable": true
          },
          "loadPort": {
            "type": "string",
            "nullable": true
          },
          "requiredLoadingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requiredUnloadingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requiredArrivalDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requiredDepartureDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cfsClosingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vessel": {
            "type": "string",
            "nullable": true
          },
          "voyageFlight": {
            "type": "string",
            "nullable": true
          },
          "cfsClosingDateWeekNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "requiredDepartureWeekNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "requiredArrivalWeekNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "requiredLoadingWeekNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "requiredUnloadingWeekNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "confirmedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "loadedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelledDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "rejectedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "approvedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "bookingNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "unitOfWeight": {
            "type": "string",
            "nullable": true
          },
          "unitOfVolume": {
            "type": "string",
            "nullable": true
          },
          "totalPackages": {
            "type": "integer",
            "format": "int32"
          },
          "totalWeight": {
            "type": "number",
            "format": "double"
          },
          "totalVolume": {
            "type": "number",
            "format": "double"
          },
          "volumeCapacity": {
            "type": "number",
            "format": "double"
          },
          "weightCapacity": {
            "type": "number",
            "format": "double"
          },
          "dateModified": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event"
            },
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note"
            },
            "nullable": true
          },
          "equipmentTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.EquipmentType"
            },
            "nullable": true
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
            },
            "nullable": true
          },
          "transportLegs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobConsol"
            },
            "nullable": true
          },
          "containers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobContainer"
            },
            "nullable": true
          },
          "bookings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Measurement": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Value",
            "format": "double",
            "nullable": true
          },
          "unit": {
            "type": "string",
            "description": "Unit",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Note": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "noteText": {
            "type": "string",
            "description": "Note Text",
            "nullable": true
          },
          "noteType": {
            "type": "string",
            "description": "Note Type",
            "nullable": true
          },
          "noteContext": {
            "type": "string",
            "description": "Note Context",
            "nullable": true
          },
          "intendedParty": {
            "type": "string",
            "description": "Intended Party",
            "nullable": true
          },
          "read": {
            "type": "boolean",
            "description": "Read"
          },
          "source": {
            "type": "string",
            "description": "Source",
            "nullable": true
          },
          "isPublished": {
            "type": "boolean",
            "description": "Boolean if published"
          },
          "resolvedDate": {
            "type": "string",
            "description": "Resolved Date",
            "format": "date-time",
            "nullable": true
          },
          "assignedUser": {
            "type": "string",
            "description": "Assigned User",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "Date Modified",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "User Modified",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "Date Created",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "User Created",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "isCancelled": {
            "type": "boolean",
            "description": "N or Y.  This is used to set an order to state cancelled.  This may or may not be accepted, depending on the progress of the order."
          },
          "orderNumber": {
            "type": "string",
            "description": "The unique order number between the buyer and supplier.",
            "nullable": true
          },
          "splitNumber": {
            "type": "integer",
            "description": "If the order needs to be shipped or delivered in multiple parts, each part will be assigned a number.  The original order will have a split number of 0, the first split would have 1, second 2, etc",
            "format": "int64"
          },
          "state": {
            "$ref": "#/components/schemas/eDC.Domain.Enums.OrderState"
          },
          "orderDate": {
            "type": "string",
            "description": "The date the order is created",
            "format": "date-time",
            "nullable": true
          },
          "goodsDescription": {
            "type": "string",
            "description": "A general description of the goods",
            "nullable": true
          },
          "transportMode": {
            "type": "string",
            "description": "The requested transport mode.  Values are: SEA for Oceanfreight\", AIR for Airfreight, ROAD for Roadfreight and COU for Courier/Express",
            "nullable": true
          },
          "containerMode": {
            "type": "string",
            "description": "This is the container mode, in which the Order must be shipped.  For Orders, as the future consolidation state is not known, this will normally be set to 'LCL'",
            "nullable": true
          },
          "serviceLevel": {
            "type": "string",
            "description": "Usually a three char code.  Service Levels are specific to your organisation.  Please see your Account Manager for details.",
            "nullable": true
          },
          "serviceLevelDescription": {
            "type": "string",
            "description": "The full service level description",
            "nullable": true
          },
          "estimatedExWorksDate": {
            "type": "string",
            "description": "The date the supplier has estimated the cargo will depart the factory.",
            "format": "date-time",
            "nullable": true
          },
          "actualExWorksDate": {
            "type": "string",
            "description": "The data the order actually departed the factory.",
            "format": "date-time",
            "nullable": true
          },
          "requiredExWorks": {
            "type": "string",
            "description": "The date the buyer requests the supplier dispatch the order from the factory.",
            "format": "date-time",
            "nullable": true
          },
          "requiredInStore": {
            "type": "string",
            "description": "The date the buyer requests the order be delivered to destination door.",
            "format": "date-time",
            "nullable": true
          },
          "originCountry": {
            "type": "string",
            "description": "The product country of origin - not necessarily where the product is collected from.",
            "nullable": true
          },
          "incoterm": {
            "type": "string",
            "description": "The International Commercial Terms, agreed between buyer and supplier.",
            "nullable": true
          },
          "additionalTerms": {
            "type": "string",
            "description": "The UNLOCO of the additional terms or named placed.",
            "nullable": true
          },
          "additionalTermsUNLOCO": {
            "type": "string",
            "description": "The date the buyer requests the supplier dispatch the order from the factory.",
            "nullable": true
          },
          "actualVolume": {
            "type": "number",
            "description": "The total volume of the order.",
            "format": "double"
          },
          "unitOfVolume": {
            "type": "string",
            "description": "The unit related to the total volume.",
            "nullable": true
          },
          "actualWeight": {
            "type": "number",
            "description": "The total weight of the order.",
            "format": "double"
          },
          "unitOfWeight": {
            "type": "string",
            "description": "The unit related to the total volume.",
            "nullable": true
          },
          "totalPacks": {
            "type": "integer",
            "description": "The total number of packages related to the order.",
            "format": "int32"
          },
          "totalQuantity": {
            "type": "number",
            "description": "The total number of skus related to the order.",
            "format": "double"
          },
          "followUpDate": {
            "type": "string",
            "description": "A date in which the Control Tower should follow up with the Supplier",
            "format": "date-time",
            "nullable": true
          },
          "portOfLoading": {
            "type": "string",
            "description": "The requested port of loading, in UNLOCO.",
            "nullable": true
          },
          "portOfDischarge": {
            "type": "string",
            "description": "The requested port of discharge, in UNLOCO.",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "description": "The currency related to the order value.",
            "nullable": true
          },
          "clientType": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "totalValue": {
            "type": "number",
            "description": "Total value of the order.",
            "format": "double"
          },
          "totalInners": {
            "type": "number",
            "description": "Total number of inner packages requested to be within the order.",
            "format": "double",
            "nullable": true
          },
          "totalOuters": {
            "type": "number",
            "description": "Total number of outer packages requested to be within the order.",
            "format": "double",
            "nullable": true
          },
          "source": {
            "type": "string",
            "description": "The source of the order entry: WEB = manually entered, API, EDI.  This is automatically set.",
            "nullable": true
          },
          "systemID": {
            "type": "string",
            "description": "A uuid/guid accociated with the order.  This is only for scenarios where a third party order management platform is managing the order.",
            "format": "uuid",
            "nullable": true
          },
          "bookingReference": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "transitWarehouse": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "onHandDate": {
            "type": "string",
            "description": "This date is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "format": "date-time",
            "nullable": true
          },
          "plannerCode": {
            "type": "string",
            "description": "The code associated with person who is the order's assigned buyer/procurement code.",
            "nullable": true
          },
          "plannerEmail": {
            "type": "string",
            "description": "The email address associated with person who is the order's assigned buyer/procurement code.",
            "nullable": true
          },
          "warehouseReceiptNumber": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "vehicleRegistration": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "trailerNumber": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "seal": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "manifestNumber": {
            "type": "string",
            "description": "This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.",
            "nullable": true
          },
          "bookedInNumber": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "dispatchedDate": {
            "type": "string",
            "description": "N/A",
            "format": "date-time",
            "nullable": true
          },
          "estimatedReceiptDate": {
            "type": "string",
            "description": "N/A",
            "format": "date-time",
            "nullable": true
          },
          "bookedInDate": {
            "type": "string",
            "description": "N/A",
            "format": "date-time",
            "nullable": true
          },
          "cutOffDate": {
            "type": "string",
            "description": "N/A",
            "format": "date-time",
            "nullable": true
          },
          "invoiceDate": {
            "type": "string",
            "description": "The invoice date associated with the Order.",
            "format": "date-time",
            "nullable": true
          },
          "invoiceNumber": {
            "type": "string",
            "description": "The invoice number associated with the Order.",
            "nullable": true
          },
          "confirmedDate": {
            "type": "string",
            "description": "For scenarios that require a confirmation of the order before it can be booked, the date of confirmation will populate this field.",
            "format": "date-time",
            "nullable": true
          },
          "confirmationNumber": {
            "type": "string",
            "description": "For scenarios that require a confirmation of the order before it can be booked, the confirmation authorisation number will populate this field.",
            "nullable": true
          },
          "freightCost": {
            "type": "number",
            "description": "For customers using the Landed Cost functionality, this value will show the proportion of the freight cost.",
            "format": "double"
          },
          "landedCost": {
            "type": "number",
            "description": "For customers using the Landed Cost functionality, this value will show the proportion of the Landed Cost, which is SKU cost, plus Freight Cost",
            "format": "double"
          },
          "landedCostStatus": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "contractNumber": {
            "type": "string",
            "description": "The contract number between buyer and supplier, associated with the Order.",
            "nullable": true
          },
          "goodsReceiptNumber": {
            "type": "string",
            "description": "The final destination warehouse, goods receipt number. This comes from the customer, unless DSV Manages the destination stock control.",
            "nullable": true
          },
          "goodsReceiptDate": {
            "type": "string",
            "description": "The final destination warehouse, goods receipt date. This comes from the customer, unless DSV Manages the destination stock control.",
            "format": "date-time",
            "nullable": true
          },
          "authorisedBy": {
            "type": "string",
            "description": "The person within the customer/other authorised party authorises the Order to be shipped.",
            "nullable": true
          },
          "authorisedToShip": {
            "type": "string",
            "description": "The date in which the customer/other authorised party authorises the Order to be shipped.",
            "format": "date-time",
            "nullable": true
          },
          "system": {
            "type": "string",
            "description": "If the system integration is required to use the source/downstream system's GUID, it can be populated here.",
            "nullable": true
          },
          "orderType": {
            "type": "string",
            "description": "PO, SO, STO, BPO, CO.  This should be defined by your implementation manager within DSV",
            "nullable": true
          },
          "orderTypeDescription": {
            "type": "string",
            "description": "Full description of Order Type, such as Purchase Order for PO.",
            "nullable": true
          },
          "parentOrderNumber": {
            "type": "string",
            "description": "If this order is a 'call off', this value will be the blanket purchase order number.",
            "nullable": true
          },
          "revisionNumber": {
            "type": "integer",
            "description": "This is provided by the customer, to indicate the order's revision number, if it has been revised.",
            "format": "int32"
          },
          "earliestShipDate": {
            "type": "string",
            "description": "Earliest Date the cargo should depart from Port",
            "format": "date-time",
            "nullable": true
          },
          "latestShipDate": {
            "type": "string",
            "description": "Latest Date the cargo should depart from Port",
            "format": "date-time",
            "nullable": true
          },
          "cancellationRequested": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "customerDivision": {
            "type": "string",
            "nullable": true
          },
          "notAuthorisedToShip": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requiredIncotermHandoverDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelledDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "orderLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.OrderItem"
            },
            "nullable": true
          },
          "packLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine"
            },
            "nullable": true
          },
          "customFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue"
            },
            "description": "Fields that can be defined by the user",
            "nullable": true
          },
          "additionalReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference"
            },
            "nullable": true
          },
          "notes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note"
            },
            "description": "Any notes that may have been added by the customer, supplier or DSV.",
            "nullable": true
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event"
            },
            "description": "Domain Events in consumable format",
            "nullable": true
          },
          "transitWarehouseDescription": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "lastNoteText": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "orderLineContainers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "parties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company"
            },
            "nullable": true
          },
          "calculatedDeliveryDate": {
            "type": "string",
            "description": "N/A",
            "format": "date-time",
            "nullable": true
          },
          "ownership": {
            "type": "string",
            "description": "N/A",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "description": "The date the order was modified in system",
            "format": "date-time",
            "nullable": true
          },
          "userModified": {
            "type": "string",
            "description": "The user or service that last modified the order",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "description": "The date the order was created in system",
            "format": "date-time",
            "nullable": true
          },
          "userCreated": {
            "type": "string",
            "description": "The user or service that created the order",
            "nullable": true
          },
          "writeDownDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cargoCheckInDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "eDC.Web.Api.v2.Models.Entities.OrderItem": {
        "type": "object",
        "properties": {
          "lineStatus": {
            "type": "string",
            "description": "Line Status: PLC for Placed, DLV for Delivered.",
            "nullable": true
          },
          "lineNo": {
            "type": "integer",
            "description": "Order Line Number.  Must be an integer, unique to the respective Order.",
            "format": "int64"
          },
          "partno": {
            "type": "string",
            "description": "Part No, Product Code or SKU Number.",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description of the part.",
            "nullable": true
          },
          "unitOfQuantity": {
            "type": "string",
            "description": "The unit, such as: EA = Each.",
            "nullable": true
          },
          "quantity": {
            "type": "number",
            "description": "Quantity Ordered.",
            "format": "double",
            "nullable": true
[...]
