openapi: 3.2.0
info:
  title: Dsv Booking API
  version: v2
  description: 'Operations tagged Booking across 2 of this provider''s published API definitions: dsv-generic-booking-demo-v2-openapi.json, dsv-xpress-booking-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.dsv.com/my-demo/booking/v2
- url: https://api.dsv.com/xp/booking/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Booking
  description: Booking Api Service
paths:
  /bookings:
    post:
      tags:
      - Booking
      summary: 1. Submit booking
      description: Submit a real transport booking to DSV to move a package from A to B.
      operationId: placeBooking
      parameters:
      - name: labelType
        in: query
        description: 'These are the supported label types

          - pdf

          - zpl


          If a "labelType" is not added to the request the label response will default to "pdf"'
        schema:
          enum:
          - pdf
          - zpl
          type: string
          default: pdf
      - name: printFormat
        in: query
        description: 'These are the supported print formats

          - Landscape

          - Portrait


          If a "printFormat" is not added to the request the label response will default to "Landscape"'
        schema:
          enum:
          - Landscape
          - Portrait
          type: string
          default: Landscape
      - name: Authorization
        in: header
        description: OAuth header
        required: true
        schema:
          type: string
      - name: DSV-Subscription-Key
        in: header
        description: DSV Subscription Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/Road-json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              autobook: true
              labelRequest: false
              product:
                name: Road
              services:
                insurance:
                  amount:
                    value: 100
                    currency: DKK
                  category: STD
              incoterms:
                code: EXW
                location: TestCityPickup1
              pickupTime:
                date: '2025-03-15'
              deliveryTime:
                date: '2025-03-19'
              pickupInstructions:
              - Test Pickup instruction
              deliveryInstructions:
              - Test Delivery instruction
              parties:
                sender:
                  address:
                    companyName: Test-Sender1
                    addressId: Test1
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test Name
                    email: testemail@testemail.com
                    telephone: '+4512345678'
                receiver:
                  address:
                    companyName: Test-Receiver1
                    addressId: Test2
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity2
                    countryCode: US
                    state: NY
                    zipCode: '000000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test name 1
                    email: testemail1@emailtest.com
                    telephone: '+11234567890'
                delivery:
                  address:
                    companyName: Test-Delivery1
                    addressId: TestDelivery1
                    addressLine1: Test address delivery 1
                    addressLine2: Test address delivery 1.2
                    addressLine3: null
                    city: TestCityDelivery1
                    countryCode: US
                    state: NY
                    zipCode: '00000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail3@emailtest.com
                    telephone: '+112345678901'
                pickup:
                  address:
                    companyName: Test-Pickup1
                    addressId: TestPickup1
                    addressLine1: Test address pickup 1
                    addressLine2: Test address pickup 1.2
                    addressLine3: null
                    city: TestCityPickup1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail2@emailtest.com
                    telephone: '+451234567890'
                freightPayer:
                  address:
                    mdm: '**Add your Demo MDM**'
                bookingParty:
                  address:
                    mdm: '**Add your Demo MDM**'
              packages:
              - quantity: 1
                packageType: BAG
                totalWeight: 1500
                netWeight: 1000
                length: 60
                height: 80
                width: 70
                stackable: STACKABLE
                totalVolume: 0.336
                palletSpace: null
                loadingMeters: 2
                description: Test goods 1
                shippingMarks: Test shipping marks 1
              - quantity: 2
                packageType: BAG
                totalWeight: 1200
                netWeight: 800
                length: 30
                height: 50
                width: 40
                stackable: 'NO'
                totalVolume: 0.12
                palletSpace: null
                loadingMeters: 1
                description: Test goods 2
                shippingMarks: Test shipping marks 2
              references:
              - value: TestReference1
                type: INVOICING_REFERENCE
              - value: TestReference2
                type: ORDER_NUMBER
              - value: TestReference3
                type: CONSIGNEE_REFERENCE
              - value: TestReference4
                type: SHIPPER_REFERENCE
              - value: TestReference5
                type: OTHER
              units:
                dimension: CM
                weight: KG
                volume: M3
                loadingSpace: LM
                temperature: C
          application/Air-json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              autobook: true
              labelRequest: false
              product:
                name: Air
                dropOff: false
              services:
                insurance:
                  amount:
                    value: 1500
                    currency: USD
                  category: STD
                airportSelection:
                  airportOfDeparture:
                    code: USJFK
                    name: John F. Kennedy Apt/New York
                  airportOfDestination:
                    code: GBLHR
                    name: Heathrow Apt/London
              incoterms:
                code: EXW
                location: TestCityPickup1
              pickupTime:
                date: '2025-03-15'
              deliveryTime:
                date: '2025-03-19'
              pickupInstructions:
              - Test Pickup instruction
              deliveryInstructions:
              - Test Delivery instruction
              parties:
                sender:
                  address:
                    companyName: Test-Sender1
                    addressId: Test1
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test Name
                    email: testemail@testemail.com
                    telephone: '+4512345678'
                receiver:
                  address:
                    companyName: Test-Receiver1
                    addressId: Test2
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity2
                    countryCode: US
                    state: NY
                    zipCode: '000000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test name 1
                    email: testemail1@emailtest.com
                    telephone: '+11234567890'
                delivery:
                  address:
                    companyName: Test-Delivery1
                    addressId: TestDelivery1
                    addressLine1: Test address delivery 1
                    addressLine2: Test address delivery 1.2
                    addressLine3: null
                    city: TestCityDelivery1
                    countryCode: US
                    state: NY
                    zipCode: '00000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail3@emailtest.com
                    telephone: '+112345678901'
                pickup:
                  address:
                    companyName: Test-Pickup1
                    addressId: TestPickup1
                    addressLine1: Test address pickup 1
                    addressLine2: Test address pickup 1.2
                    addressLine3: null
                    city: TestCityPickup1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail2@emailtest.com
                    telephone: '+451234567890'
                freightPayer:
                  address:
                    mdm: '**Add your Demo MDM**'
                bookingParty:
                  address:
                    mdm: '**Add your Demo MDM**'
              packages:
              - quantity: 1
                packageType: BAG
                totalWeight: 1500
                netWeight: 1000
                length: 60
                height: 80
                width: 70
                stackable: STACKABLE
                totalVolume: 0.336
                palletSpace: null
                loadingMeters: 2
                description: Test goods 1
                shippingMarks: Test shipping marks 1
              - quantity: 2
                packageType: BAG
                totalWeight: 1200
                netWeight: 800
                length: 30
                height: 50
                width: 40
                stackable: 'NO'
                totalVolume: 0.12
                palletSpace: null
                loadingMeters: 1
                description: Test goods 2
                shippingMarks: Test shipping marks 2
              references:
              - value: TestReference1
                type: INVOICING_REFERENCE
              - value: TestReference2
                type: ORDER_NUMBER
              - value: TestReference3
                type: CONSIGNEE_REFERENCE
              - value: TestReference4
                type: SHIPPER_REFERENCE
              - value: TestReference5
                type: OTHER
              units:
                dimension: CM
                weight: KG
                volume: M3
                loadingSpace: LM
                temperature: C
          application/Sea-json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              autobook: true
              labelRequest: false
              product:
                name: Sea
                billOfLading: Original
                containerMode: FCL
                containers:
                - ref: A484755
                  type: 45HC
                  genset: null
                  temp: null
                dropOff: false
              services:
                insurance:
                  amount:
                    value: 500
                    currency: DKK
                  category: STD
              incoterms:
                code: CFR
                location: TestLocation
              pickupTime:
                date: '2025-03-15'
              deliveryTime:
                date: '2025-03-19'
              pickupInstructions:
              - Test Pickup instruction
              deliveryInstructions:
              - Test Delivery instruction
              parties:
                sender:
                  address:
                    companyName: Test-Sender1
                    addressId: Test1
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test Name
                    email: testemail@testemail.com
                    telephone: '+4512345678'
                receiver:
                  address:
                    companyName: Test-Receiver1
                    addressId: Test2
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity2
                    countryCode: US
                    state: NY
                    zipCode: '000000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test name 1
                    email: testemail1@emailtest.com
                    telephone: '+11234567890'
                delivery:
                  address:
                    companyName: Test-Delivery1
                    addressId: TestDelivery1
                    addressLine1: Test address delivery 1
                    addressLine2: Test address delivery 1.2
                    addressLine3: null
                    city: TestCityDelivery1
                    countryCode: US
                    state: NY
                    zipCode: '00000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail3@emailtest.com
                    telephone: '+112345678901'
                pickup:
                  address:
                    companyName: Test-Pickup1
                    addressId: TestPickup1
                    addressLine1: Test address pickup 1
                    addressLine2: Test address pickup 1.2
                    addressLine3: null
                    city: TestCityPickup1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail2@emailtest.com
                    telephone: '+451234567890'
                freightPayer:
                  address:
                    mdm: '**Add your Demo MDM**'
                bookingParty:
                  address:
                    mdm: '**Add your Demo MDM**'
              packages:
              - quantity: 5
                packageType: CON
                totalWeight: 5000
                netWeight: null
                length: 1500
                height: 100
                width: 10
                stackable: 'NO'
                totalVolume: 7.5
                palletSpace: null
                loadingMeters: 2
                description: Test goods 1
                shippingMarks: Test shipping marks 1
              references:
              - value: TestReference1
                type: INVOICING_REFERENCE
              - value: TestReference2
                type: ORDER_NUMBER
              - value: TestReference3
                type: CONSIGNEE_REFERENCE
              - value: TestReference4
                type: SHIPPER_REFERENCE
              - value: TestReference5
                type: OTHER
              units:
                dimension: CM
                weight: KG
                volume: M3
                loadingSpace: LM
                temperature: C
          application/Rail-json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              autobook: true
              labelRequest: false
              product:
                name: Rail
                containerMode: LCL
                dropOff: false
              services:
                insurance:
                  amount:
                    value: 100
                    currency: DKK
                  category: STD
              incoterms:
                code: EXW
                location: TestCityPickup1
              pickupTime:
                date: '2025-03-15'
              deliveryTime:
                date: '2025-03-19'
              pickupInstructions:
              - Test Pickup instruction
              deliveryInstructions:
              - Test Delivery instruction
              parties:
                sender:
                  address:
                    companyName: Test-Sender1
                    addressId: Test1
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test Name
                    email: testemail@testemail.com
                    telephone: '+4512345678'
                receiver:
                  address:
                    companyName: Test-Receiver1
                    addressId: Test2
                    addressLine1: Test address 1
                    addressLine2: Test address 1.2
                    addressLine3: null
                    city: TestCity2
                    countryCode: US
                    state: NY
                    zipCode: '000000'
                    instructions: null
                    mdm: null
                  contact:
                    name: Test name 1
                    email: testemail1@emailtest.com
                    telephone: '+11234567890'
                delivery:
                  address:
                    companyName: Test-Delivery1
                    addressId: TestDelivery1
                    addressLine1: Test address delivery 1
                    addressLine2: Test address delivery 1.2
                    addressLine3: null
                    city: TestCityDelivery1
                    countryCode: US
                    state: NY
                    zipCode: '00000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail3@emailtest.com
                    telephone: '+112345678901'
                pickup:
                  address:
                    companyName: Test-Pickup1
                    addressId: TestPickup1
                    addressLine1: Test address pickup 1
                    addressLine2: Test address pickup 1.2
                    addressLine3: null
                    city: TestCityPickup1
                    countryCode: DK
                    state: null
                    zipCode: '0000'
                    instructions: null
                    mdm: null
                  contact:
                    name: TestName
                    email: testemail2@emailtest.com
                    telephone: '+451234567890'
                freightPayer:
                  address:
                    mdm: '**Add your Demo MDM**'
                bookingParty:
                  address:
                    mdm: '**Add your Demo MDM**'
              packages:
              - quantity: 1
                packageType: BAG
                totalWeight: 1500
                netWeight: 1000
                length: 60
                height: 80
                width: 70
                stackable: STACKABLE
                totalVolume: 0.336
                palletSpace: null
                loadingMeters: 2
                description: Test goods 1
                shippingMarks: Test shipping marks 1
              - quantity: 2
                packageType: BAG
                totalWeight: 1200
                netWeight: 800
                length: 30
                height: 50
                width: 40
                stackable: 'NO'
                totalVolume: 0.12
                palletSpace: null
                loadingMeters: 1
                description: Test goods 2
                shippingMarks: Test shipping marks 2
              references:
              - value: TestReference1
                type: INVOICING_REFERENCE
              - value: TestReference2
                type: ORDER_NUMBER
              - value: TestReference3
                type: CONSIGNEE_REFERENCE
              - value: TestReference4
                type: SHIPPER_REFERENCE
              - value: TestReference5
                type: OTHER
              units:
                dimension: CM
                weight: KG
                volume: M3
                loadingSpace: LM
                temperature: C
      responses:
        '200':
          description: Booking submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceBookingResponse'
              example:
                bookingId: '40257145990010780000'
        '400':
          description: Request contains not valid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
        '403':
          description: Lack of privileges to use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
    servers:
    - url: https://api.dsv.com/my-demo/booking/v2
  /bookings/validate:
    post:
      tags:
      - Booking
      summary: 2. Validate booking
      description: Validate the content of a booking prior to submitting the final booking to DSV. Bookings sent via this method are not processed by DSV.
      operationId: validateOrder
      parameters:
      - name: Authorization
        in: header
        description: OAuth header
        required: true
        schema:
          type: string
      - name: DSV-Subscription-Key
        in: header
        description: DSV Subscription Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              autobook: false
              templateName: Template Test
              parties:
                sender:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: Test State
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                receiver:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                delivery:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                pickup:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                notify:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                freightPayer:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                bookingParty:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
                carrier:
                  address:
                    companyName: Test Company Name Inc.
                    addressId: AddressID123
                    addressLine1: Test Address Line 1
                    addressLine2: Test Address Line 2
                    addressLine3: string
                    city: Test Address City
                    countryCode: DK
                    state: null
                    zipCode: '1234'
                    instructions: Specific Address Party Instrution
                    mdm: '6412345678'
                    eori: DE123456789012AZ
                    approvedShipper: string
                  contact:
                    name: Test Name
                    email: testemail@testcompany.com
                    telephone: '+4512345678'
              product:
                name: Sea
                billOfLading: Original
                containerMode: FCL
                containers:
                - ref: TestContainerNumber1
                  type: 20RE
                  genset: true
                  temp: -20
                dropOff: false
              services:
                serviceLevel: '401'
                cashOnDelivery:
                  amount:
                    value: 123.45
                    currency: DKK
                insurance:
                  amount:
                    value: 123.45
                    currency: DKK
                  category: STD
                palletExchange:
                  quantity: 2
                  type: EUR
                customsClearance:
                  customsClearance: BY_DSV
                  customsExportDeclaration: BY_OWN
                preAdvice:
                  phone: '+4512345678'
                  email: PreAdvice@companyname.com
                b2C:
                  phone: '+4512345678'
                  email: B2CService@companyname.com
                spotQuoteNumber:
                  number: string
                thermotransport: true
                fixTimeDelivery: {}
                driverLoading: true
                tailLiftDelivery: true
                dangerousGoods: true
                getePallet: true
                geteParcel: true
                seaPortSelection:
                  portOfLoading:
                    code: DK FDH
                    name: Frederikshavn
                  portOfDischarge:
                    code: DK FDH
                    name: Frederikshavn
                airportSelection:
                  airportOfDeparture:
                    code: DK FDH
                    name: Frederikshavn
                  airportOfDestination:
                    code: DK FDH
                    name: Frederikshavn
                railPortSelection:
                  portOfLoading:
                    code: DK FDH
                    name: Frederikshavn
                  portOfDischarge:
                    code: DK FDH
                    name: Frederikshavn
                simpleServices:
                - name: string
                preAdviceMailPickUp: true
                preAdviceMailDelivery: true
                privateDeliveryCurbSide: true
                tailLiftPickUp: true
                fixPickUpTime: true
                fixDeliveryTime: true
                fixDayDelivery: true
                amPickUp: true
                pmPickUp: true
                amDelivery: true
                pmDelivery: true
                exportCustomsClearance: BY_DSV
                importCustomsClearance: BY_DSV
                airlineExpress: true
              incoterms:
                code: EXW
                location: TestCityPickup1
              detailedGoodsDescription:
              - string
              packages:
              - quantity: 2
                packageType: EUR
                totalWeight: 1900
                netWeight: 1500
                length: 120
                height: 110
                width: 80
                stackable: 'No'
                totalVolume: 2.112
                palletSpace: 1
                loadingMeters: 0.8
                description: Test Goods 1
                shippingMarks: Test Shipping Marks 1
                shippingMarksList:
                - string
                harmonizedCodes:
                - 0
                temperatureMin: -22
                temperatureMax: -18
                containerNo: 0
                battery:
                  batteryType: DRY
                  batteryPackageType: IN_EQUIPMENT
                isDangerous: true
                trackingNumbers:
                - 00157145990039103076
                - 00157145990039103083
                dangerousGoods:
                - className: '''9'''
                  subRisk: 9A
                  flashPoint: 0
                  limitedQuantity: true
                  marinePollutant: true
                  packingGroup: II
                  properShippingName: LITHIUM ION BATTERIES CONTAINED IN EQUIPMENT
                  technicalName: string
                  technicalNameNational: string
                  temperatureMin: 0
                  temperatureMax: 0
                  type: ADR
                  unCode: '3481'
                  tunnelCode: E
                  packagesCount: 2
                  packingKind: BOX
                  netWeight: 800
                  grossWeight: 1000
                grossWeight: 1900
                cargoAircraftOnly: false
                temperatureControlled: true
              references:
              - value: Test Reference
                type: SHIPPER_REFERENCE
              pickupInstructions:
              - Test Pickup Instruction
              deliveryInstructions:
              - Test Delivery Instruction
              additionalInstructions:
              - string
              pickupTime:
                date: '2020-08-30'
                start: '2024-03-18'
                end: '2024-03-18'
              deliveryTime:
                date: '2020-08-30'
                start: '2024-03-18'
                end: '2024-03-18'
              units:
                dimension: CM
                weight: KG
                volume: M3
                loadingSpace: LM
                temperature: C
              controllingCountry: string
              productCode: string
      responses:
        '204':
          description: Booking is valid
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Request contains not valid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Lack of privileges to use this method
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
    servers:
    - url: https://api.dsv.com/my-demo/booking/v2
  /bookings/getLabel/{bookingId}/{sscc}:
    get:
      tags:
      - Booking
      summary: 6. Get labels by bookingId and SSCC
      description: Generate labels for given bookingId and SSCC.
      operationId: getLabelBySSCC
      parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
      - name: sscc
        in: path
        required: true
        schema:
          type: string
      - name: labelType
        in: query
        schema:
          type: string
      - name: printFormat
        in: query
        schema:
          type: string
      - name: Authorization
        in: header
        description: OAuth header
        required: true
        schema:
          type: string
      - name: DSV-Subscription-Key
        in: header
        description: DSV Subscription Key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Labels created
          content:
            x-application/zpl+json:
              schema:
                type: string
              example: string
        '400':
          description: Request contains not valid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponseEntityObject'
        '403':
          description: Lack of privileges to use this method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponseEntityObject'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
              example:
                code: ERR12345
                message: 'Not found booking: 40257145990010785188'
                fields:
                - name: field_name
                  message: validation error
                  code: ERR12345
                development:
                  message: string
                  exception: string
    servers:
    - url: https://api.dsv.com/my-demo/booking/v2
  /bookings/bulk:
    post:
      tags:
      - Booking
      summary: 7. Submit bulk bookings
      description: Submit multiple bookings in a single API request. Supports partial submission mode where valid bookings are submitted even if some fail validation.
      operationId: submitBulkBookings
      parameters:
      - name: labelType
        in: query
        description: 'These are the supported label types

          - pdf

          - zpl


          If a "labelType" is not added to the request the label response will default to "pdf"'
        schema:
          enum:
          - pdf
          - zpl
          type: string
          default: pdf
      - name: printFormat
        in: query
        description: 'These are the supported print formats

          - Landscape

          - Portrait


          If a "printFormat" is not added to the request the label response will default to "Landscape"'
        schema:
          enum:
          - Landscape
          - Portrait
          type: string
          default: Landscape
      - name: Authorization
        in: header
        description: OAuth header
        required: true
        schema:
          type: string
      - name: DSV-Subscription-Key
        in: header
        description: DSV Subscription Key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkBookingRequest'
            example:
              orders:
              - autobook: false
                labelRequest: false
                bookingReferenceCode: '123'
                spotQuoteNumber: 2f6192e1-f29c-ad1c-96c2-3501a361bdc1
                templateName: range[-infinity, 64]
                parties:
                  sender:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  receiver:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  delivery:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  pickup:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  notify:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  freightPayer:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  bookingParty:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  carrier:
                    address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                  party:
                  - address:
                      companyName: Test Company Name Inc.
                      addressId: AddressID123
                      addressLine1: Test Address Line 1
                      addressLine2: Test Address Line 2
                      addressLine3: string
                      city: Test Address City
                      countryCode: DK
                      state: range[-infinity, 40]
                      zipCode: '1234'
                      instructions: Specific Address Party Instrution
                      mdm: '6412345678'
                      eori: DE123456789012AZ
                      approvedShipper: string
                    contact:
                      name: Test Name
                      email: testemail@testcompany.com
                      telephone: '+4512345678'
                    role: string
                product:
                  name: Sea
                  billOfLading: Original
                  containerMode: FCL
                  containers:
                  - ref: TestContainerNumber1
                    type: 20RE
                    genset: true
                    temp: -20
                  dropOff: false
                  handover: false
                services:
                  serviceLevel: '401'
                  cashOnDelivery:
                    amount:
                      value: 123.45
                      currency: DKK
                  insurance:
                    amount:
                      value: 123.45
                      currency: DKK
                    category: STD
                  palletExchange:
                    quantity: 2
                    type: EUR
                  customsClearance:
                    customsClearance: BY_DSV
                    customsExportDeclaration: BY_OWN
                  preAdvice:
                    phone: '+4512345678'
                    email: PreAdvice@companyname.com
                  b2C:
                    phone: '+4512345678'
                    email: B2CService@companyname.com
                  spotQuoteNumber:
                    number: string
                  thermotransport: true
                  fixTimeDelivery: {}
                  driverLoading: true
                  tailLiftDelivery: true
                  dangerousGoods: true
                  getePallet: true
                  geteParcel: true
                  seaPortSelection:
                    portOfLoading:
                      code: DK FDH
                      name: Frederikshavn
                    portOfDischarge:
                      code: DK FDH
                      name: Frederikshavn
                  airportSelection:
                    airportOfDeparture:
                      code: DK FDH
                      name: Frederikshavn
                    airportOfDestination:
                      code: DK FDH
                      name: Frederikshavn
                  railPortSelection:
                    portOfLoading:
                      code: DK FDH
                      name: Frederikshavn
                    portOfDischarge:
                      code: DK FDH
                      name: Frederikshavn
                  simpleServices:
                  - name: string
                  preAdviceMailPickUp: true
                  preAdviceMailDelivery: true
                  privateDeliveryCurbSide: true
                  tailLiftPickUp: true
                  fixPickUpTime: true
                  fixDeliveryTime: true
                  fixDayDelivery: true
                  amPickUp: true
                  pmPickUp: true
                  amDelivery: true
                  pmDelivery: true
                  exportCustomsClearance: BY_DSV
                  importCustomsClearance: BY_DSV
                  airlineExpress: true
                incoterms:
                  code: EXW
                  location: TestCityPickup1
                detailedGoodsDescription:
                - string
                packages:
                - quantity: 2
                  packageType: EUR
                  totalWeight: 1900
                  netWeight: 1500
                  length: 120
                  height: 110
                  width: 80
                  stackable: 'No'
                  totalVolume: 2.112
                  palletSpace: 1
                  loadingMeters: 0.8
                  description: Test Goods 1
                  shippingMarks: Test Shipping Marks 1
                  shippingMarksList:
                  - string
                  harmonizedCode:
                  - string
                  temperatureMin: -22
                  temperatureMax: -18
                  containerNo: 0
                  battery:
                    batteryType: DRY
                    batteryPackageType: IN_EQUIPMENT
                  isDangerous: true
                  trackingNumbers: '[”00157145990039103076”,”00157145990039103083”]'
                  dangerousGoods:
                  - className: '''9'''
                    subRisk: 9A
                    flashPoint: 0
                    limitedQuantity: true
                    marinePollutant: true
                    packingGroup: II
                    properShippingName: LITHIUM ION BATTERIES CONTAINED IN EQUIPMENT
                    technicalName: string
                    technicalNameNational: string
                    temperatureMin: 0
                    temperatureMax: 0
                    type: ADR
                    unCode: '3481'
                    tunnelCode: E
                    packagesCount: 2
                    packingKind: BOX
                    netWeight: 800
                    grossWeight: 1000
                    netWeightUnit: KG
                    grossWeightUnit: KG
                  grossWeight: 1900
                  cargoAircraftOnly: false
                  temperatureControlled: true
                references:
                - value: Test Reference
                  type: SHIPPER_REFERENCE
                pickupInstructions: Test Pickup Instruction
                deliveryInstructions: Test Delivery Instruction
                additionalInstructions:
                - string
                pickupTime:
                  date: '2020-08-30'
                  start: '2026-03-24'
                  end: '2026-03-24'
                deliveryTime:
                  date: '2020-08-30'
                  start: '2026-03-24'
                  end: '2026-03-24'
                units:
                  dimension: CM
                  weight: KG
                  volume: M3
                  loadingSpace: LM
                  temperature: C
                controllingCountry: string
                productCode: string
              partialSubmit: true
      responses:
        '200':
          description: Bulk bookings processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBookingResponse'
              example:
                results:
                - requestIndex: 0
                  bookingReferenceCode: '123'
                  status: SUCCESS
                  bookingId: '40257145990010780000'
                  draftId: draft123
                  mdm: mdm_ref_123
                  errors:
                  - code: ERR12345
                    message: 'Not found booking: 40257145990010785188'
                    fields:
                    - name: field_name
                      message: validation error
                      code: ERR12345
                    development:
                      message: string
                      exception: string
                  labels:
                  - packageNumber: string
                    labelData: string
                successCount: 0
                failureCount: 0
                total: 0
        '400':
          description: Request contains not valid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBookingResponse'
              example:
                results:
                - requestIndex: 0
                  status: SUCCESS
                  bookingId: '40257145990010780000'
                  draftId: draft123
                  mdm: mdm_ref_123
                  references:
                  - number: string
                    type: string
                  errors:
                  - code: ERR12345
                    message: 'Not found booking: 40257145990010785188'
                    fields:
                    - name: field_name
                      message: validation error
                      code: ERR12345
                    development:
                      message: string
                      exception: string
                  labels:
                  - packageNumber: string
                    labelData: string
                successCount: 0
                failureCount: 0
                total: 0
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBookingResponse'
              example:
                results:
                - requestIndex: 0
                  status: SUCCESS
                  bookingId: '40257145990010780000'
                  draftId: draft123
                  mdm: mdm_ref_123
                  references:
                  - number: string
                    type: string
                  errors:
                  - code: ERR12345
                    message: 'Not found booking: 40257145990010785188'
                    fields:
                    - name: field_name
                      message: validation error
                      code: ERR12345
                    development:
                      message: string
                      exception: string
                  labels:
                  - packageNumber: string
                    labelData: string
                successCount: 0
                failureCount: 0
                total: 0
        '403':
          description: Lack of privileges to use this method or feature not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBookingResponse'
              example:
                results:
                - requestIndex: 0
                  status: SUCCESS
                  bookingId: '40257145990010780000'
                  draftId: draft123
                  mdm: mdm_ref_123
                  references:
                  - number: string
                    type: string
                  errors:
                  - code: ERR12345
                    message: 'Not found booking: 40257145990010785188'
                    fields:
                    - name: field_name
                      message: validation error
                      code: ERR12345
                    development:
                      message: string
                      exception: string
                  labels:
                  - packageNumber: string
                    labelData: string
                successCount: 0
                failureCount: 0
                total: 0
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkBookingResponse'
              example:
                results:
                - requestIndex: 0
                  status: SUCCESS
                  bookingId: '40257145990010780000'
                  draftId: draft123
                  mdm: mdm_ref_123
                  references:
                  - number: string
                    type: string
                  errors:
                  - code: ERR12345
                    message: 'Not found booking: 40257145990010785188'
                    fields:
                    - name: field_name
                      message: validation error
                      code: ERR12345
                    development:
                      message: string
                      exception: string
                  labels:
                  - packageNumber: string
                    labelData: string
                successCount: 0
                failureCount: 0
                total: 0
    servers:
    - url: https://api.dsv.com/my-demo/booking/v2
  /bookings/uploadDocument:
    post:
      tags:
      - Booking
      summary: 2. Upload documents to draft booking (Deprecated)
      description: '<strong>Deprecated</strong> Please use /bookings/uploadDocument/{shipmentId}<br> Upload transport related documents (e.g. packing list, dangerous goods certificates, commercial invoice etc.).<br> <i>Note</i>: Documents have to be uploaded prior to confirming the final booking. Mandatory when shipping outside Europe.<br> <i>Note2</i>: When uploading a proforma invoice, it will overwrite proforma invoice that already exists on the shipment (if any).<br> <i>Note3</i>: Please download definition file for detailed informations.<br>'
      operationId: uploadDocumentDeprecated
      parameters:
      - name: dsv-service-auth
        in: header
        description: DSV XPress service auth for the selected API (found on DSV XPress API profile page)
        required: true
        schema:
          type: string
      - name: x-pat
        in: header
        description: DSV XPress personal access token (found on DSV XPress API profile page)
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              - uploadDocumentRequest
              properties:
                file:
                  type: string
                  description: Data of the document to upload
                  format: binary
                uploadDocumentRequest:
                  $ref: '#/components/schemas/UploadDocumentRequest'
      responses:
        '200':
          description: successful operation. Return the document ID of the document uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDocumentResponse'
              example:
                documentIdentificationNumber: 1012345678
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Shipment not found
        '415':
          description: Unsupported Media Type
    servers:
    - url: https://api.dsv.com/xp/booking/v2
  /bookings/uploadDocument/{shipmentId}:
    post:
      tags:
      - Booking
      summary: 2. Upload documents to draft booking
      description: 'Upload transport related documents (e.g. packing list, dangerous goods certificates, commercial invoice etc.).<br> <i>Note</i>: Documents have to be uploaded prior to confirming the final booking. Mandatory when shipping outside Europe.<br> <i>Note2</i>: When uploading a proforma invoice, it will overwrite proforma invoice that already exists on the shipment (if any).<br> <i>Note3</i>: Maximum file size is 1MB.'
      operationId: uploadDocument
      parameters:
      - name: shipmentId
        in: path
        description: ID of shipment to upload document
        required: true
        schema:
          type: integer
      - name: dsv-service-auth
        in: header
        description: DSV XPress service auth for the selected API (found on DSV XPress API profile page)
        required: true
        schema:
          type: string
      - name: x-pat
        in: header
        description: DSV XPress personal access token (found on DSV XPress API profile page)
        required: true
        schema:
          type: string
      requestBody:
        description: Shipment's Document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadDocument'
            example:
              type: PROFORMA_INVOICE
              description: Proforma Invoice for custom clearance
              fileName: proforma.pdf
              mimeType: application/pdf
              file: JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFuZyhmci1GUikgL1N0cnVjdFRyZWVSb290IDE3IDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4vTWV0YWRhdGEgNDMgMCBSL1ZpZXdlclByZWZlcmVuY2VzIDQ0IDAgUj4+DQplbmRvYmoNCjIgMCBvYmoNCjw8L1R5cGUvUGFnZXMvQ291bnQgMS9LaWRzWyAzIDAgUl0gPj4NCmVuZG9iag0KMyAwIG9iag0KPDwvVHlwZS9QYWdlL1BhcmVudCAyIDAgUi9SZXNvdXJjZXM8PC9Gb250PDwvRjEgNSAwIFIvRjIgMTIgMCBSL0YzIDE0IDAgUj4+L0V4dEdTdGF0ZTw8L0dTMTAgMTAgMCBSL0dTMTEgMTEgMCBSPj4vWE9iamVjdDw8L01ldGExNiAxNiAwIFI+Pi9Qcm9jU2V0Wy9QREYvVGV4dC9JbWFnZUIvSW1hZ2VDL0ltYWdlSV0gPj4vTWVkaWFCb3hbIDAgMCA1OTUuMzIgODQxLjkyXSAvQ29udGVudHMgNCAwIFIvR3JvdXA8PC9UeXBlL0dyb3VwL1MvVHJhbnNwYXJlbmN5L0NTL0RldmljZVJHQj4+L1RhYnMvUy9TdHJ1Y3RQYXJlbnRzIDA+Pg0KZW5kb2JqDQo0IDAgb2JqDQo8PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQ1NT4+DQpzdHJlYW0NCnictZZNa+MwEIbvBv+HOSYLUTQjjT4g+NAkW3bZwLZ26aH0EEqaU9Putv+fHaWGJsRhXdf2QUKa0cyjV0IemJYv6x3MZtPV/McC9PTXereF0WY3uSnHRQEXizn8yTOtdPpC8AgaOLIyBMGiigR/N3l2+w12eXZR5dn0OwKJu4XqMc+StwYEdspZ8CYohOpJvC5L1LB9lcigFdoorUmxtu82bLBdX+bZ3Uxr4wuy0lMoyKWxq/t6XpuCfLL7995QQTGNxQ/TONTzuiA+jIO13Rf3UP3Ms6Vs5yrPYLmaAxzrhD3oRA06EZFicyDUqTwNooxg/F9i6oHYANozJ4uojP0EcTWeMI+W0upRuW+r4z30gCYLLHVga6Gm6UdNbFbTyTpHNfEesi2XHZYraBVDFy7uhys0QXFUwZ1AVcvyyzfqOB1qSqdyJl8LEdywh2NJ+S5Yflgskqes050JvXCRa+biGJXhIa7NaUYkI4/MuZQtpIjDSuFYadOFC/uoF87fHbZW+baC/f6gwhrko8oQJBO9cuAlsjCg1YoZWN4zPgASPiYBmNT8Ugt4+TV47YXmKMBDKmJWm7c1Olg8w9VhSbMH+gcaf+HPDQplbmRzdHJlYW0NCmVuZG9iag0KNSAwIG9iag0KPDwvVHlwZS9Gb250L1N1YnR5cGUvVHlwZTAvQmFzZUZvbnQvQXJpYWwtQm9sZE1UL0VuY29kaW5nL0lkZW50aXR5LUgvRGVzY2VuZGFudEZvbnRzIDYgMCBSL1RvVW5pY29kZSAzOCAwIFI+Pg0KZW5kb2JqDQo2IDAgb2JqDQpbIDcgMCBSXSANCmVuZG9iag0KNyAwIG9iag0KPDwvQmFzZUZvbnQvQXJpYWwtQm9sZE1UL1N1YnR5cGUvQ0lERm9udFR5cGUyL1R5cGUvRm9udC9DSURUb0dJRE1hcC9JZGVudGl0eS9EVyAxMDAwL0NJRFN5c3RlbUluZm8gOCAwIFIvRm9udERlc2NyaXB0b3IgOSAwIFIvVyA0MCAwIFI+Pg0KZW5kb2JqDQo4IDAgb2JqDQo8PC9PcmRlcmluZyhJZGVudGl0eSkgL1JlZ2lzdHJ5KEFkb2JlKSAvU3VwcGxlbWVudCAwPj4NCmVuZG9iag0KOSAwIG9iag0KPDwvVHlwZS9Gb250RGVzY3JpcHRvci9Gb250TmFtZS9BcmlhbC1Cb2xkTVQvRmxhZ3MgMzIvSXRhbGljQW5nbGUgMC9Bc2NlbnQgOTA1L0Rlc2NlbnQgLTIxMC9DYXBIZWlnaHQgNzI4L0F2Z1dpZHRoIDQ3OS9NYXhXaWR0aCAyNjI4L0ZvbnRXZWlnaHQgNzAwL1hIZWlnaHQgMjUwL0xlYWRpbmcgMzMvU3RlbVYgNDcvRm9udEJCb3hbIC02MjggLTIxMCAyMDAwIDcyOF0gL0ZvbnRGaWxlMiAzOSAwIFI+Pg0KZW5kb2JqDQoxMCAwIG9iag0KPDwvVHlwZS9FeHRHU3RhdGUvQk0vTm9ybWFsL2NhIDE+Pg0KZW5kb2JqDQoxMSAwIG9iag0KPDwvVHlwZS9FeHRHU3RhdGUvQk0vTm9ybWFsL0NBIDE+Pg0KZW5kb2JqDQoxMiAwIG9iag0KPDwvVHlwZS9Gb250L1N1YnR5cGUvVHJ1ZVR5cGUvTmFtZS9GMi9CYXNlRm9udC9BcmlhbC1Cb2xkTVQvRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0ZvbnREZXNjcmlwdG9yIDEzIDAgUi9GaXJzdENoYXIgMzIvTGFzdENoYXIgMzIvV2lkdGhzIDQxIDAgUj4+DQplbmRvYmoNCjEzIDAgb2JqDQo8PC9UeXBlL0ZvbnREZXNjcmlwdG9yL0ZvbnROYW1lL0FyaWFsLUJvbGRNVC9GbGFncyAzMi9JdGFsaWNBbmdsZSAwL0FzY2VudCA5MDUvRGVzY2VudCAtMjEwL0NhcEhlaWdodCA3MjgvQXZnV2lkdGggNDc5L01heFdpZHRoIDI2MjgvRm9udFdlaWdodCA3MDAvWEhlaWdodCAyNTAvTGVhZGluZyAzMy9TdGVtViA0Ny9Gb250QkJveFsgLTYyOCAtMjEwIDIwMDAgNzI4XSA+Pg0KZW5kb2JqDQoxNCAwIG9iag0KPDwvVHlwZS9Gb250L1N1YnR5cGUvVHJ1ZVR5cGUvTmFtZS9GMy9CYXNlRm9udC9BcmlhbE1UL0VuY29kaW5nL1dpbkFuc2lFbmNvZGluZy9Gb250RGVzY3JpcHRvciAxNSAwIFIvRmlyc3RDaGFyIDMyL0xhc3RDaGFyIDg0L1dpZHRocyA0MiAwIFI+Pg0KZW5kb2JqDQoxNSAwIG9iag0KPDwvVHlwZS9Gb250RGVzY3JpcHRvci9Gb250TmFtZS9BcmlhbE1UL0ZsYWdzIDMyL0l0YWxpY0FuZ2xlIDAvQXNjZW50IDkwNS9EZXNjZW50IC0yMTAvQ2FwSGVpZ2h0IDcyOC9BdmdXaWR0aCA0NDEvTWF4V2lkdGggMjY2NS9Gb250V2VpZ2h0IDQwMC9YSGVpZ2h0IDI1MC9MZWFkaW5nIDMzL1N0ZW1WIDQ0L0ZvbnRCQm94WyAtNjY1IC0yMTAgMjAwMCA3MjhdID4+DQplbmRvYmoNCjE2IDAgb2JqDQo8PC9UeXBlL1hPYmplY3QvU3VidHlwZS9Gb3JtL0JCb3hbIDAgMCAxNTEyLjkzIDU0OC40N10gL01hdHJpeFsgMC4wNDc1OSAwIDAgMC4xMzEyNyAwIDBdIC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQ0ODc+Pg0Kc3RyZWFtDQp4nJ1bS44lNw7cN9B3eCd40P9zDJ+h4Bkvphb2/RdDMoKSsrtKCwMNu4JiZlIURVIU398/f/xt//6wf+EdSo6v8I5N/1tCef3z358/8nyXPF6pv2utr8+fP2J/p1idIE/lkHN5lfxOdW7c5num9vqwF4M0+7v38YpDXh5fMea3oBLeOXVHwl7rO5Y13LJ9PgZ5SF5a3i1lQe097d0tvkOTp4P8X4YvSJllbvp9IbT8qkmkifau3F8l2qyIhDlliAHCECFbe838zjk76vEdY1RmEsp8xyGqCfbmLMLK94vO34HOL71Lr06o491mf+XxrnEqmjMrGiKMMoMgWtAv3ZAw40vE34PNOVUP3/2tCmv4guHvwebkpG4IzFFWRAihl1eVYZk67elpbsL8188f/xEFF1u6NEW+/upiQPLkmGZP//xpLDHrgp6GGpto2gkxVFGqzND/UvVBeBJ6N4vVx+J4zaDrHrOseCNQVlnihWMzdfXxTik50gXFNEnQL+Ipl+QhKKZI2sjvUZMJL0Y0kxN0M1SREBojqtN2nH4JhCJKKmLfKep0RL02AXsxgE2girQ+KLYo5lz4EaBjAiD0jG0rbD0viR4Cr3WKs7yLTs2nIQsnOiAh9qYvzNg3UaaTZMXtcYIY1fRfN6TMQ3ZwW8MXtJlHNdO5IWNO+ikhiGnEMdSAuNhz6MiyhBTLximpY3JLIFJ3U8ylkSC7awyx9JjUwFwnp8ZoDOIoxVwOYxBB5AlXvcgohtPhMjgFGu+eb27vXpY6vkScr3gsIZjlDN2qvlMh2d62SXzw9mRJtokYqNhcEcdMJCbJaZBAi01hqtX5BB7zW7aTetJHuMc/FyHD/m7oA8xqWxIvZN2TRIq87C7VrPFiKzmVtJWeZEayQ6rtJoDSbCEtDCiWt9nKmct9tQoRxPuF7miL4MMXdDBThgvazJ2TE6R+p6uRqhSqzPCu07xZksdkIrKwapjN9h9VrfLHQ++pjMPJQCldnKo45yQBUT3O9JCRstn/4HpfEJlH9X2VRJ3VtooZDpRIZAKLn16jElTlHWLwyVasKK+8mPaaVKCis7X1UGFFETBnorb8Kgk0qBuCDVLLYsSMIKkHFZwErveXSL8mRiZ7y4dNmbXxD/G63J7EwbSSVh6QJO3pZ5BMmvms7UdJmCa4rU+Ng8cGmuZeb0Eyy7TFODTiyX7/XAQ+8z8lxC8JfEQJRdfrNyxeLSuUxFG95m948UPYkrG0SBs/QTDjVPUVCS8tbRTMvrLrukgSWjdz1JTK41SBexWkuZgxw99iRjf0saT14QvazGKsao03ZGKYHn34gg7maJO4oT1BIWD+Y28n1dzeeh9L7WvYUiTaiKJuqCB0cqXERHSTL79MAn3vDX2AORb3y0Vz5uV5i4RIZGh0SAUOyYc1KU/umYm2ayaBvrmIaxWToIOVDFuoh7st3TzSGv4eHcwU44I2c/cJDgvO5pspxfbNpZuNm2su2NJ0vsWONodvLuIQ1BFyGIqhc1akAWA5Z3G7tnJwwDdkzNUiBpxzEbcV+jIIaPGwF8RZH+5w9PDOMl/bhcs7F82bmnvnMszB0TsTbe9Mgu+tC4IlUs/bO5duaQQJqmuxki+Rfk2zsbGGoU5xz/xr+2cnBKF56gzNpMNd2xunJhU+DGHooCnrrw66isXqOWDtJBKaRIov/vpYDBoUNdgU5HrQaM0WzZdx1WwhRKzLDpY5HTljTeNpXiLlkc3XGJhS6t5SlOqRUpJAuW9ImYOllD58QZuZju+GjNk0voa/RwczzP6GOMGdr6huSmFqX0VY7AhKnC2X5GC26EmPWYuFbHmLFgls9ZC3Yz/UYhlDR65NJPuNXpwE19QFbXsa4Xnkrc2EJaE2+M+Ez8sOaMkdsX5QMgzxThle5IaM2cKZD4tB6rCdIlWKOPYRsw7LSDk4LbmmYRkoy18A6zZTcx44lld+wTRb+5JW3GW3mo6+VTajJuLF/+q7vAKCrzQE5WoNrekcSznzXtoWTD04+bVgmtvnwipHFll1+t8bIjNScvWSdVrI8502zlO0zasdOxOz5J4G0BQYdQqqYMB+uh2wWvOZdSvwLBGiEYJpoQVLRruZGkBZRgq8V2ubz8O6ltE1JPv7jN+QY5DQki2j0LSE1XDyzdEdIQnqo8ST3ZBV97ougw9f0GamB7ghiqGFPA5f0MEMu70hMs9lOi3H7UoazlTL/lo1qTiIYxtdMNEuIZBQkPQ1JAeu8seKYKFaCYdZ2SrZmYEEXSU93iFcUfHb4fuyPYa/RMaMFcfTtAav/eVxIJuz7KxVYmhaMBjuEYhotMZshG622eoZ0J7zW8bZg5W3tkdswzNKJTTkLxLc+dcuApJAHfAxLE0P4rL3svWUFuwog3HViHYFjQT5Hh6iGE8pIbzSajwXbNp50ucrBqVOBvUUol0BJIEVwCbbGFo36e3Fyz332Jm36KCsXeheASQ65AeBJ6uOgiolegq8V6B3lnp4ruso+vGs1mUGo26U+EYqoldPS2y4anzwr1ctR+1jHbAfdr8FyilnhhU8vweLkzv/e2Bfz2r0PnpBBzM27w2tefEw1xG0mX6runo/snMqew2P9zrMKZjzt8PceBQfZXlGaIf3HhIMtnamLQYKtH1aWVxyTFsZoIIQ56i7lydBUlHdXTekzAj8PnxBBzM1fUGHGBy+oM2sdQpV3wV9qNYsPyLhhjYzP3VDypzOrPeGDmao54YOMTh8QZu5PKT8Eh3MYQ1vFz+inS93BBjif8a6HRvJDjgsQCuahhgBRrL6JbOJG9ra0GKReqBoG8AN+2H3azvMYB/cJzISWL+4oQ8wt+Yp9YDD9g+OdHxepeuWkvkwCrOsbRDt2gYJrG2MYed9FijG1ALPrlaoFHpgrEvI79DBDCluaDOztOHIShsQYh8+x0Qaa6UN1cQu8I/RjwTYNGERyIdR8WX6PFAV2aWNwXI28vkbIrOaMZKvgSIAvSOVuJ3nmHZeJmEGy3ZZ2pjhl7RuhvMoN4Mf5XSYaJc2SKBV3RAMkZrdpY0xLfEhQXUdvwQ6i6Ee2wdhY7X5X7uu4YTgavENOMpR5TC1WEz2YUjCbI+C/lrXmGKnu4r6uQhyPvvqr4/FwLqGI6oTMW/b1qyWRLKwMasXjs1ma3wa1yzpKKvNbN6H+ZmjleeS4EtzQcqc6lG9uaHNTFd9QyZGOmrFN3Qww+hviBPcF5yqm3VnOXG7u9LaWdu+7ZxN01UmD7NZcrnrGtNPqSYg7gdY1iDaZY35uE+4oWVOMaRxFNo/N4Wu9w4/jN88A0sfAv0oa/ePIYanb57iCtIizMHrWv9L7E+zbmUcflJSVczZmI9l6zM5KkMQIm6CILtcHUiSXEL1jXB0TvF77Cs0/mxCL4YbPPip1TvEWvhH6ZuxEA1Lr17SZ+j3utTA3owxsJDC3TjPa0yi2ldsmo92hCAeOa8rMXl5PNwWFBYOTyUQBx00z7jsTFEP4xrlV+MazxurGOACfyMwS1FKFJNT4X6j7Iszfi+2TNtafSml0fysHSTKS9gnwj+P1hRSVm+KHUNoURFFum1wsc9NiHGeRV2HR3sHKfZhPLlEeshMYyDxaEuINR53FCKcJS2rSwXwbFMBxftU2F/CXhS+fneqxO5XojasnQplGQfhORtQvFuFTSNLtofw2xp4C8vLUmu8KdZ5o4mMyBrRAKCubgxZgGT271C/m6IlO5sjmHcXq7Z9lXgPqFaIJWUfhTymPSYX5MxT222wS7WtQlUMcU2a4sjYMxqFfDx3df/mxhUW21GaCqOqJBSLvFHl5p9o4XCY5pIEBHZt3SH4LQFmciyitCNHoB63t5GZWaV2jcNxlMinAY/lJkU2BhVjgY6mn3J8VHpjOktvMdXwtjq97alUI5NGhjenaFQp5XWHB39kf6O+vruWf7Ew7iWqiyEUZgcDRR0geksFzTfl87IQ+upH+cXtpLu2AR/68ouuZUg5+3FelgPxsvqG9/VaDBCPRzyXn8tzbCdcF0ZGC21b0M6toGpDbs6Gyg0nuzMXRQxBx/loVIt6rRcDGjvS2M1gh4r1NNDxdqfw83zaJNtC+/K0M0n/3BSmYXeIzzUeJ8Bwgwf/Mv8b3OrO4WwsNDnteOB+PEkGp2dtpkEK03kFJOzpuNa5Q/DjNE+GHDwCW6uhmNij1zCfpcaYExw84xHhvg1yCu+D5GkthPE+yF6uF7j9kN2uiHglJBCZZ1l/7kshpzAxdrm9xzNGHgRd7qPCK2DyLkgdtCI96++OwZwaT6yaI90h+JFNM4XKj4tYgWeZ3vhRLF4bHbPm6cjhviRaasE1kT2ufRGNU0VnWT7EsZjAonvM2VJj3hU53LdFTllravVCb2x9mONhpq0elZFPo4SzLzTXR3DINePiEl8s06os9ESExfVHuGqPTmEt6w4xo2me1xlu8OTnXr7CUx5nuMGDn/XDOzR+WazQN8MNHvxLgBs0fhbwneEGT35X4A2e8jjDDR785Snw1/DkD87QzlNDbu15QyUShrMLNuuNRVktsrnb1dsuUQrFivCsQ97hoR+WKQU+2oGfe+XYQ9PKHh5ZM85KFr/ymGdoW3DFPqcgNvqjDJz+4h1Z8+xooQZDCbZX+bSj/fZF4ef5tEm2hWZkzbgNPyIrKcuebhDSDV2PzXCBB//yLTe41V14Ctguq/B2muukTXd9R0LCfZh1iieoBffCDCqlpHWOM+bVhWWjaFbyJnW2ye2qjrCbUXXU4e4Q/HZsGPpThBpYPjNvqoLE4wJO5Jys3WIcZ+zODILwOKCS4mc6Pp4Rj2JB3p13eOL3FwNkXWq0DuV8SN5QcfTfINyg8wcrBVn8KvZrm71oj1U9VnuG99lHE73nkYGNbYueR7F178ijSrdbvDWNGwS/9db7+Dh/saHCHPe1guc+GMca/PrdvAfhkUWR4llUQZXb06gyrEPoSKPKsHKrp1Fs+NM0in8eaRQpnkZRbrfaedgwJMm7+SGyx4x5VI3Y1zuPqsHSf0+crhD8qKcxD6jBFt7TpPK4Pcc823GE8ml7HkV45FGuF+ZR+rg4CuZRfP2RR1XcBXkeVaMXt8wOCY88ipRjVZEPwd5Oe3zGAPVVekRfvtNac8vbQglKIMnmqKGk240TIHJJrRes8e/RkTP7eBq4Gsan0kACp8lmYzUJYbbZL/XuEPUaOy0U/WmXnvNQC1b71F+1xGo9VIQoJdr6OcMVspioGwMErduq/kXqvICoh9cAJNRsFfHJX1NVRFi+GdAkhyU7wxUaf0XbG8exZtqm3fqCuekOpiJB0cZKPfGim4GrwLfvZZroAyPhhj5w7aLnSA7jJiWJsWmZGkjNIPBCAISsruN1QwezONiobx5olk1vLfvaZQKBLeUwN0zKHRo/7hOdIQbr49NMWLeuw0ODpGgLhCVCeFx2sNWJ+X5A0wqOxSDckE2Uv8TAMO5XdB/qJRCCnbZNGGvERVsadsGb11bs6JDc69KSXcyQcEPKHO2Iz9Fo/TRJG6bTQiIOG7lAKNqclV83dDBr4U4b7PQztFoKsY26QYk+fEHKjMthEnqwZsWiFw5tITn7I4CRwNW9oX/NXNUl9MAfu5lRdXQAb6PriecCDDdG6C/QhzZAHBY+cJOiBwutFACViFtYomYi4DG6KL50ezDXOQg3tIyi2I3dWlkxg20iRRaBzWIgVC1ELDP4Eh3MenWofYNatq2l24szGvCBVGc4Z1jbM6z8O2SqsFyChIHftFnXul5y25nLOsB5/d6tNKT9dHrNqb8R9w/rbWQ8pPDIQsodopSKFIkMqaC5LsNBp2Z3XJaAMIryN7V1vq1OdYPgh/+pttEE4kCpEc6gbQ5C8GtvxR7HDbw/XVByO17/oEgGjkJZyQvadMUBrQTffktgv8eK+guhsXQZCwz00I4ugt4bkeEKPS/rxziXHV9bMLivdoqWTRoYGpQfOqAKK5YGO0cm9MfPH/8HMX4ukA0KZW5kc3RyZWFtDQplbmRvYmoNCjI1IDAgb2JqDQo8PC9UeXBlL09ialN0bS9OIDE5L0ZpcnN0IDEzMy9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDQ2ND4+DQpzdHJlYW0NCnicpVTfa9swEH4v9H/4HrcnWT8c21AKZW3ZCA0hDuwh9EF1tMTUtoIjQ/vf72R5jbeFUm9gdHe6+747yXcSEhHEDDGHEOCCjAQ8lRAphCIro49DRpBKQJKWSUgBpRSkhMpiciBWM8gYcZZAzjBThOVIogg8QSoUESLjMXgGzn0mcvBEwXt4muHqii19+ggrlrP8oBu2fj0Ylru2K9xdZWq23EH2/jmi6+vLiw9AbgrX6WptXtwnfAabb8Af8UZ0IuEDyfIvBoKIPtjfEIl34fflrmvNOQ7+L3mnQ+R0iJoOiadDZtMhyXRIOh2STYfw6ByG2jxgbm3R1aZxZ3+pCK2UBJEGkfWC5qsXPIgQKUPv0Xz1Ig5i6MQh9yjPujVmZa1jK1uZB33wU+erWuqWKvJeP4D9DG2GU/qzvHkXNClz8wo+UN8TV2OdYQu/3DXbk+GH6sm+sNwUjn01emvaoHvML/1bU5WNyffaV+g3bhpi0K60zWC3rvyhSemt77Z9frL2+XSHfue4N8b5Ih170EVrR/aXPa0j+7bUld2NNvKq3JpRbMhDYbtW18O8DmdddPVx419C9dvtLnRtjptg/vEW/OcPHNrgEZcXPwFmHHp5DQplbmRzdHJlYW0NCmVuZG9iag0KMzcgMCBvYmoNCjw8L0NyZWF0aW9uRGF0ZShEOjIwMjEwNDI5MTQ0NjQyKzAyJzAwJykgL01vZERhdGUoRDoyMDIxMDQyOTE0NDY0MiswMicwMCcpID4+DQplbmRvYmoNCjM4IDAgb2JqDQo8PC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDI1Nz4+DQpzdHJlYW0NCnicXVDLasUgEN37FbO8XVw0sS1dhEC5l0IWfdC0H2B0kgqNijGL/H19pClUUDlnzhnmDL10187oAPTNW9ljgFEb5XGxq5cIA07akKoCpWXYUX7lLByh0dxvS8C5M6MlTQP0PRaX4Dc4PSo74A2hr16h12aC0+elj7hfnfvGGU0ARtoWFI6x0bNwL2JGoNl27lSs67Cdo+dP8bE5hDrjqgwjrcLFCYlemAlJw+JpoXmKpyVo1L/67hpG+SV8VvOoZqxmWb3z/Fd1NK3vi+whf7e8TSRnGfG6kNdCFiUvyju+9y2d0kBpb0dauXofg+bl5oQpmzZ47N9Zl1zp/gDt7YSiDQplbmRzdHJlYW0NCmVuZG9iag0KMzkgMCBvYmoNCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMjEwNzAvTGVuZ3RoMSA2MTkzMj4+DQpzdHJlYW0NCnic7HwNfFTF1feZmXv33t3Nbjbfm4S4N1nyYZaQsCQkgUhuPgVTIBigWTB1A0TxkwAJIFaIKAKBaqiKqK1ELIigcrOLuOGjRqmtH1WwWMVW2zwVv6HytPhRJLvPmbsLQl8fn/fxfX6vv77vnuXMmTtz/jNnzpyZubNJAAIAVkwE6JnSVOhO6ri9C4DMw1LvnBta22f9udYBoBYDUDpncYcSOvjEpQAz2wEk71XtV9+wNzduG0B1GYBh/NXX33TViya6EaD1MMBFRfPaWud+cu91W7Gt48hj5mFB/PJkbJsMx+fh827oWHrwS8vN+PwCwPjrr58/p1X5S+5jAGgCOItuaF3anuqJx/bJBCxQbmjraGW9YivAkaPcvhtbb2iDodZfATxSBFC0pn3+oo5QPryJ9QGu376wrZ1NGfMkwISlAHGfAR+rBPBx37snr4yt+ExOlYHTlncrMrh84/b30k+fPjNkA3kh6hp1fU4opfHByVBjg9OnTy+zwbmaCFk285K4+9Bwm15AURbCDMQ1YL+cGHud7gcRZPEBcTQ2kB6W7DW4isbLIjVLAuUkDMLI0AAsnYUYIwdOm1SjAH6yfyseCU4lo6XxxKcCCYVCOGk54l4+UkgyREyi5RHeAQH2MrTD90zib6AV+R5xBtz7bXqGHbAB9TYZysFzHnYj4i4T3oURmL/7u9qA+GnfBccyYPV37TNKUYpSlKIUpShFKUpR+jYiG0N7v28b/ndJeP9fx9YoRSlKUfo+iUBor4xsg9C+79uWKEUpSlGKUpSiFKUoRSlKUYpSlKIUpShFKUpRilKUohSlKP2/Q8KzcNX3bUOUovSvRuSB79uCKEUpSlGK0v9vJB4Bj/gWbDTmw0aU6/8n2hR+A1cI/w6bhDtg07fpGfJgkxiDfBlccQ77OeJuhsuEVLhY+AR6/ifsiVKUohSlKEUpSv8SxCI8LPJn5+vxCXPkpyDof3NuBxuWyJAFdTAFpsNcWAi9BlUxKoXZv+V/uQ4K1MAkuPyfa0LvnveZc0b75NVPtr93yT//vf35RAxf/zk+oZT/7f0/KaCpgvhfjSgnNy+SKxrlBigZU1p2ocKlFzxN/6/a+47Evhvs/7rX1erp09TK8ZdUjBtbXlZaUjzaPaqocGTBCFf+xXm5OdnDnVmZiuOijGHpaan2lOSkxIT4OFus1RJjNhllySAKjBIYUees9ypajlcTcpwTJhTwZ2crFrSeV+DVFCyqv1BHU7y6mnKhpoqaV/2TphrWVM9pEptSARUFI5Q6p6K9UutUAmTm1GbM/6TW6VG0E3p+kp7v0fMWzGdmIkCps8+rVTTiVeq0+sXzuuu8tdhcn9lU46xpMxWMgD6TGbNmzGkpzvY+kjKe6BmaUje2j4JsQaO0NGdtnZbqrOUWaCy7rnWu1ji1ua42PTPTUzBCIzVznLM1cFZrsS5dBWr0bjRDjSbp3SjX8NHAOqVvxED3+oANZntdMXOdc1uvaNZYq4f3EefCfmu1lGXH7F8/YuPxNc2rz69NZ9119msU/tjdvVrRBqY2n1+byVOPB9tALM2u93bXY9fr0YkNTQr2Rld5mjWyCrtU+Ej4qMLja3PW8RLvtYpmdFY753Vf68WpSevW4PKbMn1paWp/aBDS6pTuac3OTK0y3elprR3Wlwjdl9/kT1WV1AtrCkb02eLCju2zxkYyMZbzM23n6vScrs5zDZef8yzhFjknYkBoyhwFLWl24pjKeNJWBt1zylANyUMQpc3FGblGM9Z4u21jeTnHa2K2zal0fwYYAc4Txy8saY2UGLJtnwHP8jg5F2pYfzavuVxafj4PEakG5xRtHK8/lxSMWBygY5ztNgUFug8a0betnrGF6P7MTD7B6wIqzMYHrWtqc/hZgdnpPlALXR6NennNwNmapOm8putszTm414mRvFtf2UmanHPuX6wtOaFu3liNJH9LdVu4vqHJ2TB1ZrNS1+2N+LZh2gVP4fqyc3WRnJZQ08zSaSRH05lei0F5xTll/tAcownZ+M+gB/VcjWFQ6gVEqdds3gnh1GPKzPxPMQFJPg8UCJ3kKF18DYtYqY11Xfg87oLnC6yL6WZor5BDG6bN7O42XVBXjxtQd3e9U6nv9na3BkJds52KzdndTx+lj3a313nPTmggtHddula/3oODmEfGYrBSqO5zkjVT+1Sypmlmc78Nt+k105p9lNAab7WnbzjWNfcruOfqpZSX8kL+oPAHaCAY5z4q6/rp/SpAl14r6AX685wAAb1MPltGYE6Ahsts4Y5y9I5UPEDnBIRwjXpWW8AyOVzWFdbOi2jLWGPjNXsB93TQK8PEN42aac3nh4O+xjwFAFUxMI3t4h9aAhngYE+yJ6AC5RN+Q4ajq8rCHoddyBRsmCrIvcgMVPa4X7K41QDK+ERd+pJd7v7QAGbGjtbLC+5xd+1nO+FKGI3FO33TefFOv1rr1uXocWFZOEqXPjlcLSW6HVVpCCtEphAbyU1Bvgt5M/IzyAY0aCf8GTmEzNh2tsVX78AWtmJDsVWJbCt6VsX0EHIImaH1W3EsW+HTSImAVj3iN8bw7h/RUensEUTFYmpD7kLehXwIWYT5mG5GDiEzzG3Bui1A2Rb2sM/msFWZ2EOwApmyByCWEHBg65v8Nt039/tjE9xqlY3dC43IFDQ2CQaQKTa7AWEbgKJ6g69glO7CBr/J6rah/jo0eh0asg677MWU6M8qMtdf509I5s3f5ouN03E3+4qKwxm/ze5uRC8sBcLa2I3gxCldjvIilHNQ8qmezeaCRbdT9cfa3F3YXyWqV7IkuBirq1gyuFHWsjRI19U6fdZwP52+vHw3jriG2XWVWGaBYpQyk3xuh7KPqbrz1/iNZm7fGp8tyX2ArWISJKJWF2qlOGIPMBPOrEkfyTS/0eLuqYph03CY09AtDrSRoJdv1Bu60YcNVcWxOjYMkrHuOpYBSSjr2UW6fJQ9DPUof+7PGeYY2Mfu1lE/5Y1i9+PDoTXeb7G6B6qMbDzWauxOnIA79c57/DllbqjKYXlQhEzRxyswt0IP+m7MdeOsdeNMdeNMdaNR3Rh9wNZizVrUKWTLoJ0tgR7kzZjnYZXkQ4f265nhee5+lsrs6BjbPnQlwdI0v9HKLbP74hN0Nbs/xuquPMAWYZwvwjZV1uFPsbvn72P5+lBG+O3pHNDuw3A9wFLCU4PAZD4lB9gwdAR3TAa7yJfk0Koc+MwD2YGv4i/Rw9xJ9Aj9PZ9uegifuXw5Il+JyFfDMjRAD4cXBf0dl4NVw+h72NiV9B3YjDlK99GDUISAP9AAt4K+RfuhEuVRfJ6Lsh/laJR7fZkvOAI04EeBtj/osyTzwdKDPldhJOPIjmRS0iOZ+GR3VTZ9jj6LdxoHfRPlcJTP0gF8m3bQZ1DaUQ7QDngB5VO4a41DuTsif0X38xCnT9M9UIbS77NyEzSfxMUun4GLJ30QfmosdOynT9KdkIaqT/hy0rB0uz9nuCN2H7ZH6Fba4ctwxFeZ6MOkmZxCpV44yiXE0y2+Ut5Ij2+/4uinPbRHtZeq2WqBuo0VZRcVFG1jSrZSoJQq25QqG70TN5DNFNcvXYdpKSgUowdZRe6ha31CqVY1hGPi46LQhWmvnvNi2q7nAFPbudqTeq6SroIpyBTbWI68ArkL+Vb+v8jRZcg3I/8Y+Ra9pAO5E3kJ7ibtiGhHRDsi2nVEOyLaEdGOiHYd0a733onMEV5EeBHhRYRXR3gR4UWEFxFeHcHt9SLCqyMaEdGIiEZENOqIRkQ0IqIREY06ohERjYho1BEqIlREqIhQdYSKCBURKiJUHaEiQkWEqiOKEFGEiCJEFOmIIkQUIaIIEUU6oggRRYgo0hEKIhREKIhQdISCCAURCiIUHaEgQkGEoiNsiLAhwoYIm46wIcKGCBsibDrCps9PJzJHDCJiEBGDiBjUEYOIGETEICIGdcQgIgYRMUiX9LHDVc8j5DBCDiPksA45jJDDCDmMkMM65DBCDiPkcGToHbozKIbNcuQVyF3IHDuA2AHEDiB2QMcO6OHVicyxGiI0RGiI0HSEhggNERoiNB2hIUJDhKYjehHRi4heRPTqiF5E9CKiFxG9OqJXD9xOZI747wflf3tq6K2kWcazlnaRi3W5Ao7rcjkc1eUt0KfLH8M2Xd4MK3W5DEp1uQRydInt6bIDHDLxOUpjq5JxC5iCfCXyfOTNyPwl6RlkSc8dQv4zcoiWqFlCrDRF2iztkp6RxF3SoERjDVMMmw27DM8YxF2GQQNVqtKpRd9HcWuBu/R0BaafIuMhgmmlnqukxdhvMe6zJfgppsVq3Anl03xyKJ88k0925ZO78kmVkV5KBH2nU6AUX/ccpFmNyRnvOIpcmpM7HnemO/ccT3H4csY4AmR/WFysulAeR+5D3oa8ErkU2Y1cgJyN7NDL8lG/Wc2KNLkfORc5E1nhXUByMl5N4uNktZ9ayDb/8xYw8n5y8xC3z5dbhCLgy52C4mlf7mxHlZHsgVz+VkSewpnbiXKXz3EMq58Ii8d9jn0otvscxShafLkjUczy5b7iqLKQ6eAQOHRaRDbhuLm83OeYgWpTfY6LUbh8uTlcOx87ysbai0kzHEOZHUEND/fk9DnGocjyOcq5tgy5fOKJAQp080RkLpkfDfq0nzQLRDU7TjjudhxH+CfoWAyPt5SAgOJQdoDMUE2O/QUPoXKVw1dl4vp4PvRFpMblU45t2WsdD2JbJHuP437HSMedBQEZi3+Cdq/Vu/A5VuJ1c6ea4OhyFDk6Co45Fjkuc7Q6Lne0ZGO5z3GFYz83Ezykme7c42jEBifiKLJ9jkuzA7qJ9Y6bHKoj11Gu7Of+hbJwu6UF+7kHwB3ufQT6Nz87wGN8emmAxKn50kmpR5olVUvjJKeUJV0kZUiJcrxsk61yjGySZdkgCzKVQU4MhAZVF/8eL9Fg48Ig8FTQ8zbKU/6VH797EJnCZaAlsAba0FRNGrSBOdAwW9E+b3IGiAlvc6KzmmjxDdAwrVorczUEpNDlWqmrQZMaZzX3EXKnB0s1ugYvS9OaAyTEi1al869N+gis+kl6PxCSuuonHg/YkxdX2ivjx8eV19d+Q+KNpK6vyX5+NkPb2NDUrO3I8GhunglleBq0W/mXKv00llrqavuplQtPc7/QTmPrLuflQnutB9WO6WoYzVZUg1wuUE2uBoWr4X5SzdVwjsJ6OQhHvUwuUM9kgRxdL8dk0fUEwvX6jip1tX2KoutkAxzVdY5mw3k6GDGIre3LydG1nApp5lqk2anohl2sN+RwoEqBQ1ch+F6nN+Qgemda4dcq2RGVknMqJXpfjHyt4wjrJOad1UnMQx3X/yG1VbuIf1Tn8oP8eyqvs64N2autWzzPrnXNVpS+5Z2RL7ByvLPnzOOytU3rdLbVasudtUrfqIPfUH2QV49y1vbBwbppzX0H1bZa3yh1VJ2ztdbjr6xorrqgr7Xn+mqu+IbGKnhjzbyvyqpvqK7i1ZW8ryreVxXvq1Kt1Puqu4bHfWNznwzVnporwtJPzSaMYW96pqc62dY+ngd0/7hM+/L0vQKQ7WB2ebQYZ7VmQeZVBVUFVbwK1xmvsvIvIyNV9uXjMtP3ku2RKhsWxzmr4axrgSs1aCVTG7TMppnNPFQ0tfWb52wRJ73aDnXX1OI/fO7QGT/na8Kib6SOb6LOzs5FPOl0LQJo0PKbGrQxU9ESScKuvLUeLBt5towxvazPaKwLhAaw0oVGkA7eHc+5iAs9qJrw1iXRXkOvRPlVocOfluGefwBP8BXIeI+jS3yF+vWZLvFnZfP7S4e/sCQs8brKpS8t0409+EsRymV2WKpxBZjpye4p6Cntze4t6C01YOmebVjo2MaPUl/hNgYdrkVnHYHZDg86G83i/T3sG5ahd9zLMy6Xx7WI6P76X51Nzjr9nGMXRVpdpDffcXZCwuWLIo3gTIR77zwL64yA9MpOHRRuJPx0LvmaOjp5U9yfuEuLe2GYzo/CMCEH71oQOnaWg9eEjvE6LunHuKNnhDlCPngc3iR5RAE/OQ0p8CVJJaNgIkbpF/gKtwuG4F685k+DjSQe727JMB0mEgF1XLCePBhaHPoILoGfwpbQ02RlaAfW3wW/hi/Rgj/hiVkKk1F/OrTBR+w98IQeABlWgxnvdpeTZGiFN/DD/x/nu+Ee+CX5cehL7DURVmJ7FVAFVaFnQ2cgH9YLPeJR41OwAfYRQ2hO6Bp8U8qCbuoKvRH6M+SABx6Bx9EmFxkQJkAmXAerYBNJZb/G3L3wCwiSGNrCasRnsKeJMANuhCXQDTvgJRJPGsWj4snQzaEPMBoTIA9tugY+IiVkEt0qxITGh/4As6AfXsDx8s+AMEt4VJwVrAz9PPQc3sKfJiaynzwrusU7h24NPRx6EmLQnlHokcnYz2y4DZ6FF+Hf4W90RWgFTIAm7Pl5kkEUkoMef4Om0uV0OTsCI3G0LWhtJ2wGDWdkL+yDA+ibP8IgvEcSSTq5jMwmG8jfaAydSw+xB9lu9rpAhMfQ307IRh91wFbYA7+FV+AQEbH9ItJIriXzyX3k52SQavQ4/UKQhduEr4QhMSc4GPwqNDn0Gd690+AHsAxWoG8fAT/shlfh9/A3+Dt8TmykjMwjDxONDJLj1Eiz6BTaTjfiLfoJNpltYM8KJUK1cJ3wivAH8Q5xndQqBc9sC94dfCL4Wujp0GsYO1ZsPwfq0aO3YlRshWfgCLb+FrwDf+Hxg+2PIzPJj7CXRWQNuYc8QZ4nr5GPcZSgf7LoOFqLvc6nC9FPK+nd9B7s/RD/xoP+gb5DP6GfMZFlsTFsAXuYaSzADrP3BZuQI4wURglThJlCCGfGLV4qNonbxZ3ic+JJQ4VhrqHd8KG0Urpd/u1Q/tCfghCcF9SCfoxdGSNpGXriIdiCcb8b5+Al9OiraPEgnMJZSCOZJBftLif1pIFMIj8kV5A2spKsJj8lm8iDZAt5EkeAY6AS2u6iVbSJttI2ejtdTX9Cd+NnL32RvkGP0hNoeQpzMhcbxSaymWwWuxHH0MGWs9vRsxvYDnaIHWEfsA/ZCZy1FOEioVNYJtwvPCrsFl4TfyDegJ8t4jPigPiaeEY8Y6CGNMMwQ6HhWsN2w18kgzRGapTWSq9Lf5fbyTCSj5Yr5/+UkabiGryI7qCJwgpyAgsy8PYRiyN34Tw04ar4O1SyIM6LldejbUk0VUjgSIMqaPy7C7IPSsjzsMJAGf9P7gfBR96mg8JBegn8nnhJqvAou1F8iWbCTtyNeuh+uo9Uw25aQWfQnzEg7+Hp+B7G+1K4h1xHFsFOcoKMJbeQUrICXqfJrIncDhWhLVQgRjKRnAS0AG4V5sKPvv3HtaQc3oaPgg8JFuHHuD8FYCPO6OPwZ/IYnCZi6Djubgx3o1bcZdZjvK8Cvuu14DpbgesxFXeQ6w2HYDf/ybdUahgvLIOT8A/4SNyLEVWNO+kHwWuEh4R3Q6WhAlxhuMpgO667eXAprpj3MEoO4DN/ugJXugn3Ejeu6kaYCXPhFtz1NoS00M9Ct4VuCs2HlxF7mowgp0kvrogAIirgBfzcBW+RdbgOL/32cf5nFJwLA/AxsZNs4sb1cEJcLPaIO8Td4i/FVwyj0Nu3w4MY0X/BaDbhCObAa/AxfEFknJtUGAHFaG8Z2t4M11MPOwA1JA3acc3m4T5eHRnJImxlJXrvZ7ieD+DaOIn7xBXwSzhKKEnBEc3B/mVspwH9fCVqb8MZvI34sWQu7tr58AmO20rK8GI+AlRsaSPuWgNo09vwPno7pNs1AveFWjID2/oCfghzsYcx0Ej6cAb2QDnurLXst+jv4cQG1SSL/AJxXlyhVsiAcvFdQmFEcHKojF7DDuAZE8LyXjy90uESsgCtiMVxDEESmQIlwcvRhiOECRr5nW7F/bQttJotCV4PL8NjOCeqsFiqFRYKq4Sv9J/BgIgfjCAJqndTEjRIAVqpJoAoBBmYJCFIIFU2iEHK9pMcMOLGaQe7y/Z5xVDFZNupiklDFVCJedsZTEYVZcZlxmVjgjcuOKOwgTOqCF+BIgzw37QIYCx/iGe2CEa4eS8dDWbqVl0mUU11FMeKDpGKM+UyA6NgNJjuMhNzakoaM+YY5BxJyCEshxr20nvw5eoeNYbyo+AuwkiqyRwgsj/z/Z14Y5p8qqVi0rFjthPhz2RbXVvt+y1oXmXFJNvQ+y2uUUWkvra+ljC0kvGE4DosmvA2rpJl9EPSHNw+ZA/eQVKDH6C17ayPtenWmuE6tXi1uNr8ufi5WTCIBnOb2GZeLC42G0BkxGA2yZKII2bmU7LMQFZspkJTpYmZAuRm1cQUh35yMRKgG/0xW2u491pODLUMoWW2E3Ep5SQuvrycM9q3cEECK8lMYqP1dGsJcY88xRPWR+K+/DL4aTjlF9jW0Afij8QjeNa9oU6+w7g2cW3yZthk+I3xdfa6+TNmzDbmxeRZLk68OLlT7DTeIcpSgpSSkpCScjHNZ9milCfeL95nfJE9bxYryRQM9MttQAYx7HCi8K0zzl6sS5MFJZmpptgLBNmqWuOLrQ1XxpIpsSRWTbIXxwZInpoVX2BisZ9aZ8CnoDeVVjSMDEvK7ZVIrOSQiiSGQbXen768ye7CoGlZMAknp+XzlkknTp2AyqFTrpYFx1xc8kzLqCJoIS0tLUQ0CE4F4myQqaQkp4g5Oc4sQ5wtebR7jFBJHNXBV44H3w6uIctIMbFsn+sO/jFt6+JHXn6hd/EOmj7r5EcYIDPJjeTezT/S6hfe/nHwdPDj4xt5HN6DMd+KM2sDB6xQR+eJeaZLU9qEthgxP6U8ZUKyJ3leslieMiZ9dfr94kaz6IjLJkAT4rNjbXJq7i6JSNwxRnMxH5Wa0JVJlMyiTJoZF6+AYiuyUVuArvMroyKj5Wtkkq1lwecuHLe+WCr1tQItC0hLQqY7JTk5PikRzzf8ODNJ3Gh36XhaUpyTk5vjvIdmPO29NeAtKL1q0m2zfzF0hOS98+PSCVdWVFzfNP4pce+wnOeCH7z61G29cxryHcJzZ0qs8TOe37Fjz1XxVh4j9+IpdhJHaoYe9RJZFCQ52xDvEEmRuAtXm2hkQjYl1GTMNoMsGRoYnWACXHhpiqXIolqYRTAquKcX8ZDAEcWcPyJ9Aismnao4VXFuTHHlhS0L+HUDxNCAL6NcDIS6fGm66Esox/d6Dyox0VaBox8dl5mUGeF7hcozH9HBIYWNFvd+Gdz3RXDBF2j9BjyZU9H6GGpXzWaWI+eYmcAIw+ZU47CxxSZl7LhiYyA06I9I9RfDRmIpJgajbHrXeNwkCEaTKYEOE2xGh8lJRwiKsdB0NZ0ntBmvNS2hS4VfGHeYnjLuNX1uPG1K3iz0GDebfm180fQmPSq8YXzL9AH9UHjP+LHJssS41HQbXS/cZlxv6qFSs7mNXitcbZxnWkxvEqRa2iDUGhtMP5R/aGw2SXZTobWYjhWKjeNMlVaJ0RjBYDSakmiakGKU+gz8B92qgwrMZBRjJMltsMa4cQu2MSo3ypZiM0/0UVrNlmJZteYWm3mCRT9TbTxjlvEFRSBUMuHrXWUFOj8uPqU8fINqIYUnbK+f4AXpgdA4tQB7UQTZaHQzIZExAa/3JjejmKXYDIsRKI0xmYxGSXZYiTVALH7+K1d7aRmfRP+slmKRXz5TmqYVi25JlVbIRD6wAmfhgFkxx9AALVPj8RRRURFUVAK3I4bE8GYsozpxqzu14ITLZav4q60iLdU2tGBoQUWa3TbkcmGB7dgCvgXip7ICrV0tjnStvuVXq0fauXB5cDds0BKaMJrk0GCfWSkr8/BtAWnBwvDFdUELRhEh/NDBl9i4DWQfnrQS2R88EXwn+G7wT+LeM3b24el6YeVXyzljTG3Cte/EmDKSV1WrkRnkVJYiC/EyZehd8MebK1kgPGwu1XwcEXNLcqIkyUymVGJG9Bf6igl8xAIfseA2HBKJiCtETVXNjWavmbWbu8y01zxgpoq5yIx+NkYa5VK1NjUVG936whrAg5cvLRP3VWRpuVx8u8BBfh550k8w/ZAA5NUj+eDRQ+E46geGgW/EqJCVcIwMPG3kUYOJfitHP9boWl17zCVyl7lEH9glaSOL5SZMRJbM3ExlQj1bJffIvbJPPsYMv2KH5D/ITGGFcjEbJ0+Rf8o2y71sl6yxZ2Qz3/9U4+iSYqpiIvGVZyl0F1OFJ1JiCZbcpxozRxbTaZjo2vUXKfiEiUwlyU5ZijSC5krj6GhpMlWlK+gMyZhI06VJtE56QNopvUzfoh/SD6R/UHMuzZMuk5ZKa6THqYGgWxZ+/VXP2VDwgB4JcfzNI24TUWgzSQi+OdSHAVDAjpyuZ/vP1PKd34Nn5gd4Zsbim9MWdfp94n3ypphNVkEmklWOley59qXGJfHSkrilSXcIa+W1MXdYV8WvTVyTtCZljf2OtBgpHiMhLSk+LTHNnpQmJRRYjKkFEkvO3WUiYLKZFH7o45mgFGWoGd6M9oyujN4Mg5JxMoNm2HJ7gcTikVOkz/l6/7DlB88dh/r50KKfDycqT2Dk48igJaG4dMyY0jGjI4cgkMR4PPzwaMCD0FPjfuLqtX58pVwVXB48EOwPLiej3u/re/edp58epK8Pbmr3ucYGbww+EPx5cD4ehfP+EQyFQme+/Ir7AY9BcT+ugiTIhC/VleWxE2N/KF1rvjZmh/FRa69zj/Wo0WSQDaYUOdk0xlpvrY+VZJsxLtGaGJtoG2MdE3tpbKf1JtsRk3mpcWnq4ow1xjWpd2QYjMmJxphYa5O103q79R7rI1bRqlhiEi2WmNiYJEtKcnaCLZF4E3sTaWIiKJn87LFYrUkg47azX80Fi81CLa+n5/YaNMOA4bBBMKxudxLFWeSkzsyk84+irFFzvj6KdN+dONXCD1d9MxmqiOcnEUp91eCKabHeYvsViSsHfNbfLxa08IhxJycnJRqk5OSUhEw2kjqdcXj6juEexrPXuZHO/+T3Xc89673lWn/woTcWTvvRVRV//P21FVMmDN/9gbh3yksrt745rOyOncG/kMqdnsyhn7HJw5urL5sVI/Kz97LQ+8LfMNZGkMPqJf1xgYw9eb8eIeBLWBK+hCXZXfgOmddhWGrpyHsr5g1njMc03To9y+OcF3NV/NWZ1+RdPWJJxh0ZGzNj4p38hLvIUcyl2paaVjw1a6rz2axnncKCrAXOW7Nudf5b1r85DS5TvmV41nBnuaXY2WBqsNRm1TivtbQ5b7Isy1pr6c7aZnrUsj0rwWgyWgxZBmeqKdWSnCVlOU0WgaTMsKupSvF8O5lv32yn9r20DdJx1caklTvSSXpBIoMJhC/jiWlKcRFRSSNeh3tIL94GBvCi9VdBTSu3CUQoyDfaPw2lkBQ1IaU4pUHKzUkb6cjttWn4TtRAPo0LT2Bqwe8iLxINTc19oJZ5JvHZm2z7HKVrIX8lXOA61eI6FpYLXcfwdAgvdf3lIgv9kZ4xHv1xOCLf9SWUZ6F7UODTi754/nRYjY0vtyjx5SadY3nZh6o1Bsss5SY754TyC7739ESO5qSxprGWkqwS9ONES01WvXOb6bEsE7R4zr60ZScnhxdirv4pKR6Di1QIv6JKhqTElGRBjyz+/noZUdI2r75rwyU/KO7/q3f1ik8fI4kkRQoeTbjlllsnFo4oI9qhzvUheCb4cfAN8s6wDWtumlo8MT1+5LgZNz3ZfvCqv71kWTCnJKu8OLvwqhsOrFv+9nWE//I83vJA6Mc1LMFC1VloLBKKxEZju7HL2GOUDESk2QKjEsjGlJQ0YQU/n0iBajJIeBUB/ktD/DGOWRtpO+2iPVSgqfLQ45FZmdr8H+x9B3wU1fb/zOxstqRtsunZJJMeyCaZTSEJNSEdUndDCkXYZDfJks3uurshgEoJRZCOSAALxYKIoNhAEEWIiqDIUwQ7ihUlojwpUsL/3DuzySaCz/f+H/+/9/v8wyUz57Zzz/mecu/MpuyiwCpwupsEMQQXeJD6Bu9CN4ajsxs5CRJtGjq7kae7S+hl3aX0wStXrqFvWbofMmwUSBVI3JeVIRKLJCIZJBFJgbhAIqqWVMnWyjq81vk+6LdVttvvlO+3LpdcXN3d3OB4LYqWS9xcGff30CEEttKIrODy4CnBAkvwnGCKCWaDNwUfCKaDSQrO2IFs4IFAQSBKBEFOGyc+ZXO75nCUR1EyQMLeKQ/3ApP44dCGPULmQUVGoON12v1knKt8xd2z5gSRcezcj3a+//EsnxDYNL7bnzG+pXHtTkH89e7uK5+srdU+OG7WJZQ5K2/+QKNnB09CAWfqBO9al1pprXeVX1VArWKdaL3kikRiCZ0TSg0VpLoN9U0NHCPIdRvjmxu4XiLxQe/2ha5BcIODncjDE+CS+g/ycI8h0cfenp5E0IpQMlQWLg4MqRmOtULPSXdeGl7SdWP4dxh/bnfA+SunJsvd4GKQGrwb/BoCDAqXSbXh4WkuLpERsFvAPuEPeyFo3bNh0Nrua9m7xu/uvtZ98Ll2MvCGd1LuTO2i+Y26ex+aUEvGQhx7kIFrKNl1y1PFpscf270Z/Z3Ce+Fcmk6PhGelJ7PiOoSkxIPUCBuErUJBkneNR5OHxZuWSjzdwtyoFW433ahRbmVulNseqi1rkEgE6gkoF2kcIZFJWHBNWhI023ujNzXZe7b3M97HvWlvGQEP9kh5V4qaA+mEIgO9Rr1MKgis/Z1g0C4ZftSABB9Y8g0RwGEAVs5MRpaFaCTGPuuvQR8ija/ZJU3OgJNAOHqkgIBM9hchvV28yE3d35PCnObcKbXVBSOGqZPomI7m3LSLidlPdf9KkDf3ktHkWioNtuWA/YRAYAKVRfBl3SUkk2S/EXg/RieLtd1R5GcwVsbNob/713Po766eECp754Cj/+t1iO69ZH7vHPFfmCMmLu8VO+bsI6Nlf2GOjDi/T5aH58iIBmI8PYEuhWziSfjDISWWSCLSiVFEAVFGVBOTiUbCTLRB4jicVd9kLK+snFgz/e6M4RZ7nHKKLqq40E2cm0XDs4iYUDBRw5VRUcrhghpFKusjkwUoSsdMs1rrGvJHz5o5JNk01dtPXUW5DB1ZBSXijvGhQeNnTh0/fupMQUOE1GNwYmJMRAOR9MW7mUnvHn8XPcUkJSXJjr8re9crE0jZu4h0/sLjyCTuLjvGje83+A/jAQGfyAj0kyix/F3O3/35u6Nf1K/e/96/v389uh9/x3qCE2xqKrsGXS6nqFJUUYjqTk+GfztSVKoUSo2uN4JQAzWvZ+yNnWxqcjIeTB5Gfd0T0fUyGrwGUYK1cGGh1n0qJUV1GipkBxBViNldcCH3Jyel3SgE6gGWhSM7P6hbBMQPaNrHqWxqIhD9/m6pynF+ngtnGgURQ9yRNUIU7R9NiZkAhhIF+AdQseAxFBGrUPjEMqErQ6nQ0DjfkFhWTHqKw9A3ZyhCo3196YgEN0FQAi3BJ12vzKSuY8lk0qRJXcnozNaVktQ1ScWitz/obQgTG+Mli4ZQDqV9fcPhmAbpLJ0MR6ezCA9KWKV64qEz3Xt2byMzVx+zvLy6OT/yupckJX7KxrPFN/TUc0ETJ80uaB0/glz1vtlw+hhZQR7rnJjZtGrX0ZaC6uUp1q/I1Z2TJiknrUK6ojNxCegWQqRlhcRIyBCGJD3CZDI3hvFgPSgPL1GCn8CTIt3diFGdo0Z1pYDUXclJcKBMwikZ0k4qHCFBLl/0HOI7UoDFFpZ0f5RQYhg+8Z6SiO6PSO8wdfMCdbrdXDc2XjBLv6CUGd58f811OIy/P6R6RLiPSn3XdgsnjfgRkCaVyMmKAmmCUxkylhlEInk8QDIyKSGYYXiZBqHvEBrViaVKSUrpAsk+A9Fkn3XJupJvKxvlz4vo1dsrTOz+aHCRNr125hgGSRta3jS3hDU110VH1lqXjhs2wzylYFD3R/FFukz1tOKoW2jgmzaxYEjNSF6T6+O5IWmTF1SAVktv/iDMEe4DjFOyFHES0MaDcXMLoxgmhIVHJKSORCZ2JykniBG+KUlIC7SNh1IpySMptIuHp3kIIiMS6bSlZJwDYDKu+2cngIX7rrc7BBTkXs37wAlikGbizZ/pufQCeAYan6WUhXt5EeHPhpPZ4RXhq8I3h9PcS73wyMBwRswi/w2XoWW9Qn1eoeyEu2AnEUrZdwlceUeGfOOV4uUQGTwY+TLkGTgERiRSaakjQXL+iAhAY0WGpNNzM7tvds48srqi4oHjs/eRlKr7iyBzWcbkvJiY3ElDSlsZsvWtAxUdJ+cv/WJDxa7diROLI8vnT9Ev1kTpWlBEroNT4P20lUCfYqdn+UvCGQWryFKsVNAKRYw8hvFmvSlvfPLwlsr3gtyEYAcW2CEniCiH5yD/UAF6EgJI8RvIkVQ6HBsSqVgQdx3ZWWiPVc+uSphQHFw4uW1MdxLJrC6alMm4+fknZA/2n5BHW6Wu/nUrXm7p+KwwaHCYl2DxjSlekUOicmbXtI6JkQiF3JsXeihI6kqUZilEIqlA4HhilhLuQnEM+nlD9Gjsgr4VQiwmaIQyCdJKAGVC2pMuQPAbnSjqJqUA4En8m0S+rBMsvbGGyr7xGtVOW88eOHv5LP/OZyWsHEi0Z5X5+Q7xpTJpMogm3Wgi0NfdxdNVFDPDhZzqQg53KXahElxIhQvpIpUGT5OTejmZIs+RUxFyUg7/PTxjGC/Wi/IK9KVdPYQyF/kewY4X3N0kMimKv85RnbBf4byQjF9UgZQpmOhKwY8wkNrIkYJ0OXKjSBIKcih5qMBfEECLpB6ue8jV3Vfpm8TX3Tfp7qvk6r1SD6lYSE4OTmDTo6lR15YL0q4fRV+09cb+qPSkhECCR9aOka3KSpspJseKSbE4ADxWFCNYRZMMnUVTtGQaReail70xKpTYZYC2gBBIKLGrVEjtQU6BpM/M5HLxpEnJcE/pSsEyo3crKfjlSqTXOlJGviwgZfC0UiIAMYqo3deWU0/fqETeiCLqZ4goOZwfNFkJGdGF0VR6eEE4leFd6E0VCcihAlIaXhFKMqFsaFaoIDR0kE84/1CIfNTTNRL5qBBiy9lHkZNiGOU4ikIhfNARPpGKduQDPn9NrOj46N6FH6/XaNafmn/vx+vVZGxC6dSRIw0lysFjm7NGNZcoqZRln68rV6//ZNHijzsqKjpOLaudXx0fX71gQu28cYPiquY7oqoLEGXgFNSSleTv6xvj4+3j4y3zDvPxkYaTsV6xVGwsoUoKi8HSk4QXzPL39gmTeXqGgya7w8ISfXwZaeJe3olBnc5OnMogSfAw824MmRq9pIi/R9aJoUaZGT09elAiX/xmAoIwNlEQGeklh4zBv52IiYz0XUfR2sXa0YrgYN8R5vHphpS93U89mqIO8ghmYoPkKwuqgpSDUuJlldnraatnRHpc3B0pCVOqi/xpX11J97dXSmtlYomQ6s6ktgpo0cg4ZYYLRZ3Bby666FiwYjqxOKvIGkvGRiSEi4PDFYqHPMipHmQtPKERYpmYEWeJabFYnkmEp6dHhDNyVk7J0xEU4egnkz0EHqlhwYkKUqGIDYsNECD7prqGIUACePt6ZXJxDFeOILkTAK6gcAFaBqNQ2KDHN/yxCEIDP7xhX3B8LoQSqj86IHDAwVNQTCypC2ipiSscwgxmfcYXTlgZYx9q3Wo88bNX92mvyrLyat/U6tFVcwZXNYYNHTfE8ODpi+Hksjsme4SpIsJZT5Gfl98wpm5p7vTalCeeccvOYgfLQ4ICPX0G+SrXtagmj8v1G/z6m4DWIEipF8BXRERMlud7NEm7xJghzgiR1IVEygqQ9W90jiKTjk268e4k/Bkp9+w8q3u74O3upwWLz5693gacVkL0TARO0QSbJZfHyGSxVAwTzUZTZLRXNBUtRokxxNWL5KO1C4cqd/xAW6OfP4dROveUi2DAOyRK4mkrSUZAuzapE0bHB9BCIcmI/aJDQgomWgtmPmka4enqBqG8YfQEn8wC77A4/6AJWZT1xtO6BZNzI0LZCO+EsdpUdnUNHAOH8GUZ8fn/bSFnkuep0r5FMJ1uo6+hItzh8rkoTrTuzwo44e1L+0AZKANloAyUf6M89LeUlwbKQPkvLMfFP0rogTJQBspAGSgDZaAMlIEyUAbKQBkof6VIPQfKf23xHygDZaD8h2WB9B3XdNdZf6F86ZbmZu1XzrjHui9BxUPqsdnjTc+AgTJQBspAGSgDZaD8/1AIgtAIfiT4P9RABeFvpEY0SUhxDdEUIaYeIhx/JWMkNYunacKHWsnTQiKAeoWnXYA+wdMiQtfDR0yw1FWelhD3CaU87e5BC9c4vpebdJev42mSEPo8ztMUQft8y9MCIsznJE/ThNTnNE8LCTefizztQrj5kjwtIlQ9fMREgHwjT0uIPF93nnYXUb5q9Fc/aAGs5aGYwtM0EaSoxLQQ2qWKmTxNE34KE6ZdoN1FsZKnacJbMR/TIoSbYgtPA1aKtZgWQ7ub4iWepokAxVOYloCSodQ5nubw52gOf47m8OdoDn+O5vDnaA5/jhYRdYqDPM3hz9Ec/hzt7uETEoVpKdI9PpenQff4DEy7Qrt3/B08TROh8RxWbki2+Lt5GuSJt2DaA/3O5/gNPE0TivjlmJZhPnfzNOLDjZcjDONf4mnAMJ7DxAfLc5inkTycjr7Q7hN/hqdpgok/iWk/NF5J8TQafwnTgWi8UsHTMF4pw3QwsqlyOE+DTZUspkOwTbfwNLIpZ7swPF7N02h8PqajkE2VTTwNNlVOxPRghI9yDk8DPko7phMwnzU8jfgsQrTYCX+xE/5iJ73ETnq5OY13cxrv5mQXN4ddthEMkUywhAr93mSikmgi9HAvIcyECb7sxAzCgltyoGYFGl210G7AIxKhJ5swQmEINbQ1wnw7YcM1Pdz1MHoaXHV4pDuUQqjVQaueaIOWMszdBOs61ikG7jOAdyvwYYCvGXgaiHqg64G2QJ+1Zx2mR3qWSAEqpqeWTiixDFrgYIGxDKyrhXUQj3qimR87BmpN0Ip6W/Fv03HohHAwYD2Mt5WnAWPBEKOhXgc9qFWLkeirI8fHzGvK4FVaobce64tqDcC7DeZacUsrjNJh5Bj8+4w4exSBTAgdA55nwtgOw/P1eISeaIE1EdI6fGV4iRxjGdxugxaEn6XHgr16oH47/o1rRhiHfgcaGslp5NBCi2VCHqDDKyKZm7F2Df+R9/QfObTPqqOhx4h1iYORBiy7uQexQUQVRsnWo0k6cETW7+WR0MOjBKT7f+vrUvw14O//W/z9j37Qa6Vc7AltMNYEeCA7NkAx8DolYOzNII8Br1CKe5qw52mBN7JNOfYkK+4x4DjSwLVXd4SZisgkMsCif/R1pHcryGLBWnL6NmB57dh+tRhjBkfkDIwph4G9x66O0ajNjL0LoY9k0mP5dHichbe/Ese6Ca9jwVJzc+t5Lnq+rsW8LViDFhhlx31oVh2Ww2HP/rax8zM4T7H+oaWhRwdlT73XN/6IjgXXdTCnnrDjOY545NZV9qzTXwPOYm0Yp3ocObfCrI3X1IBjyoijxxHp/bFHc4yYioPxg/r46q25czL8p9g6R4LDP63Y9x3+5vD9W2ngWP2Pcg1z8gGkCaeLHa/nyI1WHD0zsP+gn7M14Yyhva2mnO9p+3gVF/lm/sppxdEoB1n4TISkdVjTwQeNRPnuz3yUy9om3jK93B0RYuBRtuLcaMAxbOdti84rjl2iAUezEWvpQLmvVyuxZbSY1vF+8MeM1j8S4nBmR3oOJZKg6HFGRms047ylx1bVQhtCqBFGOPqSeJ6T+2XJQXz09mYLWw9iDmn+nX3oL+Z9RtGPR7GDBxPS481ToY2zk8Nr9HjPNPL7Ra93/9le5vDK2+9nyHLlPZFjczojcPbmvEDPr9WIfdnE212Jdbby+wyXe1Bm0GL8OTs7/JjzKwufwbkV0D7A7SumHk/REr37ef989jfYogchLdbdzO85jvyhwy2tgA0XI71nHAbvakbeZ+IcMt7etgTax/rs6GDtQU4Y6fAuY+yTZ/6o45/ww9nXgOc5Rt86uyn7ZTcH9v1nI9S4fOqst0Ou3tNWb9T07kQOGypxvjfjVRp66nonD0F5i7OQDbj17rCc1HVYFj2/U7X22NI5l3A2TOItbsNRYuyRwRHXfX3pr6PqvMNzWjrvNH19uheJNoxjy39oR8dugE6DJh4ZvZMEOnxFa/biMhVG1DvtHfY/ycdc5tdhDRw73tA+WVwLHM0449z6fM2d/xy7TC8+jp2sFyPnnNJ3lg3nCs5Wdbzet95ztbexqLVHexv2UhPmzkURt/M67+j/qQc49rdCIg/3lhH5UKuG3VKNW4qgDZ1b1dBTBbVcaM2FllgYoeH7Y7GlqvE+VIj/GmslriMeariWQr0W57h8gsF1VBsL40uBF5qbR9TgNfKAmwaPVGPeJdBaDPc8fhyakQMt46CO6AKcBbn1SmEW97RQxO+JnKSV0M70aNhXqiK8okOyEqipgX8h35sNvIswPyQ/Wj8f06U9cubzkmZjjBBnxDMHJCrGNdQ6Du7lME6D18/GOnPSlmId8qGf0yUPS4BWTuR15cYhfKr4HmQjJF8xlF6tsjEGhViaXvxy4F4OkiP+BdBbiXeIMpiZizXVYPTyeMyQtsW41qsVZ6kcrA1CFWGQC3QJfBX0YKfGV04WtRO3vthV4/7eUZx+2fw1ByNXhmucNXJwrRLbCvUqeVuqsR79V63GnpiHR2VjjTU9HpKPvZeT3uGd3BplTpJw6yHbOsvi8GrmT2KE4+LoH8db+o+4INSzMSZILk3PyrfjnLiNSWZV6Uxlk54pMZvM9hkWPZNjtlrMVq3dYDYlMtlGI6M2NDbZbYxab9Nbp+l1iYy7e6G+zqpvY8oselMlmlOsnWFutTNGc6Ohnqk3W2ZY0RwGsWdTmBh0S1cyaq3R0sQUak315vpmaB1jbjIxha06G1qpsslgY4zOfBrMVma0oc5oqNcaGX5FGGOGRRmbudVar4dbg71Na9UzrSad3srYkR5FlUyxoV5vsumHMTa9ntG31Ol1Or2OMXKtjE5vq7caLEhBvIZOb9cajLbEbKsBFoIVtIzdqtXpW7TWZsbccHt0HI1DuZmjzUYdE1diqLeakVyDqvRWG1ojPZFl8YgENKKksocXhi7Xqm0zmBqZsoYGkI9JYNTmOoOJKTXUN5mNWpuSKdfarYZ6g5bRaLGWNkaVmZHcswxja7VYjAbQr8FssicyteZWpkU7g2kFTe0IU9TM2M1MvVWvteuVjM5gswDOSkZr0jEWqwF662GIHu5aG2PRW1sMdjuwq5uB8XSgZocOAN/qIBrQCkp0x6j3iGOxmnWt9XYlg7wF5irRHMcCoFhbE2jmJFkbLGow1Rtbdci1HNKbTcYZTJxhEGc9p+HA4c+k5YyN8LTqbQg3ZKjeBdD0Hl7DMAJxBljFrm9BVrUaYFWduc1kNGt1fdHTclCBk4E6ZlgKrq12CzirTo/URGOa9EZLX0QhgEwz+OHIIMAQ8Gky1BlA5kR3d+RaDWaj0YxdgIdaydRpbSCr2dTj0A4jxDXZ7ZahSUl6U2Kbodlg0esM2kSztTEJ1ZJg5GTe9QeBebFb2JBgiM2tY/VWMfY+P6IYjfgAwTzVDDohaPTT9EaIPwx332hGUPaJZ3f3cmQcGw4B0Bsg0MOsRqsWkNEpmQYrxCZ4T32T1toIOiOMASuwKExnzHUQkyYEihbnE4ef/XUtkEBam80MkYP8Q2eub20Bi2i5sDcYAZk4xLGPtoyGTygfDMIS6fQoI3B2uOU4ps1gb0LNTu6m5N0NSe/oNhrAT7m1ES8rl1JhBRxESEMl02LWGRrQXY8BsbSCQrYmHLDAuq4VBa8NNfJeAhomgeI2PeRo4IBszaN0S1G5gIcluaDhkcZCtDWZW/5ERxQGrVYTCKPHDHRmSLxYlqn6ervDwXr9GJxfZ8CBN5RzcW2deZreaV+A/IdCBsuDgszS6yl8l61JC1rV6ftErtZJUSta3mYHZ0KpF4KXC/Q/AwDFW2EeoynLr6zOVucxRRqmXF1WVZSbl8vEZmugHqtkqosqC8vGVTIwQp1dWlnLlOUz2aW1zNii0lwlk1dTrs7TaJgyNVNUUl5clAdtRaU5xeNyi0oLmNEwr7QMtp8iiERgWlnGoAV5VkV5GsSsJE+dUwjV7NFFxUWVtUomv6iyFPHMB6bZTHm2urIoZ1xxtpopH6cuL9PkwfK5wLa0qDRfDavkleSVVibCqtDG5FVBhdEUZhcX46Wyx4H0aixfTll5rbqooLCSKSwrzs2DxtF5IFn26OI8bilQKqc4u6hEyeRml2QX5OFZZcBFjYfx0lUX5uEmWC8b/udUFpWVIjVyykor1VBVgpbqyp6p1UWaPCWTrS7SIEDy1WXAHsEJM8owE5hXmsdxQVAzfSwCQ1B9nCavV5bcvOxi4KVBk50H9/3kqBSeNBrx8wZ6knHusROtpDs8w5zt09qAn5CcW/LxXLtzm2CRYL+gU/AaXHf1Gft3fUo18D5+4H38wPv4//n38dxnqgPv5P93vpPnrDfwXn7gvfzAe/mB9/L9s/nAu/m+7+Yd6Ay8nx94Pz/wfv6/7P38LZ9xDX94xkWnQJRxpuEzFjzx9uktwOcbG95D7DiP9n3uPQv3ZuISzD4L7c59VXiGc0shvk/Dz899e8pxnrHinMVlphm3lb6PBHQYPZIeRufQQ+gMOoseQY+lM/vMrLzlE/xYdCdV0N63FeU1C+jTZw3SizgjiISs3Rc1M3/CFnDf/X8zljh1mz+ySfL3OPTTADqjqZGn/WwcPRK+IrKtLSYlkzPDalQyBVZ9s5Ip1tpN2VZtnZL5Yx96T8mNwPy5nxeAr5BH4O7DLReylm0PWe0iGbywcOFld1JEbWoPmQdNsymSVLmyEhdhvIeAChISrNZFGu9C0mR7OkXSmzRsBat0alFsCZ2jIIbjUoY3FTM+5qFDyEhU2HAnZrRPqSWuY+eojAf8912UCEoDvo17SHXHpvaASradPsi2C57aJKBIipKngIivPuZ58e3HPb5iscCvsu490pJCkKsNiykYR7vIqXEalZz1QhWxXFqttTUZTI12s0klYz1Qo0guUut1LWaTThXKKlCLVO7b+8GC0ycvqnA2DPUL5AG9/ZWGFn2Cxq5tsTDlOdlsqL+7agibyaar0tMyUjPHQzXDqcrOfe5vkcyNlaJ+V7kguyxHFctGc7VQU47Bgj4FyNXkMXma0qEZqSm5CSnp+UMS8lVsqiqajeQUUtxSIQ33WQrbTkY4A0wKCUE76UlAu5RqJ0liVeav9XkTx2ygD77w+XTNk79un3Ag/oXXl8yeOnZKoeaRjkPq0AxN/byXfvnhvIDd+9uXTXXNb+64d1v96ZgHRyg7Fi9w3fH7qHO/u5ZL55lebffx/GbvVde6xhXeLtI5y555ad9TH9xP0A3JhxZsq7jQZZUtW+Tn1+y2vfWrTw69q9p/Md68W0CWKXd/ERxRmGxaOC999+VNS4+HPr1rS5l/Ucz6qMcuPPlp7gtDh219ouh0HNV8Olpa9v7yBxoTsx+fXFR0OumtjzRDLgga73EpH3boi+Nznvls07Ylc1ZsDxvr/fWXo9ubp+y867NlY2Oqvi6Z/Pj5VtGIvUMOLfP7bb866OfK8a+4m7fXPlXqdWDs2+gPE5OPtpMSQETIhgCkIR60H+2jMLl
[...]
