openapi: 3.2.0
info:
  title: UPLOAD - Air, Sea, Road (EU), Rail (DEMO) Upload attachment using Booking ID API
  description: 'Upload available documents for your bookings and shipments moved by DSV. Supported transport modes: Air, Sea, Road (EU) and Rail.'
  version: v1
servers:
- url: https://api.dsv.com/my-demo/upload/v1
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Upload attachment using Booking ID
paths:
  /shipments/bookingId/{type}/{bookingId}:
    post:
      tags:
      - Upload attachment using Booking ID
      summary: Upload attachment using Booking Id
      description: 'Upload attachment to shipment. Allowed types: "CUS", "GDS","HAZ", "INV", "PKL"'
      operationId: uploadDocumentByBookingId
      parameters:
      - name: bookingId
        in: path
        description: Unique identifier of the DSV booking
        required: true
        schema:
          type: string
      - name: type
        in: path
        description: 'Allowed types:

          - CUS - Customs Declaration

          - GDS - Other Goods Document

          - HAZ - Dangerous Goods Document

          - INV - Commercial Invoice

          - PKL - Packing list'
        required: true
        schema:
          type: string
      - name: DSV-Service-Auth
        in: header
        description: Basic Auth header - Will be deprecated
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Oauth header
        schema:
          type: string
      requestBody:
        description: 'It is not possible to delete documents which have been uploaded via the API to DSV


          All files are scanned for antimalware and the Maximum file size is 3MB.


          Here is a list of the most used content-types:

          - .xls = Content-Type: application/vnd.ms-excel

          - .xlsx = Content-Type: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet

          - .pdf = Content-Type: application/pdf

          - .txt = Content-Type: text/plain

          - .doc = Content-Type: application/msword

          - .docx = Content-Type: application/vnd.openxmlformats-officedocument.wordprocessingml.document

          - .ppt = Content-Type: application/vnd.ms-powerpoint

          - .pptx = Content-Type: application/vnd.openxmlformats-officedocument.presentationml.presentation

          - .jpg = Content-Type: image/x-citrix-jpeg

          - .jpeg = Content-Type: image/x-citrix-jpeg

          - .png = Content-Type: image/x-png

          - .bmp = Content-Type: image/bmp

          - .json = Content-Type: application/json

          - .zip = Content-Type: application/zip'
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: string
              example: Created
        '400':
          description: Request contains not valid data
          content:
            application/json:
              schema:
                type: string
              example:
                id: 73f3adf3-c508-4498-b618-5afa042956af
                message: Incorrect type
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                type: string
              example:
                Code: 401
                Message: Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription.
        '403':
          description: Lack of privileges to use this method
          content:
            application/json:
              schema:
                type: string
              example:
                code: 403
                message: Access denied due to missing API role. Please contact DSV via email at developer.support@dsv.com
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: string
              example: Internal Server Error
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: DSV-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: DSV-Subscription-Key
      in: query
