openapi: 3.2.0
info:
  title: Neom - eDC BPO Inbound API
  description: edc neom API
  version: v2
servers:
- url: https://api.dsv.com/om/neom/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: BPO Inbound
paths:
  /Orders/SearchCriteria:
    post:
      tags:
      - BPO Inbound
      summary: 2. Search Order
      description: Search Order
      operationId: POSTapi-public-v2-Orders-SearchCriteria
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.SearchRequest'
            example:
              Page: 1
              PageSize: 20
              Criteria: OrderNumber.StartsWith("2020") && !string.IsNullOrEmpty(Booking.BookingNumber)
      responses:
        '200':
          description: Success
  /Orders/{orderNumber}/{splitNo}:
    delete:
      tags:
      - BPO Inbound
      summary: 4. Cancel Order
      description: Cancel Order
      operationId: DELETEapi-public-v2-Orders-orderNumber
      parameters:
      - name: orderNumber
        in: path
        required: true
        schema:
          type: string
      - name: splitNo
        in: path
        description: Format - int64.
        required: true
        schema:
          type: integer
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      responses:
        '200':
          description: Success
  /Orders:
    post:
      tags:
      - BPO Inbound
      summary: 1. Create or Update Order
      description: Create or Update Order
      operationId: POSTapi-public-v2-Orders
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          enum:
          - application/json
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.OrderDto'
            example:
              Order:
                IsCancelled: false
                OrderNumber: PUBAPI-V2-B2
                OrderNumberSplit: 0
                OrderDate: '2019-07-02T11:00:00.0000000+00:00'
                OrderGoodsDescription: goods api
                TransportMode: AIR
                ContainerMode: LCL
                ServiceLevel: SRV
                EstimatedExWorksDate: '2019-07-15T06:51:50.0000000+00:00'
                ActualExWorksDate: '2019-07-02T06:51:50.0000000+00:00'
                ExWorksRequiredBy: '2019-05-12T06:51:50.0000000+00:00'
                DeliveryRequiredBy: '2019-07-02T06:51:50.0000000+00:00'
                OriginCountry: null
                Incoterm: INC
                AdditionalTerms: AT
                AdditionalTermsUNLOCO: null
                ActualVolume: 20
                UnitOfVolume: M3
                ActualWeight: 10
                UnitOfWeight: KG
                TotalPacks: 1
                TotalQuantity: 50
                PackType: PK
                FollowUpDate: '2019-07-02T06:51:50.0000000+00:00'
                PortOfLoading: KO
                PortOfDischarge: PO
                Currency: OC
                ClientType: Buyer
                TotalValue: 200
                TotalInners: 30.5
                TotalOuters: 10
                BookingReference: null
                TransitWarehouse: null
                OnHandDate: null
                PlannerCode: PC
                PlannerEmail: planner@email.com
                WarehouseReceiptNumber: null
                VehicleRegistration: vh
                TrailerNumber: tr
                Seal: seal
                ManifestNumber: manifest
                BookedInNumber: bookedin
                DispatchedDate: '2019-07-02T06:51:50.0000000+00:00'
                EstimatedReceiptDate: '2019-07-02T06:51:50.0000000+00:00'
                BookedInDate: '2019-07-02T06:51:50.0000000+00:00'
                CutOffDate: '2019-07-02T06:51:50.0000000+00:00'
                InvoiceDate: '2019-07-02T06:51:50.0000000+00:00'
                InvoiceNumber: inv
                ConfirmedDate: '2019-07-02T06:51:50.0000000+00:00'
                ConfirmationNumber: conf
                ContractNumber: cont
                GoodsReceiptNumber: goodsre
                GoodsReceiptDate: '2019-07-02T06:51:50.0000000+00:00'
                AuthorisedBy: auth
                AuthorisedToShip: '2019-07-02T06:51:50.0000000+00:00'
                OrderType: PO
                EarliestShipDate: null
                LatestShipDate: null
                PackLines:
                - PackageCount: 200
                  PackType: PCK
                  ContainerPackingOrder: 0
                  Weight: 20
                  UnitOfWeight: ''
                  Length: 10
                  Height: 20
                  Width: 5
                  UnitOfDimension: ''
                  Volume: 1
                  UnitOfVolume: CM3
                  RefNumber: REF
                  Description: ''
                  DetailedDescription: null
                  HarmonisedCode: ''
                  Origin: ''
                  CommodityCode: ''
                  ContainerNumber: ''
                  Outturn: 0
                  OutturnedLength: 0
                  OutturnedHeight: 0
                  OutturnedWidth: 0
                  OutturnedWeight: 0
                  OutturnedVolume: 0
                  OutturnComment: ''
                  Pillaged: 0
                  Damaged: 0
                  LoadingMeters: 30
                  MarksAndNumbers: marks
                  ProductCode: PC001
                  DangerousGoodsRef: null
                  NoOfPallets: 0
                  PackIdentifier: ''
                  DocumentRemarks1: ''
                  DocumentRemarks2: ''
                  DocumentRemarks3: ''
                  Sequence: 0
                  Stackable: true
                  OrderLineNumber: 1
                  CustomFields:
                  - Name: PK Addon1
                    Type: STR
                    Value: string
                  PackageMarks: packmarks
                CustomFields:
                - Name: StringAddon
                  Type: STR
                  Value: string
                - Name: DateAddon
                  Type: DAT
                  Value: '2019-07-02T06:51:50.0000000+00:00'
                - Name: BoolAddon
                  Type: BOO
                  Value: 'true'
                - Name: IntAddon
                  Type: INT
                  Value: '20'
                - Name: DecimalAddon
                  Type: DEC
                  Value: '50.57'
                RequiredInStore: '2019-07-02T06:51:50.0000000+00:00'
                RequiredExWorks: '2019-07-02T06:51:50.0000000+00:00'
                Parties:
                - Type: Buyer
                  Code: POSTBUY
                  IsActive: true
                  FullName: Buyer Name
                  ClosestPort: ''
                  Currency: null
                  PhoneNumber: '0123'
                  Email: null
                  VATNumber: null
                  RegisteredNumber: null
                - Type: Supplier
                  Code: POSTSUP
                  IsActive: true
                  FullName: Supplier Name
                  ClosestPort: null
                  Currency: Cur
                  PhoneNumber: PH
                  Email: email
                  VATNumber: vat
                  RegisteredNumber: reg
                - Type: DeliveryTo
                  Code: POSTDLV
                  IsActive: true
                  FullName: Delivery Name
                  ClosestPort: null
                  Currency: ''
                  PhoneNumber: '012'
                  Email: recption@email.com
                  VATNumber: '572018555'
                  RegisteredNumber: RegisterNumber
                - Type: Owner
                  Code: POSTOWN
                  IsActive: true
                  FullName: Owner Name
                  ClosestPort: ''
                  Currency: null
                  PhoneNumber: '0123'
                  Email: null
                  VATNumber: null
                  RegisteredNumber: null
                - Type: PickupFrom
                  Code: DECNTAZ-0001175
                  IsActive: true
                  FullName: DECNTAZ-0001175
                  ClosestPort: null
                  Currency: null
                  PhoneNumber: null
                  Email: null
                  VATNumber: null
                  RegisteredNumber: null
                  EDICode: DECNTAZ
                  ExternalCode: null
                  Address: null
                ParentOrderNumber: null
                OrderLines:
                - LineNo: 5
                  Partno: you
                  Description: me
                  UnitOfQuantity: PC
                  Quantity: 50
                  QtyInvoiced: 40
                  QtyBooked: null
                  QtyReceived: 30
                  QtyShipped: 20
                  Volume: 0
                  UnitOfVolume: ''
                  Weight: 0
                  UnitOfWeight: ''
                  ItemPrice: 10
                  LinePrice: 200
                  Length: 0
                  Width: 0
                  Height: 0
                  DimUnit: ''
                  DangerousGoodsRef: null
                  ContainerNumber: ''
                  HarmonisedCode: HC
                  PackLineId: ''
                  InvoiceNumber: ''
                  ConfirmationNumber: ''
                  PartAttrib1: ''
                  PartAttrib2: ''
                  PartAttrib3: ''
                  SpecialInstructions: SI
                  AdditionalInfo: AI
                  ContractNumber: CN
                  OriginCountry: CO
                  DecimalPlaces: 0
                  QuantityPerUnit: 0
                  NetWeight: 0
                  TransportMode: AIR
                  EarliestShipDate: null
                  LatestShipDate: null
                  FreightClass: null
                  ServiceLevel: null
                  Inners:
                    Value: 30.5
                    Unit: M3
                  Outers:
                    Value: 10
                    Unit: KG
                  Parties: []
                  EstimatedExWorksDate: '2019-07-02T06:51:50.0000000+00:00'
                  ExWorksRequiredBy: '2019-07-02T06:51:50.0000000+00:00'
                  DeliveryRequiredBy: '2019-07-02T06:51:50.0000000+00:00'
                  CustomFields: []
      responses:
        '200':
          description: Success
components:
  schemas:
    eDC.Domain.Enums.OrderState:
      enum:
      - Provisional
      - Open
      - Confirmed
      - OnHand
      - BookingProvisional
      - BookingPreBooked
      - BookingBooked
      - BookingRejected
      - BookingApproved
      - BookingConfirmed
      - BookingParked
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - PendingCollection
      - Collected
      - BookingOnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Fulfilled
      - Suspended
      - Cancelled
      type: string
      format: int32
    eDC.Web.Api.v2.Models.Entities.Booking:
      type: object
      properties:
        bookingNumber:
          type:
          - string
          - 'null'
          description: Booking Number
        externalBookingNumber:
          type:
          - string
          - 'null'
          description: External Booking Number
        externalBookingSender:
          type:
          - string
          - 'null'
          description: External Booking Sender
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.BookingState'
        origin:
          type:
          - string
          - 'null'
          description: Origin of the Booking
        destination:
          type:
          - string
          - 'null'
          description: Destination of the Booking
        incoterm:
          type:
          - string
          - 'null'
          description: Incoterm of the Booking
        additionalTerms:
          type:
          - string
          - 'null'
          description: Additional Terms of the Booking
        additionalTermsUNLOCO:
          type:
          - string
          - 'null'
          description: UN Location Code
        freightTerm:
          type:
          - string
          - 'null'
          description: Freight Terms
        orderNumbers:
          type:
          - string
          - 'null'
          description: Order Numbers
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Measure for Weight
        weight:
          type: number
          description: Weight
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Measure for Volume
        volume:
          type: number
          description: Volume
          format: double
        noOfPieces:
          type: integer
          description: Number of Pieces
          format: int32
        orderCurrency:
          type:
          - string
          - 'null'
          description: Currency for the Order
        totalValue:
          type: number
          description: Total Value of the Order
          format: double
        packingWeight:
          type: number
          description: Packing Weight
          format: double
        packingVolume:
          type: number
          description: Packing Volume
          format: double
        transitWarehouse:
          type:
          - string
          - 'null'
          description: Transit Warehouse
        onHandDate:
          type:
          - string
          - 'null'
          description: On Hand Date
          format: date-time
        preBooked:
          type:
          - string
          - 'null'
          format: date-time
        bookedDate:
          type:
          - string
          - 'null'
          description: Date of Booking
          format: date-time
        rejectedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Rejection
          format: date-time
        approvedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Approval
          format: date-time
        confirmedDate:
          type:
          - string
          - 'null'
          description: Date of Booking Confirmation
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          description: Date of Booking Cancellation
          format: date-time
        countOfTEU:
          type: number
          description: TEU count
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Container
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Container
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Container
          format: int32
        source:
          type:
          - string
          - 'null'
          description: Source
        systemID:
          type:
          - string
          - 'null'
          description: System ID
          format: uuid
        isApprovalRequired:
          type: boolean
          description: Boolean if Approval is required
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: Transit Warehouse Description
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          description: Estimated Delivery Date
          format: date-time
        collectionRequiredDate:
          type:
          - string
          - 'null'
          description: Collection Required Date
          format: date-time
        collectionRequiredDateBy:
          type:
          - string
          - 'null'
          description: Collection Required Date By
          format: date-time
        deliveryRequiredDate:
          type:
          - string
          - 'null'
          description: Delivery Required Date
          format: date-time
        deliveryRequiredDateBy:
          type:
          - string
          - 'null'
          description: Delivery Required Date By
          format: date-time
        isCancelled:
          type: boolean
          description: Boolean if cancelled
        shipmentNumbers:
          type:
          - string
          - 'null'
          description: Shipment Number
        noOfContainers:
          type: integer
          description: Number of Containers
          format: int32
        ownership:
          type:
          - string
          - 'null'
          description: Ownership
        bookingDeliveryInstructions:
          type:
          - string
          - 'null'
          description: Booking Delivery Instruction
        requiredDepartureWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Departure Week Number
          format: int32
        requiredArrivalWeekNumber:
          type:
          - integer
          - 'null'
          description: Required Arrival Week Number
          format: int32
        cargoReadyDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Cargo Ready Date Week Number
          format: int32
        deliveryDateWeekNumber:
          type:
          - integer
          - 'null'
          description: Delivery Date Week Number
          format: int32
        estimatedDeliveryToOriginCFSWeekNumber:
          type:
          - integer
          - 'null'
          description: Estimated Delivery To Origin CFS Week Number
          format: int32
        supplierRef:
          type:
          - string
          - 'null'
          description: Supplier Reference
        requiredExFactory:
          type:
          - string
          - 'null'
          description: Required Ex Works Date
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: Required in Store Date
          format: date-time
        requestedDepartureDate:
          type:
          - string
          - 'null'
          description: Requested Departure Date
          format: date-time
        requestedArrivalDate:
          type:
          - string
          - 'null'
          description: Requested Arrival Date
          format: date-time
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport
        containerMode:
          type:
          - string
          - 'null'
          description: Container Mode
        goodsDescription:
          type:
          - string
          - 'null'
          description: Description of Goods
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        bookingInstructions:
          type:
          - string
          - 'null'
          description: Booking Instructions
        loadingMeters:
          type: number
          description: Loading Meters
          format: double
        commodityCode:
          type:
          - string
          - 'null'
          description: Commodity Code
        plannerCode:
          type:
          - string
          - 'null'
          description: Planner Code
        plannerEmail:
          type:
          - string
          - 'null'
          description: Planner Email
        loadPort:
          type:
          - string
          - 'null'
          description: Port  of loading
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of discharge
        sdocComplete:
          type:
          - string
          - 'null'
          format: date-time
        estimatedDeliveryToOriginCFS:
          type:
          - string
          - 'null'
          description: Estimated Delivery To Origin CFS Date
          format: date-time
        isPickupRequired:
          type: boolean
          description: Boolean for Pickup required
        shippingInstructions:
          type:
          - string
          - 'null'
          description: Shipment Instructions
        customerDivision:
          type:
          - string
          - 'null'
        carrierSpaceReservation:
          type:
          - string
          - 'null'
          format: date-time
        followUpDate:
          type:
          - string
          - 'null'
          format: date-time
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
        isSuspended:
          type: boolean
        suspendedDate:
          type:
          - string
          - 'null'
          format: date-time
        loadPlanNumber:
          type:
          - string
          - 'null'
        shipmentNumber:
          type:
          - string
          - 'null'
        temperatureControl:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TemperatureControl'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Custom Fields
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Pack Lines
        equipmentTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.EquipmentType'
          description: Equipment Types
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
          description: Notes
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Events
        order:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Order'
          description: Order
        shipments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.OrderItem:
      type: object
      properties:
        lineStatus:
          type:
          - string
          - 'null'
          description: 'Line Status: PLC for Placed, DLV for Delivered.'
        lineNo:
          type: integer
          description: Order Line Number.  Must be an integer, unique to the respective Order.
          format: int32
        partno:
          type:
          - string
          - 'null'
          description: Part No, Product Code or SKU Number.
        description:
          type:
          - string
          - 'null'
          description: Description of the part.
        unitOfQuantity:
          type:
          - string
          - 'null'
          description: 'The unit, such as: EA equals Each.'
        quantity:
          type:
          - number
          - 'null'
          description: Quantity Ordered.
          format: double
        qtyInvoiced:
          type:
          - number
          - 'null'
          description: Quantity Invoiced / Booked by the Supplier.
          format: double
        qtyBooked:
          type:
          - number
          - 'null'
          description: Quantity Invoiced / Booked by the Supplier.
          format: double
        qtyReceived:
          type:
          - number
          - 'null'
          description: Quantity Received at the destination warehouse.
          format: double
        qtyShipped:
          type:
          - number
          - 'null'
          description: Quantity checked by the Control Tower to actually be Booked.
          format: double
        quantityRemaining:
          type:
          - number
          - 'null'
          description: Only applicable for Blanket Purchase Orders.
          format: double
        volume:
          type: number
          description: The total volume of the Order.
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: The unit of volume.
        weight:
          type: number
          description: The total weight of the Order.
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of weight
        itemPrice:
          type: number
          description: Price of the individual item
          format: double
        linePrice:
          type: number
          description: Price of the line, which is the the individual item, times the number of pieces
          format: double
        length:
          type: number
          description: Length of the item.
          format: double
        width:
          type: number
          description: Width of the item.
          format: double
        height:
          type: number
          description: Height of the item.
          format: double
        dimUnit:
          type:
          - string
          - 'null'
          description: Unit of Dimension, applicable to the Length, Width and Height
        dangerousGoodsRef:
          type:
          - string
          - 'null'
          description: Reference of Dangerous Goods
        containerNumber:
          type:
          - string
          - 'null'
          description: Container Number
        harmonisedCode:
          type:
          - string
          - 'null'
          description: Harmonised Code for customs purposes
        packLineId:
          type:
          - string
          - 'null'
          description: ID of the PackLine to which the item is allocated
        invoiceNumber:
          type:
          - string
          - 'null'
          description: Invoice Number
        confirmationNumber:
          type:
          - string
          - 'null'
          description: Confirmation Number
        partAttrib1:
          type:
          - string
          - 'null'
          description: PartAttrib1
        partAttrib2:
          type:
          - string
          - 'null'
          description: PartAttrib2
        partAttrib3:
          type:
          - string
          - 'null'
          description: PartAttrib3
        specialInstructions:
          type:
          - string
          - 'null'
          description: Special Instructions such as Handling Information
        additionalInformation:
          type:
          - string
          - 'null'
          description: Additional Information
        lineFreightCost:
          type: number
          description: Freight Cost for Line
          format: double
        lineLandedCost:
          type: number
          description: Landed Cost for Line
          format: double
        itemFreightCost:
          type: number
          description: Freight Cost for Item
          format: double
        itemLandedCost:
          type: number
          description: Landed Cost for Item
          format: double
        lineWeight:
          type: number
          description: Line Weight
          format: double
        lineVolume:
          type: number
          description: Line Volume
          format: double
        contractNumber:
          type:
          - string
          - 'null'
          description: Contract Number
        isContainerAllocated:
          type: boolean
          description: Boolean if Container is allocated
        originCountry:
          type:
          - string
          - 'null'
          description: Country of Origin
        decimalPlaces:
          type: integer
          description: Decimal Places
          format: int32
        quantityPerUnit:
          type: number
          description: Quantity per Unit
          format: double
        netWeight:
          type: number
          description: Net Weight
          format: double
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport; for example SEA
        earliestShipDate:
          type:
          - string
          - 'null'
          description: Earliest Shipping Date
          format: date-time
        latestShipDate:
          type:
          - string
          - 'null'
          description: Latest Shipping Date
          format: date-time
        freightClass:
          type:
          - string
          - 'null'
          description: Freight Class
        serviceLevel:
          type:
          - string
          - 'null'
          description: Service Level, for example STDequalsStandard
        ediSequence:
          type: integer
          description: EDI sequence
          format: int32
        inners:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        outers:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        qtyRemaining:
          type: number
          description: QTY remaning
          format: double
        qtyShippedRemaining:
          type: number
          description: QTY Shipped Remaining
          format: double
        qtyInvoicedRemaining:
          type: number
          description: QTY Invoiced Remaining
          format: double
        qtyNotInvoiced:
          type: number
          description: QTY Not Invoiced
          format: double
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        isCancelled:
          type: boolean
          description: Boolean if Cancelled
        estimatedExWorksDate:
          type:
          - string
          - 'null'
          description: Estimated Ex Works Date
          format: date-time
        requiredExWorks:
          type:
          - string
          - 'null'
          description: Required Ex Works Date
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: Required in Store Date
          format: date-time
        notAuthorisedToShip:
          type:
          - string
          - 'null'
          format: date-time
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Custom Fields
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Events
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User who modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User who created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.DangerousGoods:
      type: object
      properties:
        regulation:
          type:
          - string
          - 'null'
        hazardClass:
          type:
          - string
          - 'null'
        additionalHazardClass:
          type:
          - string
          - 'null'
        classificationCode:
          type:
          - string
          - 'null'
        undgNumber:
          type:
          - string
          - 'null'
        variant:
          type:
          - string
          - 'null'
        psn:
          type:
          - string
          - 'null'
        technicalName:
          type:
          - string
          - 'null'
        labels:
          type:
          - string
          - 'null'
        packingGroup:
          type:
          - string
          - 'null'
        upperPlate:
          type:
          - string
          - 'null'
        lowerPlate:
          type:
          - string
          - 'null'
        numberOfPackages:
          type:
          - string
          - 'null'
        packageType:
          type:
          - string
          - 'null'
        packagingInstruction:
          type:
          - string
          - 'null'
        transportMeansCategory:
          type:
          - string
          - 'null'
        grossWeight:
          type: number
          format: double
        netWeight:
          type: number
          format: double
        explosiveWeight:
          type: number
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
        flashPointTemperature:
          type:
          - string
          - 'null'
        flashPointTemperatureUnit:
          type:
          - string
          - 'null'
        flashPointDescription:
          type:
          - string
          - 'null'
        tremCardNumber:
          type:
          - string
          - 'null'
        emsNumber:
          type:
          - string
          - 'null'
        mfagNumber:
          type:
          - string
          - 'null'
        marinePollutant:
          type:
          - string
          - 'null'
        limitedQuantity:
          type: boolean
        tunnelCode:
          type:
          - string
          - 'null'
        remarks:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactEmail:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Shipment:
      type: object
      properties:
        shipmentNumber:
          type:
          - string
          - 'null'
          description: Shipment Number
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.ShipmentState'
        isCancelled:
          type: boolean
          description: Boolean if Shipment is Cancelled
        isShipping:
          type: boolean
          description: Boolean if shipped
        isForwardRegistered:
          type: boolean
          description: N/A
        shipmentStatus:
          type:
          - string
          - 'null'
          description: Status of Shipment, for example Shipped
        interimReceipt:
          type:
          - string
          - 'null'
          description: Interim Receipt Number
        houseBill:
          type:
          - string
          - 'null'
          description: House Bill of Lading (HBL)
        cfsReference:
          type:
          - string
          - 'null'
        shipmentType:
          type:
          - string
          - 'null'
          description: Shipment Type
        goodsDescription:
          type:
          - string
          - 'null'
          description: Description of Goods
        releaseType:
          type:
          - string
          - 'null'
          description: Release Type
        aviationSecurity:
          type:
          - string
          - 'null'
          description: Aviation Security
        originCode:
          type:
          - string
          - 'null'
          description: Origin Code
        originCountry:
          type:
          - string
          - 'null'
          description: Origin Country
        originPort:
          type:
          - string
          - 'null'
          description: Origin Port
        etd:
          type:
          - string
          - 'null'
          format: date-time
        destinationCode:
          type:
          - string
          - 'null'
          description: Destination Code
        destinationCountry:
          type:
          - string
          - 'null'
          description: Destination Country
        destinationPort:
          type:
          - string
          - 'null'
          description: Destination Port
        eta:
          type:
          - string
          - 'null'
          format: date-time
        serviceLevel:
          type:
          - string
          - 'null'
          description: Service Level, for example STD equals Standard
        incoterm:
          type:
          - string
          - 'null'
          description: Incoterm, for example EXW
        additionalTerms:
          type:
          - string
          - 'null'
          description: Additional Terms
        transportMode:
          type:
          - string
          - 'null'
          description: Transport Mode, for example SEA
        containerMode:
          type:
          - string
          - 'null'
          description: Container Mode, for example LCL
        shippedOnBoard:
          type:
          - string
          - 'null'
          description: Shipped on Board
        shippedOnBoardDate:
          type:
          - string
          - 'null'
          description: Shipped on Board Date
          format: date-time
        actualVolume:
          type: number
          description: Actual Volume
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Volume
        actualWeight:
          type: number
          description: Actual Weight
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Weight
        actualChargeable:
          type: number
          description: Actual Chargeable Weight/Volume
          format: double
        totalPackageCount:
          type: integer
          description: Total Count of Packages
          format: int32
        totalCountPackType:
          type:
          - string
          - 'null'
          description: Total Count of Package Type
        totalPacks:
          type: integer
          description: Total Packs
          format: int32
        packType:
          type:
          - string
          - 'null'
          description: Pack Type, for example PALL equals Pallet
        houseBillIssueDate:
          type:
          - string
          - 'null'
          description: Issuing Date of House Bill of Lading (HBL)
          format: date-time
        shippersReference:
          type:
          - string
          - 'null'
          description: Shippers Reference
        screeningStatus:
          type:
          - string
          - 'null'
          description: Screening Status
        loadPort:
          type:
          - string
          - 'null'
          description: Port of Loading, for example CNSHA
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of Discharge, for example DEHAM
        estimatedDeliveryDate:
          type:
          - string
          - 'null'
          description: Estimated Date of Delivery
          format: date-time
        actualDeliveryDate:
          type:
          - string
          - 'null'
          description: Actual Date of Delivery
          format: date-time
        deliveryTransportAdvisedDate:
          type:
          - string
          - 'null'
          description: Delivery Transport Advised
          format: date-time
        deliveryRequiredByDate:
          type:
          - string
          - 'null'
          description: Delivery Required By Date
          format: date-time
        deliveryRequiredFrom:
          type:
          - string
          - 'null'
          description: Delivery Required From
          format: date-time
        estimatedPickupDate:
          type:
          - string
          - 'null'
          description: Estimated Pick Up Date
          format: date-time
        pickupRequestedByDate:
          type:
          - string
          - 'null'
          description: Pick Up By Date Requested
          format: date-time
        pickupRequestedFrom:
          type:
          - string
          - 'null'
          description: Pick Up Requested From
          format: date-time
        pickupTransportAdvisedDate:
          type:
          - string
          - 'null'
          description: PickUp Transport Advise Date
          format: date-time
        actualPickupDate:
          type:
          - string
          - 'null'
          description: Actual Pick Up Date
          format: date-time
        receiptDate:
          type:
          - string
          - 'null'
          description: Receipt Date
          format: date-time
        goodsValue:
          type: number
          description: Goods Value
          format: double
        goodsValueCurrency:
          type:
          - string
          - 'null'
          description: Goods Value Currency
        insuranceValue:
          type: number
          description: Insurance Value
          format: double
        insuranceValueCurrency:
          type:
          - string
          - 'null'
          description: Insurance Value Currency
        goodsAvailableDate:
          type:
          - string
          - 'null'
          description: Goods Available Date
          format: date-time
        goodsStorageDate:
          type:
          - string
          - 'null'
          description: Goods Storage Date
          format: date-time
        loadingMeters:
          type: number
          description: Loading Meters
          format: double
        natureOfCargo:
          type:
          - string
          - 'null'
          description: Nature of Cargo
        codCurrency:
          type:
          - string
          - 'null'
        codAmount:
          type: number
          format: double
        numberOfEuroPallets:
          type: integer
          description: Number of Euro Pallets (120x80cm)
          format: int32
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        secondaryShipmentID:
          type:
          - string
          - 'null'
          description: Secondary Shipment ID
        qaIssueParty:
          type:
          - string
          - 'null'
        qaIssueReason:
          type:
          - string
          - 'null'
        qaIssuePoint:
          type:
          - string
          - 'null'
        qaIssueType:
          type:
          - string
          - 'null'
        qaIssueDate:
          type:
          - string
          - 'null'
          format: date-time
        qaIssueNotes:
          type:
          - string
          - 'null'
        qaIssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        qA2IssueParty:
          type:
          - string
          - 'null'
        qA2IssueReason:
          type:
          - string
          - 'null'
        qA2IssuePoint:
          type:
          - string
          - 'null'
        qA2IssueType:
          type:
          - string
          - 'null'
        qA2IssueDate:
          type:
          - string
          - 'null'
          format: date-time
        qA2IssueNotes:
          type:
          - string
          - 'null'
        qA2IssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        customsCleared:
          type:
          - string
          - 'null'
          description: Customs Cleared Indicator
          format: date-time
        customsCommenced:
          type:
          - string
          - 'null'
          description: Customs Commenced
          format: date-time
        customsPaid:
          type:
          - string
          - 'null'
          description: Customs Paid
          format: date-time
        handoverDate:
          type:
          - string
          - 'null'
          description: Handover Date
          format: date-time
        deliveryOrderReceived:
          type:
          - string
          - 'null'
          description: Delivery Order Received
          format: date-time
        transitWarehouse:
          type:
          - string
          - 'null'
          description: Transit Warehouse
        masterLead:
          type:
          - string
          - 'null'
          description: Master Lead
        asmHouseBill:
          type:
          - string
          - 'null'
        departedOriginCFSDate:
          type:
          - string
          - 'null'
          description: Departed Origin CFS Date
          format: date-time
        availableDestinationCFSDate:
          type:
          - string
          - 'null'
          description: Available Destination CFS Date
          format: date-time
        departedDestinationCFSDate:
          type:
          - string
          - 'null'
          description: Departed Destination CFS DAte
          format: date-time
        customsBrokerAdvisedDate:
          type:
          - string
          - 'null'
          description: Customs Broker Advised Date
          format: date-time
        transportNumber:
          type:
          - string
          - 'null'
          description: Transport Number
        customerReference:
          type:
          - string
          - 'null'
          description: Customer Reference
        odsNumber:
          type:
          - string
          - 'null'
        customsEntryStatus:
          type:
          - string
          - 'null'
          description: Customs Entry Status
        customsEntryNumbers:
          type:
          - string
          - 'null'
          description: Customs Entry Numbers
        exportCustomsCleared:
          type:
          - string
          - 'null'
          description: Export Customs Cleared
          format: date-time
        exportDocumentationReceived:
          type:
          - string
          - 'null'
          description: Export Documentation
          format: date-time
        shipmentDate:
          type:
          - string
          - 'null'
          description: Shipment Date
          format: date-time
        carrierBookingAccepted:
          type:
          - string
          - 'null'
          description: Carrier Booking Accecpted
          format: date-time
        freightTerm:
          type:
          - string
          - 'null'
          description: Freight Terms
        detailedDescription:
          type:
          - string
          - 'null'
          description: Detailed Description
        sourceModule:
          type:
          - string
          - 'null'
          description: N/A
        numberOfOriginalBills:
          type: integer
          description: Number of Original Bills
          format: int32
        numberOfCopyBills:
          type: integer
          description: Number of Copy Bills
          format: int32
        customsStatus:
          type:
          - string
          - 'null'
          description: Customs Status
        fclAvailableDate:
          type:
          - string
          - 'null'
          format: date-time
        fclStorageDate:
          type:
          - string
          - 'null'
          format: date-time
        pickupDropMode:
          type:
          - string
          - 'null'
          description: PickUp Drop Mode
        deliveryDropMode:
          type:
          - string
          - 'null'
          description: Delivery Drop Mode
        branchCode:
          type:
          - string
          - 'null'
          description: Branch Code
        departmentCode:
          type:
          - string
          - 'null'
          description: Department Code
        source:
          type:
          - string
          - 'null'
          description: N/A
        isManuallyAssigned:
          type: boolean
          description: N/A
        vessel:
          type:
          - string
          - 'null'
          description: Vessel Name
        voyageFlight:
          type:
          - string
          - 'null'
          description: Voyage or Flight Name
        firstPortETD:
          type:
          - string
          - 'null'
          description: First Port Estimated Time of Departure
          format: date-time
        firstPortATD:
          type:
          - string
          - 'null'
          description: First Port Actual Time of Departure
          format: date-time
        lastPortETA:
          type:
          - string
          - 'null'
          description: Last Port Estimated Time of Arrival
          format: date-time
        lastPortATA:
          type:
          - string
          - 'null'
          description: Last Port Arrival Time of Arrival
          format: date-time
        invoicedDate:
          type:
          - string
          - 'null'
          format: date-time
        firstLoad:
          type:
          - string
          - 'null'
          description: First Load Port
        lastDischarge:
          type:
          - string
          - 'null'
          description: Last Discharge Port
        customerDivision:
          type:
          - string
          - 'null'
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: Transit Warehouse Description
        serviceLevelDescription:
          type:
          - string
          - 'null'
          description: Service Level Description
        countOfTEU:
          type: number
          description: Count of TEU
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Containers
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Containers
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Containers
          format: int32
        outerPackTotalPackages:
          type: integer
          description: Outer Pack Total Packages Count
          format: int32
        outerPackTotalWeight:
          type: number
          description: Outer Pack Total Weight
          format: double
        outerPackTotalVolume:
          type: number
          description: Outer Pack Total Volume
          format: double
        ownership:
          type:
          - string
          - 'null'
          description: N/A
        dateModified:
          type:
          - string
          - 'null'
          description: Date last modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User who modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User who created
        bookingNumber:
          type:
          - string
          - 'null'
        orderNumbers:
          type:
          - string
          - 'null'
          description: Order Numbers
        containerNumbers:
          type:
          - string
          - 'null'
          description: Container Numbers
        geoLocation:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GeoLocationData'
        transportSummary:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TransportSummary'
        temperatureControl:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.TemperatureControl'
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Pack Lines
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
          description: Notes
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Events
        transportLegs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobConsol'
        containers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobContainer'
      additionalProperties: false
    SortDescriptor:
      type: object
      properties:
        Member:
          type: string
        SortDirection:
          enum:
          - Ascending
          - Descending
          type: string
    eDC.Web.Api.v2.Models.OrderDto:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Order'
        shipment:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Shipment'
        booking:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Booking'
        transportLegs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobConsol'
          description: Transport Leg
        containers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobContainer'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.TransportSummary:
      type: object
      properties:
        firstPortETD:
          type:
          - string
          - 'null'
          description: First Port Estimated Time of Departure
          format: date-time
        firstPortATD:
          type:
          - string
          - 'null'
          description: First Port Actual Time of Departure
          format: date-time
        lastPortETA:
          type:
          - string
          - 'null'
          description: Last Port Estimated Time of Departure
          format: date-time
        lastPortATA:
          type:
          - string
          - 'null'
          description: Last Port Actual Time of Departure
          format: date-time
        firstPort:
          type:
          - string
          - 'null'
          description: First Port
        lastPort:
          type:
          - string
          - 'null'
          description: Last Port
        firstPortDescription:
          type:
          - string
          - 'null'
          description: First Port Description
        lastPortDescription:
          type:
          - string
          - 'null'
          description: Last Port Description
        vessel:
          type:
          - string
          - 'null'
          description: Vessel Name
        voyageFlight:
          type:
          - string
          - 'null'
          description: Voyage Number / Flight Number
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Measurement:
      type: object
      properties:
        value:
          type:
          - number
          - 'null'
          description: Value
          format: double
        unit:
          type:
          - string
          - 'null'
          description: Unit
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.AdditionalReference:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    DataSourceRequest:
      type: object
      properties:
        Page:
          type: integer
          format: int32
        PageSize:
          type: integer
          format: int32
        Sorts:
          type: array
          items:
            $ref: '#/components/schemas/SortDescriptor'
        Filters:
          type: array
          items:
            $ref: '#/components/schemas/IFilterDescriptor'
        Groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupDescriptor'
        Aggregates:
          type: array
          items:
            $ref: '#/components/schemas/AggregateDescriptor'
    eDC.Web.Api.v2.Models.Entities.Company:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type
        code:
          type:
          - string
          - 'null'
          description: Code
        externalCode:
          type:
          - string
          - 'null'
          description: External Code
        isActive:
          type: boolean
          description: Active
        fullName:
          type:
          - string
          - 'null'
          description: Full Name
        closestPort:
          type:
          - string
          - 'null'
          description: Closest Port
        currency:
          type:
          - string
          - 'null'
          description: Currency
        phoneNumber:
          type:
          - string
          - 'null'
          description: Phone Number
        email:
          type:
          - string
          - 'null'
          description: Email
        vatNumber:
          type:
          - string
          - 'null'
        registeredNumber:
          type:
          - string
          - 'null'
          description: Registered Number
        ediCode:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Address'
        contact:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Contact'
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Note:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          description: Description
        noteText:
          type:
          - string
          - 'null'
          description: Note Text
        noteType:
          type:
          - string
          - 'null'
          description: Note Type
        noteContext:
          type:
          - string
          - 'null'
          description: Note Context
        intendedParty:
          type:
          - string
          - 'null'
          description: Intended Party
        read:
          type: boolean
          description: Read
        source:
          type:
          - string
          - 'null'
          description: Source
        isPublished:
          type: boolean
          description: Boolean if published
        resolvedDate:
          type:
          - string
          - 'null'
          description: Resolved Date
          format: date-time
        assignedUser:
          type:
          - string
          - 'null'
          description: Assigned User
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.TemperatureControl:
      type: object
      properties:
        instructions:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        unitOfTemperature:
          type:
          - string
          - 'null'
        minValue:
          type:
          - number
          - 'null'
          format: double
        maxValue:
          type:
          - number
          - 'null'
          format: double
        setPoint:
          type:
          - number
          - 'null'
          format: double
        humidity:
          type:
          - integer
          - 'null'
          format: int32
        rangeValue:
          type:
          - string
          - 'null'
        humidityValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    GroupDescriptor:
      type: object
      properties:
        MemberType:
          type: string
        DisplayContent:
          type: object
        AggregateFunctions:
          type: array
          items:
            $ref: '#/components/schemas/AggregateFunction'
          readOnly: true
        Member:
          type: string
        SortDirection:
          enum:
          - Ascending
          - Descending
          type: string
    eDC.Domain.Enums.ShipmentState:
      enum:
      - Booked
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - Accepted
      - PendingCollection
      - Collected
      - OnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Declined
      - Suspended
      - Cancelled
      type: string
      format: int32
    AggregateFunction:
      type: object
      properties:
        AggregateMethodName:
          type: string
          readOnly: true
        Caption:
          type: string
        SourceField:
          type: string
        FunctionName:
          type: string
        MemberType:
          type: string
        ResultFormatString:
          type: string
    eDC.Web.Api.v2.Models.Entities.JobConsol:
      type: object
      properties:
        transportMode:
          type:
          - string
          - 'null'
          description: Mode of Transport eg. Air, Sea, Road
        consolMode:
          type:
          - string
          - 'null'
          description: Mode of Consol
        consolNumber:
          type:
          - string
          - 'null'
        masterBill:
          type:
          - string
          - 'null'
          description: Master Bill of Lading (MBL)
        bookingReference:
          type:
          - string
          - 'null'
          description: Booking Reference
        agentsReference:
          type:
          - string
          - 'null'
          description: Agent Reference
        customsReference:
          type:
          - string
          - 'null'
          description: Customs Reference
        prepaidCollect:
          type:
          - string
          - 'null'
          description: Prepaid or Collection
        loadPort:
          type:
          - string
          - 'null'
          description: Port of Loading,  UNLOCO (e.g. DEHAM)
        dischargePort:
          type:
          - string
          - 'null'
          description: Port of Discharge, UNLOCO (e.g. DEHAM)
        portOfFirstArrival:
          type:
          - string
          - 'null'
          description: Port of first arrival
        eta:
          type:
          - string
          - 'null'
          format: date-time
        etd:
          type:
          - string
          - 'null'
          format: date-time
        ata:
          type:
          - string
          - 'null'
          format: date-time
        atd:
          type:
          - string
          - 'null'
          format: date-time
        vessel:
          type:
          - string
          - 'null'
          description: Vessel name
        voyageFlight:
          type:
          - string
          - 'null'
          description: Voyage (MoT Sea) or Flight No (MoT Air)
        fullLoadPortFreeTime:
          type: integer
          description: Full Load Port Free Time
          format: int32
        oceanCarrier:
          type:
          - string
          - 'null'
          description: Ocean Carrier
        airCarrier:
          type:
          - string
          - 'null'
          description: Air Carrier
        weight:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        volume:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        chargeable:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Measurement'
        releaseType:
          type:
          - string
          - 'null'
          description: Type of Release
        teuCount:
          type: number
          format: double
        countOfTEU:
          type: number
          description: Count of TEU
          format: double
        countOf20FT:
          type: integer
          description: Count of 20ft Container
          format: int32
        countOf40FT:
          type: integer
          description: Count of 40ft Container
          format: int32
        countOf45FT:
          type: integer
          description: Count of 45ft Container
          format: int32
        stageNumber:
          type:
          - string
          - 'null'
          description: Stage Number
        sta:
          type:
          - string
          - 'null'
          format: date-time
        std:
          type:
          - string
          - 'null'
          format: date-time
        qualifier:
          type:
          - string
          - 'null'
          description: Qualifier
        legOrder:
          type: integer
          description: Leg Order
          format: int32
        legType:
          type:
          - string
          - 'null'
          description: Leg Type (e.g. Main)
        carrierCode:
          type:
          - string
          - 'null'
          description: Carrier Code
        carrierSCAC:
          type:
          - string
          - 'null'
          description: Carrier SCAC Code
        carrierDakoskyCode:
          type:
          - string
          - 'null'
          description: Carrier Dakosy Code
        carrierNationality:
          type:
          - string
          - 'null'
          description: Carrier Nationality
        localCarrierCode:
          type:
          - string
          - 'null'
          description: Local Carrier Code
        serviceLevel:
          type:
          - string
          - 'null'
          description: Service Level
        legNotes:
          type:
          - string
          - 'null'
          description: Leg Notes
        imoNumber:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          description: Status
        definedBy:
          type:
          - string
          - 'null'
          description: Defined by
        charterRoute:
          type:
          - string
          - 'null'
          description: Charter Route
        isCharter:
          type: boolean
          description: Boolean if charter
        isLinked:
          type: boolean
          description: Boolean is linked
        isMainCarriage:
          type: boolean
          description: Boolean if leg is main leg
        isPlannedLeg:
          type: boolean
          description: Boolean if leg is planned
        numberOfShipments:
          type: integer
          description: Number of Shipments
          format: int32
        numberOfPackages:
          type: integer
          description: Number of Packages
          format: int32
        numberOfOriginalBills:
          type: integer
          description: Number of Original Bill of Ladings
          format: int32
        numberOfCopyBills:
          type: integer
          description: Number of Copy Bill of Lading
          format: int32
        linkReference:
          type:
          - string
          - 'null'
          description: Link Reference
        ownerCodeInternal:
          type:
          - string
          - 'null'
          description: Internal Owner Code
        ownerCodeExternal:
          type:
          - string
          - 'null'
          description: External Owner Code
        source:
          type:
          - string
          - 'null'
          description: Source
        sendingAgent:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        receivingAgent:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        carrier:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modified
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Contact:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        mobile:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.EquipmentType:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Type
        noOfUnits:
          type: integer
          description: Number of Units
          format: int32
        containerNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        isCancelled:
          type: boolean
          description: N or Y.  This is used to set an order to state cancelled.  This may or may not be accepted, depending on the progress of the order.
        orderNumber:
          type:
          - string
          - 'null'
          description: The unique order number between the buyer and supplier.
        splitNumber:
          type: integer
          description: If the order needs to be shipped or delivered in multiple parts, each part will be assigned a number.  The original order will have a split number of 0, the first split would have 1, second 2, etc
          format: int64
        state:
          $ref: '#/components/schemas/eDC.Domain.Enums.OrderState'
        orderDate:
          type:
          - string
          - 'null'
          description: The date the order is created
          format: date-time
        goodsDescription:
          type:
          - string
          - 'null'
          description: A general description of the goods
        transportMode:
          type:
          - string
          - 'null'
          description: 'The requested transport mode.  Values are: SEA for Oceanfreight", AIR for Airfreight, ROAD for Roadfreight and COU for Courier/Express'
        containerMode:
          type:
          - string
          - 'null'
          description: This is the container mode, in which the Order must be shipped.  For Orders, as the future consolidation state is not known, this will normally be set to LCL
        serviceLevel:
          type:
          - string
          - 'null'
          description: Usually a three char code.  Service Levels are specific to your organisation.  Please see your Account Manager for details.
        serviceLevelDescription:
          type:
          - string
          - 'null'
          description: The full service level description
        estimatedExWorksDate:
          type:
          - string
          - 'null'
          description: The date the supplier has estimated the cargo will depart the factory.
          format: date-time
        actualExWorksDate:
          type:
          - string
          - 'null'
          description: The data the order actually departed the factory.
          format: date-time
        requiredExWorks:
          type:
          - string
          - 'null'
          description: The date the buyer requests the supplier dispatch the order from the factory.
          format: date-time
        requiredInStore:
          type:
          - string
          - 'null'
          description: The date the buyer requests the order be delivered to destination door.
          format: date-time
        originCountry:
          type:
          - string
          - 'null'
          description: The product country of origin - not necessarily where the product is collected from.
        incoterm:
          type:
          - string
          - 'null'
          description: The International Commercial Terms, agreed between buyer and supplier.
        additionalTerms:
          type:
          - string
          - 'null'
          description: The UNLOCO of the additional terms or named placed.
        additionalTermsUNLOCO:
          type:
          - string
          - 'null'
          description: The date the buyer requests the supplier dispatch the order from the factory.
        actualVolume:
          type: number
          description: The total volume of the order.
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: The unit related to the total volume.
        actualWeight:
          type: number
          description: The total weight of the order.
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: The unit related to the total volume.
        totalPacks:
          type: integer
          description: The total number of packages related to the order.
          format: int32
        totalQuantity:
          type: number
          description: The total number of skus related to the order.
          format: double
        followUpDate:
          type:
          - string
          - 'null'
          description: A date in which the Control Tower should follow up with the Supplier
          format: date-time
        portOfLoading:
          type:
          - string
          - 'null'
          description: The requested port of loading, in UNLOCO.
        portOfDischarge:
          type:
          - string
          - 'null'
          description: The requested port of discharge, in UNLOCO.
        currency:
          type:
          - string
          - 'null'
          description: The currency related to the order value.
        clientType:
          type:
          - string
          - 'null'
          description: N/A
        totalValue:
          type: number
          description: Total value of the order.
          format: double
        totalInners:
          type:
          - number
          - 'null'
          description: Total number of inner packages requested to be within the order.
          format: double
        totalOuters:
          type:
          - number
          - 'null'
          description: Total number of outer packages requested to be within the order.
          format: double
        source:
          type:
          - string
          - 'null'
          description: 'The source of the order entry: WEB equals manually entered, API, EDI.  This is automatically set.'
        systemID:
          type:
          - string
          - 'null'
          description: A uuid/guid accociated with the order.  This is only for scenarios where a third party order management platform is managing the order.
          format: uuid
        bookingReference:
          type:
          - string
          - 'null'
          description: N/A
        transitWarehouse:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        onHandDate:
          type:
          - string
          - 'null'
          description: This date is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
          format: date-time
        plannerCode:
          type:
          - string
          - 'null'
          description: The code associated with person who is the orders assigned buyer/procurement code.
        plannerEmail:
          type:
          - string
          - 'null'
          description: The email address associated with person who is the orders assigned buyer/procurement code.
        warehouseReceiptNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        vehicleRegistration:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        trailerNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        seal:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        manifestNumber:
          type:
          - string
          - 'null'
          description: This value is only populated if the Supplier is delivering directly to our warehouse/CFS, without a Booking.
        bookedInNumber:
          type:
          - string
          - 'null'
          description: N/A
        dispatchedDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        estimatedReceiptDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        bookedInDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        cutOffDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        invoiceDate:
          type:
          - string
          - 'null'
          description: The invoice date associated with the Order.
          format: date-time
        invoiceNumber:
          type:
          - string
          - 'null'
          description: The invoice number associated with the Order.
        confirmedDate:
          type:
          - string
          - 'null'
          description: For scenarios that require a confirmation of the order before it can be booked, the date of confirmation will populate this field.
          format: date-time
        confirmationNumber:
          type:
          - string
          - 'null'
          description: For scenarios that require a confirmation of the order before it can be booked, the confirmation authorisation number will populate this field.
        freightCost:
          type: number
          description: For customers using the Landed Cost functionality, this value will show the proportion of the freight cost.
          format: double
        landedCost:
          type: number
          description: For customers using the Landed Cost functionality, this value will show the proportion of the Landed Cost, which is SKU cost, plus Freight Cost
          format: double
        landedCostStatus:
          type:
          - string
          - 'null'
          description: N/A
        contractNumber:
          type:
          - string
          - 'null'
          description: The contract number between buyer and supplier, associated with the Order.
        goodsReceiptNumber:
          type:
          - string
          - 'null'
          description: The final destination warehouse, goods receipt number. This comes from the customer, unless DSV Manages the destination stock control.
        goodsReceiptDate:
          type:
          - string
          - 'null'
          description: The final destination warehouse, goods receipt date. This comes from the customer, unless DSV Manages the destination stock control.
          format: date-time
        authorisedBy:
          type:
          - string
          - 'null'
          description: The person within the customer/other authorised party authorises the Order to be shipped.
        authorisedToShip:
          type:
          - string
          - 'null'
          description: The date in which the customer/other authorised party authorises the Order to be shipped.
          format: date-time
        system:
          type:
          - string
          - 'null'
          description: If the system integration is required to use the source/downstream systems GUID, it can be populated here.
        orderType:
          type:
          - string
          - 'null'
          description: PO, SO, STO, BPO, CO, DO.  This should be defined by your implementation manager within DSV
        orderTypeDescription:
          type:
          - string
          - 'null'
          description: Full description of Order Type, such as Purchase Order for PO.
        parentOrderNumber:
          type:
          - string
          - 'null'
          description: If this order is a call off, this value will be the blanket purchase order number.
        revisionNumber:
          type: integer
          description: This is provided by the customer, to indicate the orders revision number, if it has been revised.
          format: int32
        earliestShipDate:
          type:
          - string
          - 'null'
          description: Earliest Date the cargo should depart from Port
          format: date-time
        latestShipDate:
          type:
          - string
          - 'null'
          description: Latest Date the cargo should depart from Port
          format: date-time
        cancellationRequested:
          type:
          - string
          - 'null'
          format: date-time
        customerDivision:
          type:
          - string
          - 'null'
        notAuthorisedToShip:
          type:
          - string
          - 'null'
          format: date-time
        requiredIncotermHandoverDate:
          type:
          - string
          - 'null'
          format: date-time
        cancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        orderLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.OrderItem'
          description: Order Lines
        packLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Pack Lines
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Fields that can be defined by the user
        additionalReferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.AdditionalReference'
        notes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Note'
          description: Any notes that may have been added by the customer, supplier or DSV.
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Event'
          description: Domain Events in consumable format
        transitWarehouseDescription:
          type:
          - string
          - 'null'
          description: N/A
        lastNoteText:
          type:
          - string
          - 'null'
          description: N/A
        orderLineContainers:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Order Line Container
        parties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.Company'
          description: Parties
        calculatedDeliveryDate:
          type:
          - string
          - 'null'
          description: N/A
          format: date-time
        ownership:
          type:
          - string
          - 'null'
          description: N/A
        dateModified:
          type:
          - string
          - 'null'
          description: The date the order was modified in system
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: The user or service that last modified the order
        dateCreated:
          type:
          - string
          - 'null'
          description: The date the order was created in system
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: The user or service that created the order
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.Event:
      type: object
      properties:
        eventCode:
          type:
          - string
          - 'null'
          description: "The unique event code - usually 3 chars, but can be 2 or more. \n Use code BCR for cancellation"
        description:
          type:
          - string
          - 'null'
          description: A description of the event code.
        eventDate:
          type:
          - string
          - 'null'
          description: The date in which the event happened
          format: date-time
        reasonCodes:
          type:
          - string
          - 'null'
          description: Legacy, do not use.
        eventPlace:
          type:
          - string
          - 'null'
          description: The place in which the event happened.
        eventSource:
          type:
          - string
          - 'null'
          description: The source system that input the event.
        qaIssueCode:
          type:
          - string
          - 'null'
        qaIssueNotes:
          type:
          - string
          - 'null'
        qaIssueResolvedDate:
          type:
          - string
          - 'null'
          format: date-time
        vehicleRegistration:
          type:
          - string
          - 'null'
        driverName:
          type:
          - string
          - 'null'
        secondDriver:
          type:
          - string
          - 'null'
        qaIssueCodeDescription:
          type:
          - string
          - 'null'
        externalTrackingLink:
          type:
          - string
          - 'null'
        dateModified:
          type:
          - string
          - 'null'
          description: Date the event was modified - in general events cannot be modified but QA issues can be resolved.
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User who modified the event - in general events cannot be modified but QA issues can be resolved.
        dateCreated:
          type:
          - string
          - 'null'
          description: Date the event was input
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User who input the event
      additionalProperties: false
    eDC.Domain.Enums.BookingState:
      enum:
      - Provisional
      - PreBooked
      - Rejected
      - Booked
      - Approved
      - Confirmed
      - Parked
      - Transmitted
      - PendingConsolidation
      - Planning
      - Planned
      - Consolidated
      - PendingCollection
      - Collected
      - OnHand
      - DepartedOriginCFS
      - Shipped
      - Arrived
      - CustomsCommenced
      - CustomsCleared
      - AvailableDestinationCFS
      - PendingDelivery
      - DepartedDestinationCFS
      - Handover
      - Delivered
      - Suspended
      - Cancelled
      type: string
      format: int32
    eDC.Domain.Enums.ContainerState:
      enum:
      - Provisional
      - ReleasedCY
      - PickupBooked
      - PickedUp
      - GateIn
      - Loaded
      - Shipped
      - Arrived
      - Unloaded
      - DeliveryBooked
      - GateOut
      - Delivered
      - EmptyReadyForReturn
      - EmptyReturned
      type: string
      format: int32
    eDC.Web.Api.v2.Models.SearchRequest:
      type: object
      properties:
        grid:
          $ref: '#/components/schemas/DataSourceRequest'
        criteria:
          type:
          - string
          - 'null'
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: Name
        type:
          type:
          - string
          - 'null'
          description: Type
        value:
          type:
          - string
          - 'null'
          description: Value
        dateModified:
          type:
          - string
          - 'null'
          description: Date Modiefied
          format: date-time
        userModified:
          type:
          - string
          - 'null'
          description: User Modified
        dateCreated:
          type:
          - string
          - 'null'
          description: Date Created
          format: date-time
        userCreated:
          type:
          - string
          - 'null'
          description: User Created
      additionalProperties: false
    AggregateDescriptor:
      type: object
      properties:
        Aggregates:
          type: array
          items:
            $ref: '#/components/schemas/AggregateFunction'
          readOnly: true
        Member:
          type: string
    IFilterDescriptor:
      type: object
    eDC.Web.Api.v2.Models.Entities.JobPackLine:
      type: object
      properties:
        packageCount:
          type: integer
          description: Number of packages in this line
          format: int32
        packType:
          type:
          - string
          - 'null'
          description: The Pack Type
        containerPackingOrder:
          type: integer
          description: The sequence number in which the packline is packed into the container. 0 or 1 is closest to the front (not the door end)
          format: int32
        weight:
          type: number
          description: Weight of the packaline
          format: double
        unitOfWeight:
          type:
          - string
          - 'null'
          description: Unit of Weight.  Note DSV will convert all to Metric.
        length:
          type: number
          description: Length
          format: double
        height:
          type: number
          description: Height
          format: double
        width:
          type: number
          description: Width
          format: double
        unitOfDimension:
          type:
          - string
          - 'null'
          description: Unit of Weight.  Note DSV will convert all to Metric.
        volume:
          type: number
          description: Volume of the packaline
          format: double
        unitOfVolume:
          type:
          - string
          - 'null'
          description: Unit of Volume.  Note DSV will convert all to Metric.
        refNumber:
          type:
          - string
          - 'null'
          description: Unique packline number. Usually a barcode of license plate.
        description:
          type:
          - string
          - 'null'
          description: Description of the packline
        detailedDescription:
          type:
          - string
          - 'null'
          description: Long description of the packline
        harmonisedCode:
          type:
          - string
          - 'null'
          description: Harmonised Code within the packline
        origin:
          type:
          - string
          - 'null'
          description: Goods Origin Country
        commodityCode:
          type:
          - string
          - 'null'
          description: Commodity Code
        containerNumber:
          type:
          - string
          - 'null'
          description: Container Number the packline was loaded into.
        outturn:
          type: integer
          description: N/A
          format: int32
        outturnedLength:
          type: number
          description: N/A
          format: double
        outturnedHeight:
          type: number
          description: N/A
          format: double
        outturnedWidth:
          type: number
          description: N/A
          format: double
        outturnedWeight:
          type: number
          description: N/A
          format: double
        outturnedVolume:
          type: number
          description: N/A
          format: double
        outturnComment:
          type:
          - string
          - 'null'
          description: N/A
        pillaged:
          type: integer
          description: N/A
          format: int32
        damaged:
          type: integer
          description: N/A
          format: int32
        loadingMeters:
          type: number
          description: Road freight Only
          format: double
        marksAndNumbers:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        productCode:
          type:
          - string
          - 'null'
          description: Legacy
        dangerousGoodsRef:
          type:
          - string
          - 'null'
          description: Dangerous Goods Reference
        noOfPallets:
          type: integer
          description: N/A
          format: int32
        packIdentifier:
          type:
          - string
          - 'null'
        documentRemarks1:
          type:
          - string
          - 'null'
          description: N/A
        documentRemarks2:
          type:
          - string
          - 'null'
          description: N/A
        documentRemarks3:
          type:
          - string
          - 'null'
          description: N/A
        sequence:
          type: integer
          description: sequence in which the lines are listed - not for loading
          format: int32
        stackable:
          type: boolean
          description: Is Stackable, True or False
        orderLineNumber:
          type:
          - integer
          - 'null'
          description: N/A
          format: int32
        packageMarks:
          type:
          - string
          - 'null'
          description: Marks and Numbers
        dangerousGoods:
          $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.DangerousGoods'
        innerPackLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.JobPackLine'
          description: Inner Pack Lines
        customFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.GenCustomAddOnValue'
          description: Custom Fields
        changeMonitorColumns:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: N/A
        statusDescription:
          type:
          - string
          - 'null'
          description: Status Description
      additionalProperties: false
    eDC.Web.Api.v2.Models.Entities.JobContainer:
      type: object
      properties:
        containerNumber:
          type:
          - string
          - 'null'
        interimContainerNumber:
          type:
          - string
          - 'null'
[...]
