openapi: 3.2.0
info:
  title: Loadplan - SCM Load Plans API
  description: SCM Loadplan API
  version: v2
servers:
- url: https://api.dsv.com/om/loadplans/v2
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: LoadPlans
paths:
  /loadplan/SearchCriteria:
    post:
      tags:
      - LoadPlans
      summary: 7. Search Criteria
      description: Search Criteria
      operationId: POSTloadplan-SearchCriteria
      parameters:
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Search.SearchRequest'
            example:
              grid:
                Page: 0
                PageSize: 0
                Sorts:
                - Member: string
                  SortDirection: Ascending
                Filters:
                - {}
                Groups:
                - MemberType: string
                  DisplayContent: {}
                  AggregateFunctions:
                  - AggregateMethodName: string
                    Caption: string
                    SourceField: string
                    FunctionName: string
                    MemberType: string
                    ResultFormatString: string
                  Member: string
                  SortDirection: Ascending
                Aggregates:
                - Aggregates:
                  - AggregateMethodName: string
                    Caption: string
                    SourceField: string
                    FunctionName: string
                    MemberType: string
                    ResultFormatString: string
                  Member: string
              criteria: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.LoadPlan'
              example:
                id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                loadPlanNumber: string
                state: Provisional
                transportMode: string
                packingMode: string
                freightTerm: string
                serviceLevel: string
                serviceLevelDescription: string
                loadingInstructions: string
                shippingInstructions: string
                loadingMeters: 0
                movementType: string
                dischargePort: string
                loadPort: string
                requiredLoadingDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredUnloadingDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredArrivalDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredDepartureDate: '2024-02-14T11:31:09.0000000+00:00'
                cfsClosingDate: '2024-02-14T11:31:09.0000000+00:00'
                vessel: string
                voyageFlight: string
                cfsClosingDateWeekNumber: 0
                requiredDepartureWeekNumber: 0
                requiredArrivalWeekNumber: 0
                requiredLoadingWeekNumber: 0
                requiredUnloadingWeekNumber: 0
                confirmedDate: '2024-02-14T11:31:09.0000000+00:00'
                loadedDate: '2024-02-14T11:31:09.0000000+00:00'
                cancelledDate: '2024-02-14T11:31:09.0000000+00:00'
                source: string
                rejectedDate: '2024-02-14T11:31:09.0000000+00:00'
                approvedDate: '2024-02-14T11:31:09.0000000+00:00'
                bookingNumbers:
                - string
                unitOfWeight: string
                unitOfVolume: string
                totalPackages: 0
                totalWeight: 0
                totalVolume: 0
                volumeCapacity: 0
                weightCapacity: 0
                dateModified: '2024-02-14T11:31:09.0000000+00:00'
                userModified: string
                dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                userCreated: string
                events:
                - eventCode: string
                  description: string
                  eventDate: '2024-02-14T11:31:09.0000000+00:00'
                  reasonCodes: string
                  eventPlace: string
                  eventSource: string
                  qaIssueCode: string
                  qaIssueNotes: string
                  qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  vehicleRegistration: string
                  driverName: string
                  secondDriver: string
                  qaIssueCodeDescription: string
                  externalTrackingLink: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                notes:
                - description: string
                  noteText: string
                  noteType: string
                  noteContext: string
                  intendedParty: string
                  read: true
                  source: string
                  isPublished: true
                  resolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  assignedUser: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                equipmentTypes:
                - type: string
                  noOfUnits: 0
                  containerNumber: string
                parties:
                - type: string
                  code: string
                  externalCode: string
                  isActive: true
                  fullName: string
                  closestPort: string
                  currency: string
                  phoneNumber: string
                  email: string
                  vatNumber: string
                  registeredNumber: string
                  ediCode: string
                  address:
                    name: string
                    address1: string
                    address2: string
                    address3: string
                    unloco: string
                    city: string
                    state: string
                    postCode: string
                    countryCode: string
                    country: string
                    addressCode: string
                    lockUNLOCO: true
                    longitude: 0
                    latitude: 0
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  contact:
                    type: string
                    name: string
                    title: string
                    phone: string
                    mobile: string
                    fax: string
                    email: string
                  additionalReferences:
                  - type: string
                    description: string
                    value: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                transportLegs:
                - transportMode: string
                  consolMode: string
                  consolNumber: string
                  masterBill: string
                  bookingReference: string
                  agentsReference: string
                  customsReference: string
                  prepaidCollect: string
                  loadPort: string
                  dischargePort: string
                  portOfFirstArrival: string
                  eta: '2024-02-14T11:31:09.0000000+00:00'
                  etd: '2024-02-14T11:31:09.0000000+00:00'
                  ata: '2024-02-14T11:31:09.0000000+00:00'
                  atd: '2024-02-14T11:31:09.0000000+00:00'
                  vessel: string
                  voyageFlight: string
                  fullLoadPortFreeTime: 0
                  oceanCarrier: string
                  airCarrier: string
                  weight:
                    value: 0
                    unit: string
                  volume:
                    value: 0
                    unit: string
                  chargeable:
                    value: 0
                    unit: string
                  releaseType: string
                  teuCount: 0
                  countOfTEU: 0
                  countOf20FT: 0
                  countOf40FT: 0
                  countOf45FT: 0
                  stageNumber: string
                  sta: '2024-02-14T11:31:09.0000000+00:00'
                  std: '2024-02-14T11:31:09.0000000+00:00'
                  qualifier: string
                  legOrder: 0
                  legType: string
                  carrierCode: string
                  carrierSCAC: string
                  carrierDakoskyCode: string
                  carrierNationality: string
                  localCarrierCode: string
                  serviceLevel: string
                  legNotes: string
                  imoNumber: string
                  status: string
                  definedBy: string
                  charterRoute: string
                  isCharter: true
                  isLinked: true
                  isMainCarriage: true
                  isPlannedLeg: true
                  numberOfShipments: 0
                  numberOfPackages: 0
                  numberOfOriginalBills: 0
                  numberOfCopyBills: 0
                  linkReference: string
                  ownerCodeInternal: string
                  ownerCodeExternal: string
                  source: string
                  sendingAgent:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  receivingAgent:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  carrier:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  parties:
                  - type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                containers:
                - containerNumber: string
                  interimContainerNumber: string
                  state: Provisional
                  isShipperOwned: true
                  containerMode: string
                  containerStatus: string
                  sealNumber: string
                  additionalSealNumber: string
                  additional2SealNumber: string
                  containerCount: 0
                  dunnageWeight: 0
                  grossWeight: 0
                  unitOfweight: string
                  tareWeight: 0
                  containerCommodityCode: string
                  movementType: string
                  equipmentType: string
                  fclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                  fclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                  emptyRequiredBy: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedFCLPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  lclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                  lclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  actualFullDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryTransportAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                  actualFullPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  portTransportBookedDate: '2024-02-14T11:31:09.0000000+00:00'
                  fullLoadPortFreeTime: 0
                  bookingCreatedDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookingModifiedDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookingCreatedUser: string
                  bookingModifiedUser: string
                  volume: 0
                  temperatureControlled: true
                  refrigerationType: string
                  tempSetPoint: 0
                  tempSetPointUnit: string
                  goodsDescription: string
                  isoType: string
                  emptyPickupNumber: string
                  exportPortTransportReference: string
                  exportSlotBookingReference: string
                  importReleaseNumber: string
                  importPortTransportReference: string
                  importSlotBookingReference: string
                  emptyReturnReference: string
                  emptyReleasedFromCY: '2024-02-14T11:31:09.0000000+00:00'
                  emptyReturnedOn: '2024-02-14T11:31:09.0000000+00:00'
                  fclWharfGateIn: '2024-02-14T11:31:09.0000000+00:00'
                  fclWharfGateOut: '2024-02-14T11:31:09.0000000+00:00'
                  fclLoadedDate: '2024-02-14T11:31:09.0000000+00:00'
                  fclUnloadedDate: '2024-02-14T11:31:09.0000000+00:00'
                  tempSetPointDisplay: string
                  orderNumbers: string
                  demurrageBegins: '2024-02-14T11:31:09.0000000+00:00'
                  teu: 0
                  estimatedPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                  parties:
                  - type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  customFields:
                  - name: string
                    type: string
                    value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  events:
                  - eventCode: string
                    description: string
                    eventDate: '2024-02-14T11:31:09.0000000+00:00'
                    reasonCodes: string
                    eventPlace: string
                    eventSource: string
                    qaIssueCode: string
                    qaIssueNotes: string
                    qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    vehicleRegistration: string
                    driverName: string
                    secondDriver: string
                    qaIssueCodeDescription: string
                    externalTrackingLink: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                bookings:
                - bookingNumber: string
                  externalBookingNumber: string
                  externalBookingSender: string
                  state: Provisional
                  origin: string
                  destination: string
                  incoterm: string
                  additionalTerms: string
                  additionalTermsUNLOCO: string
                  freightTerm: string
                  orderNumbers: string
                  unitOfWeight: string
                  weight: 0
                  unitOfVolume: string
                  volume: 0
                  noOfPieces: 0
                  orderCurrency: string
                  totalValue: 0
                  packingWeight: 0
                  packingVolume: 0
                  transitWarehouse: string
                  onHandDate: '2024-02-14T11:31:09.0000000+00:00'
                  preBooked: '2024-02-14T11:31:09.0000000+00:00'
                  bookedDate: '2024-02-14T11:31:09.0000000+00:00'
                  rejectedDate: '2024-02-14T11:31:09.0000000+00:00'
                  approvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  confirmedDate: '2024-02-14T11:31:09.0000000+00:00'
                  cancelledDate: '2024-02-14T11:31:09.0000000+00:00'
                  countOfTEU: 0
                  countOf20FT: 0
                  countOf40FT: 0
                  countOf45FT: 0
                  source: string
                  systemID: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  isApprovalRequired: true
                  transitWarehouseDescription: string
                  estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  collectionRequiredDate: '2024-02-14T11:31:09.0000000+00:00'
                  collectionRequiredDateBy: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryRequiredDate: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryRequiredDateBy: '2024-02-14T11:31:09.0000000+00:00'
                  isCancelled: true
                  shipmentNumbers: string
                  noOfContainers: 0
                  ownership: string
                  bookingDeliveryInstructions: string
                  requiredDepartureWeekNumber: 0
                  requiredArrivalWeekNumber: 0
                  cargoReadyDateWeekNumber: 0
                  deliveryDateWeekNumber: 0
                  estimatedDeliveryToOriginCFSWeekNumber: 0
                  supplierRef: string
                  requiredExFactory: '2024-02-14T11:31:09.0000000+00:00'
                  requiredInStore: '2024-02-14T11:31:09.0000000+00:00'
                  requestedDepartureDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedArrivalDate: '2024-02-14T11:31:09.0000000+00:00'
                  transportMode: string
                  containerMode: string
                  goodsDescription: string
                  marksAndNumbers: string
                  bookingInstructions: string
                  loadingMeters: 0
                  commodityCode: string
                  plannerCode: string
                  plannerEmail: string
                  loadPort: string
                  dischargePort: string
                  sdocComplete: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedDeliveryToOriginCFS: '2024-02-14T11:31:09.0000000+00:00'
                  isPickupRequired: true
                  shippingInstructions: string
                  customerDivision: string
                  carrierSpaceReservation: '2024-02-14T11:31:09.0000000+00:00'
                  followUpDate: '2024-02-14T11:31:09.0000000+00:00'
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                  isSuspended: true
                  suspendedDate: '2024-02-14T11:31:09.0000000+00:00'
                  loadPlanNumber: string
                  shipmentNumber: string
                  temperatureControl:
                    instructions: string
                    type: string
                    unitOfTemperature: string
                    minValue: 0
                    maxValue: 0
                    setPoint: 0
                    humidity: 0
                    rangeValue: string
                    humidityValue: string
                  customFields:
                  - name: string
                    type: string
                    value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  additionalReferences:
                  - type: string
                    description: string
                    value: string
                  parties:
                  - type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  packLines:
                  - packageCount: 0
                    packType: string
                    containerPackingOrder: 0
                    weight: 0
                    unitOfWeight: string
                    length: 0
                    height: 0
                    width: 0
                    unitOfDimension: string
                    volume: 0
                    unitOfVolume: string
                    refNumber: string
                    description: string
                    detailedDescription: string
                    harmonisedCode: string
                    origin: string
                    commodityCode: string
                    containerNumber: string
                    outturn: 0
                    outturnedLength: 0
                    outturnedHeight: 0
                    outturnedWidth: 0
                    outturnedWeight: 0
                    outturnedVolume: 0
                    outturnComment: string
                    pillaged: 0
                    damaged: 0
                    loadingMeters: 0
                    marksAndNumbers: string
                    productCode: string
                    dangerousGoodsRef: string
                    noOfPallets: 0
                    packIdentifier: string
                    documentRemarks1: string
                    documentRemarks2: string
                    documentRemarks3: string
                    sequence: 0
                    stackable: true
                    orderLineNumber: 0
                    packageMarks: string
                    dangerousGoods:
                      regulation: string
                      hazardClass: string
                      additionalHazardClass: string
                      classificationCode: string
                      undgNumber: string
                      variant: string
                      psn: string
                      technicalName: string
                      labels: string
                      packingGroup: string
                      upperPlate: string
                      lowerPlate: string
                      numberOfPackages: string
                      packageType: string
                      packagingInstruction: string
                      transportMeansCategory: string
                      grossWeight: 0
                      netWeight: 0
                      explosiveWeight: 0
                      unitOfWeight: string
                      flashPointTemperature: string
                      flashPointTemperatureUnit: string
                      flashPointDescription: string
                      tremCardNumber: string
                      emsNumber: string
                      mfagNumber: string
                      marinePollutant: string
                      limitedQuantity: true
                      tunnelCode: string
                      remarks: string
                      contactName: string
                      contactEmail: string
                    innerPackLines:
                    - string
                    customFields:
                    - name: string
                      type: string
                      value: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    changeMonitorColumns:
                      additionalProp1: string
                      additionalProp2: string
                      additionalProp3: string
                    statusDescription: string
                  equipmentTypes:
                  - type: string
                    noOfUnits: 0
                    containerNumber: string
                  notes:
                  - description: string
                    noteText: string
                    noteType: string
                    noteContext: string
                    intendedParty: string
                    read: true
                    source: string
                    isPublished: true
                    resolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    assignedUser: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  events:
                  - eventCode: string
                    description: string
                    eventDate: '2024-02-14T11:31:09.0000000+00:00'
                    reasonCodes: string
                    eventPlace: string
                    eventSource: string
                    qaIssueCode: string
                    qaIssueNotes: string
                    qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    vehicleRegistration: string
                    driverName: string
                    secondDriver: string
                    qaIssueCodeDescription: string
                    externalTrackingLink: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  shipments:
                  - shipmentNumber: string
                    state: Booked
                    isCancelled: true
                    isShipping: true
                    isForwardRegistered: true
                    shipmentStatus: string
                    interimReceipt: string
                    houseBill: string
                    cfsReference: string
                    shipmentType: string
                    goodsDescription: string
                    releaseType: string
                    aviationSecurity: string
                    originCode: string
                    originCountry: string
                    originPort: string
                    etd: '2024-02-14T11:31:09.0000000+00:00'
                    destinationCode: string
                    destinationCountry: string
                    destinationPort: string
                    eta: '2024-02-14T11:31:09.0000000+00:00'
                    serviceLevel: string
                    incoterm: string
                    additionalTerms: string
                    transportMode: string
                    containerMode: string
                    shippedOnBoard: string
                    shippedOnBoardDate: '2024-02-14T11:31:09.0000000+00:00'
                    actualVolume: 0
                    unitOfVolume: string
                    actualWeight: 0
                    unitOfWeight: string
                    actualChargeable: 0
                    totalPackageCount: 0
                    totalCountPackType: string
                    totalPacks: 0
                    packType: string
                    houseBillIssueDate: '2024-02-14T11:31:09.0000000+00:00'
                    shippersReference: string
                    screeningStatus: string
                    loadPort: string
                    dischargePort: string
                    estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                    actualDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                    deliveryTransportAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                    deliveryRequiredByDate: '2024-02-14T11:31:09.0000000+00:00'
                    deliveryRequiredFrom: '2024-02-14T11:31:09.0000000+00:00'
                    estimatedPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                    pickupRequestedByDate: '2024-02-14T11:31:09.0000000+00:00'
                    pickupRequestedFrom: '2024-02-14T11:31:09.0000000+00:00'
                    pickupTransportAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                    actualPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                    receiptDate: '2024-02-14T11:31:09.0000000+00:00'
                    goodsValue: 0
                    goodsValueCurrency: string
                    insuranceValue: 0
                    insuranceValueCurrency: string
                    goodsAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                    goodsStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                    loadingMeters: 0
                    natureOfCargo: string
                    codCurrency: string
                    codAmount: 0
                    numberOfEuroPallets: 0
                    marksAndNumbers: string
                    secondaryShipmentID: string
                    qaIssueParty: string
                    qaIssueReason: string
                    qaIssuePoint: string
                    qaIssueType: string
                    qaIssueDate: '2024-02-14T11:31:09.0000000+00:00'
                    qaIssueNotes: string
                    qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    qA2IssueParty: string
                    qA2IssueReason: string
                    qA2IssuePoint: string
                    qA2IssueType: string
                    qA2IssueDate: '2024-02-14T11:31:09.0000000+00:00'
                    qA2IssueNotes: string
                    qA2IssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    customsCleared: '2024-02-14T11:31:09.0000000+00:00'
                    customsCommenced: '2024-02-14T11:31:09.0000000+00:00'
                    customsPaid: '2024-02-14T11:31:09.0000000+00:00'
                    handoverDate: '2024-02-14T11:31:09.0000000+00:00'
                    deliveryOrderReceived: '2024-02-14T11:31:09.0000000+00:00'
                    transitWarehouse: string
                    masterLead: string
                    asmHouseBill: string
                    departedOriginCFSDate: '2024-02-14T11:31:09.0000000+00:00'
                    availableDestinationCFSDate: '2024-02-14T11:31:09.0000000+00:00'
                    departedDestinationCFSDate: '2024-02-14T11:31:09.0000000+00:00'
                    customsBrokerAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                    transportNumber: string
                    customerReference: string
                    odsNumber: string
                    customsEntryStatus: string
                    customsEntryNumbers: string
                    exportCustomsCleared: '2024-02-14T11:31:09.0000000+00:00'
                    exportDocumentationReceived: '2024-02-14T11:31:09.0000000+00:00'
                    shipmentDate: '2024-02-14T11:31:09.0000000+00:00'
                    carrierBookingAccepted: '2024-02-14T11:31:09.0000000+00:00'
                    freightTerm: string
                    detailedDescription: string
                    sourceModule: string
                    numberOfOriginalBills: 0
                    numberOfCopyBills: 0
                    customsStatus: string
                    fclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                    fclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                    pickupDropMode: string
                    deliveryDropMode: string
                    branchCode: string
                    departmentCode: string
                    source: string
                    isManuallyAssigned: true
                    vessel: string
                    voyageFlight: string
                    firstPortETD: '2024-02-14T11:31:09.0000000+00:00'
                    firstPortATD: '2024-02-14T11:31:09.0000000+00:00'
                    lastPortETA: '2024-02-14T11:31:09.0000000+00:00'
                    lastPortATA: '2024-02-14T11:31:09.0000000+00:00'
                    invoicedDate: '2024-02-14T11:31:09.0000000+00:00'
                    firstLoad: string
                    lastDischarge: string
                    customerDivision: string
                    transitWarehouseDescription: string
                    serviceLevelDescription: string
                    countOfTEU: 0
                    countOf20FT: 0
                    countOf40FT: 0
                    countOf45FT: 0
                    outerPackTotalPackages: 0
                    outerPackTotalWeight: 0
                    outerPackTotalVolume: 0
                    ownership: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                    bookingNumber: string
                    orderNumbers: string
                    containerNumbers: string
                    geoLocation:
                      latitude: 0
                      longitude: 0
                    transportSummary:
                      firstPortETD: '2024-02-14T11:31:09.0000000+00:00'
                      firstPortATD: '2024-02-14T11:31:09.0000000+00:00'
                      lastPortETA: '2024-02-14T11:31:09.0000000+00:00'
                      lastPortATA: '2024-02-14T11:31:09.0000000+00:00'
                      firstPort: string
                      lastPort: string
                      firstPortDescription: string
                      lastPortDescription: string
                      vessel: string
                      voyageFlight: string
                    temperatureControl:
                      instructions: string
                      type: string
                      unitOfTemperature: string
                      minValue: 0
                      maxValue: 0
                      setPoint: 0
                      humidity: 0
                      rangeValue: string
                      humidityValue: string
                    customFields:
                    - name: string
                      type: string
                      value: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    packLines:
                    - packageCount: 0
                      packType: string
                      containerPackingOrder: 0
                      weight: 0
                      unitOfWeight: string
                      length: 0
                      height: 0
                      width: 0
                      unitOfDimension: string
                      volume: 0
                      unitOfVolume: string
                      refNumber: string
                      description: string
                      detailedDescription: string
                      harmonisedCode: string
                      origin: string
                      commodityCode: string
                      containerNumber: string
                      outturn: 0
                      outturnedLength: 0
                      outturnedHeight: 0
                      outturnedWidth: 0
                      outturnedWeight: 0
                      outturnedVolume: 0
                      outturnComment: string
                      pillaged: 0
                      damaged: 0
                      loadingMeters: 0
                      marksAndNumbers: string
                      productCode: string
                      dangerousGoodsRef: string
                      noOfPallets: 0
                      packIdentifier: string
                      documentRemarks1: string
                      documentRemarks2: string
                      documentRemarks3: string
                      sequence: 0
                      stackable: true
                      orderLineNumber: 0
                      packageMarks: string
                      dangerousGoods:
                        regulation: string
                        hazardClass: string
                        additionalHazardClass: string
                        classificationCode: string
                        undgNumber: string
                        variant: string
                        psn: string
                        technicalName: string
                        labels: string
                        packingGroup: string
                        upperPlate: string
                        lowerPlate: string
                        numberOfPackages: string
                        packageType: string
                        packagingInstruction: string
                        transportMeansCategory: string
                        grossWeight: 0
                        netWeight: 0
                        explosiveWeight: 0
                        unitOfWeight: string
                        flashPointTemperature: string
                        flashPointTemperatureUnit: string
                        flashPointDescription: string
                        tremCardNumber: string
                        emsNumber: string
                        mfagNumber: string
                        marinePollutant: string
                        limitedQuantity: true
                        tunnelCode: string
                        remarks: string
                        contactName: string
                        contactEmail: string
                      innerPackLines:
                      - string
                      customFields:
                      - name: string
                        type: string
                        value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      changeMonitorColumns:
                        additionalProp1: string
                        additionalProp2: string
                        additionalProp3: string
                      statusDescription: string
                    parties:
                    - type: string
                      code: string
                      externalCode: string
                      isActive: true
                      fullName: string
                      closestPort: string
                      currency: string
                      phoneNumber: string
                      email: string
                      vatNumber: string
                      registeredNumber: string
                      ediCode: string
                      address:
                        name: string
                        address1: string
                        address2: string
                        address3: string
                        unloco: string
                        city: string
                        state: string
                        postCode: string
                        countryCode: string
                        country: string
                        addressCode: string
                        lockUNLOCO: true
                        longitude: 0
                        latitude: 0
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      contact:
                        type: string
                        name: string
                        title: string
                        phone: string
                        mobile: string
                        fax: string
                        email: string
                      additionalReferences:
                      - type: string
                        description: string
                        value: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    notes:
                    - description: string
                      noteText: string
                      noteType: string
                      noteContext: string
                      intendedParty: string
                      read: true
                      source: string
                      isPublished: true
                      resolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                      assignedUser: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    events:
                    - eventCode: string
                      description: string
                      eventDate: '2024-02-14T11:31:09.0000000+00:00'
                      reasonCodes: string
                      eventPlace: string
                      eventSource: string
                      qaIssueCode: string
                      qaIssueNotes: string
                      qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                      vehicleRegistration: string
                      driverName: string
                      secondDriver: string
                      qaIssueCodeDescription: string
                      externalTrackingLink: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    transportLegs:
                    - transportMode: string
                      consolMode: string
                      consolNumber: string
                      masterBill: string
                      bookingReference: string
                      agentsReference: string
                      customsReference: string
                      prepaidCollect: string
                      loadPort: string
                      dischargePort: string
                      portOfFirstArrival: string
                      eta: '2024-02-14T11:31:09.0000000+00:00'
                      etd: '2024-02-14T11:31:09.0000000+00:00'
                      ata: '2024-02-14T11:31:09.0000000+00:00'
                      atd: '2024-02-14T11:31:09.0000000+00:00'
                      vessel: string
                      voyageFlight: string
                      fullLoadPortFreeTime: 0
                      oceanCarrier: string
                      airCarrier: string
                      weight:
                        value: 0
                        unit: string
                      volume:
                        value: 0
                        unit: string
                      chargeable:
                        value: 0
                        unit: string
                      releaseType: string
                      teuCount: 0
                      countOfTEU: 0
                      countOf20FT: 0
                      countOf40FT: 0
                      countOf45FT: 0
                      stageNumber: string
                      sta: '2024-02-14T11:31:09.0000000+00:00'
                      std: '2024-02-14T11:31:09.0000000+00:00'
                      qualifier: string
                      legOrder: 0
                      legType: string
                      carrierCode: string
                      carrierSCAC: string
                      carrierDakoskyCode: string
                      carrierNationality: string
                      localCarrierCode: string
                      serviceLevel: string
                      legNotes: string
                      imoNumber: string
                      status: string
                      definedBy: string
                      charterRoute: string
                      isCharter: true
                      isLinked: true
                      isMainCarriage: true
                      isPlannedLeg: true
                      numberOfShipments: 0
                      numberOfPackages: 0
                      numberOfOriginalBills: 0
                      numberOfCopyBills: 0
                      linkReference: string
                      ownerCodeInternal: string
                      ownerCodeExternal: string
                      source: string
                      sendingAgent:
                        type: string
                        code: string
                        externalCode: string
                        isActive: true
                        fullName: string
                        closestPort: string
                        currency: string
                        phoneNumber: string
                        email: string
                        vatNumber: string
                        registeredNumber: string
                        ediCode: string
                        address:
                          name: string
                          address1: string
                          address2: string
                          address3: string
                          unloco: string
                          city: string
                          state: string
                          postCode: string
                          countryCode: string
                          country: string
                          addressCode: string
                          lockUNLOCO: true
                          longitude: 0
                          latitude: 0
                          dateModified: '2024-02-14T11:31:09.0000000+00:00'
                          userModified: string
                          dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                          userCreated: string
                        contact:
                          type: string
                          name: string
                          title: string
                          phone: string
                          mobile: string
                          fax: string
                          email: string
                        additionalReferences:
                        - type: string
                          description: string
                          value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      receivingAgent:
                        type: string
                        code: string
                        externalCode: string
                        isActive: true
                        fullName: string
                        closestPort: string
                        currency: string
                        phoneNumber: string
                        email: string
                        vatNumber: string
                        registeredNumber: string
                        ediCode: string
                        address:
                          name: string
                          address1: string
                          address2: string
                          address3: string
                          unloco: string
                          city: string
                          state: string
                          postCode: string
                          countryCode: string
                          country: string
                          addressCode: string
                          lockUNLOCO: true
                          longitude: 0
                          latitude: 0
                          dateModified: '2024-02-14T11:31:09.0000000+00:00'
                          userModified: string
                          dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                          userCreated: string
                        contact:
                          type: string
                          name: string
                          title: string
                          phone: string
                          mobile: string
                          fax: string
                          email: string
                        additionalReferences:
                        - type: string
                          description: string
                          value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      carrier:
                        type: string
                        code: string
                        externalCode: string
                        isActive: true
                        fullName: string
                        closestPort: string
                        currency: string
                        phoneNumber: string
                        email: string
                        vatNumber: string
                        registeredNumber: string
                        ediCode: string
                        address:
                          name: string
                          address1: string
                          address2: string
                          address3: string
                          unloco: string
                          city: string
                          state: string
                          postCode: string
                          countryCode: string
                          country: string
                          addressCode: string
                          lockUNLOCO: true
                          longitude: 0
                          latitude: 0
                          dateModified: '2024-02-14T11:31:09.0000000+00:00'
                          userModified: string
                          dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                          userCreated: string
                        contact:
                          type: string
                          name: string
                          title: string
                          phone: string
                          mobile: string
                          fax: string
                          email: string
                        additionalReferences:
                        - type: string
                          description: string
                          value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      parties:
                      - type: string
                        code: string
                        externalCode: string
                        isActive: true
                        fullName: string
                        closestPort: string
                        currency: string
                        phoneNumber: string
                        email: string
                        vatNumber: string
                        registeredNumber: string
                        ediCode: string
                        address:
                          name: string
                          address1: string
                          address2: string
                          address3: string
                          unloco: string
                          city: string
                          state: string
                          postCode: string
                          countryCode: string
                          country: string
                          addressCode: string
                          lockUNLOCO: true
                          longitude: 0
                          latitude: 0
                          dateModified: '2024-02-14T11:31:09.0000000+00:00'
                          userModified: string
                          dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                          userCreated: string
                        contact:
                          type: string
                          name: string
                          title: string
                          phone: string
                          mobile: string
                          fax: string
                          email: string
                        additionalReferences:
                        - type: string
                          description: string
                          value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    containers:
                    - containerNumber: string
                      interimContainerNumber: string
                      state: Provisional
                      isShipperOwned: true
                      containerMode: string
                      containerStatus: string
                      sealNumber: string
                      additionalSealNumber: string
                      additional2SealNumber: string
                      containerCount: 0
                      dunnageWeight: 0
                      grossWeight: 0
                      unitOfweight: string
                      tareWeight: 0
                      containerCommodityCode: string
                      movementType: string
                      equipmentType: string
                      fclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                      fclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                      emptyRequiredBy: '2024-02-14T11:31:09.0000000+00:00'
                      estimatedFCLPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                      lclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                      lclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                      bookedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                      requestedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                      estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                      actualFullDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                      deliveryTransportAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                      requestedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                      estimatedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                      actualFullPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                      portTransportBookedDate: '2024-02-14T11:31:09.0000000+00:00'
                      fullLoadPortFreeTime: 0
                      bookingCreatedDate: '2024-02-14T11:31:09.0000000+00:00'
                      bookingModifiedDate: '2024-02-14T11:31:09.0000000+00:00'
                      bookingCreatedUser: string
                      bookingModifiedUser: string
                      volume: 0
                      temperatureControlled: true
                      refrigerationType: string
                      tempSetPoint: 0
                      tempSetPointUnit: string
                      goodsDescription: string
                      isoType: string
                      emptyPickupNumber: string
                      exportPortTransportReference: string
                      exportSlotBookingReference: string
                      importReleaseNumber: string
                      importPortTransportReference: string
                      importSlotBookingReference: string
                      emptyReturnReference: string
                      emptyReleasedFromCY: '2024-02-14T11:31:09.0000000+00:00'
                      emptyReturnedOn: '2024-02-14T11:31:09.0000000+00:00'
                      fclWharfGateIn: '2024-02-14T11:31:09.0000000+00:00'
                      fclWharfGateOut: '2024-02-14T11:31:09.0000000+00:00'
                      fclLoadedDate: '2024-02-14T11:31:09.0000000+00:00'
                      fclUnloadedDate: '2024-02-14T11:31:09.0000000+00:00'
                      tempSetPointDisplay: string
                      orderNumbers: string
                      demurrageBegins: '2024-02-14T11:31:09.0000000+00:00'
                      teu: 0
                      estimatedPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                      parties:
                      - type: string
                        code: string
                        externalCode: string
                        isActive: true
                        fullName: string
                        closestPort: string
                        currency: string
                        phoneNumber: string
                        email: string
                        vatNumber: string
                        registeredNumber: string
                        ediCode: string
                        address:
                          name: string
                          address1: string
                          address2: string
                          address3: string
                          unloco: string
                          city: string
                          state: string
                          postCode: string
                          countryCode: string
                          country: string
                          addressCode: string
                          lockUNLOCO: true
                          longitude: 0
                          latitude: 0
                          dateModified: '2024-02-14T11:31:09.0000000+00:00'
                          userModified: string
                          dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                          userCreated: string
                        contact:
                          type: string
                          name: string
                          title: string
                          phone: string
                          mobile: string
                          fax: string
                          email: string
                        additionalReferences:
                        - type: string
                          description: string
                          value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      customFields:
                      - name: string
                        type: string
                        value: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
                      events:
                      - eventCode: string
                        description: string
                        eventDate: '2024-02-14T11:31:09.0000000+00:00'
                        reasonCodes: string
                        eventPlace: string
                        eventSource: string
                        qaIssueCode: string
                        qaIssueNotes: string
                        qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                        vehicleRegistration: string
                        driverName: string
                        secondDriver: string
                        qaIssueCodeDescription: string
                        externalTrackingLink: string
                        dateModified: '2024-02-14T11:31:09.0000000+00:00'
                        userModified: string
                        dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                        userCreated: string
  /loadplan/{number}:
    get:
      tags:
      - LoadPlans
      summary: 6. Loadplan by Number
      description: Loadplan by Number
      operationId: GETloadplan-number
      parameters:
      - name: number
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        description: DSV Authorization header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/eDC.Web.Api.v2.Models.Entities.LoadPlan'
              example:
                id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                loadPlanNumber: string
                state: Provisional
                transportMode: string
                packingMode: string
                freightTerm: string
                serviceLevel: string
                serviceLevelDescription: string
                loadingInstructions: string
                shippingInstructions: string
                loadingMeters: 0
                movementType: string
                dischargePort: string
                loadPort: string
                requiredLoadingDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredUnloadingDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredArrivalDate: '2024-02-14T11:31:09.0000000+00:00'
                requiredDepartureDate: '2024-02-14T11:31:09.0000000+00:00'
                cfsClosingDate: '2024-02-14T11:31:09.0000000+00:00'
                vessel: string
                voyageFlight: string
                cfsClosingDateWeekNumber: 0
                requiredDepartureWeekNumber: 0
                requiredArrivalWeekNumber: 0
                requiredLoadingWeekNumber: 0
                requiredUnloadingWeekNumber: 0
                confirmedDate: '2024-02-14T11:31:09.0000000+00:00'
                loadedDate: '2024-02-14T11:31:09.0000000+00:00'
                cancelledDate: '2024-02-14T11:31:09.0000000+00:00'
                source: string
                rejectedDate: '2024-02-14T11:31:09.0000000+00:00'
                approvedDate: '2024-02-14T11:31:09.0000000+00:00'
                bookingNumbers:
                - string
                unitOfWeight: string
                unitOfVolume: string
                totalPackages: 0
                totalWeight: 0
                totalVolume: 0
                volumeCapacity: 0
                weightCapacity: 0
                dateModified: '2024-02-14T11:31:09.0000000+00:00'
                userModified: string
                dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                userCreated: string
                events:
                - eventCode: string
                  description: string
                  eventDate: '2024-02-14T11:31:09.0000000+00:00'
                  reasonCodes: string
                  eventPlace: string
                  eventSource: string
                  qaIssueCode: string
                  qaIssueNotes: string
                  qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  vehicleRegistration: string
                  driverName: string
                  secondDriver: string
                  qaIssueCodeDescription: string
                  externalTrackingLink: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                notes:
                - description: string
                  noteText: string
                  noteType: string
                  noteContext: string
                  intendedParty: string
                  read: true
                  source: string
                  isPublished: true
                  resolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  assignedUser: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                equipmentTypes:
                - type: string
                  noOfUnits: 0
                  containerNumber: string
                parties:
                - type: string
                  code: string
                  externalCode: string
                  isActive: true
                  fullName: string
                  closestPort: string
                  currency: string
                  phoneNumber: string
                  email: string
                  vatNumber: string
                  registeredNumber: string
                  ediCode: string
                  address:
                    name: string
                    address1: string
                    address2: string
                    address3: string
                    unloco: string
                    city: string
                    state: string
                    postCode: string
                    countryCode: string
                    country: string
                    addressCode: string
                    lockUNLOCO: true
                    longitude: 0
                    latitude: 0
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  contact:
                    type: string
                    name: string
                    title: string
                    phone: string
                    mobile: string
                    fax: string
                    email: string
                  additionalReferences:
                  - type: string
                    description: string
                    value: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                transportLegs:
                - transportMode: string
                  consolMode: string
                  consolNumber: string
                  masterBill: string
                  bookingReference: string
                  agentsReference: string
                  customsReference: string
                  prepaidCollect: string
                  loadPort: string
                  dischargePort: string
                  portOfFirstArrival: string
                  eta: '2024-02-14T11:31:09.0000000+00:00'
                  etd: '2024-02-14T11:31:09.0000000+00:00'
                  ata: '2024-02-14T11:31:09.0000000+00:00'
                  atd: '2024-02-14T11:31:09.0000000+00:00'
                  vessel: string
                  voyageFlight: string
                  fullLoadPortFreeTime: 0
                  oceanCarrier: string
                  airCarrier: string
                  weight:
                    value: 0
                    unit: string
                  volume:
                    value: 0
                    unit: string
                  chargeable:
                    value: 0
                    unit: string
                  releaseType: string
                  teuCount: 0
                  countOfTEU: 0
                  countOf20FT: 0
                  countOf40FT: 0
                  countOf45FT: 0
                  stageNumber: string
                  sta: '2024-02-14T11:31:09.0000000+00:00'
                  std: '2024-02-14T11:31:09.0000000+00:00'
                  qualifier: string
                  legOrder: 0
                  legType: string
                  carrierCode: string
                  carrierSCAC: string
                  carrierDakoskyCode: string
                  carrierNationality: string
                  localCarrierCode: string
                  serviceLevel: string
                  legNotes: string
                  imoNumber: string
                  status: string
                  definedBy: string
                  charterRoute: string
                  isCharter: true
                  isLinked: true
                  isMainCarriage: true
                  isPlannedLeg: true
                  numberOfShipments: 0
                  numberOfPackages: 0
                  numberOfOriginalBills: 0
                  numberOfCopyBills: 0
                  linkReference: string
                  ownerCodeInternal: string
                  ownerCodeExternal: string
                  source: string
                  sendingAgent:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  receivingAgent:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  carrier:
                    type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  parties:
                  - type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                containers:
                - containerNumber: string
                  interimContainerNumber: string
                  state: Provisional
                  isShipperOwned: true
                  containerMode: string
                  containerStatus: string
                  sealNumber: string
                  additionalSealNumber: string
                  additional2SealNumber: string
                  containerCount: 0
                  dunnageWeight: 0
                  grossWeight: 0
                  unitOfweight: string
                  tareWeight: 0
                  containerCommodityCode: string
                  movementType: string
                  equipmentType: string
                  fclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                  fclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                  emptyRequiredBy: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedFCLPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  lclAvailableDate: '2024-02-14T11:31:09.0000000+00:00'
                  lclStorageDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  actualFullDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryTransportAdvisedDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedCollectionDate: '2024-02-14T11:31:09.0000000+00:00'
                  actualFullPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  portTransportBookedDate: '2024-02-14T11:31:09.0000000+00:00'
                  fullLoadPortFreeTime: 0
                  bookingCreatedDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookingModifiedDate: '2024-02-14T11:31:09.0000000+00:00'
                  bookingCreatedUser: string
                  bookingModifiedUser: string
                  volume: 0
                  temperatureControlled: true
                  refrigerationType: string
                  tempSetPoint: 0
                  tempSetPointUnit: string
                  goodsDescription: string
                  isoType: string
                  emptyPickupNumber: string
                  exportPortTransportReference: string
                  exportSlotBookingReference: string
                  importReleaseNumber: string
                  importPortTransportReference: string
                  importSlotBookingReference: string
                  emptyReturnReference: string
                  emptyReleasedFromCY: '2024-02-14T11:31:09.0000000+00:00'
                  emptyReturnedOn: '2024-02-14T11:31:09.0000000+00:00'
                  fclWharfGateIn: '2024-02-14T11:31:09.0000000+00:00'
                  fclWharfGateOut: '2024-02-14T11:31:09.0000000+00:00'
                  fclLoadedDate: '2024-02-14T11:31:09.0000000+00:00'
                  fclUnloadedDate: '2024-02-14T11:31:09.0000000+00:00'
                  tempSetPointDisplay: string
                  orderNumbers: string
                  demurrageBegins: '2024-02-14T11:31:09.0000000+00:00'
                  teu: 0
                  estimatedPickupDate: '2024-02-14T11:31:09.0000000+00:00'
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                  parties:
                  - type: string
                    code: string
                    externalCode: string
                    isActive: true
                    fullName: string
                    closestPort: string
                    currency: string
                    phoneNumber: string
                    email: string
                    vatNumber: string
                    registeredNumber: string
                    ediCode: string
                    address:
                      name: string
                      address1: string
                      address2: string
                      address3: string
                      unloco: string
                      city: string
                      state: string
                      postCode: string
                      countryCode: string
                      country: string
                      addressCode: string
                      lockUNLOCO: true
                      longitude: 0
                      latitude: 0
                      dateModified: '2024-02-14T11:31:09.0000000+00:00'
                      userModified: string
                      dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                      userCreated: string
                    contact:
                      type: string
                      name: string
                      title: string
                      phone: string
                      mobile: string
                      fax: string
                      email: string
                    additionalReferences:
                    - type: string
                      description: string
                      value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  customFields:
                  - name: string
                    type: string
                    value: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                  events:
                  - eventCode: string
                    description: string
                    eventDate: '2024-02-14T11:31:09.0000000+00:00'
                    reasonCodes: string
                    eventPlace: string
                    eventSource: string
                    qaIssueCode: string
                    qaIssueNotes: string
                    qaIssueResolvedDate: '2024-02-14T11:31:09.0000000+00:00'
                    vehicleRegistration: string
                    driverName: string
                    secondDriver: string
                    qaIssueCodeDescription: string
                    externalTrackingLink: string
                    dateModified: '2024-02-14T11:31:09.0000000+00:00'
                    userModified: string
                    dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                    userCreated: string
                bookings:
                - bookingNumber: string
                  externalBookingNumber: string
                  externalBookingSender: string
                  state: Provisional
                  origin: string
                  destination: string
                  incoterm: string
                  additionalTerms: string
                  additionalTermsUNLOCO: string
                  freightTerm: string
                  orderNumbers: string
                  unitOfWeight: string
                  weight: 0
                  unitOfVolume: string
                  volume: 0
                  noOfPieces: 0
                  orderCurrency: string
                  totalValue: 0
                  packingWeight: 0
                  packingVolume: 0
                  transitWarehouse: string
                  onHandDate: '2024-02-14T11:31:09.0000000+00:00'
                  preBooked: '2024-02-14T11:31:09.0000000+00:00'
                  bookedDate: '2024-02-14T11:31:09.0000000+00:00'
                  rejectedDate: '2024-02-14T11:31:09.0000000+00:00'
                  approvedDate: '2024-02-14T11:31:09.0000000+00:00'
                  confirmedDate: '2024-02-14T11:31:09.0000000+00:00'
                  cancelledDate: '2024-02-14T11:31:09.0000000+00:00'
                  countOfTEU: 0
                  countOf20FT: 0
                  countOf40FT: 0
                  countOf45FT: 0
                  source: string
                  systemID: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  isApprovalRequired: true
                  transitWarehouseDescription: string
                  estimatedDeliveryDate: '2024-02-14T11:31:09.0000000+00:00'
                  collectionRequiredDate: '2024-02-14T11:31:09.0000000+00:00'
                  collectionRequiredDateBy: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryRequiredDate: '2024-02-14T11:31:09.0000000+00:00'
                  deliveryRequiredDateBy: '2024-02-14T11:31:09.0000000+00:00'
                  isCancelled: true
                  shipmentNumbers: string
                  noOfContainers: 0
                  ownership: string
                  bookingDeliveryInstructions: string
                  requiredDepartureWeekNumber: 0
                  requiredArrivalWeekNumber: 0
                  cargoReadyDateWeekNumber: 0
                  deliveryDateWeekNumber: 0
                  estimatedDeliveryToOriginCFSWeekNumber: 0
                  supplierRef: string
                  requiredExFactory: '2024-02-14T11:31:09.0000000+00:00'
                  requiredInStore: '2024-02-14T11:31:09.0000000+00:00'
                  requestedDepartureDate: '2024-02-14T11:31:09.0000000+00:00'
                  requestedArrivalDate: '2024-02-14T11:31:09.0000000+00:00'
                  transportMode: string
                  containerMode: string
                  goodsDescription: string
                  marksAndNumbers: string
                  bookingInstructions: string
                  loadingMeters: 0
                  commodityCode: string
                  plannerCode: string
                  plannerEmail: string
                  loadPort: string
                  dischargePort: string
                  sdocComplete: '2024-02-14T11:31:09.0000000+00:00'
                  estimatedDeliveryToOriginCFS: '2024-02-14T11:31:09.0000000+00:00'
                  isPickupRequired: true
                  shippingInstructions: string
                  customerDivision: string
                  carrierSpaceReservation: '2024-02-14T11:31:09.0000000+00:00'
                  followUpDate: '2024-02-14T11:31:09.0000000+00:00'
                  dateModified: '2024-02-14T11:31:09.0000000+00:00'
                  userModified: string
                  dateCreated: '2024-02-14T11:31:09.0000000+00:00'
                  userCreated: string
                  isSuspended: true
                  suspendedDate: '2024-02-14T11:31:09.0000000+00:00'
                  loadPlanNumber: string
                  shipmentNumber: string
                  temperatureControl:
                    instructions: string
                    type: string
                    unitOfTemperature: string
                    minValue: 0
                    maxValue: 0
                    setPoint: 0
                    humidity: 0
                    rangeValue: string
[...]
